<div class="container-fluid webView">
   
      
        <div class="row px-3 pt-2 d-flex justify content-center align-items-center">
            <div class="col-sm-4 mx-2 search-div">
              <input type="search" (input)="filterSearch($event)" class="form-control p-2 sizeinput" [(ngModel)]="term"
                placeholder="Search by leave type" aria-describedby="emailHelp" autocomplete="off">
              <i class="bi bi-search" id="search-icon-tab" ></i>
            </div>
            <div class="col-sm"></div>
            <div class="col-md-3 col-lg-3 p-1 text-end pe-3">
              <button mat-raised-button class="proceedbtn mat-btn-s" routerLink="/leave/leaveDetails" type="submit"
               *ngIf="userRole ==='Employee' && accessPermissions[0]?.create || userRole === 'Admin'">
                + Create Leave Master</button>
        
            </div>
          </div>
        <div class="bg" *ngIf="userRole ==='Employee' && accessPermissions[0]?.view || userRole === 'Admin'">
        <div class="row">
            <div class="col px-4">
                <table class="table table-hover table-list">
                    <thead>
                        
                        <tr>
                          <th scope="col">S.No</th>
                          <th scope="col">Leave Type<i  *ngIf="!arrowState['leave_title']" (click)="sort('asc','leave_title')" class="bi bi-arrow-up"></i><i (click)="sort('desc','leave_title')" *ngIf="arrowState['leave_title']" class="bi bi-arrow-down"></i></th>
                          <th scope="col" class="text-center">No of Leaves <i  *ngIf="!arrowState['number_of_leaves']" (click)="sort('asc','number_of_leaves')" class="bi bi-arrow-up"></i><i (click)="sort('desc','number_of_leaves')" *ngIf="arrowState['number_of_leaves']" class="bi bi-arrow-down"></i></th>
                          <th scope="col" class="text-center">Carry Forward(%) <i  *ngIf="!arrowState['cary_forward_percentage']" (click)="sort('asc','cary_forward_percentage')" class="bi bi-arrow-up"></i><i (click)="sort('desc','cary_forward_percentage')" *ngIf="arrowState['cary_forward_percentage']" class="bi bi-arrow-down"></i></th>
                          <th scope="col" class="text-center">Graceful Days <i  *ngIf="!arrowState['graceful_days']" (click)="sort('asc','graceful_days')" class="bi bi-arrow-up"></i><i (click)="sort('desc','graceful_days')" *ngIf="arrowState['graceful_days']" class="bi bi-arrow-down"></i></th>
                          <th scope="col" class="text-center">Max Encashment  <i  *ngIf="!arrowState['maximum_enhancement']" (click)="sort('asc','maximum_enhancement')" class="bi bi-arrow-up"></i><i (click)="sort('desc','maximum_enhancement')" *ngIf="arrowState['maximum_enhancement']" class="bi bi-arrow-down"></i></th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                   
                        <ng-container *ngIf="(leaveMasterList) as result">
                        <tr  *ngFor='let item of result | paginate : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                          }|customSort:directionValue:sortValue; let i=index' [class.active]="i == currentIndex">
                          <td>{{getContinuousIndex(i)}}</td>
                         <td>{{(item.leave_title |titlecase) || 'NA'}}</td>
                         <td class="text-center">{{(item.number_of_leaves) || 'NA'}}</td>
                         <td class="text-center">{{(item.cary_forward_percentage) || 'NA'}}</td>
                         <td class="text-center">{{(item.graceful_days) || 'NA'}}</td>
                         <td class="text-center">{{(item.maximum_enhancement)|| 'NA'}}</td>
                         <td class="text-center">
                         
                                <!-- <button mat-raised-button mat-mini-fab  routerLink="/leave/updateLeaveDetails/{{item.id}}" >
                                  <i class="bi bi-pencil-square"  container="body" ngbTooltip="Edit" style="color: #000; font-size: 24px;"></i>
                                </button>
                                <button mat-raised-button mat-mini-fab   (click)="open(item.id)" >
                                  <i class="bi bi-trash" style="color: red;" container="body" ngbTooltip="Delete"></i>
                                </button> -->
                                <img src="../../../../assets/images/Edit.svg" class="icon-image"  routerLink="/leave/updateLeaveDetails/{{item.id}}" container="body" ngbTooltip="Edit" 
                                *ngIf="userRole ==='Employee' && accessPermissions[0]?.update || userRole === 'Admin'"/>
                                <img src="../../../../assets/images/Delete.svg" class="icon-image"  container="body" ngbTooltip="Delete" (click)="open(item.id)"
                                *ngIf="userRole ==='Employee' && accessPermissions[0]?.delete || userRole === 'Admin'"/>
                                <span  *ngIf="userRole ==='Employee' && !accessPermissions[0]?.update && !accessPermissions[0]?.delete">-</span>
                         </td>
                         
                        </tr>
                        </ng-container>
                      </tbody>
                  </table>
                  <div class="col-12" *ngIf="leaveMasterList.length === 0">
                    <app-generic-norecards></app-generic-norecards>
                  </div>
            </div>
        </div>
        <div class="pagination-container p-0 py-2">
            <!-- Pagination Controls (Center-Aligned) -->
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
          
            <!-- Items Per Page Selector (Right-Aligned) -->
            <div class="items-per-page-container">
              <div>Items per page</div>
              <mat-select  [(ngModel)]="tableSize" (selectionChange)="onTableSizeChange($event)" placeholder="10" class="page-size">
                <mat-option *ngFor="let size of tableSizes" [value]="size">{{size}}</mat-option>
              </mat-select>
            </div>
          </div>
       
    </div>
   
</div>


<div class="container-wrapper mobileView">
    <div class="row mx-1 my-2">
        
        <div class="col-sm-6 col-md-6 mb-1 search-div">
          <input type="search" (input)="filterSearch($event)" class="form-control p-2 sizeinput" [(ngModel)]="term"
            placeholder="Search by leave type" aria-describedby="emailHelp" autocomplete="off">
          <i class="bi bi-search" id="search-icon-tab" ></i>
        </div>
    </div>
    <div class="bg">
    <div class="row">
        <ng-container *ngIf="(leaveMasterList) as result">
        <div class="col-sm-12 col-md-6 p-1" *ngFor="let item of result">
            <div class="card" (click)="cardId(item)">
                <div class="row">
                    <div class="col-6 align-self-center">
                        <h6 class="card-subtitle">Leave Type</h6>
                        <p class="value-container">{{(item.leave_title|titlecase) || 'NA'}}</p>
                        </div>
                    <div class="col-6 p-3 text-end">
                     
                        <ng-container>
                            <a> <button  type="button" class="toolbar-btn"   (click)='editCard(item.id)'  ><i class="bi bi-pencil-square" style="color: #000; font-size: 24px;" ></i></button></a>
                            <a> <button  type="button" class="toolbar-btn"   (click)="open(item.id)"  ><i class="bi bi-trash" style="color: red; font-size: 24px;"></i></button></a>
                        </ng-container>
                    </div>
                </div>
            <div class="row">
                <div class="col-6 text-start">
                    <div class="n-l">
                        <h6 class="card-subtitle">No of Leaves</h6>
                        <p class="value-container">{{(item.number_of_leaves)|| 'NA'}}</p>
                    </div>
                  
                </div>
                <div class="col-6">
                    <h6 class="card-subtitle">Max Encashment</h6>
                <p class="value-container">{{(item.maximum_enhancement) || 'NA'}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h6 class="card-subtitle">Carry Forward(%)</h6>
                    <p class="value-container">{{(item.cary_forward_percentage) || 'NA'}}</p>
                </div>
                <div class="col-6">
                    <h6 class="card-subtitle">Graceful Days</h6>
                <p class="value-container">{{(item.graceful_days) || 'NA'}}</p>
                </div>
            </div>
           
            </div>
           
        </div>
        
        </ng-container>
        <div class="col-12" *ngIf="leaveMasterList.length === 0">
          <app-generic-norecards></app-generic-norecards>
        </div>
    </div>
    <div class="pagination-container p-0 pt-2">
        <!-- Pagination Controls (Center-Aligned) -->
        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
        </pagination-controls>
      
        <!-- Items Per Page Selector (Right-Aligned) -->
        <div class="items-per-page-container pe-2">
          <div>Items per page</div>
          <mat-select [(ngModel)]="tableSize" (selectionChange)="onTableSizeChange($event)" placeholder="10" class="page-size">
            <mat-option *ngFor="let size of tableSizes" [value]="size">{{size}}</mat-option>
          </mat-select>
        </div>
      </div>
      
    
</div>
<div class="row mobile-pagination" *ngIf="leaveMasterList.length !== 0">
    <div class="pagination-container p-0 pt-2">
        <!-- Pagination Controls (Center-Aligned) -->
        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
        </pagination-controls>
       
      </div>
      <!-- Items Per Page Selector (Center-Aligned) -->
      <div class="d-flex justify-content-center align-items-center">
        <div>Items per page</div>
        <mat-select [(ngModel)]="tableSize" (selectionChange)="onTableSizeChange($event)" placeholder="10" class="page-size">
          <mat-option *ngFor="let size of tableSizes" [value]="size">{{size}}</mat-option>
        </mat-select>
      </div>
  </div>
<div class="s-position">
   <button mat-fab type="button" routerLink="/leave/leaveDetails" class="createbtn-new" ><i class="fa fa-plus"></i>
  </button>
</div>
</div>



