ol{
    background-color: inherit;
}
a{
    color: #3F51B5;
    text-decoration: none;
}
li{
    
    list-style: none;
    color: grey;
}
ul{
    padding: 0px;
}
.bg{
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 5px;

}
.proceedbtn{
    background-color: #3F51B5;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100%;
    color: white;
    margin: 10px 0px;
}
.printbtn{
    background-color: #00BCD4;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100%;
    color: white;
    margin: 10px 0px;
}
.row{
    padding: 5px;
}

.btnicon{
    display: none;
}
button:hover .btnicon{
    display: block;
}
::ng-deep .mat-form-field {
    height: 55px;
    width: 95%!important;
    background-color: #ffff;
    border-radius: 50px;
    border: solid gray;
}

::ng-deep .mat-form-field-underline {
    display: none;
}
select{
    width: 100%;
    height: 40px;
    margin: 1px;
}
span{
    color: red;
}
p{
    color: grey;
}
html{
    position: relative;
}
.card .row,.col{
    padding: 2px;
    line-height: 1.3;
}
.card{
    border: none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 2%), 0 6px 20px 0 rgb(0 0 0 / 9%);
    margin: 10px 15px;
    border-radius: 10px;
    zoom: 80%;
    padding: 10px 10px 0;
    border: 3px solid #d6d6d6;
}
@media(min-width:767px){
    .card{
        margin: 5px;
    }
    .bg{
        padding: 5px;
    }
}
.card:hover{
    background-color: #dfdfdf;
}
.n-l{
    border: 3px dotted white;
    background-color: #3d358f;;
    border-radius: 3px;
    padding-top: 8px;
    margin-bottom: 6px;
    .card-subtitle,p{
        color:white !important;
    }
}
.card p{
    margin-bottom: 5px !important;
}
.clr{
    color: white;
}
.card-subtitle{
    color: #868686;
    font-size: 16px !important;
    font-weight: 400 !important;
}

