

<div class="container-fluid">
  <div class="generic-form bg mx-1">
      <!-- Add More and Save Buttons -->
      <div class="row ">
        <div class="col"></div>
      <div class="col-2">
        <button mat-raised-button (click)="addTask()" [disabled]="timeSheetForm.invalid" class="mat-btn-s">+ Add More</button>
        
      </div>
      <div class="col-2">
        <button mat-raised-button class="mat-btn-s" type="submit" (click)="addTimeSheet()">Save</button>
      </div>
    </div>
    <form [formGroup]="timeSheetForm" >
      <mat-accordion formArrayName="response" class="p-2 mb-0">
        <mat-expansion-panel *ngFor="let task of createdtasks.controls; let i=index" [formGroupName]="i">
         
          <mat-expansion-panel-header>
            <mat-card class="w-100">
            <mat-panel-title>
              
              Task {{ i + 1 }}
            
            </mat-panel-title>
            <mat-panel-description>
              <!-- {{ task.get('client_id')?.value ? getClientName(task.get('client_id')?.value) : 'No Client Selected' }} - {{ task.get('project_id')?.value ? getProjectName(task.get('project_id')?.value) : 'No Project Selected' }} -->
            </mat-panel-description>
          </mat-card>
          </mat-expansion-panel-header>
          
          <div class="row">
            <!-- Client Selection -->
            <div class="col-sm-12 col-md-6 col-lg-3 p-0">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Client <span>*</span></mat-label>
                <mat-select (selectionChange)="getProject($event.value, i)" formControlName="client_id">
                  <mat-option value="" disabled>Select client</mat-option>
                  <mat-option *ngFor="let item of allClient" [value]="item.id">{{ item.c_name }}</mat-option>
                </mat-select>
                <mat-error *ngIf="task.get('client_id').hasError('required')">
                  Client name is required.
                </mat-error>
              </mat-form-field>
            </div>
          
            <!-- Project Selection -->
            <div class="col-sm-12 col-md-6 col-lg-3 p-0">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Project <span>*</span></mat-label>
                <mat-select (selectionChange)="getTask($event.value, i)" formControlName="project_id">
                  <mat-option value="" disabled>Select project</mat-option>
                  <mat-option *ngFor="let item of createdtasks.value[i]?.projectList" [value]="item.id">{{ item.p_name }}</mat-option>
                </mat-select>
                <mat-error *ngIf="task.get('project_id').hasError('required')">
                  Project name is required.
                </mat-error>
              </mat-form-field>
            </div>
          
            
            <!-- Date Selection -->
            <div class="col-sm-12 col-md-6 col-lg-3 p-0">
              <mat-form-field appearance="outline" class="full-width date-picker" >
                <mat-label> Created Date <span>*</span></mat-label>
                <input matInput [matDatepicker]="picker" formControlName="timesheet_applied_datetime" placeholder="Select date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <!-- Description -->
            <div class="col-sm-12 col-md-6 col-lg-3 p-0">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" placeholder="Enter description"></textarea>
                <mat-error *ngIf="task.get('description').hasError('pattern')">
                  Cannot start with a space.
                </mat-error>
              </mat-form-field>
            </div>
          
        <!-- <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-6">
                <h5><b>Create/Update Admin</b></h5>
                <h6 class="mb-0">Create Multiple Admin</h6>
              </div>
              <div class="col-4"></div>
              <div class="col-2 text-center" *ngIf="!isAdminForm">
                <button type="button" mat-raised-button class="proceedbtn" color="primary" (click)="openAdminForm()">Add Admin</button>
              </div>
            </div> 
            <form [formGroup]="adminForm" *ngIf="isAdminForm">
             
              <div class="row me-3 mt-2">
              <div class="col-11 pe-0">
                <div class="row-container editable">
                  
                  <div class="column">
                    <div class="p-ab">
                      <label style="font-size:10px;">Admin name</label><b class="r-star" >*</b>
                    </div>
                  <input type="text" class="pt-1" matInput formControlName="admin_name" placeholder="Admin name"  autocomplete="off"/>
                    <div *ngIf="a['admin_name']?.touched && a['admin_name']?.invalid"
                    class="error-text">
                    <span
                        *ngIf="a['admin_name']?.errors && a['admin_name']?.errors['required']">Admin
                         name is required
                    </span>
                    <span *ngIf="a['admin_name']?.invalid && a['admin_name']?.hasError('pattern')">Invalid admin name</span>
                </div>
               
                  </div>
                  <div class="column">
                    <div class="p-ab">
                      <label style="font-size:10px;">Email</label><b class="r-star" >*</b>
                    </div>
                    <input type="email" class="pt-1" matInput formControlName="admin_email" placeholder="Email"  autocomplete="off"/> 
                    <div *ngIf="a['admin_email']?.touched && a['admin_email']?.invalid"
                    class="error-text">
                    <span
                        *ngIf="a['admin_email']?.invalid && a['admin_email']?.errors['email']">Invalid
                        email Id </span>
                    <span
                        *ngIf="a['admin_email']?.invalid && a['admin_email']?.errors['required']">Email
                        Id is required</span>
                    </div>
                 
                  </div>
                  <div class="column">
                    <div class="p-ab">
                      <label style="font-size:10px;">Phone number</label><b class="r-star" >*</b>
                    </div>
                    <input type="tel" class="pt-1" matInput onKeyPress="if(this.value.length==10) return false;" formControlName="admin_phone_number" placeholder="Phone number"  autocomplete="off"/>
                   
                    <div *ngIf="a['admin_phone_number']?.touched && a['admin_phone_number']?.invalid"
                    class="error-text">
                    <span
                        *ngIf="a['admin_phone_number']?.invalid && a['admin_phone_number']?.errors['required']">Phone
                        number is required
                    </span>
                    <span
                        *ngIf="a['admin_phone_number']?.invalid && a['admin_phone_number']?.hasError('phoneNumberLength')"
                        >Please enter 10 digits
                    </span>
                  </div>
                    
                  </div>
                     
                  <div class="column">
                    <div class="p-ab" style="top:-11px !important;">
                      <label style="font-size:10px;">Status</label><b class="r-star" >*</b>
                    </div>
                    <mat-slide-toggle class="pt-1" formControlName="admin_status" >
                      {{ a['admin_status']?.value ? 'Active' : 'Inactive' }}
                    </mat-slide-toggle>
                    <div *ngIf="a['admin_status']?.touched && a['admin_status']?.invalid" class="error-text" style="top:33px">
                      <span *ngIf="f['admin_status']?.errors['required']">Status is required</span>
                  </div>
                
                  </div>
                </div>
              </div>
             
              <div class="col-1  d-flex justify-content-center align-items-center"  [attr.disabled]="adminForm.invalid">
                <img src="../../../../assets/images/tick.svg" class="icon-image" container="body" [ngbTooltip]="adminForm.invalid ? 'Add admin details':'Add'" (click)="addAdmin();"/>
                <img src="../../../../assets/images/Close.svg" class="icon-image"  container="body" ngbTooltip="Cancel" *ngIf="adminList.length" (click)="isAdminForm=!isAdminForm"/>
              </div>
            </div> 
           
          </form>
          </div>
        </div> -->
            <!-- Task Selection -->
            <!-- <div class="col-sm-12 col-md-6 col-lg-4 p-0">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Task <span>*</span></mat-label>
                <mat-select (selectionChange)="getTimeSpent($event.value, i)" formControlName="task_id">
                  <mat-option value="" disabled>Select task</mat-option>
                  <mat-option *ngFor="let item of createdtasks.value[i]?.taskList" [value]="item.id">{{ item.task_name }}</mat-option>
                </mat-select>
                <mat-error *ngIf="task.get('task_id').hasError('required')">
                  Task name is required.
                </mat-error>
              </mat-form-field>
            </div> -->
          
            <!-- Time Selection -->
            <!-- <div class="col-sm-12 col-md-6 col-lg-4 p-0">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Time <span>*</span></mat-label>
                <mat-select formControlName="time_spent">
                  <mat-option value="" disabled>Select time</mat-option>
                  <mat-option *ngFor="let item of createdtasks.value[i]?.time" [value]="item.time">{{ item.time }}</mat-option>
                </mat-select>
                <mat-error *ngIf="task.get('time_spent').hasError('required')">
                  Time is required.
                </mat-error>
              </mat-form-field>
            </div> -->
          
            
          
            <!-- Action -->
            <!-- <div class="col-sm-12 col-md-6 col-lg-1 p-0 action-col">
              <button mat-raised-button color="warn" type="button" (click)="removeTask(i)">Delete</button>
            </div> -->
          </div>
        
        </mat-expansion-panel>
      </mat-accordion>

 
    </form>
  </div>
</div>
