*{
    // font-size:14px;
    font-weight: 400;
    input,select,mat-label{
        font-family: 'Exo FT' !important;
   }
   
}
.select-btn{
  padding: 10px 0;
  // margin: 6px 0 0px !important;
  text-align: left;
  border-radius: 0;
  // height: 40px;
  background-color: transparent !important;
  border:0px;
  outline: none;
  &:hover{
    background-color: transparent !important;
  }
 
}
.mat-select-disabled{
  &:hover{
  cursor:not-allowed;
  }
}
.bg{
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 5px;

}
.proceedbtn,.addTask{
    border-radius: 5px;
    border: none;
    height: 40px;
    width: fit-content;
    color: white !important;
    &:disabled{
      opacity: 0.8;
      cursor: not-allowed;
      background-color: #efefef !important;
      color: black !important;
    }
}


.t-pc{
    outline: none;
    border: 1px solid #ced4da;
    border-radius: 0.375rem ;
    width: 100%;
    min-width: 145px;

}

  

  
 mat-form-field{
    border: 0 !important;
    width: 100%;
    // height: 45px;
    // margin:15px 0 20px !important;
}
.date-picker{
    .mat-form-field-flex{
        height: 55px !important;
    }
}
.mat-expansion-panel-header.mat-expanded {
    height: 45px;
    padding-bottom: 20px;
}
.generic-form{
    
    .mat-form-field{
        font-size: 13px !important;
        input,select,textarea{
            font-size: 13px !important;

            // height: 55px;
        }
       
    }
}
.icon-image{
  cursor: pointer;
  height: 27px;
  padding: 0 3px;
  }
  .task-labels{
    font-size: 10px;
    margin-right: 3px; 
  }
  .column{
    b{
      color: rgb(247, 77, 77) !important;
    }
  }
  .p-ab{
    position: absolute;
    top: -6px;
    width: 100%;
    }
    .row-container,.row-container2 {
        display: flex;
        //border: 1px solid #ccc;
        border: 1px solid #cccccc61;
        border-radius: 5px;
        align-items: center;
        justify-content: space-between;
        column-gap: 5px;
        // height: 55px;
      
        .column {
          position: relative;
          flex: 1;
          padding: 5px 6px 0 !important;
          display: flex;
          align-items: center;
        //   justify-content: center;
          border-right: solid 1px rgba(0, 0, 0, 0.15);
          &:last-child {
            border-right: 0;
          }
          
          
          .error-text{
            top:4.2em;
          }
          
         
      
          mat-slide-toggle {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
        .mat-form-field-appearance-outline .mat-form-field-infix {
          padding: 12px !important; 
      }
      }
      .row-container2.editable,.row-container.editable {
        background-color: white !important;
        border: 2px solid #126EB4 !important;
      }
      
      .clear-icon {
        position: absolute;
        right: 15px;
        top: 70%;
        transform: translateY(-60%);
        font-size: 16px;
        cursor: pointer;
        color: #b8b8b8; /* Adjust the color as needed */
      }
      .disabled-div {
        pointer-events: none;
        // opacity: 0.8;
        // background-color: #fcfcfc;
        
      }
      .disabled-wrapper {
        position: relative;
        display: inline-block;
      }
      
      .disabled-button {
        pointer-events: none; /* Disables interactions */
        opacity: 0.5; /* Optional: visually indicate that the button is disabled */
      }
      
      .tooltip {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 125%; /* Position above the button */
        left: 50%;
        margin-left: -60px; /* Center the tooltip */
        
        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
      }
      
      .disabled-wrapper:hover .tooltip {
        visibility: visible;
        opacity: 1;
      }
      
      .save-btn{
        color:white;
        background: #126EB4;
      }
      .moonPulse{
        animation: pulse 1s linear infinite;
    }
  
 @keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
       -webkit-transform: scale(0.8);
       transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
       transform: scale(1);
    }
    }

    .toolbar-btn{
      position: absolute;
      right: 4%;
      top: 5px;

    }
    .header-container {
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }
    
    .header-title {
      display: flex;
      flex-direction: column;
    }
    
    .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      width: 100%;
    }
    
    .title-section {
      flex: 1;
    }
    
    .hours-section {
      flex: 2;
      text-align: right;
    }
    
    .actions-section {
      flex: 2;
      text-align: center;
    }
    
    .hours-label {
      margin-left: 0.5rem;
    }
    
    .toolbar-btn {
      margin: 0 0.5rem;
    }
    
    .subtitle-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      width: 100%;
    }
    .c-shade{
      box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px !important;
    }
   .preview-content{
    height: 32px;
   }
   .preview-label{
    font-weight: 600;
   }
   .p-d{
    padding: 0 10px;
   }
   .arrow-icon,.t-p{
    position: absolute;
    top: 17px;
    right: 19px;
   }
    .t-p{
      top:11px;
    }
    .preview-panel-header{
      height: 20vh;
    }
    .panel-header{
      height: 50px;
    }
    mat-label{
      strong{
        font-weight: bold;
        font-size: 16px;
      }
    }
    
    .w-24p{
      width: 24%;
    }
    .w-20p{
      width: 20%;
    }
    .task-container{
      border: 1px solid #cdcdcd;
      border-radius: 5px;
      padding: 10px 18px 5px 10px;

      margin: auto 10px;
    }
    .mat-error{
    color: #ed0808;
    font-size: 11px;
    }
    .mobi-del{
    position: absolute;
    right: 13%;
    top: 5px;
    color: red;
    }
    mat-expansion-panel{
      border-radius: 10px !important;
    }
    .container-fluid {
      display: flex;
      justify-content: space-between; /* Space the columns evenly */
      align-items: center; /* Align items vertically in the center */
      padding: 10px;
    }
    
    .timesheet-column {
      flex: 1; /* This will take up available space */
      font-weight: bold; /* Optional styling */
    }
    
    .time-save-wrapper {
      display: flex;
      align-items: center; /* Vertically aligns items */
      gap: 10px; /* Adds spacing between items */
      flex: 1; /* Takes up available space */
      justify-content: flex-end; /* Aligns items to the right */
    }
    
    .hours {
      font-size: 14px; /* Customize font size */
    }
    .column1{
      flex:2 !important;
    }
    
    
    
    