<div class="container-fluid webView">
    <!-- <div class="row">
        <div class="col-sm">
            <h1>
             Update leave details</h1>
        </div>
        <div class="col-sm-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/dashboards">Home</a></li>
                  <li class="breadcrumb-item">
                    Update leave details</li>
                </ol>
              </nav>
        </div>
        
    </div> -->
    <div class="generic-form bg">
       <form  [formGroup]='updateForm' (ngSubmit)='update()' >
        <div class="row">
            <div class="col-sm-6">
                
        <div class="row">
            <div class="col-sm">
                <h4>Leave details</h4>
            </div>
        </div>
      
        <div class="row">
            <div class="col-sm">
                <p>Leave title <span >*</span></p> 
                <input type="text" class="form-control p-3 sizeinput" formControlName="leave_title" placeholder="Enter leave title" aria-describedby="emailHelp"  autocomplete="off">
                <div *ngIf="f['leave_title'].touched && f['leave_title'].invalid" >
                    <div *ngIf="f['leave_title'].errors && f['leave_title'].errors['required'] " ><p class="error-msg">Leave title is required</p></div>
                </div>
                <div *ngIf="f['leave_title'].invalid && f['leave_title'].hasError('pattern')" >
                    <p class="error-msg">Cannot start with a space.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p>Description <span >*</span></p>
                    <textarea class="form-control" formControlName="description"  placeholder="Enter your description"  style="height: 100px"></textarea>    
                    <div *ngIf="f['description'].touched && f['description'].invalid" >
                        <div *ngIf="f['description'].errors && f['description'].errors['required']"><p class="error-msg">Description is required</p></div>
                    </div>
                    <div *ngIf="f['description'].invalid && f['description'].hasError('pattern')" >
                        <p class="error-msg">Cannot start with a space.</p>
                    </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="form-check">
                  <input class="form-check-input" formControlName="accrude_monthly" type="checkbox" value="option1" id="checkbox2" (click)="toggleMonthShow()">
                  <label class="form-check-label" for="checkbox2">
                    Accrued monthly?
                  </label>
            </div>
            </div> 
        </div>
       
        <div class="row" *ngIf="updateForm.get('accrude_monthly').value === true">
            <div class="col-sm">
                <p >Monthly leaves <span >*</span></p>
                <input type="number" oninput="if(this.value < 0 ) this.value = 0;" onkeydown="return event.keyCode !== 69" onKeyPress="if(this.value.length==10) return false;"  formControlName="monthly_leaves" class="row container-fluid"   style="margin: 0;"  class="form-control p-3 sizeinput" placeholder="Enter no. of monthly leaves" aria-describedby="emailHelp"  autocomplete="off">
                <div *ngIf="f['monthly_leaves'].touched && f['monthly_leaves'].invalid && isMonthShown" >
                    <div *ngIf="f['monthly_leaves'].errors && f['monthly_leaves'].errors['required']"><p class="error-msg">Monthly leaves is required</p></div>
                <div *ngIf="f['monthly_leaves'].errors && f['monthly_leaves'].errors['pattern']"><p class="error-msg">It accepts only positive values.</p></div>
                </div>
              
            </div>
           
        </div>
        
        <div class="row" *ngIf="updateForm.get('accrude_monthly').value === false">
            <div class="col-sm">
                <p >Yearly leaves <span >*</span></p>
                <input type="number" oninput="if(this.value < 0 ) this.value = 0;" onkeydown="return event.keyCode !== 69" onKeyPress="if(this.value.length==10) return false;"  formControlName="yearly_leaves" class="row container-fluid"  style="margin: 0;"  class="form-control p-3 sizeinput" placeholder="Enter no. of yearly leaves" aria-describedby="emailHelp"  autocomplete="off" >
            </div>
            <div *ngIf="f['yearly_leaves'].touched && f['yearly_leaves'].invalid && !isMonthShown" >
                <div *ngIf="f['yearly_leaves'].errors && f['yearly_leaves'].errors['required']"><p class="error-msg">Yearly leaves is required</p></div>
                <div *ngIf="f['yearly_leaves'].errors && f['yearly_leaves'].errors['pattern']"><p class="error-msg">It accepts only positive values.</p></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p>Carry forward (in %) <span >*</span></p>
                <input type="number"  oninput="if(this.value < 0 ) this.value = 0;" onkeydown="return event.keyCode !== 69" onKeyPress="if(this.value.length==10) return false;" class="form-control p-3 sizeinput" formControlName="carry_forward_per" placeholder="Carry forword (in %)" aria-describedby="emailHelp"  autocomplete="off">
                <div *ngIf="f['carry_forward_per'].touched && f['carry_forward_per'].invalid" >
                    <div *ngIf="f['carry_forward_per'].errors && f['carry_forward_per'].errors['required']" ><p class="error-msg">Carry forword is required</p></div>
                    <div *ngIf="f['carry_forward_per'].errors && f['carry_forward_per'].errors['pattern']"><p class="error-msg">It accepts only positive values.</p></div>
                </div>
            </div>        
        </div>
        <div class="row">
            <div class="col-sm">
            </div>       
        </div>
        <!-- <div class="row">
            <div class="col-sm">
                <p><i class="bi bi-newspaper"></i>Note: <span>*</span>Mandatory fields</p>
            </div>

        </div> -->
            </div>
            <div class="col-sm-6">       
        <div class="row">
            <div class="col-sm">
                <h4>Gracefull days/encashment details</h4>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm">
                <p>Gracefull Days <span >*</span></p> 
            </div>
        </div> -->
        <div class="row">
            <div class="col-sm">
                <p>Gracefull days <span >*</span></p> 
                <input type="number"  oninput="if(this.value < 0 ) this.value = 0;" onkeydown="return event.keyCode !== 69" onKeyPress="if(this.value.length==10) return false;" class="form-control p-3 sizeinput" formControlName="gracefull_days" placeholder="Enter gracefull days " aria-describedby="emailHelp"  autocomplete="off">
                <div *ngIf="f['gracefull_days'].touched && f['gracefull_days'].invalid" >
                    <div *ngIf="f['gracefull_days'].errors && f['gracefull_days'].errors['required'] " ><p class="error-msg">Gracefull days is required</p></div>
                    <div *ngIf="f['gracefull_days'].errors && f['gracefull_days'].errors['pattern']"><p class="error-msg">It accepts only positive values.</p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="form-check">
                    <input class="form-check-input" formControlName="encashment" type="checkbox" value="option1" id="checkbox1"  (click)="toggleShow($event)">
                    <label class="form-check-label" for="checkbox1">
                      Encashment?
                    </label>  
             </div>
          </div>
         </div>
        <div class="row">
            <div class="col-sm">
                <div *ngIf="updateForm.get('encashment').value === true"  class="row container-fluid"  id="divshow" style="margin: 0;">
                    <p >Maximum encashment of leaves <span >*</span></p>
                    <input type="number" onkeydown="return event.keyCode !== 69" oninput="if(this.value < 0 ) return this.value = 0;"  onKeyPress="if(this.value=='') return this.value='';" class="form-control p-3 sizeinput" formControlName="max_encashments" placeholder="Enter maximum encashment of leaves" aria-describedby="emailHelp"  autocomplete="off">
                <div *ngIf="f['max_encashments'].touched && f['max_encashments'].invalid" >
                    <div *ngIf="f['max_encashments'].errors && f['max_encashments'].errors['required']"><p class="error-msg">Maximum encashment of leaves are required</p></div>
                    <div *ngIf="f['max_encashments'].errors && f['max_encashments'].errors['negativeZero']"><p class="error-msg">Negative number is not allowed.</p></div>
                </div>
                </div>
            </div>
        </div>
      
        <div class="row">
            <div class="col-sm">
                <p>Leave applicable for (center)<span >*</span></p>
                <select class="form-select" aria-label="Default select example" formControlName="leave_applicable_for">
                    <option value="" selected disabled>Select center</option>
                    <option *ngFor="let items of allCenter" [value]="items.id">{{items.center_name}}</option>
                  </select>
                  <div *ngIf="f['leave_applicable_for'].touched && f['leave_applicable_for'].invalid" >
                    <div *ngIf="f['leave_applicable_for'].errors && f['leave_applicable_for'].errors['required'] " ><p class="error-msg">Leave Applicable is required</p></div>
                </div>
            </div>            
        </div>

        <div class="row">
           
            <div class="col-sm-8"></div>            
            <div class="col-sm-4">
                <button mat-raised-button class="proceedbtn mat-btn-s" type="submit">Update</button>
            </div>            
        </div>
    
            </div>
        </div>
       </form>
       
    </div>
   
</div>

<div class="container-fluid mobileView">
    <div class="row">
        <div class="col-sm">
            <h1><i  class="bi bi-arrow-left" (click)="goBack($event)
  
  "></i>
             Update leave details</h1>
        </div>
    </div>
    <div class="generic-form bg">
       <form  [formGroup]='updateForm' (ngSubmit)='update()' >
        <div class="row">
            <div class="col-sm-6">
                
        <div class="row">
            <div class="col-sm">
                <h4>Leave details</h4>
            </div>
        </div>
      
        <div class="row">
            <div class="col-sm">
                <p>Leave title <span >*</span></p> 
                <input type="text" class="form-control p-3 sizeinput" formControlName="leave_title" placeholder="Enter leave title" aria-describedby="emailHelp"  autocomplete="off">
                <div *ngIf="f['leave_title'].touched && f['leave_title'].invalid" >
                    <div *ngIf="f['leave_title'].errors && f['leave_title'].errors['required'] " ><p class="error-msg">Leave title is required</p></div>
                </div>
                <div *ngIf="f['leave_title'].invalid && f['leave_title'].hasError('pattern')" >
                    <p class="error-msg">Cannot start with a space.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p>Description <span >*</span></p>
                    <textarea class="form-control" formControlName="description"  placeholder="Enter your description"  style="height: 100px"></textarea>    
                    <div *ngIf="f['description'].touched && f['description'].invalid" >
                        <div *ngIf="f['description'].errors && f['description'].errors['required']"><p class="error-msg">Description is required</p></div>
                    </div>
                    <div *ngIf="f['description'].invalid && f['description'].hasError('pattern')" >
                        <p class="error-msg">Cannot start with a space.</p>
                    </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="form-check">
                  <input class="form-check-input" formControlName="accrude_monthly" type="checkbox" value="option1" id="checkbox2" (click)="toggleMonthShow()">
                  <label class="form-check-label" for="checkbox2">
                    Accrued monthly?
                  </label>
            </div>
            </div> 
        </div>
       
        <div class="row" *ngIf="updateForm.get('accrude_monthly').value === true">
            <div class="col-sm">
                <p >Monthly leaves <span >*</span></p>
                <input type="number" oninput="if(this.value < 0 ) this.value = 0;" onkeydown="return event.keyCode !== 69" onKeyPress="if(this.value.length==10) return false;"  formControlName="monthly_leaves" class="row container-fluid"   style="margin: 0;"  class="form-control p-3 sizeinput" placeholder="Enter no. of monthly leaves" aria-describedby="emailHelp"  autocomplete="off">
                <div *ngIf="f['monthly_leaves'].touched && f['monthly_leaves'].invalid" >
                    <div *ngIf="f['monthly_leaves'].errors && f['monthly_leaves'].errors['required']"><p class="error-msg">Monthly leaves is required</p></div>
                <div *ngIf="f['monthly_leaves'].errors && f['monthly_leaves'].errors['pattern']"><p class="error-msg">It accepts only positive values.</p></div>
                </div>
              
            </div>

           
        </div>
        
        <div class="row" *ngIf="updateForm.get('accrude_monthly').value === false">
            <div class="col-sm">
                <p >Yearly leaves <span >*</span></p>
                <input type="number" oninput="if(this.value < 0 ) this.value = 0;" onkeydown="return event.keyCode !== 69" onKeyPress="if(this.value.length==10) return false;"  formControlName="yearly_leaves" class="row container-fluid"  style="margin: 0;"  class="form-control p-3 sizeinput" placeholder="Enter no. of yearly leaves" aria-describedby="emailHelp"  autocomplete="off" >
            </div>
            <div *ngIf="f['yearly_leaves'].touched && f['yearly_leaves'].invalid" >
                <div *ngIf="f['yearly_leaves'].errors && f['yearly_leaves'].errors['required']"><p class="error-msg">Yearly leaves is required</p></div>
                <div *ngIf="f['yearly_leaves'].errors && f['yearly_leaves'].errors['pattern']"><p class="error-msg">It accepts only positive values.</p></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p>Carry forward (in %) <span >*</span></p>
                <input type="number"  oninput="if(this.value < 0 ) this.value = 0;" onkeydown="return event.keyCode !== 69" onKeyPress="if(this.value.length==10) return false;" class="form-control p-3 sizeinput" formControlName="carry_forward_per" placeholder="Carry forword (in %)" aria-describedby="emailHelp"  autocomplete="off">
                <div *ngIf="f['carry_forward_per'].touched && f['carry_forward_per'].invalid" >
                    <div *ngIf="f['carry_forward_per'].errors && f['carry_forward_per'].errors['required']" ><p class="error-msg">Carry forword is required</p></div>
                    <div *ngIf="f['carry_forward_per'].errors && f['carry_forward_per'].errors['pattern']"><p class="error-msg">It accepts only positive values.</p></div>
                </div>
            </div>        
        </div>
        <div class="row">
            <div class="col-sm">
            </div>       
        </div>
        <!-- <div class="row">
            <div class="col-sm">
                <p><i class="bi bi-newspaper"></i>Note: <span>*</span>Mandatory fields</p>
            </div>

        </div> -->
            </div>
            <div class="col-sm-6">       
        <div class="row">
            <div class="col-sm">
                <h4>Gracefull days/encashment details</h4>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm">
                <p>Gracefull Days <span >*</span></p> 
            </div>
        </div> -->
        <div class="row">
            <div class="col-sm">
                <p>Gracefull days <span >*</span></p> 
                <input type="number"  oninput="if(this.value < 0 ) this.value = 0;" onkeydown="return event.keyCode !== 69" onKeyPress="if(this.value.length==10) return false;" class="form-control p-3 sizeinput" formControlName="gracefull_days" placeholder="Enter gracefull days " aria-describedby="emailHelp"  autocomplete="off">
                <div *ngIf="f['gracefull_days'].touched && f['gracefull_days'].invalid" >
                    <div *ngIf="f['gracefull_days'].errors && f['gracefull_days'].errors['required'] " ><p class="error-msg">Gracefull days is required</p></div>
                    <div *ngIf="f['gracefull_days'].errors && f['gracefull_days'].errors['pattern']"><p class="error-msg">It accepts only positive values.</p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="form-check">
                    <input class="form-check-input" formControlName="encashment" type="checkbox" value="option1" id="checkbox1"  (click)="toggleShow($event)">
                    <label class="form-check-label" for="checkbox1">
                      Encashment?
                    </label>  
             </div>
          </div>
         </div>
        <div class="row">
            <div class="col-sm">
                <div *ngIf="updateForm.get('encashment').value === true"   class="row container-fluid"  id="divshow" style="margin: 0;">
                    <p >Maximum encashment of leaves <span >*</span></p>
                    <input type="number" onkeydown="return event.keyCode !== 69" oninput="if(this.value < 0 ) this.value = 0;" onKeyPress="if(this.value.length==10) return false;" class="form-control p-3 sizeinput" formControlName="max_encashments" placeholder="Enter maximum encashment of leaves" aria-describedby="emailHelp"  autocomplete="off">
                <div *ngIf="f['max_encashments'].touched && f['max_encashments'].invalid" >
                    <div *ngIf="f['max_encashments'].errors && f['max_encashments'].errors['required']"><p class="error-msg">Maximum encashment of leaves are required</p></div>
                    <div *ngIf="f['max_encashments'].errors && f['max_encashments'].errors['pattern']"><p class="error-msg">It accepts only positive values.</p></div>
                </div>
                </div>
            </div>
        </div>
      
        <div class="row">
            <div class="col-sm">
                <p>Leave applicable for (center)<span >*</span></p>
                <select class="form-select" aria-label="Default select example" formControlName="leave_applicable_for">
                    <option value="" selected disabled>Select center</option>
                    <option *ngFor="let items of allCenter" [value]="items.id">{{items.center_name}}</option>
                  </select>
                  <div *ngIf="f['leave_applicable_for'].touched && f['leave_applicable_for'].invalid" >
                    <div *ngIf="f['leave_applicable_for'].errors && f['leave_applicable_for'].errors['required'] " ><p class="error-msg">Leave Applicable is required</p></div>
                </div>
            </div>            
        </div>

        <div class="row">
           
            <div class="col-sm-8"></div>            
            <div class="col-sm-4">
                <button mat-raised-button class="proceedbtn mat-btn-s" type="submit">Update</button>
            </div>            
        </div>
    
            </div>
        </div>
       </form>
       
    </div>
   
</div>

