
$primay-color: #126EB4;
  .full-width{
    width: 100%;
  }
  .bg{
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 5px;

}
.row{
    padding: 5px;
}
.c-header{
    font-weight: bold;
    padding-bottom: 10px;
}
.submit-button{
    background-color: $primay-color;
    color:white;
}
.text-clr{
    color: $primay-color;
}
.edit-or-upload-icon {
    font-size: 16px;
    color: white;
    background: #1b64a0;
    border-radius: 12px;
    padding-right: 1px;
  }
  