<div class="generic-form bg">
  <form [formGroup]="leaveForm" [ngStyle]="{'pointer-events': isPointerDisabled() ? 'all' : 'none'}">
      <!-- Leave Type Section -->
      <h5 class="px-2 c-header">Leave Type</h5>
      <div class="row mb-2">
          <div class="col-md-4">
              <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Leave Type <b class="r-star">*</b></mat-label>
                  <mat-select formControlName="leave_type_id" placeholder="Select leave type" (selectionChange)="getLeaveBalance()" panelClass="custom-select-panel" [disableOptionCentering]="true">
                      <mat-option *ngFor="let leave of leaveType" [value]="leave.id">
                          {{ leave.leave_title }}
                      </mat-option>
                  </mat-select>
                  <mat-error *ngIf="f['leave_type_id']?.touched && f['leave_type_id']?.invalid">
                      Leave Type is required.
                  </mat-error>
              </mat-form-field>
          </div>
          <div class="col-md-4">
              <div style="border-left: 1px solid lightgray;padding: 4px 15px;">
                  <mat-label>Leave Balance</mat-label>
                  <div class="text-clr">{{leaveBalance || 'NA'}}</div>
              </div>
          </div>
      </div>

      <!-- Date Range Section -->
      <h5 class="px-2 c-header">Date Range</h5>
      <div class="row mb-2">
          <div class="col-md-4 date-picker">
              <mat-form-field appearance="outline" class="full-width">
                  <mat-label>From <b class="r-star">*</b></mat-label>
                  <input matInput [matDatepicker]="fromDate" formControlName="leaveApplication_from_date" placeholder="Select start date" [min]="today" (dateChange)="removeToDate();calculateApplyingDays()">
                  <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                  <mat-datepicker #fromDate></mat-datepicker>
                  <mat-error *ngIf="f['leaveApplication_from_date']?.touched && f['leaveApplication_from_date']?.invalid">
                      From date is required.
                  </mat-error>
              </mat-form-field>
          </div>
          <div class="col-md-4">
              <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Session <b class="r-star">*</b></mat-label>
                  <mat-select formControlName="from1_session" placeholder="Select session"  (selectionChange)="calculateApplyingDays()" panelClass="custom-select-panel" [disableOptionCentering]="true">
                      <mat-option *ngFor="let session of sessions" [value]="session.value">
                          {{ session.viewValue }}
                      </mat-option>
                  </mat-select>
                  <mat-error *ngIf="f['from1_session']?.touched && f['from1_session']?.invalid">
                      From session is required.
                  </mat-error>
              </mat-form-field>
          </div>
      </div>
      
      <div class="row mb-2">
          <div class="col-md-4 date-picker">
              <mat-form-field appearance="outline" class="full-width">
                  <mat-label>To <b class="r-star">*</b></mat-label>
                  <input matInput [matDatepicker]="toDate" formControlName="leaveApplication_to_date" [min]="leaveForm.value.leaveApplication_from_date" placeholder="Select end date"
                  (dateChange)="calculateApplyingDays()">
                  <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                  <mat-datepicker #toDate></mat-datepicker>
                  <mat-error *ngIf="f['leaveApplication_to_date']?.touched && f['leaveApplication_to_date']?.invalid">
                      To date is required.
                  </mat-error>
              </mat-form-field>
          </div>
          <div class="col-md-4">
              <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Session <b class="r-star">*</b></mat-label>
                  <mat-select formControlName="to1_session" placeholder="Select session" panelClass="custom-select-panel" [disableOptionCentering]="true" (selectionChange)="calculateApplyingDays()">
                      <mat-option *ngFor="let session of sessions" [value]="session.value">
                          {{ session.viewValue }}
                      </mat-option>
                  </mat-select>
                  <mat-error *ngIf="f['to1_session']?.touched && f['to1_session']?.invalid">
                    To session is required.
                  </mat-error>
              </mat-form-field>
          </div>
          <div class="col-md-4">
              <div style="border-left: 1px solid lightgray;padding: 4px 15px;">
                  <mat-label>Applying For</mat-label>
                  <div class="text-clr">{{applyingDays || 0}} days</div>
              </div>
          </div>
      </div>

      <!-- Reporting To Section -->
      <h5 class="px-2 c-header">Reporting to</h5>
      <div class="row mb-3">
          <div class="col-md-4">
              <input type="file" accept="image/*" formControlName="leave_application_file_attachment" #fileInput (change)="uploadImageFile($event)" hidden>
              <div class="image-container w-100 d-flex justify-content-between align-items-center" style="padding: 3px 15px;">
                  <img id="imagePreview" *ngIf="fileDataUrl" [src]="fileDataUrl ? fileDataUrl : ''" alt="profile">
                  <mat-label *ngIf="!fileDataUrl">File Attachment</mat-label>
                  <button type="button" mat-icon-button (click)="triggerFileInput()">
                      <mat-icon matTooltip="{{fileDataUrl ? 'Edit' : 'Upload'}}" class="edit-or-upload-icon">{{fileDataUrl ? 'edit' : 'attach_file'}} </mat-icon> 
                  </button>
              </div>
              <mat-error *ngIf="f['leave_application_file_attachment']?.touched && f['leave_application_file_attachment']?.invalid" style="font-size: 11px;padding-left: 10px;">
                  <!-- <span *ngIf="f['leave_application_file_attachment'].errors?.['required']">Logo is required</span> -->
                  <span *ngIf="f['leave_application_file_attachment'].errors?.['accept']">Invalid file format. Only .jpg, .jpeg, .png formats are allowed.</span>
              </mat-error>
              <mat-hint class="file-types" *ngIf="!f['leave_application_file_attachment'].errors?.['accept']">Allowed file types .jpg, .jpeg, .png</mat-hint>
          </div> 
      </div>

      <!-- Applying To Section -->
      <div class="row">
          <div class="col-md-4">
              <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Applying To <b class="r-star">*</b></mat-label>
                  <mat-select formControlName="applying_to" placeholder="Select the person to apply to" panelClass="custom-select-panel" [disableOptionCentering]="true">
                      <mat-option *ngFor="let employees of adminlistData" [value]="employees?.id">{{employees?.first_name}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="f['applying_to']?.touched && f['applying_to']?.invalid">
                      Applying To is required.
                  </mat-error>
              </mat-form-field>
          </div>
      </div>

      <!-- CC Section -->
      <div class="row">
          <div class="col-md-8 p-r dropdown-container">
             
              <!-- <mat-form-field appearance="outline" class="full-width cc-to">
                <mat-label>CC <b class="r-star">*</b></mat-label>
                <input matInput type="search" placeholder="Search..." formControlName="cc_to_input"   (keyup)="filterEmployees()" />
               
               
                  <mat-error *ngIf="f['cc_to']?.touched && f['cc_to']?.invalid">
                    CC is required.
                  </mat-error>
              </mat-form-field>
             
              <mat-selection-list #ccTo class="c-position" formControlName="cc_to" *ngIf="isDropdownOpen">
                <mat-card *ngIf="filteredEmployees.length > 0">
                
                    <mat-list-option *ngFor="let employee of filteredEmployees" [value]="employee.user.first_name" (click)="selectedList()">
                        {{ employee.user.first_name }}{{ employee.user.last_name }} ({{employee.user.email}})
                    </mat-list-option>
              
                </mat-card>
                <mat-card class="no-data" *ngIf="filteredEmployees.length === 0 && f['cc_to_input']?.value">
                <div>
                    No data found!
                </div>
            </mat-card>
                    
              </mat-selection-list> -->

              <mat-form-field  appearance="outline" class="full-width cc-to">
                <mat-label>CC <b class="r-star">*</b></mat-label>
                <mat-chip-list #chipList aria-label="CC To">
                  <mat-chip
                    *ngFor="let chips of ccToList"
                    [selectable]="selectable"
                    
                    [removable]="removable"
                    (removed)="remove(chips)">
                    {{chips}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="Search..."
                    #ccInput
                    
                    formControlName="cc_to_input"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)"
                    (keyup)="filterEmployees()">
                </mat-chip-list>
                <!-- <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedList()"> -->
                   
              </mat-form-field>
              <mat-error *ngIf="f['cc_to']?.touched && f['cc_to']?.invalid" class="error-ccmsg">
                
                CC is required.
              </mat-error>
             
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" >
               

                <div *ngIf="filteredEmployees.length > 0">
                
                    <mat-option *ngFor="let employee of filteredEmployees" [value]="employee.user.first_name" 
                    [disabled]="ccToList.includes(employee.user.first_name)">
                        {{ employee.user.first_name }}{{ employee.user.last_name }} ({{employee.user.email}})
                    </mat-option>
              
                </div>
                <div class="no-data" *ngIf="filteredEmployees.length === 0 && f['cc_to_input']?.value ">
                    <div>
                        No data found!
                    </div>
                </div>
              </mat-autocomplete>
             
              
             
                
              
          </div>
      </div>

      <!-- Message Section -->
      <div class="row mb-2">
          <div class="col-md-4">
              <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Message <b class="r-star">*</b></mat-label>
                  <textarea matInput formControlName="reason" placeholder="Enter your message"></textarea>
                  <mat-error *ngIf="f['reason']?.touched && f['reason']?.invalid">
                      Message is required.
                  </mat-error>
              </mat-form-field>
          </div>
      </div>

      <!-- Buttons -->
      <div class="row">
          <div class="col-md-6 text-right">
              <button *ngIf="isPointerDisabled()" mat-raised-button class="submit-button" type="button" (click)="submit()">Apply</button>
              <button *ngIf="!isPointerDisabled()" disabled mat-raised-button>Apply</button>
          </div>
      </div>
  </form>
</div>
