<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3 col-md-4 col-lg-3 search-div px-0">
          <input type="text" class="form-control p-2 sizeinput" placeholder="Search"[(ngModel)]="term" aria-describedby="emailHelp"  autocomplete="off">
          <i class="bi bi-search" id="search-icon-tab" (click)="filterSearch()"></i>
      </div>
        <div class="col-sm"></div>
        <div class="col-md-4 col-lg-3 text-center align-self-center">
            <div class="d-flex justify-content-center pg-bg">
                <button *ngFor="let size of tableSizes" class="page-size-btn" [value]="size" (click)="onTableSizeChange($event)" [ngClass]="{'active-size': tableSize === size}"
                >{{size}}</button>
            </div>
                    </div>
         
      </div>
    
<div class="bg">
    <div class="row">
        <div class="col">
            <table class="table table-hover table-list">
                <thead>
                    <tr>
                      <th scope="col">S.No</th>
                      <th scope="col">Date </th>
                      <th scope="col">Employee</th>
                      <th scope="col">Tasks</th>
                      <th scope="col">Hours</th>
                      <th scope="col">Saved On</th>
                      <th scope="col">Status</th>
                      <ng-container *ngFor="let approval of accessConfig">
                        <th scope="col" *ngIf="approval == 'DELETE'">Action</th>
                      </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                   
                    <ng-container *ngIf="(timesheetDataAll | filter:term) as result">
                        <tr *ngFor="let items of result| filter:term| paginate : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                          };let i=index">
                        <td>{{i+1}}</td>
                        <td>{{items.created_date_time | date :'dd-MM-yyyy'}}</td>
                        <td>{{items.created_by_id?items.created_by_id:"NA"}}</td>
                        <td>{{items.description}}</td>
                        <td>{{items.time_spent}}</td>
                        <td>{{items.created_by_id?items.created_by_id:"NA"}}</td>
                        <td>{{items.status}}</td>
                        <!-- <td>
                            <button style="border: none;background-color: inherit;" (click)="open(items.id,'Approved')"><i class="bi bi-check-circle" container="body" ngbTooltip="Approve" style="color:green"></i></button>
                            <button style="border: none;background-color: inherit;" (click)="open(items.id,'Declined')"><i class="bi bi-x-circle" container="body" ngbTooltip="Reject" style="color:red"></i></button>
                        </td> -->
                        <td>
                           <!--  <ng-container *ngFor="let approval of accessConfig">
                                <span *ngIf="approval == 'DELETE'">
                                    <button  style="border: none;background-color: inherit;" (click)="open(items)"> <i class="fas fa-trash-alt" style="color: red;" container="body" ngbTooltip="Delete"></i></button>
                                </span> 
                                <span *ngIf="approval == 'ACCEPT'">
                                    <button style="border: none;background-color: inherit;" (click)="open(items.id,'APPROVED')"><i class="bi bi-check-circle" container="body" ngbTooltip="Approve" style="color:green"></i></button>
                                </span>
                                <span *ngIf="approval == 'REJECT'">
                                    <button style="border: none;background-color: inherit;" (click)="open(items.id,'DECLINED')"><i class="bi bi-x-circle" container="body" ngbTooltip="Reject" style="color:red"></i></button>
                                </span>
                            </ng-container>-->
                        </td>
                        </tr>
                        <tr *ngIf="result.length === 0" class="nodata">
                            <td> No records found
  !</td>  
                        </tr>
               
                    </ng-container>
                  </tbody>
              </table>
              
        </div>
    </div>  
</div>
</div>
<div class="row">
           
    <div class="col-sm"></div>
    <div class="col-sm-12">
        <div class="d-flex justify-content-center p-nav">
            <pagination-controls 
              previousLabel="Prev" 
              nextLabel="Next" 
              (pageChange)="onTableDataChange($event)">
            </pagination-controls>
          </div>
    </div>
</div>






