<div class="container-fluid webView">
    <!-- <div class="row">
        <div class="col-sm-7">
            <h1>Add on leaves request <b *ngIf="month"> - </b> {{  month |date :'MMMM'}}</h1>
        </div>
        <div class="col-sm-5 d-flex align-items-end">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/dashboards">Home</a></li>
                  <li class="breadcrumb-item">Add on leaves request <b *ngIf="month"> - </b> {{ month |date :'MMMM'}}</li>
                  
                </ol>
              </nav>
        </div>
        
    </div> -->
    <div class="container-middle">
    <div class="row p-20">
        <div class="col-sm-12 col-md-12 col-lg-4">
           
            <div class="card">
                <div class="card-body">
                    <div class="row">
                            <div class="row">
                                <div class="col-8"><h6><i class="bi bi-check"></i> Approved </h6></div>  
                                <div class="col-4 text-end"><h4 class="v-align" style="color: green;">{{AllCardData?.approved_count}}</h4></div>
                            </div>
                            <div class="col-12">
                                <p><i class="bi bi-calendar-week"></i> {{month |date :'MMMM'}}</p>
                            </div>
                    </div>
                </div>
            </div>
          
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="card" >
                    <div class="card-body" >
                        <div class="row">
                                <div class="row">
                                    <div class="col-8"><h6><i class="bi bi-lightning"></i> Request </h6></div>  
                                    <div class="col-4 text-end"><h4 class="v-align" style="color: #e6b539;">{{AllCardData?.request_count}}</h4></div>
                                </div>
                                <div class="col-12">
                                    <p><i class="bi bi-calendar-week"></i> {{month |date :'MMMM'}}</p>
                                </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="card" >
                <div class="card-body" >
                    <div class="row">
                            <div class="row">
                                <div class="col-8"><h6><i class="bi bi-x"></i> Declined </h6></div>  
                                <div class="col-4 text-end"><h4 class="v-align" style="color: red;">{{AllCardData?.declined_count}}</h4></div>
                            </div>
                            <div class="col-12">
                                <p><i class="bi bi-calendar-week"></i> {{month |date :'MMMM'}}</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-20">
        <div class="col-12">
            <div class="card">
                <form [formGroup]="addOnLeaveForm" (ngSubmit)="submit()" class="pt-3 px-2">
                    <div class="row">
                        <div class="col-sm-4 col-md-6 col-lg-4">
                            <p class="date-label">From date <span >*</span></p> 
                            <input class="form-control date-input"  type="date" formControlName="from_date"  placeholder="date" (change)="changeFormat()">                   
                            <div *ngIf="f['from_date'].touched && f['from_date'].invalid" class="error-msg">
                                <p *ngIf="f['from_date'].errors['required']">From date is required</p>
                              </div>
                        </div>
                        <div class="col-sm-4 col-md-6 col-lg-4">
                            <p class="date-label">To date <span >*</span></p> 
                            <input class="form-control date-input"  type="date" formControlName="to_date" [min]="addOnLeaveForm.value.from_date" placeholder="date" (change)="changeFormat()">  
                            <div *ngIf="f['to_date'].touched && f['to_date'].invalid" class="error-msg">
                                <p *ngIf="f['to_date'].errors['required']">To date is required</p>
                              </div>
                        </div>
                        <div class="col-sm-2 col-md-6 col-lg-2 py-3 d-flex align-items-center"> 
                            <button mat-raised-button class="proceedbtn mat-btn-s">Submit</button>
                        </div>
                    </div>
                 </form>
            </div>
        </div>
    </div>
    
    <div class="animated fadeIn p-20">
        <div class="row">
            <div class="col-md-12 mb-4">
                <!-- Nav tabs -->
                <tabset #tabset>
                    <tab heading="Yet to approved" (selectTab)="tabState($event)">
                      <app-yet-approve [data]="AllListData" (buttonClick)="buttonClick($event)" [totalCount]="totalCount" *ngIf="AllListData[0]?.approved_state === 'YET_TO_APPROVED'"></app-yet-approve>
                      <div class="text-center text-muted no-data py-2" *ngIf="AllListData[0]?.approved_state !== 'YET_TO_APPROVED' ">No records found !
                     </div>  
                    </tab>
                    <tab heading="Approved leaves" (selectTab)="tabState($event)" aria-selected="true">
                        <app-approved [data]="AllListData" (buttonClick)="buttonClick($event)" *ngIf="AllListData[0]?.approved_state === 'APPROVED'"></app-approved>
                        <div class="text-center text-muted no-data py-2" *ngIf="AllListData[0]?.approved_state !== 'APPROVED' ">No records found !
                    </div>  
                    </tab>
                    <tab heading="Declined leaves" (selectTab)="tabState($event)">
                      <app-declined *ngIf="AllListData[0]?.approved_state === 'DECLINED'" (buttonClick)="buttonClick($event)" [data]="AllListData" (buttonClick)="buttonClick($event)" ></app-declined>
                      <div class="text-center text-muted no-data py-2" *ngIf="AllListData[0]?.approved_state !== 'DECLINED' ">No records found !
                    </div>  
                    </tab>
                  </tabset>
              </div>
        </div>
    </div>

</div>
</div>

<div class="container-fluid mobileView">
    <div class="row mx-1 my-2">
        <div class="col-sm-12">
            <h1>Add on leaves request <b *ngIf="month"> - </b> {{  month |date :'MMMM'}}</h1>
        </div>
    </div>
    <div class="container-middle">
    <div class="row p-20">
        <div class="col-sm-12 col-md-12 col-lg-4">
           
            <div class="card">
                <div class="card-body">
                    <div class="row">
                            <div class="row">
                                <div class="col-8"><h6><i class="bi bi-check"></i> Approved </h6></div>  
                                <div class="col-4 text-end"><h4 class="v-align" style="color: green;">{{AllCardData?.approved_count}}</h4></div>
                            </div>
                            <div class="col-12">
                                <p><i class="bi bi-calendar-week"></i> {{month |date :'MMMM'}}</p>
                            </div>
                    </div>
                </div>
            </div>
          
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="card" >
                    <div class="card-body" >
                        <div class="row">
                                <div class="row">
                                    <div class="col-8"><h6><i class="bi bi-lightning"></i> Request </h6></div>  
                                    <div class="col-4 text-end"><h4 class="v-align" style="color: #e6b539;">{{AllCardData?.request_count}}</h4></div>
                                </div>
                                <div class="col-12">
                                    <p><i class="bi bi-calendar-week"></i> {{month |date :'MMMM'}}</p>
                                </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="card" >
                <div class="card-body" >
                    <div class="row">
                            <div class="row">
                                <div class="col-8"><h6><i class="bi bi-x"></i> Declined </h6></div>  
                                <div class="col-4 text-end"><h4 class="v-align" style="color: red;">{{AllCardData?.declined_count}}</h4></div>
                            </div>
                            <div class="col-12">
                                <p><i class="bi bi-calendar-week"></i> {{month |date :'MMMM'}}</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-20">
        <div class="col-12">
            <div class="card">
                <form [formGroup]="addOnLeaveForm" (ngSubmit)="submit()" class="pt-3 px-2">
                    <div class="row">
                        <div class="col-sm-4 col-md-6 col-lg-4">
                            <p class="date-label">From date <span >*</span></p> 
                            <input class="form-control date-input"  type="date" formControlName="from_date"  placeholder="date" (change)="changeFormat()">                   
                            <div *ngIf="f['from_date'].touched && f['from_date'].invalid" class="error-msg">
                                <p *ngIf="f['from_date'].errors['required']">From date is required</p>
                              </div>
                        </div>
                        <div class="col-sm-4 col-md-6 col-lg-4">
                            <p class="date-label">To date <span >*</span></p> 
                            <input class="form-control date-input"  type="date" formControlName="to_date" [min]="addOnLeaveForm.value.from_date" placeholder="date" (change)="changeFormat()">  
                            <div *ngIf="f['to_date'].touched && f['to_date'].invalid" class="error-msg">
                                <p *ngIf="f['to_date'].errors['required']">To date is required</p>
                              </div>
                        </div>
                        <div class="col-sm-2 col-md-6 col-lg-2 py-3 d-flex align-items-center"> 
                            <button mat-raised-button class="proceedbtn mat-btn-s">Submit</button>
                        </div>
                    </div>
                 </form>
            </div>
        </div>
    </div>
    
    <div class="animated fadeIn p-20">
        <div class="row">
            <div class="col-md-12 mb-4">
                <!-- Nav tabs -->
                <tabset #tabsets>
                    <tab heading="Yet to approved" (selectTab)="tabState($event)">
                      <app-yet-approve [data]="AllListData" (buttonClick)="buttonClick($event)" [totalCount]="totalCount" *ngIf="AllListData[0]?.approved_state === 'YET_TO_APPROVED'"></app-yet-approve>
                      <div class="text-center text-muted no-data py-2" *ngIf="AllListData[0]?.approved_state !== 'YET_TO_APPROVED' ">No records found
                        </div>  
                    </tab>
                    <tab heading="Approved leaves" (selectTab)="tabState($event)" aria-selected="true">
                        <app-approved [data]="AllListData" (buttonClick)="buttonClick($event)" *ngIf="AllListData[0]?.approved_state === 'APPROVED'"></app-approved>
                        <div class="text-center text-muted no-data py-2" *ngIf="AllListData[0]?.approved_state !== 'APPROVED' ">No records found
                     </div>  
                    </tab>
                    <tab heading="Declined leaves" (selectTab)="tabState($event)">
                      <app-declined *ngIf="AllListData[0]?.approved_state === 'DECLINED'" (buttonClick)="buttonClick($event)" [data]="AllListData" (buttonClick)="buttonClick($event)" ></app-declined>
                      <div class="text-center text-muted no-data py-2" *ngIf="AllListData[0]?.approved_state !== 'DECLINED' ">No records found
                     </div>  
                    </tab>
                  </tabset>
              </div>
        </div>
    </div>

</div>
</div>

