<div class="container-fluid webView p-r">
 
  
  <div class="bg">
  <div class="row">
      <div class="col px-0">
          <table class="table table-list">
              <thead>
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col" class="text-center">Date</th>
                    <th scope="col" class="text-center">Employee</th>
                    <th scope="col" class="text-center">Task</th>
                    <th scope="col" class="text-center">Time</th>
                    <th scope="col" class="text-center">Saved On</th>
                    <th scope="col" class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="(list) as result">
                  <tr *ngFor='let item of result|paginate:paginationConfig; let i=index'>
                      <td>{{getContinuousIndex(i)}}</td>
                     
                      <td class="text-center">{{(item.timesheet_date | date :'dd/MM/YYYY') || 'NA'}}</td>
                      <td class="text-center">{{item.employee_first_name|titlecase}}</td>
                      <td class="text-center" *ngIf="item.task_list.length">
                        <div *ngFor="let task of item.task_list; let j = index">
                          <div>
                            {{ task?.task_name || 'NA' }} <br/>
                          </div>
                        </div>
                      </td>
                      <td *ngIf="item.task_list.length === 0">
                        {{'NA'}}
                      </td>
                      <td class="text-center" *ngIf="item.task_list.length">
                        <div *ngFor="let task of item.task_list; let j = index">
                          <div>
                            {{ task?.hours_to_complete || 'NA' }}
                          </div>
                        </div>
                      </td>
                      <td *ngIf="item.task_list.length === 0">
                        {{'NA'}}
                      </td>
                      <!-- <td class="text-center">{{item[i]?.task_list[i]?.hours_to_complete|titlecase }}</td> -->
                      <td class="text-center">{{item.created_datetime | date :'dd/MM/YYYY'}}</td> 
                   
                      
                      
                       <td class="text-center">
                          <span>
                            <img src="../../../../../assets/images/Delete.svg" class="icon-image" container="body" ngbTooltip="Delete" (click)="open(item)"/>
                          </span>
                        
                      <ng-template #noDelete>
                        <span>NA</span>
                      </ng-template>
                       </td>
                      
                  </tr>
                 
                  <div style="position: absolute;left: 45%;padding: 10px 0;"  *ngIf="result.length === 0">
                    No records found!
                  </div>
                  </ng-container>
                </tbody>
            </table>
           
      </div>
  </div>
  
</div>

<div class="pagination-container p-0 py-4">
  <!-- Pagination Controls (Center-Aligned) -->
  <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
  </pagination-controls>

  <!-- Items Per Page Selector (Right-Aligned) -->
  <div class="items-per-page-container">
    <div>Items per page</div>
    <mat-select  [(ngModel)]="tableSize" (selectionChange)="onTableSizeChange($event)" placeholder="10" class="page-size">
      <mat-option *ngFor="let size of tableSizes" [value]="size">{{size}}</mat-option>
    </mat-select>
  </div>
</div>
</div>
<div class="container-fluid mobileView">
<div class="row mx-1 my-2">
 
  <div class="col-sm-6 col-md-6 mb-1 search-div px-0">
  </div>
</div>

<div class="bg row mx-0 my-1">
  <ng-container *ngIf="(list) as result">
    <div class="col-sm-12 col-md-6 p-0" *ngFor="let item of result|paginate:paginationConfig;">
      <div class="card outer-card" >
        <div class="row rc-p">
          <div class="col-7">
            <div class="row">
              <div class="col-12">
                <h6 class="card-subtitle">Status</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-12 status-text">
                {{ item.status | titlecase }}
              </div>
            </div>
          </div>
          <div class="col-5">
              <ng-container>
                  <span  style="float: right;">
                      <!-- <button type="button" class="toolbar-btn"   (click)="open(item)" ><i class="bi bi-trash" style="color: red; font-size: 24px;"></i></button> -->
                      <img src="../../../../../assets/images/Delete.svg" class="icon-image" container="body" ngbTooltip="Delete" (click)="open(item)"/>
                    </span>
                
              </ng-container>
              
          </div>
        </div>

        <div class="card inner-card">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <div class="col-12">
                    <h6 class="card-subtitle">Created date</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 val-r">
                    {{ item.timesheet_date | date: 'dd/MM/yyyy' }}
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-12">
                    <h6 class="card-subtitle">People</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 val-r">
                    {{ item.employee_first_name|titlecase }}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
             
              <div class="col-6">
                <div class="row">
                  <div class="col-12">
                    <h6 class="card-subtitle">Time</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 val-r" *ngIf="item.task_list.length">
                    <div *ngFor="let task of item.task_list; let j = index">
                      <div>
                        {{ task?.hours_to_complete || 'NA' }}
                      </div>
                    </div>
                  </div>
                  <div class="col-12 val-r" *ngIf="item.task_list.length === 0">
                    {{'NA'}}
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-12">
                    <h6 class="card-subtitle">Task name</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 val-r" *ngIf="item.task_list.length">
                    <div *ngFor="let task of item.task_list; let j = index">
                      <div>
                        {{ task?.task_name || 'NA' }} <br/>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 val-r" *ngIf="item.task_list.length === 0">
                    {{'NA'}}
                  </div>
                </div>
              </div>
           
            </div>
          

       
           
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="result.length === 0" class="col-12">
      <div class="card">
        <div class="card-body">
          <p class="mt-2">No records found!</p>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="pagination-container p-0 py-2">
  <!-- Pagination Controls (Center-Aligned) -->
  <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
  </pagination-controls> 
</div>
<!-- Items Per Page Selector (Right-Aligned) -->
<div class="pagination-container">
  <div class="mx-2">Items per page</div>
  <mat-select (selectionChange)="onTableSizeChange($event)" placeholder="10" class="page-size">
    <mat-option *ngFor="let size of tableSizes" [value]="size">{{size}}</mat-option>
  </mat-select>
</div>
</div>







