<div class="container-fluid webView p-r">
 
  
  <div class="bg" [ngClass]="list?.length ? 'over-flow' : ''">
  <div class="row">
      <div class="col px-0">
          <table class="table table-list" *ngIf="list?.length">
              <thead>
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col" class="text-center">Created Date</th>
                    <th scope="col" class="text-center">Project/Task</th>
                    <th scope="col" class="text-center">Hours</th>
                    <th scope="col" class="text-center">Description</th>
                    <th scope="col" class="text-center">Submitted On</th>
                    <th scope="col" class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="(list) as result">
                  <tr *ngFor='let item of result; let i=index'>
                      <td>{{getContinuousIndex(i)}}</td>
                     
                      <td class="text-center">{{(item.created_date | date : 'dd-MM-yyyy') || 'NA'}}</td>
                     
                      <td class="text-center" *ngIf="item?.tasks?.length">
                        <div *ngFor="let task of item?.tasks; let j = index">
                          <div>
                            <span  *ngIf="j === 0">{{ item.project_name }} / </span> 
                            {{ task?.task__task_name || 'NA' }}{{ j !== item.tasks.length - 1 ? ',' : '' }}
                          </div>
                        </div>
                      </td>
                      
                      <td *ngIf="item?.tasks.length === 0">
                        {{'NA'}}
                      </td>
                      <td class="text-center" *ngIf="item?.tasks?.length">
                        <div *ngFor="let task of item?.tasks; let j = index">
                          <div>
                            {{ task?.time_required_to_complete || 'NA' }}
                          </div>
                        </div>
                      </td>
                      <td *ngIf="item?.tasks?.length === 0">
                        {{'NA'}}
                      </td>
                      <td class="text-center" [title]="item.description">
                        {{ item.description?.length > 20 ? (item.description | slice:0:20) + '...' : item.description || 'NA' }}
                      </td>
                      <td class="text-center">{{item.updated_datetime | date : 'dd-MM-yyyy'}}</td> 
                       <td class="text-center">
                          <span *ngIf="userRole ==='Employee' && accessPermissions[0]?.delete || userRole === 'Admin'">
                            <img src="../../../../../assets/images/Delete.svg" class="icon-image" container="body" ngbTooltip="Delete" (click)="open(item)"/>
                          </span>
                          <span  *ngIf="userRole ==='Employee' && !accessPermissions[0]?.delete">-</span>
                      <ng-template #noDelete>
                        <span>NA</span>
                      </ng-template>
                       </td>
                      
                  </tr>
                 
                  
                  </ng-container>
                </tbody>
            </table>
           
            <div class="col-12" *ngIf="list.length === 0">
              <app-generic-norecards></app-generic-norecards>
            </div>
      </div>
  </div>
  
</div>

<div class="pagination-container p-0 py-4">
  <!-- Pagination Controls (Center-Aligned) -->
  <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
  </pagination-controls>

  <!-- Items Per Page Selector (Right-Aligned) -->
  <div class="items-per-page-container">
    <div>Items per page</div>
    <mat-select  [(ngModel)]="tableSize" (selectionChange)="onTableSizeChange($event)" placeholder="10" class="page-size">
      <mat-option *ngFor="let size of tableSizes" [value]="size">{{size}}</mat-option>
    </mat-select>
  </div>
</div>
</div>
<div class="container-fluid mobileView">
<div class="row mx-1 my-2">
 
  <div class="col-sm-6 col-md-6 mb-1 search-div px-0">
  </div>
</div>

<div class="bg row mx-0 my-1">
  <ng-container *ngIf="(list) as result">
    <div class="col-sm-12 col-md-6 p-0" *ngFor="let item of result|paginate:paginationConfig;">
      <div class="card outer-card" >
        <div class="row rc-p">
          <div class="col-7">
            <div class="row">
              <div class="col-12">
                <h6 class="card-subtitle">Status</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <strong>{{ (item.status_name | titlecase) || 'NA' }}</strong>
              </div>
            </div>
          </div>
          <div class="col-5">
              <ng-container>
                  <span  style="float: right;" *ngIf="userRole ==='Employee' && accessPermissions[0]?.delete || userRole === 'Admin'">
                      <!-- <button type="button" class="toolbar-btn"   (click)="open(item)" ><i class="bi bi-trash" style="color: red; font-size: 24px;"></i></button> -->
                      <img src="../../../../../assets/images/Delete.svg" class="icon-image" container="body" ngbTooltip="Delete" (click)="open(item)"/>
                    </span>
                
              </ng-container>
              
          </div>
        </div>

        <div class="card inner-card">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <div class="col-12">
                    <h6 class="card-subtitle">Created date</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 val-r">
                    {{ (item.created_date | date : 'dd-MM-yyyy') || 'NA' }}
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-12">
                    <h6 class="card-subtitle">People</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 val-r">
                    {{ (item.created_by_first_name |titlecase) || 'NA' }}
                  </div>
                </div>
              </div>
            </div>

          
          
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <div class="col-12">
                    <h6 class="card-subtitle">Project/Task</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 val-r" *ngIf="item?.tasks?.length">
                    <div *ngFor="let task of item?.tasks; let j = index">
                      <div>
                        <span  *ngIf="j === 0">{{ item.project_name }} / </span> 
                        {{ task?.task__task_name || 'NA' }}{{ j !== item.tasks.length - 1 ? ',' : '' }}
                      </div>
                    </div>
                  </div>
                  <div class="col-12 val-r" *ngIf="item.tasks.length === 0">
                    {{'NA'}}
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-12">
                    <h6 class="card-subtitle">Hours</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 val-r" *ngIf="item?.tasks?.length">
                    <div *ngFor="let task of item?.tasks; let j = index">
                      <div>
                        {{ task?.time_required_to_complete || 'NA' }}
                      </div>
                    </div>
                  </div>
                  <div class="col-12 val-r" *ngIf="item?.tasks?.length === 0">
                    {{'NA'}}
                  </div>
                </div>
              </div>
           
            </div>
       
            <div class="row">
             
              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <h6 class="card-subtitle">Description</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 val-r" [title]="item.description">
                    {{ item.description?.length > 130 ? (item.description | slice:0:130) + '...' : item.description || 'NA' }}
                  </div>
                 
                  </div>
                  
                </div>
              </div>
            
          
          </div>
        </div>
      </div>
    </div>
    <div class="col-12" *ngIf="result.length === 0">
      <app-generic-norecards></app-generic-norecards>
    </div>
  </ng-container>
</div>

<div class="pagination-container p-0 py-2">
  <!-- Pagination Controls (Center-Aligned) -->
  <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
  </pagination-controls> 
</div>
<!-- Items Per Page Selector (Right-Aligned) -->
<div class="pagination-container">
  <div class="mx-2">Items per page</div>
  <mat-select (selectionChange)="onTableSizeChange($event)" placeholder="10" class="page-size">
    <mat-option *ngFor="let size of tableSizes" [value]="size">{{size}}</mat-option>
  </mat-select>
</div>
</div>







