
<div class="container-fluid p-20">
  <div class="generic-form bg mx-1" >
      <form [formGroup]='organizationForm' >
        <!-- <mat-card class="org-card"> -->
        <div class="row" >
          <!-- Organization Details Section -->
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h5 class="py-3"><b>Organization details</b></h5>
    
            <!-- Organization Name -->
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6" >
                <mat-form-field appearance="outline" class="w-100 custom-mat-form-field" >
                  <mat-label>Organization name <b class="r-star">*</b></mat-label>
                  <input matInput placeholder="Enter organization name"  formControlName="org_name" autocomplete="off">
                  <mat-error *ngIf="f['org_name']?.touched && f['org_name']?.invalid">
                    <span *ngIf="f['org_name'].errors?.['required']">Organization name is required</span>
                    <span *ngIf="f['org_name'].errors?.['pattern']">
                      Invalid name. Only letters are allowed, and the name must start with a letter.
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
           
            <!-- Email Id -->
           
              <div class="col-sm-12 col-md-6 col-lg-3">
                <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                  <mat-label>Email Id <b class="r-star">*</b></mat-label>
                  <input matInput type="email" placeholder="Enter email Id" formControlName="org_email" autocomplete="off">
                  <mat-error *ngIf="f['org_email']?.touched && f['org_email']?.invalid">
                    <span *ngIf="f['org_email'].errors?.['required']">Email Id is required</span>
                    <span *ngIf="f['org_email'].errors?.['email']">Invalid email Id</span>
                  </mat-error>
                </mat-form-field>
              </div>
            
            <!-- Country -->
         
              <div class="col-sm-12 col-md-6 col-lg-3">
                <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                  <mat-label>Country <b class="r-star">*</b></mat-label>
                  <mat-select formControlName="org_country" (selectionChange)="getState($event.value)" autocomplete="off"
                  panelClass="custom-select-panel" [disableOptionCentering]="true">
                    <mat-option *ngFor="let country of country" [value]="country.name">
                      {{country.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="f['org_country']?.touched && f['org_country']?.invalid">
                    <span *ngIf="f['org_country'].errors?.['required']">Country is required</span>
                  </mat-error>
                </mat-form-field>
              </div>
            
    
            <!-- State -->
           
              <div class="col-sm-12 col-md-6 col-lg-3">
                <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                  <mat-label>State <b class="r-star">*</b></mat-label>
                  <mat-select formControlName="org_state" (selectionChange)="getCity($event.value)" autocomplete="off" [attr.disabled]="!f['org_country']?.value" [ngbTooltip]="!f['org_country']?.value ? 'Please select country' :''" 
                  panelClass="custom-select-panel" [disableOptionCentering]="true">
                    <mat-option *ngFor="let state of state" [value]="state.name">
                      {{state.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="f['org_state']?.touched && f['org_state']?.invalid">
                    <span *ngIf="f['org_state'].errors?.['required']">State is required</span>
                  </mat-error>
                </mat-form-field>
              </div>
           
            <!-- City -->
           
            <div class="col-sm-12 col-md-6 col-lg-3">
              <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                <mat-label>City <b class="r-star">*</b></mat-label>
                <mat-select formControlName="org_city" autocomplete="off" 
                            [ngbTooltip]="!f['org_state']?.value ? 'Please select state' :''"  
                            [attr.disabled]="!f['org_state']?.value"
                            panelClass="custom-select-panel" [disableOptionCentering]="true">
                  <mat-option *ngFor="let city of city" [value]="city.name">{{city.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="f['org_city']?.touched && f['org_city']?.invalid">
                  <span *ngIf="f['org_city'].errors?.['required']">City is required</span>
                </mat-error>
              </mat-form-field>
            </div>
            
            <!-- Address -->
            
              <div class="col-sm-12 col-md-6 col-lg-3">
                <mat-form-field appearance="outline" class="w-100 custom-mat-form-field" >
                  <mat-label>Postal code </mat-label>
                  <input matInput type="number" onkeydown="return event.keyCode !== 69" onKeyPress="if(this.value.length==6) return false;" formControlName="org_postal_code" placeholder="Enter postal code" autocomplete="off">
                  <mat-error *ngIf="f['org_postal_code'].errors?.['pattern']">
                    Postal code must be 6 digits
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
    
            <!-- Postal Code -->
            <div class="row"> 
             
              <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field appearance="outline" class="w-100 custom-mat-form-field" >
                  <mat-label>Address</mat-label>
                  <textarea matInput formControlName="org_address" placeholder="Enter your address here..." autocomplete="off"></textarea>
                  <mat-error *ngIf="f['org_address']?.touched && f['org_name']?.invalid">
                    
                    <span *ngIf="f['org_address'].errors?.['pattern']">Cannot start with a space.</span>
                  </mat-error>
                </mat-form-field>
              </div>
            
            <!-- Company Logo -->
           
              <div class="col-sm-12 col-md-6 col-lg-3" >
                  <div class="select-img-div"  *ngIf="!fileDataUrl">
                    
                      <button type="button" mat-button class="choose-file"  (click)="triggerFileInput()">Choose Photo</button>
                      <mat-label>Photo<b class="r-star">*</b></mat-label>
                      
                  </div>
                  <input type="file" accept="image/*" formControlName="org_logo" #fileInput (change)="uploadImageFile($event)" hidden>
                   
                      <div *ngIf="fileDataUrl" class="image-container" >
                        <img id="imagePreview" [src]="fileDataUrl" alt="Image Preview" >
                        <button type="button" mat-icon-button (click)="triggerFileInput()" style="top: -15px;right: 35px;">
                          <mat-icon class="img-clear">autorenew</mat-icon>
                        </button>
                        <div class="img-container-label" >Photo<b class="r-star">*</b></div>
                      </div>
                    
                
                  <div *ngIf="f['org_logo']?.touched && f['org_logo']?.invalid">
                    <span *ngIf="f['org_logo'].errors?.['required']" class="error-msg">Logo is required</span>
                    <span *ngIf="f['org_logo'].errors?.['accept']" class="error-msg">Invalid file format. Only .jpg, .jpeg, .png formats are allowed.</span>
                  </div>
                  
              </div> 
            </div>
          </div>
    
        
        </div>
      </form>
        <h5><b>Create Admin</b></h5>
        <h6>Create Multiple Admin</h6>
        
        <form [formGroup]="adminForm">
        <div class="row">
          <div class="col-11">
            <div class="row-container" >
              
              <div class="column">
                
              <input type="text" matInput formControlName="admin_name" placeholder="Admin Name"  autocomplete="off"/>
                <div *ngIf="a['admin_name']?.touched && a['admin_name']?.invalid"
                class="error-text">
                <span
                    *ngIf="a['admin_name']?.errors && a['admin_name']?.errors['required']">Admin
                     name is required
                </span>
                <span *ngIf="a['admin_name']?.errors?.['pattern']">
                  Invalid name. Only letters are allowed, and the name must start with a letter.
                </span>
            </div>
            <div *ngIf="a['admin_name']?.invalid && a['admin_name']?.hasError('pattern')"
                class="error-text">
                <span>Cannot start with a space.</span>
            </div>
         
              </div>
              <div class="column">
                <input type="email" matInput formControlName="admin_email" placeholder="Email"  autocomplete="off"/> 
                <div *ngIf="a['admin_email']?.touched && a['admin_email']?.invalid"
                class="error-text">
                <span
                    *ngIf="a['admin_email']?.invalid && a['admin_email']?.errors['email']">Invalid
                    email Id </span>
                <span
                    *ngIf="a['admin_email']?.invalid && a['admin_email']?.errors['required']">Email
                    Id is required</span>
                </div>
              <!-- </mat-form-field> -->
  
              </div>
              <div class="column">
                <input type="tel" matInput formControlName="admin_phone_number" placeholder="Phone Number"  autocomplete="off"/>
               
                <div *ngIf="a['admin_phone_number']?.touched && a['admin_phone_number']?.invalid"
                class="error-text">
                <span
                    *ngIf="a['admin_phone_number']?.invalid && a['admin_phone_number']?.errors['required']">Phone
                    number is required
                </span>
                <span
                    *ngIf="a['admin_phone_number']?.invalid && a['admin_phone_number']?.hasError('phoneNumberLength')"
                    >Please enter 10 digits
                </span>
              </div>
                
              </div>
                 
              <div class="column">
                
                <mat-slide-toggle formControlName="admin_status" >
                  {{ a['admin_status']?.value ? 'Active' : 'Inactive' }}
                </mat-slide-toggle>
                <div *ngIf="a['admin_status']?.touched && a['admin_status']?.invalid" class="error-text" style="top:33px">
                  <span *ngIf="f['admin_status']?.errors['required']">Status is required</span>
              </div>
            
              </div>
            </div>
          </div>
          <div class="col-1 d-flex" (click)="addAdmin()">
            <button mat-icon-button class="admin-action-btn">
            <i class="bi bi-plus-circle"></i>
          </button></div>
          
        </div>
      </form>
        
     <!-- Display the list of added admins -->
       
     
        <ng-container *ngFor="let admin of adminList; let i = index">
          <div class="row mt-4" [formGroup]="getAdminFormGroup(i)">
            <div class="col-11">
              <div class="row-container2">
                <div class="column py-2">
                  <input matInput formControlName="admin_name" placeholder="First Name" class="w-100">
                  <div *ngIf="getAdminFormGroup(i)?.get('admin_name').touched && getAdminFormGroup(i)?.get('admin_name').invalid"
                  class="error-text">
                  <span
                      *ngIf="getAdminFormGroup(i)?.get('admin_name').hasError('required')">
                      Admin name is required
                  </span>
                  <span *ngIf="getAdminFormGroup(i)?.get('admin_name').hasError('pattern')">
                    Invalid name.
                  </span>
              </div>
                </div>
                <div class="column py-2">
                  <input matInput formControlName="admin_email" placeholder="First Name" class="w-100">
                  <mat-error class="error-text" *ngIf="getAdminFormGroup(i)?.get('admin_email').hasError('required') && getAdminFormGroup(i)?.get('admin_email').touched">
                    Email is required
                  </mat-error>
                  <mat-error class="error-text" *ngIf="getAdminFormGroup(i)?.get('admin_email').hasError('email') && getAdminFormGroup(i)?.get('admin_email').touched">
                    Invalid email Id . 
                  </mat-error>
                </div>
                <div class="column py-2">
                  <input type="tel" matInput formControlName="admin_phone_number" placeholder="Phone Number" class="w-100">
                  
                  <div *ngIf="getAdminFormGroup(i)?.get('admin_phone_number').touched && getAdminFormGroup(i)?.get('admin_phone_number').invalid"
                  class="error-text">
                  <div
                      *ngIf="getAdminFormGroup(i)?.get('admin_phone_number').hasError('required')">Phone
                      number is required
                  </div>
                  <div *ngIf="getAdminFormGroup(i)?.get('admin_phone_number').touched && getAdminFormGroup(i)?.get('admin_phone_number')?.hasError('phoneNumberLength')">
                    Please enter 10 digits
                  </div>
                  </div>
                  
                </div>
                <div class="column py-2">
                  <mat-slide-toggle formControlName="admin_status" >
                    {{ getAdminFormGroup(i)?.get('admin_status').value ? 'Active' : 'Inactive' }}
                  </mat-slide-toggle>
                </div>
                
              </div>
            </div>
           
            <div class="col-1 d-flex justify-content-left align-items-center">
            <button mat-icon-button  [matMenuTriggerFor]="menu" class="admin-action-btn">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            </div>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="saveAdmin(i)"> <i class="bi bi-plus-circle-fill me-2" (click)="saveAdmin(i)"></i> Save</button>
              <button mat-menu-item (click)="deleteAdmin(i)"><i class="bi bi-trash me-2"></i> Delete</button>
            </mat-menu>
            
         
          </div>
        </ng-container>
        
        
       
        <!-- Submit Button -->
        <div class="row">
          <div class="col-12 py-4">
            <button type="button" mat-raised-button class="proceedbtn" color="primary" (click)="organizationSubmit()">Submit</button>
          </div>
        </div>
      <!-- </mat-card> -->
      
    </div>
  </div> 
  