<div class="page px-2 pb-3 m-2">
    <div class="page-content">
        <div class="panel">
            <div class="panel-body">
                <div id="accessibilitydetailstable">
                    <!-- <span class="user-role">ROLE : {{userRole}}</span> -->
                    <span class="checkbox-custom checkbox-primary" style="float:right">
                        <input class="selectable-all" type="checkbox" [(ngModel)]="checkAll"
                            (change)="checkAllOptions()">
                        <label>Select All</label>
                    </span>

                    <form>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Menu</th>
                                    <th>View</th>
                                    <th>Add</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of data">
                                    <td>{{item.names}}</td>
                                    <td *ngFor="let items of item.review">
                                        <div class="checkbox-custom checkbox-primary" style="text-align: inherit;">
                                            <input type="checkbox" class="minimal" [name]="items.names" id="permission"
                                                [value]="items.value" [(ngModel)]="items.checked"
                                                (change)="singleSelection(items.checked,items.arrnames,0)">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="update-btn">
                            <button mat-raised-button type="submit"
                                class="btn proceedbtn text-white waves-effect waves-classic" id="btnSubmit"
                                style="display:show" (click)="UPDATE()">Update</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>