<div class="container-fluid" style="padding: 0px;">
    <div class="row">
        <div class="col-md-12 mb-4">
            <!-- Nav tabs -->
            <tabset>
              <tab heading="Yet to be Approved">
                <app-yet-to-approve></app-yet-to-approve>
              </tab>
              <tab heading="Approved Timesheets">
                <app-approved [data]="list"></app-approved>
              </tab>
              <tab heading="Declined Timesheets">
                <app-decline></app-decline>
              </tab>
              <tab heading="Flagged Timesheets">
                <app-flagged></app-flagged>
              </tab>
            </tabset>
          </div>
    </div>
</div>
