<div class="container-fluid webView">
    <!-- <div class="row">
        <div class="col-sm-6">
            <h1>Update tag</h1>
        </div>
        <div class="col-sm"></div>
        <div class="col-sm-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/dashboards">Home</a></li>
                  <li class="breadcrumb-item">Update tag</li>
                  
                </ol>
              </nav>
        </div>
        
    </div> -->
    <div class="generic-form bg mx-1">
       <form [formGroup]='updateForm' (ngSubmit)='update()' >
        <div class="row">
            <div class="col-sm-6">
                <h4>Tag details</h4>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <p>Tag name  <span >*</span></p> 
                <input type="text" class="form-control p-3 sizeinput" formControlName="tag_name" placeholder="Enter tag name" aria-describedby="emailHelp"  autocomplete="off">
                <div *ngIf="f['tag_name'].touched && f['tag_name'].invalid" >
                    <div *ngIf="f['tag_name'].errors && f['tag_name'].errors['required']" ><p class="error-msg">Tag name is required</p></div>
                </div>
                <div *ngIf="f['tag_name'].touched && f['tag_name'].hasError('pattern')" >
                    <p class="error-msg">Tag name cannot contain spaces,numbers and special characters.</p>
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>Status <span >*</span></p> 
                <select formControlName="tage_status" class="form-select p-3 sizeinput">
                    <option value="" selected disabled>Select status</option>
                    <option value="Active" >Active</option>
                    <option value="Inactive">Inactive</option>
                    </select>
                <div *ngIf="f['tage_status'].touched && f['tage_status'].invalid" >
                    <div *ngIf="f['tage_status'].errors && f['tage_status'].errors['required'] " ><p class="error-msg">Status is required</p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-sm-3">
                <p><i class="bi bi-newspaper"></i>Note: <span>*</span>Mandatory fields</p>
            </div>
            <div class="col-sm"></div> -->
            <div class="col-sm-2">
                <button mat-raised-button class="proceedbtn mat-btn-s" type="submit">Update</button>
            </div>
        </div>
       </form>
       
    </div>
   
</div>

<div class="container-fluid mobileView">
    <div class="row mx-1 my-2">
        <div class="col-sm-12">
            <h1><i  class="bi bi-arrow-left" (click)="goBack($event)
  
  "></i> Update tag</h1>
        </div>
      
    </div>
    <div class="generic-form bg mx-1">
       <form [formGroup]='updateForm' (ngSubmit)='update()' >
        <div class="row">
            <div class="col-sm-6">
                <h4>Tag details</h4>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <p>Tag name  <span >*</span></p> 
                <input type="text" class="form-control p-3 sizeinput" formControlName="tag_name" placeholder="Enter tag name" aria-describedby="emailHelp"  autocomplete="off">
                <div *ngIf="f['tag_name'].touched && f['tag_name'].invalid" >
                    <div *ngIf="f['tag_name'].errors && f['tag_name'].errors['required']" ><p class="error-msg">Tag name is required</p></div>
                </div>
                <div *ngIf="f['tag_name'].touched && f['tag_name'].hasError('pattern')" >
                    <p class="error-msg">Tag name cannot contain spaces,numbers and special characters.</p>
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>Status <span >*</span></p> 
                <select formControlName="tage_status" class="form-select p-3 sizeinput">
                    <option value="" selected disabled>Select status</option>
                    <option value="Active" >Active</option>
                    <option value="Inactive">Inactive</option>
                    </select>
                <div *ngIf="f['tage_status'].touched && f['tage_status'].invalid" >
                    <div *ngIf="f['tage_status'].errors && f['tage_status'].errors['required'] " ><p class="error-msg">Status is required</p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-sm-3">
                <p><i class="bi bi-newspaper"></i>Note: <span>*</span>Mandatory fields</p>
            </div>
            <div class="col-sm"></div> -->
            <div class="col-sm-2">
                <button mat-raised-button class="proceedbtn mat-btn-s" type="submit">Update</button>
            </div>
        </div>
       </form>
       
    </div>
   
</div>


