<div class="container-wrapper webView">
    <!-- <div class="row">
        <div class="col-sm-6">
            <h1>Client list</h1>
        </div>
        <div class="col-sm"></div>
        <div class="col-sm-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/dashboards">Home</a></li>
                  <li class="breadcrumb-item">Client list</li>
                  
                </ol>
              </nav>
        </div>
        
    </div> -->
    <div class="row pb-3">
        <div class="col-sm-4 search-div">
          <input type="search" (input)="filterSearch()" class="form-control p-2 sizeinput" [(ngModel)]="term"
            placeholder="Search by client name" aria-describedby="emailHelp" autocomplete="off">
          <i class="bi bi-search" id="search-icon-tab" (click)="filterSearch()"></i>
        </div>
        <div class="col-sm"></div>
        <div class="col-md-3 col-lg-3 p-1 text-end create-buttons">
          <button mat-raised-button class="proceedbtn mat-btn-s" routerLink="/client/create" type="submit">
            <mat-icon>add</mat-icon>Create Clients</button>
    
        </div>
      </div>    
    <!-- <div class="row p-20">
            
          
            <div class="col-sm-4 search-div px-0">
                <input type="text" class="form-control p-2 sizeinput" [(ngModel)]="term" placeholder="Search by client name/contact person" aria-describedby="emailHelp"  autocomplete="off">
                <i class="bi bi-search" id="search-icon-tab" (click)="filterSearch()"></i>     
            </div>
            <div class="col-sm"></div>
            <div class="col-md-4 col-lg-3 text-center align-self-center">
                <div class="d-flex justify-content-center pg-bg">
                  <button *ngFor="let size of tableSizes" class="page-size-btn" [value]="size" (click)="onTableSizeChange($event)" [ngClass]="{'active-size': tableSize === size}"
                >{{size}}</button>
                </div>
                        </div>
        </div> -->
        <div class="bg">
        <div class="row">
            <div class="col px-0">
                <table class="table table-hover table-list">
                    <thead>
                        <tr>
                          <th scope="col">S.No</th>
                          <th scope="col">Client Name
                             <i *ngIf="!arrowState['c_name']" (click)="sort('asc','c_name')" class="bi bi-arrow-up"></i>
                             <i (click)="sort('desc','c_name')" *ngIf="arrowState['c_name']" class="bi bi-arrow-down"></i>
                             </th>
                          <!-- <th scope="col">Code <i  *ngIf="!arrow" (click)="sort('asc','c_code')" class="bi bi-arrow-up"></i><i (click)="sort('desc','c_code')" *ngIf="arrow" class="bi bi-arrow-down"></i></th> -->
                          <!-- <th scope="col">Industry <i  *ngIf="!arrow" (click)="sort('asc','toi_ref_id')" class="bi bi-arrow-up"></i><i (click)="sort('desc','toi_ref_id')" *ngIf="arrow" class="bi bi-arrow-down"></i></th> -->
                          <!-- <th scope="col">Type <i  *ngIf="!arrow" (click)="sort('asc','c_type')" class="bi bi-arrow-up"></i><i (click)="sort('desc','c_type')" *ngIf="arrow" class="bi bi-arrow-down"></i></th> -->
                          <th scope="col">Contact Person 
                            <i *ngIf="!arrowState['c_contact_person']" (click)="sort('asc','c_contact_person')" class="bi bi-arrow-up"></i>
                             <i (click)="sort('desc','c_contact_person')" *ngIf="arrowState['c_contact_person']" class="bi bi-arrow-down"></i>
                          </th>
                          <th scope="col">Reg. Date 
                            <i *ngIf="!arrowState['c_c_timestamp']" (click)="sort('asc','c_c_timestamp')" class="bi bi-arrow-up"></i>
                            <i (click)="sort('desc','c_c_timestamp')" *ngIf="arrowState['c_c_timestamp']" class="bi bi-arrow-down"></i>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngIf="(allClientList) as result"> 
                        <tr *ngFor='let item of result|paginate : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                          }|customSort:directionValue:sortValue; let i=index' [class.active]="i == currentIndex">
                            <td>{{getContinuousIndex(i)}}</td>
                            <td>{{item.c_name|titlecase}}</td>
                            <!-- <td>{{item.c_code|titlecase}}</td> -->
                            <!-- <td>{{item.toi_ref_id}}</td> -->
                            <!-- <td>{{item.c_type}}</td> -->
                            <td>{{item.c_contact_person|titlecase}}</td>
                            <!-- <td>{{item.project ? item.project :"NA"}}</td> -->
                            <td>{{item.c_c_timestamp | date:'mediumDate'}}</td>
                            
                            <td>
                                <!-- <ng-container *ngFor="let access of permissions">
                                    <button mat-mini-fab  routerLink="/client/update/{{item.id}}/{{page}}/{{tableSize}}" *ngIf="access === 'UPDATE'">
                                      <i class="bi bi-pencil-square"  container="body" ngbTooltip="Edit" style="color: #000; font-size: 24px;"></i>
                                    </button>
                                    <button mat-mini-fab   (click)="open(item.id)" *ngIf="access === 'DELETE'">
                                      <i class="bi bi-trash" style="color: red;" container="body" ngbTooltip="Delete"></i>
                                    </button>
                                  </ng-container>   -->
                                  <ng-container *ngFor="let access of permissions">
                                    <img src="../../../../assets/images/Edit.svg" class="icon-image"  *ngIf="access === 'UPDATE'" routerLink="/client/update/{{item.id}}/{{page}}/{{tableSize}}" container="body" ngbTooltip="Edit" />
                                    <img src="../../../../assets/images/Delete.svg" class="icon-image" *ngIf="access === 'DELETE'" container="body" ngbTooltip="Delete" (click)="open(item.id)"/>
                                   
                                </ng-container>
                             </td>
                        </tr>
                        <div *ngIf="result.length === 0" class="nodata">
                            <p style="width: 100%;"> No records found! </p>
                          </div>
                        </ng-container>
                      </tbody>
                  </table>
            </div>
        </div>
       
    </div>
    <!-- <div class="row">
           
        <div class="col-sm"></div>
        <div class="col-sm-12">
            <div class="d-flex justify-content-center p-nav">
                <pagination-controls 
                  previousLabel="Prev" 
                  nextLabel="Next" 
                  (pageChange)="onTableDataChange($event)">
                </pagination-controls>
              </div>
        </div>
    </div> -->
    <div class="pagination-container p-0 pt-2">
      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
      </pagination-controls>
      <div class="items-per-page-container">
        <div>Items per page</div>
        <mat-select [(ngModel)]="tableSize" (selectionChange)="onTableSizeChange($event)" placeholder="10" class="page-size">
          <mat-option *ngFor="let size of tableSizes" [value]="size">{{size}}</mat-option>
        </mat-select>
      </div>
    </div>
 <!-- <ng-container *ngFor="let access of permissions">
    <button mat-fab color="primary" *ngIf="access == 'CREATE'" routerLink="/client/create" class="createbtn" placement="top" container="body" ngbTooltip="Add client">
      <i class="fa fa-plus"></i>
  
    </button>
  </ng-container> -->
    <!-- <a routerLink="/client/create"> <button type="button"  class="createbtn" placement="top" container="body" ngbTooltip="Add Client"><i class="fa fa-plus"></i>
  </button></a> -->
</div>

<div class="container-wrapper mobileView">
    <div class="row mx-1 my-2">
        <div class="col-sm-6">
            <!-- <h1>Client list</h1> -->
        </div>
        <div class="col-sm-6 col-md-6 mb-1 search-div px-0">
            <input type="text" class="form-control py-3 px-4" [(ngModel)]="term" placeholder="Search by client name/contact person" aria-describedby="emailHelp"  autocomplete="off">
            <i class="bi bi-search" id="search-icon" (click)="filterSearch()"></i>
        </div>
    </div>
    <div class="bg">
        <div class="row">
            <ng-container *ngIf="(allClientList) as result"> 
            <div class="col-sm-12 col-md-6 c-m main-col" *ngFor='let item of result | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              }'>  
                <div class="card p-3" >
                    <div class="row">
                        <div class="col-6 b-b">
                            <h6 class="card-subtitle"><i class="bi bi-person-circle"></i> Client name</h6>
                            <div class="value-container">{{item.c_name |titlecase}}</div>
                        </div>
                        <div class="col-6 p-2 text-end">
                        <ng-container *ngFor="let access of permissions">
                         <a *ngIf="access == 'UPDATE'"> <button type="button" class="toolbar-btn"   (click)='editCard(item.id)'  ><i class="bi bi-pencil-square" style="color: #000; font-size: 24px;" ></i></button></a>
                         <a *ngIf="access == 'DELETE'"> <button type="button" class="toolbar-btn"   (click)="open(item.id)"  ><i class="bi bi-trash" style="color: red; font-size: 24px;"></i></button></a>
                        </ng-container>
                        </div>
                        </div>
                    <!-- <div class="row">
                        <div class="col-12 b-b">
                            <h6 class="card-subtitle"><i class="bi bi-person-circle"></i> Client name</h6>
                            <div class="value-container">{{item.c_name}}</div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-6">
                            <h6 class="card-subtitle"><i class="bi bi-calendar-week"></i> Reg. date</h6>
                            <div class="value-container">{{item.c_c_timestamp | date:'mediumDate'}}</div>
                        </div>
                        <div class="col-6">
                             <h6 class="card-subtitle"><i class="bi bi-person-rolodex"></i> Contact person</h6>
                            <div class="value-container">{{item.c_contact_person|titlecase}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="col-6">
                            <h6 class="card-subtitle"><i class="bi bi-upc-scan"></i> Industry</h6>
                            <div class="value-container">{{item.toi_ref_id}}</div>
                        </div> -->
                        <!-- <div class="col-6">
                            <h6 class="card-subtitle"><i class="bi bi-person-rolodex"></i> Contact person</h6>
                            <div class="value-container">{{item.c_contact_person|titlecase}}</div>
                        </div> -->
                    </div>
              
                </div>
            </div>
            <div *ngIf="result.length === 0" >
            <app-generic-norecards></app-generic-norecards>
            </div>
            </ng-container>
        </div>
    </div>
    <!-- <div class="row mobile-pagination" *ngIf="allClientList.length !== 0">
        <div class="col-sm-12" >
            <div class="mobile-pagination-content">
               
                <pagination-controls 
                  previousLabel="Prev" 
                  nextLabel="Next" 
                  (pageChange)="onTableDataChange($event)">
                </pagination-controls>
               <div><button *ngFor="let size of tableSizes" class="page-size-btn" [value]="size" (click)="onTableSizeChange($event)" [ngClass]="{'active-size': tableSize === size}"
                >{{size}}</button></div>
              </div>
        </div>
    </div> -->
    <div class="pagination-container p-0 pt-2">
      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
      </pagination-controls>
      <div class="items-per-page-container">
        <div>Items per page</div>
        <mat-select [(ngModel)]="tableSize" (selectionChange)="onTableSizeChange($event)" placeholder="10" class="page-size">
          <mat-option *ngFor="let size of tableSizes" [value]="size">{{size}}</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="s-position">
        <ng-container *ngFor="let access of permissions">
        <button *ngIf="access == 'CREATE'"  routerLink="/client/create" type="button" mat-fab class="createbtn-new" ><i class="fa fa-plus"></i>
         </button>
        </ng-container>
    </div>
</div>





