<div class="container-fluid webView  p-20">
    <div class="generic-form bg mx-2">
        <form [formGroup]='taskCategoryForm' (ngSubmit)='update()'>
            <div class="row update-project-template">
                <div class="col-12">
                    <div class="py-3">
                        <h5 class="py-1"><b>Project Template</b></h5>
                        <!-- <p>Let's create the project template details!</p> -->
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-7 mb-3">
                            <div class="row">
                                <div class="col-12 mb-4">
                                    <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                        <mat-label>Template Name <b class="r-star">*</b></mat-label>
                                        <input matInput placeholder="Enter template name"
                                            formControlName="category_name" autocomplete="off"
                                            pattern="^(?!\s)(.*\S)?$">
                                    </mat-form-field>
                                    <div class="px-2"
                                        *ngIf="f['category_name']?.touched && f['category_name']?.invalid">
                                        <span class="text-errors"
                                            *ngIf="f['category_name'].errors && f['category_name'].errors['required'] ">Template
                                            name is
                                            required</span>
                                        <span class="text-errors"
                                            *ngIf="f['category_name'].invalid && f['category_name'].hasError('pattern')">
                                            Please remove extra space.
                                        </span>
                                        <span class="text-errors"
                                            *ngIf="!f['category_name'].errors?.['required'] && f['category_name'].errors?.['maxlength']">
                                            Template name cannot exceed more than 50 characters.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row px-3 gx-0 task-border">
                                <div class="col-6 ">
                                    <div class="py-3">
                                        <h5 class="py-1"><b>Add Tasks</b></h5>
                                        <p>Create multiple tasks</p>
                                    </div>
                                </div>
                                <!-- Valid -->
                                <div class="col-6 text-end align-content-center"
                                    *ngIf="taskCategoryForm.get('projectcategory_task').valid">
                                    <div *ngIf="taskCategoryForm.get('projectcategory_task').valid">
                                        <button mat-icon-button type="button" class="proceedbtn" color="primary"
                                            (click)="addRow()"
                                            [disabled]="taskCategoryForm.get('projectcategory_task').invalid">
                                            <mat-icon>add</mat-icon>Add Tasks
                                        </button>
                                    </div>
                                </div>
                                <!-- invalid -->
                                <div class="col-6 text-end align-content-center invalid-button"
                                    *ngIf="taskCategoryForm.get('projectcategory_task').invalid">
                                    <div *ngIf="taskCategoryForm.get('projectcategory_task').invalid">
                                        <button mat-icon-button type="button" class="proceedbtn" color="primary"
                                            disabled>
                                            <mat-icon>add</mat-icon>Add Tasks
                                        </button>
                                    </div>
                                </div>
                                <div class="col-12" formArrayName="projectcategory_task">
                                    <div class="" *ngFor="let task of dynamicArray.controls; let i = index;">
                                        <div [formGroupName]="i" class="row">
                                            <div class="col-sm-12 col-md-6 col-lg-9 mb-3">
                                                <div class="input-group">
                                                    <span class="input-group-text" style="background-color: #F4F4F4;"
                                                        id="basic-addon1">#{{i+1}}</span>
                                                    <textarea type="text" [formControlName]="'task_name'"
                                                        pattern="^(?!\s)(.*\S)?$" autocomplete="off"
                                                        [readonly]="task.value.edit_icon" class="form-control w-75"
                                                        placeholder="Enter task name" rows="1"
                                                        [ngStyle]="{'background-color': task.value.edit_icon ? '#F4F4F4' : 'white'}"></textarea>
                                                </div>
                                                <!-- <mat-form-field appearance="outline" class="w-100 custom-mat-form-field"
                                                [ngClass]="{'disabled-bg': task.value.edit_icon}">
                                                    <mat-label>Enter Task Name <b class="r-star">*</b></mat-label>
                                                    <input matInput placeholder="Enter task name"
                                                        [formControlName]="'task_name'" autocomplete="off"
                                                        (input)="taskFieldEntering($event,i)"
                                                        [readonly]="task.value.edit_icon">
                                                </mat-form-field> -->
                                                <div class="px-2"
                                                    *ngIf="task.get('task_name').invalid && (task.get('task_name').dirty || task.get('task_name').touched)">
                                                    <span class="text-errors"
                                                        *ngIf=" dynamicArray.controls[i]?.get('task_name')?.errors?.['required']">
                                                        Task name is required.
                                                    </span>
                                                    <span class="text-errors"
                                                        *ngIf="task.get('task_name').invalid && task.get('task_name').hasError('pattern')">
                                                        Please remove extra space.
                                                    </span>
                                                    <span class="text-errors"
                                                        *ngIf="task.get('task_name').hasError('maxlength')">
                                                        Task name cannot exceed more than 150 characters.
                                                    </span>
                                                </div>
                                            </div>

                                            <div
                                                class="col-sm-12 col-md-6 col-lg-3 mb-3 d-flex ps-4 align-items-center">
                                                <i class="bi bi-check-lg me-1 icon-bg" *ngIf="!task.value.is_saved"
                                                    container="body" style="color:#50C20D;" (click)="save(i)"
                                                    ngbTooltip="Save"></i>
                                                <i class="bi bi-x-circle icon-bg" container="body"
                                                    *ngIf="!task.value.is_saved && task.value.is_cancelled"
                                                    style="color:#126EB4;margin-right: 5px;" ngbTooltip="Cancel"
                                                    (click)="cancelEdit(i)"></i>
                                                <i class="bi bi-pencil-square me-1 icon-bg" *ngIf="task.value.is_saved"
                                                    container="body" style="color:#367ab7;" (click)="editTask(i)"
                                                    ngbTooltip="Edit"></i>
                                                <i class="bi bi-trash icon-bg"
                                                    *ngIf="!task.value.is_saved && dynamicArray.length!=1"
                                                    container="body" style="color:red;"
                                                    (click)="openDeleteConfirmation(i)" ngbTooltip="Delete"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div>
                                        <button type="submit" mat-raised-button class="proceedbtn"
                                            color="primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </form>
    </div>
</div>


<div class="container-fluid mobileView">
    <div class="generic-form bg mx-2 gx-0">
        <form [formGroup]='taskCategoryForm' (ngSubmit)='update()'>
            <div class="row update-project-template">
                <div class="col-12">
                    <div class="py-3">
                        <h5 class="py-1"><b>Project Template</b></h5>
                        <!-- <p>Let's create the project template details!</p> -->
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Template Name <b class="r-star">*</b></mat-label>
                                <input matInput placeholder="Enter template name" formControlName="category_name"
                                    autocomplete="off" pattern="^(?!\s)(.*\S)?$">
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['category_name']?.touched && f['category_name']?.invalid">
                                <span class="text-errors"
                                    *ngIf="f['category_name'].errors && f['category_name'].errors['required'] ">Template
                                    name is
                                    required</span>
                                <span class="text-errors"
                                    *ngIf="f['category_name'].invalid && f['category_name'].hasError('pattern')">
                                    Please remove extra space.
                                </span>
                                <span class="text-errors"
                                    *ngIf="!f['category_name'].errors?.['required'] && f['category_name'].errors?.['maxlength']">
                                    Template name cannot exceed more than 50 characters.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row px-3 gx-0 task-border">
                        <div class="col-12 ">
                            <div class="py-3">
                                <h5 class="py-1"><b>Add Tasks</b></h5>
                                <p>Create multiple tasks</p>
                            </div>
                        </div>
                        <!-- Valid -->
                        <div class="col-12 mb-3 align-content-center"
                            *ngIf="taskCategoryForm.get('projectcategory_task').valid">
                            <div *ngIf="taskCategoryForm.get('projectcategory_task').valid">
                                <button mat-icon-button type="button" class="proceedbtn" color="primary"
                                    (click)="addRow()"
                                    [disabled]="taskCategoryForm.get('projectcategory_task').invalid">
                                    <mat-icon>add</mat-icon>Add Tasks
                                </button>
                            </div>
                        </div>
                        <!-- invalid -->
                        <div class="col-12 mb-3 align-content-center invalid-button"
                            *ngIf="taskCategoryForm.get('projectcategory_task').invalid">
                            <div *ngIf="taskCategoryForm.get('projectcategory_task').invalid">
                                <button mat-icon-button type="button" class="proceedbtn" color="primary" disabled>
                                    <mat-icon>add</mat-icon>Add Tasks
                                </button>
                            </div>
                        </div>
                        <div class="col-12" formArrayName="projectcategory_task">
                            <div class="" *ngFor="let task of dynamicArray.controls; let i = index;">
                                <div [formGroupName]="i" class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-9 mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text" style="background-color: #F4F4F4;"
                                                id="basic-addon1">#{{i+1}}</span>
                                            <textarea type="text" [formControlName]="'task_name'" autocomplete="off"
                                                class="form-control w-75" pattern="^(?!\s)(.*\S)?$"
                                                placeholder="Enter task name" [readonly]="task.value.edit_icon" rows="1"
                                                [ngStyle]="{'background-color': task.value.edit_icon ? '#F4F4F4' : 'white'}"></textarea>
                                        </div>
                                        <div class="px-2"
                                            *ngIf="task.get('task_name').invalid && (task.get('task_name').dirty || task.get('task_name').touched)">
                                            <span class="text-errors"
                                                *ngIf=" dynamicArray.controls[i]?.get('task_name')?.errors?.['required']">
                                                Task name is required.
                                            </span>
                                            <span class="text-errors"
                                                *ngIf="task.get('task_name').invalid && task.get('task_name').hasError('pattern')">
                                                Please remove extra space.
                                            </span>
                                            <span class="text-errors"
                                                *ngIf="task.get('task_name').hasError('maxlength')">
                                                Task name cannot exceed more than 150 characters.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3 d-flex align-items-center">
                                        <i class="bi bi-check-lg me-1 icon-bg" *ngIf="!task.value.is_saved"
                                            container="body" style="color:#50C20D;" (click)="save(i)"
                                            ngbTooltip="Save"></i>
                                        <i class="bi bi-x-circle icon-bg" container="body"
                                            *ngIf="!task.value.is_saved && task.value.is_cancelled"
                                            style="color:#126EB4;margin-right: 5px;" ngbTooltip="Cancel"
                                            (click)="cancelEdit(i)"></i>
                                        <i class="bi bi-pencil-square me-1 icon-bg" *ngIf="task.value.is_saved"
                                            container="body" style="color:#367ab7;" (click)="editTask(i)"
                                            ngbTooltip="Edit"></i>
                                        <i class="bi bi-trash icon-bg"
                                            *ngIf="!task.value.is_saved && dynamicArray.length!=1" container="body"
                                            style="color:red;" (click)="openDeleteConfirmation(i)"
                                            ngbTooltip="Delete"></i>
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div>
                                <button type="submit" mat-raised-button class="proceedbtn" color="primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- code copied -->
</div>