<div class="container-fluid">
    <div class="modal-body custom-modal" >
        <h4 class="modal-title" ><img src="../../../../assets/images/megaphone.svg"/>Subscribe Now!</h4>
        <p>You are under free trial.To add multiple admins,please buy a plan</p>
    </div>
    <div class="modal-footer justify-content-center">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-12"><div calss="text-muted"style="font-size:10px !important">Your free trial ends in</div></div>
                    <div class="col-12"> <h4 class="remaing-days">{{'20 days'}}</h4></div>
                </div>
            </div>
            <div class="col">
                 <!-- <button mat-button type="button"  class="btn-cancel"  (click)="modalStatus('cancel')">BACK</button> -->
        <button mat-button type="button" class="btn-yes"  (click)="modalStatus('ok')" >BUY PLAN</button>
            </div>
        </div>
        
    </div>
</div>

