.s-w{
    width: 65px;
    padding: 5px;
}
.title-tag{
   text-transform: capitalize !important;
}
.modal-header{
    border-bottom: 0 !important;
}
.modal-footer{
    border-top: 0 !important;
    justify-content: center !important;
}
i{
    margin-right: 6px;
    color: #4f5d73;
    
}
p{
    font-size: 15px !important;
    color: #262525 !important;
}

.act-btn{
    height: 28px !important;
    width: 75px !important;
    margin: 5px;
    line-height: 0;
    border-radius: 0;
}
.modal-title{
    font-size: 18px;
}