<div class="container-fluid">
    <div class="modal-header" >
        <!-- <h4 class="modal-title" *ngIf="!message"><i class="bi bi-exclamation-triangle"></i> Delete</h4>
        <h4 class="modal-title" *ngIf="message"><i class="bi bi-exclamation-triangle" ></i>  {{message}}</h4> -->
        <button type="button" class="btn-close" aria-label="Close" (click)="modalStatus('cancel')"></button>
    </div>
    <div class="modal-body custom-modal" [ngClass]="title ? 'justify-content-center':''">
        <p class="title-icon"><i class="bi bi-exclamation-circle"></i></p>
        <h4 class="modal-title" *ngIf="!message"><i class="bi bi-exclamation-triangle"></i> Delete</h4>
        <h4 class="modal-title" *ngIf="message"> {{message}}</h4>
        <p *ngIf="!title"> Are you sure do you want to delete ?</p>
        <p *ngIf="title" >{{title}}?</p>
    </div>
    <div class="modal-footer" [ngClass]="title ? 'justify-content-center':''">
        <button type="button"  class="act-btn btn-cancel"  (click)="modalStatus('cancel')">Cancel</button>
        <button type="button" class="act-btn btn-yes" (click)="modalStatus('ok')">Yes</button>
    </div>
</div>

