<div class="container-fluid s-padd">

    <div class="container-middle p-20">
        <div class="row">
            <div class="col-12">
                <div style="padding: 12px;">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-3 cards-section">
                            <mat-card style="background: #E2F3FF;">
                                <h4 style="font-size: 20px !important;text-align: center;">{{cardData ?.total_count || 0}}</h4>
                                <h6 style="margin-bottom: 0;text-align: center;"><b>Total</b> </h6>
                            </mat-card>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-3 cards-section">
                           
                            <mat-card style="background: #E4FFE3;">
                                <h4 style="font-size: 20px !important;text-align: center;">{{cardData?.approved_count || 0}}</h4>
                                <h6 style="margin-bottom: 0;text-align: center;"><b>Approved</b> </h6>
                            </mat-card>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-3 cards-section">
                            <mat-card style="background: #FFFBE3;">
                               
                            <h4 style="font-size: 20px !important;text-align: center;">{{cardData ?.request_count || 0}}</h4>
                        
                            <h6 style="margin-bottom: 0;text-align: center;"><b>Pending</b></h6>
                        
                    
                            </mat-card>
                            <!--/.col-->

                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-3 cards-section">
                            <mat-card style="background: #FFE3E3;">
                                <h4 style="font-size: 20px !important;text-align: center;">{{cardData ?.declined_count || 0}}</h4>
                                <h6 style="margin-bottom: 0;text-align: center"><b>Declined</b></h6>
                            </mat-card>
                        </div>
                       
                    </div>
                </div>
                <div class="card dt-card">

                    <form [formGroup]="timeSheetForm">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>From date <b class="r-star">*</b></mat-label>
                                    <input matInput [matDatepicker]="fromDatePicker" formControlName="from_date"
                                        (dateChange)="changeFormat();dateModified()">
                                    <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #fromDatePicker></mat-datepicker>
                                    <mat-error *ngIf="f['from_date'].touched && f['from_date'].invalid">
                                        From date is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-4 col-md-4 col-lg-3">
                                <mat-form-field appearance="outline" class="w-100" [attr.disabled]="!timeSheetForm.value.from_date">
                                    <mat-label>To date <b class="r-star">*</b></mat-label>
                                    <input matInput [matDatepicker]="toDatePicker" formControlName="to_date"
                                        [min]="timeSheetForm.value?.from_date" >
                                    <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #toDatePicker></mat-datepicker>
                                    <mat-error *ngIf="f['to_date'].touched && f['to_date'].invalid">
                                        To date is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-2 col-md-1 col-lg-1 d-flex align-items-center p-0">
                              
                                <img src="../../../../assets/images/Go.svg" class="icon-submit-btn" ngbTooltip="Submit" (click)="submit()" />
                               
                                <img src="../../../../assets/images/refresh.svg" class="icon-submit-btn" ngbTooltip="Reset" (click)="reset()" />
                            </div>
                           
                            
                        </div>
                    </form>

                </div>


                <div class="animated fadeIn pt-2"> 
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <mat-tab-group class="custom-tab-group" (selectedTabChange)="tabState($event)">
                               
                                <!-- Pending Tab -->
                                <mat-tab label="Pending">
                                   
                                    <ng-container>
                                        <app-yet-to-approve *ngIf="selectedTab === 'Pending'" [data]="allDetails" [totalCount]="totalCount"
                                             (buttonClick)="buttonClick($event)">
                                        </app-yet-to-approve>
                                    </ng-container>
                                 
                                </mat-tab>

                                <!-- Approved Tab -->
                                <mat-tab label="Approved">
                                    
                                    <ng-container >
                                       
                                        <app-approved *ngIf="selectedTab === 'Approved'" [data]="allDetails" [totalCount]="totalCount"
                                            (filter)="searchFiter($event)" (buttonClick)="buttonClick($event)">
                                        </app-approved>
                                    </ng-container>
                                   
                                </mat-tab>

                                <!-- Declined Tab -->
                                <mat-tab label="Declined">
                                    
                                    <ng-container >
                                       
                                        <app-decline *ngIf="selectedTab === 'Declined'" [data]="allDetails" [totalCount]="totalCount"
                                            (filter)="searchFiter($event)" (buttonClick)="buttonClick($event)">
                                        </app-decline>
                                    </ng-container>
                                 
                                </mat-tab>

                            </mat-tab-group>
                           
                           
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>