<div class="container-fluid s-padd">

    <div class="container-middle p-20">
        <div class="row">
            <div class="col-12">
                <div style="background-color: #f9f9f9;padding: 16px;">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-3">
                            <mat-card>
                                <div class="row">
                                    <div class="row">
                                        <div class="col-8">
                                            <h6><b>
                                            <i class="bi bi-list-ul"></i> Approved</b> </h6>
                                        </div>
                                        <div class="col-4 text-end pe-0">
                                            <h4 class="v-align" style="color: green;">{{cardData?.approved_count || 0}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                            <!--/.col-->

                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-3 ">
                            <mat-card>
                                <div class="row">
                                    <div class="row">
                                        <div class="col-8">
                                            <h6><b>
                                             <i class="bi bi-list-ul"></i> Pending</b> </h6>
                                        </div>
                                        <div class="col-4 text-end pe-0">
                                            <h4 class="v-align" style="color: #e6b539;">{{cardData ?.request_count || 0}}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                            <!--/.col-->

                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-3 ">
                            <mat-card>
                                <div class="row">
                                    <div class="row">
                                        <div class="col-8">
                                            <h6>
                                                <b><i class="bi bi-list-ul"></i> Declined</b>
                                            </h6>
                                        </div>
                                        <div class="col-4 text-end pe-0">
                                            <h4 class="v-align" style="color: red;">{{cardData ?.declined_count || 0}}</h4>
                                        </div>
                                    </div>

                                </div>
                            </mat-card>



                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-3 ">
                            <mat-card>
                                <div class="row">
                                    <div class="row">
                                        <div class="col">
                                            <h6><b>
                                            <i class="bi bi-list-ul"></i> Total</b> </h6>
                                        </div>
                                        <div class="col-4 text-end pe-0">
                                            <h4 class="v-align" style="color: #126eb4;">{{cardData ?.total_count || 0}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <div class="card dt-card">

                    <form [formGroup]="timeSheetForm">
                        <div class="row">
                            <div class="col-sm-4 col-md-6 col-lg-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>From date</mat-label>
                                    <input matInput [matDatepicker]="fromDatePicker" formControlName="from_date"
                                        (dateChange)="changeFormat()" required>
                                    <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #fromDatePicker></mat-datepicker>
                                    <mat-error *ngIf="f['from_date'].touched && f['from_date'].invalid">
                                        From date is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-4 col-md-6 col-lg-3">
                                <mat-form-field appearance="outline" [attr.disabled]="!timeSheetForm.value.from_date">
                                    <mat-label>To date</mat-label>
                                    <input matInput [matDatepicker]="toDatePicker" formControlName="to_date"
                                        [min]="timeSheetForm.value.from_date" (dateChange)="changeFormat()" required>
                                    <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #toDatePicker></mat-datepicker>
                                    <mat-error *ngIf="f['to_date'].touched && f['to_date'].invalid">
                                        To date is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-2 col-md-1 col-lg-1 d-flex align-items-center p-0">
                                <button mat-icon-button type="submit" (click)="submit()" ngbTooltip="Submit">
                                    <i class="bi bi-arrow-up-right-square-fill"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>


                <div class="animated fadeIn pt-2">
                    <!-- <div class="row p-r webView">
                        
                        <div class="col-sm-4 search-div" >
                            <button mat-icon-button  class="close-icon" style="top:0" ngbTooltip="Search" *ngIf="!showSearch" (click)="showSearch=!showSearch">
                                <i class="bi bi-search"></i>
                            </button>
                           
                            <input type="search" *ngIf="showSearch" (input)="searchFiter($event)" class="form-control p-2 sizeinput" [(ngModel)]="term"
                              placeholder="Search by employee" aria-describedby="emailHelp" autocomplete="off">
                            <i class="bi bi-search" id="search-icon-tab" *ngIf="showSearch"></i>
                          
                            <i class="bi bi-x-circle close-icon" ngbTooltip="Close" *ngIf="showSearch" (click)="showSearch=!showSearch"></i>
                        </div>
                          
                      </div> -->
                     
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <mat-tab-group class="custom-tab-group" (selectedTabChange)="tabState($event)">
                               
                                <!-- Pending Tab -->
                                <mat-tab label="Pending">
                                   
                                    <ng-container >
                                        <div class="row p-r mobileView" style="padding: 1rem 0px 0px;margin: auto;">
                                            <!-- <div class="col-sm-12 col-md-6 search-div">
                                                <input type="search" (input)="searchFiter($event)" class="form-control p-2 sizeinput" [(ngModel)]="term"
                                                  placeholder="Search by employee" aria-describedby="emailHelp" autocomplete="off">
                                                <i class="bi bi-search" id="search-icon-tab" ></i>
                                              </div> -->
                                           
                                          </div>
                                        <app-yet-to-approve *ngIf="selectedTab === 'Pending'" [data]="allDetails" [totalCount]="totalCount"
                                            (filter)="searchFiter($event)" (buttonClick)="buttonClick($event)">
                                        </app-yet-to-approve>
                                    </ng-container>
                                 
                                </mat-tab>

                                <!-- Approved Tab -->
                                <mat-tab label="Approved">
                                    
                                    <ng-container >
                                        <!-- <div class="row p-r mobileView" style="padding: 1rem 0px 0px;margin: auto;">
                                            <div class="col-sm-12 col-md-6 search-div">
                                                <input type="search" (input)="searchFiter($event)" class="form-control p-2 sizeinput" [(ngModel)]="term"
                                                  placeholder="Search by employee" aria-describedby="emailHelp" autocomplete="off">
                                                <i class="bi bi-search" id="search-icon-tab" ></i>
                                              </div>
                                            </div> -->
                                        <app-approved *ngIf="selectedTab === 'Approved'" [data]="allDetails" [totalCount]="totalCount"
                                            (filter)="searchFiter($event)" (buttonClick)="buttonClick($event)">
                                        </app-approved>
                                    </ng-container>
                                   
                                </mat-tab>

                                <!-- Declined Tab -->
                                <mat-tab label="Declined">
                                    
                                    <ng-container>
                                        <!-- <div class="row p-r mobileView" style="padding: 1rem 0px 0px;margin: auto;">
                                            <div class="col-sm-12 col-md-6 search-div">
                                                <input type="search" (input)="searchFiter($event)" class="form-control p-2 sizeinput" [(ngModel)]="term"
                                                  placeholder="Search by employee" aria-describedby="emailHelp" autocomplete="off">
                                                <i class="bi bi-search" id="search-icon-tab" ></i>
                                              </div>
                                            </div> -->
                                        <app-decline *ngIf="selectedTab === 'Declined'" [data]="allDetails" [totalCount]="totalCount"
                                            (filter)="searchFiter($event)" (buttonClick)="buttonClick($event)">
                                        </app-decline>
                                    </ng-container>
                                 
                                </mat-tab>

                            </mat-tab-group>
                             <!-- No Records Template -->
                            <!-- <ng-template #noRecords>
                                <div class="no-records text-center">
                                No records found !!
                                    <button mat-button (click)="refershPage()" class="proceedbtn" style="width: fit-content;padding:0 10px;">Refresh <i class="fa fa-refresh" aria-hidden="true"></i></button>
                                </div>
                            </ng-template> -->
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>