<!--sidebar-->
<c-sidebar #sidebar="cSidebar" class="d-print-none sidebar sidebar-fixed" id="sidebar" visible>

  <c-sidebar-brand class="p-r">
   
    <img src="../../../assets/images/logo.svg" width="170px" height="65px" class="sidebar-logo-sidebar" />
  </c-sidebar-brand>
  <perfect-scrollbar [config]="perfectScrollbarConfig">
   
    <c-sidebar-nav [navItems]="config == 'SUPER ADMIN'? navItems : sidebarNavItems" dropdownMode="close">

    </c-sidebar-nav>
  </perfect-scrollbar>
 
  <mat-card class="profile-settings-card">
    <div class="d-flex">
      <c-avatar cTextColor="primary" shape="rounded-1" size="md" src="./assets/img/avatars/8.jpg" >
      </c-avatar>
      <p class="mx-2 text-center" [ngClass]="user_role_Name !== 'EMPLOYEE' ? 'nonemployee' : 'employee'">
        <small class="user-name" *ngIf="user_role_Name !== 'EMPLOYEE'">{{user_name |titlecase}}</small><br />
        <mat-label class="user-role">{{user_role_Name|titlecase}}</mat-label>
      </p>

    </div>
    <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
  </mat-card>

</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column dark:bg-transparent">
  <!--app-header-->
  <ngx-ui-loader fgsColor="#1d2a6e" pbColor="#1d2a6e" text="Please wait..."></ngx-ui-loader>
  <!--app-body-->
  <div class="body scroll-fix">
   
    <mat-card class="body-card p-0 default-header-card">
      <mat-card class="py-0 mb-1"> 
        <app-default-header class="d-print-none header header-sticky" position="sticky"
        sidebarId="sidebar"></app-default-header>
       </mat-card>
      <router-outlet></router-outlet>
    </mat-card>
  </div>
  <!--app footer-->
  <app-default-footer class="mobileView"></app-default-footer>

</div>

<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item" >
    <button mat-stroked-button [caret]="false" cDropdownToggle class="py-1 settings-btn"><i class="bi bi-gear"></i> Settings
    </button>
    <ul cDropdownMenu class="py-2 pr-5 w-auto c-dropClass" style="padding: 11px !important;background: rgb(225 242 255 / 96%) !important;
    font-size: 12px !important;position: absolute;inset: auto 0px 0px auto;
    border: 1px solid #ecfaff;margin: 2px;transform: translate3d(0px, -40.6667px, 0px);">
      <li></li>
      <li *ngFor="let headNav of headerNav" >
        <div [ngClass]="getHeaderNavStyles(headNav)">
          <a (click)="navigateTo(headNav)" cDropdownItem class="profile-settings-content" >
            <i class="{{headNav.icons}}" id="nav-icon" ></i>
           
            <span class="title">&nbsp;&nbsp;{{headNav.page |titlecase}} </span>
          </a>
        </div>
      </li>
    </ul>

  </c-dropdown>
</ng-template>