<div class="container-fluid webView">
    <!-- <div class="row">
        <div class="col-sm-6">
            <h1>
              Update  project </h1>
        </div>
        <div class="col-sm"></div>
        <div class="col-sm-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a routerLink="/dashboards">Home</a></li>
                  <li class="breadcrumb-item">
                  Update  project </li>
                </ol>
              </nav>
        </div>
        
    </div> -->
    <div class="generic-form bg mx-1">
        <form [formGroup]='updateForm' (ngSubmit)='update()' >
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="row">
                        <div class="col-sm">
                            <!-- <h4>Project details</h4> -->
                        </div>
                        
                    </div>
                    
       
                <div class="row">
                    <div class="col-sm">
                        <p>Project name <span >*</span></p> 
                        <input type="text" class="form-control p-3 sizeinput" formControlName="p_name" placeholder="Enter project name" aria-describedby="emailHelp"  autocomplete="off">
                        <div *ngIf="f['p_name'].touched && f['p_name'].invalid" >
                            <div *ngIf="f['p_name'].errors && f['p_name'].errors['required']"><p class="error-msg">Project name is required</p></div>
                        </div>
                        <div *ngIf="f['p_name'].invalid && f['p_name'].hasError('pattern')" >
                            <p class="error-msg">Cannot start with a space.</p>
                        </div>
                    </div>
                </div>
                
            
                <div class="row">
                    <div class="col-sm">
                        <p>Client <span >*</span></p>
                        <select class="form-select" [(value)]='client' aria-label="Default select example" formControlName="c_ref_id">                       
                            <option value="" selected disabled>Select client</option>
                            <option *ngFor="let item of allClientList" [value]="item.id">
                                {{item.c_name}}
                            </option>
                          </select>
                         <div *ngIf="f['c_ref_id'].touched && f['c_ref_id'].invalid">
                            <div *ngIf="f['c_ref_id'].errors && f['c_ref_id'].errors['required']" ><p class="error-msg">Project name is required</p></div>
                         </div>
                    </div>
                    
                </div>
               
                <div class="row">
                    <div class="col-sm">
                        <p>Description</p>
                        <div >
                            <textarea class="form-control" placeholder="Enter your description here." formControlName="p_description"  style="height: 42px"></textarea>  
                            <div *ngIf="f['p_description'].touched && f['p_description'].invalid" >
                                <div *ngIf="f['p_description'].errors && f['p_description'].errors['required'] " ><p class="error-msg">Description is required</p></div>
                            </div> 
                            <div *ngIf="f['p_description'].invalid && f['p_description'].hasError('pattern')" >
                                <p class="error-msg">Cannot start with a space.</p>
                            </div>                
                          </div>
                    </div>          
                </div>
               
                <div class="row">
                    <div class="col-sm">
                        <p>Start date<span >*</span></p>
                        <input class="form-control" id="date-input" formControlName="p_start_date" type="date" name="date-input" placeholder="date" (change)="onChange()">  
                        <div *ngIf="f['p_start_date'].touched && f['p_start_date'].invalid">
                            <div *ngIf="f['p_start_date'].errors && f['p_start_date'].errors['required']"><p class="error-msg">Start date is required</p></div>
                        </div>  
                    </div>        
                </div>
            
                <div class="row">
                    <div class="col-sm">
                        <p>End date<span >*</span></p>
                        <input class="form-control" id="date-input" [min]="updateForm.value.p_start_date" formControlName="p_closure_date" type="date" name="date-input" placeholder="date"
                        (change)="yearEndDateValidator()" >  
                        <div *ngIf="f['p_closure_date'].touched && f['p_closure_date'].invalid">
                            <div *ngIf="f['p_closure_date'].errors && f['p_closure_date'].errors['required'] " ><p class="error-msg">End date is required</p></div>
                        </div> 
                        <div *ngIf="invalidDate">
                            <p class="error-msg">End date should be greater than start date.</p>
                        </div>
                    </div>      
                </div>
    
              
               
                <div class="row">
                    <div class="col-sm">
                        <p *ngIf="isListShown"   id="divshow">People List <span >*</span></p>
                       
                        <div *ngIf="isListShown" style="margin: 0;" class="row container-fluid"  id="divshow">
                            <!-- <input  type="text" class="form-control p-3 sizeinput" formControlName=" people_ref_list" placeholder="People List" aria-describedby="emailHelp"  autocomplete="off"> -->
                            <ng-multiselect-dropdown  [placeholder]="'Select people list'"  [settings]="peopleListSetting"
                            [data]="allPeopleGroup" (onSelect)="onPeopleGroupSelect($event)"  (onSelectAll)="onPeopleGroupSelectAll($event)" 
                             formControlName="people_ref_list">
                            </ng-multiselect-dropdown>
                            
                            <div *ngIf="f['people_ref_list'].touched && f['people_ref_list'].invalid" >
                                <div *ngIf="f['people_ref_list'].errors && f['people_ref_list'].errors['required']" ><p class="error-msg">People list is required</p></div>
                            </div> 
                        </div>
                    </div>         
                </div>
                
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="row">
                        <div class="col-sm">
                            <h4>Estimation/Manager/Approver details</h4>
                        </div>
                    </div>
                   
             
                <div class="row">
                    <div class="col-sm">
                        <p>Estimated hours <span >*</span></p>
                       
                            <input type="number" appHypen onkeydown="return event.keyCode !== 69" onKeyPress="if(this.value.length==10) return false;" oninput="this.value = this.value.replace('.', '').replace(/[^\d]/g, '');" class="form-control" formControlName="p_estimated_hours" placeholder="Enter estimated hours" aria-label="Username" aria-describedby="basic-addon1" > 
                         
                          <div *ngIf="f['p_estimated_hours'].touched && f['p_estimated_hours'].invalid" >
                            <div *ngIf="f['p_estimated_hours'].errors && f['p_estimated_hours'].errors['required']" ><p class="error-msg">Estimated hours is required</p></div>
                        </div>
                    </div>
                </div>
       
                <div class="row">
                    <div class="col-sm">
                        <p>Estimated billing <span >*</span></p>
                       
                            <input type="number" appHypen onkeydown="return event.keyCode !== 69" onKeyPress="if(this.value.length==10) return false;" oninput="this.value = this.value.replace('.', '').replace(/[^\d]/g, '');" class="form-control" formControlName="p_estimated_cost" placeholder="Enter estimated billing" aria-label="Username" aria-describedby="basic-addon1" >
                          
                          <div *ngIf="f['p_estimated_cost'].touched && f['p_estimated_cost'].invalid" >
                            <div *ngIf="f['p_estimated_cost'].errors && f['p_estimated_cost'].errors['required']" ><p class="error-msg">Estimated billing is required</p></div>
                        </div>
                    </div>
                </div>
                
              
                <div class="row">
                    <div class="col-sm">
                        <p>Reporting manager  <span >*</span></p>
                        <select class="form-select" [(value)]='reporting_manager' aria-label="Default select example" formControlName="reporting_manager_ref_id">                       
                           <option value="" disabled selected>Select reporting manager</option>
                            <option *ngFor="let item of allManager" [value]="item.id">
                                {{item.u_first_name +" "+ item.u_last_name}}
                            </option>
                          </select>
                          <div *ngIf="f['reporting_manager_ref_id'].touched && f['reporting_manager_ref_id'].invalid" >
                            <div *ngIf="f['reporting_manager_ref_id'].errors && f['reporting_manager_ref_id'].errors['required'] " ><p class="error-msg">Reporting manager is required</p></div>
                        </div>
                    </div>            
                </div>
             
                <div class="row">
                    <div class="col-sm">
                        <p>Approver  <span >*</span></p>
                        <select class="form-select" [(value)]='approver_manager' aria-label="Default select example" formControlName="approve_manager_ref_id">                       
                            <option value="" disabled selected>Select approver</option>
                            <option *ngFor="let item of allManager" [value]="item.id">
                                {{item.u_first_name +''+ item.u_last_name}}
                            </option>
                          </select>
                          <div *ngIf="f['approve_manager_ref_id'].touched && f['approve_manager_ref_id'].invalid" >
                            <div *ngIf="f['approve_manager_ref_id'].errors && f['approve_manager_ref_id'].errors['required']"><p class="error-msg">Approver is required</p></div>
                        </div>
                    </div>            
                </div>
            
                <div class="row">
                    <div class="col-sm">
                 
                            <div  class="row container-fluid"  id="divshow">
                                <p  id="divshow"> Add task & File templates <span >*</span></p>
                            <select class="form-select" (change)="getSubTask($event.target['value'],'NATIVE')"  aria-label="Default select example" formControlName="p_task_checklist_status">                       
                                <option value="" disabled selected>Select task category</option>
                                <option *ngFor="let item of taskCategories" [value]="item.id">
                                    {{item.tpc_name}}
                                </option>
                              </select>
                              <div *ngIf="f['p_task_checklist_status'].touched && f['p_task_checklist_status'].invalid" >
                                <div *ngIf="f['p_task_checklist_status'].errors && f['p_task_checklist_status'].errors['required']"><p class="error-msg">Task category is required</p></div>
                            </div>
                        </div>
                        
                    </div>         
                </div>
                <div class="row">
                    <div class="col-sm" >
                        <!-- <div *ngIf="isShown" class="row container-fluid"  id="divshow">
                            <p *ngIf="isShown" id="divshow">Task Category <span >*</span></p> -->
                            <div  class="row container-fluid">
                                <p> Sub task <span >*</span></p>
                            <!-- <input type="text" class="form-control p-3 sizeinput" formControlName="p_task_checklist_status" placeholder="Enter Task Category" aria-describedby="emailHelp"  autocomplete="off"> -->
                              <select class="form-select" (change)="subTask($event.target['value'])"  aria-label="Default select example" formControlName="project_related_task_list">                       
                                <option value="" disabled selected>Select Sub Task Category</option>
                                <option *ngFor="let item of subTaskCategories" [value]="item.task_name">
                                    {{item.task_name}}
                                </option>
                              </select>
                               
                              <div *ngIf="f['project_related_task_list'].touched && f['project_related_task_list'].invalid" >
                                <div *ngIf="f['project_related_task_list'].errors && f['project_related_task_list'].errors['required']"><p class="error-msg">Sub task category is required</p></div>
                            </div>
                        </div>
                        
                    </div>         
                </div>
                <!-- <div class="row">
                    <div class="col-sm" >
                        <p>Project status  <span >*</span></p>
                       <select class="form-select"  aria-label="Default select example" formControlName="p_status">                       
                        <option value="" disabled selected>Select status</option>
                        <option value="Open">Open</option>
                        <option value="Pending">Pending</option>
                        <option value="Completed">Completed</option>
                      </select>
                    <div *ngIf="f['p_status'].touched && f['p_status'].invalid" >
                        <div *ngIf="f['p_status'].errors && f['p_status'].errors['required']"><p class="error-msg">Status is required</p></div>
                    </div>
                    </div>
                </div> -->
               
                 
              
                </div>

            </div>
            <div class="row">
               
                <div class="col-12">
                    <button mat-button type="button" class="add-task" (click)="addTask()"><i class="bi bi-check2-circle"></i> Add Task</button>
                </div>
            </div>
          
            <form [formGroup]="taskForm">
                <div formArrayName="subTasks">
                  <div *ngFor="let task of subTasks?.controls; let i = index;">
                    <div [formGroupName]="i">
                      <mat-card>
                        <!-- Form fields for each task --->
                        <div class="row">
                          <!-- <div class="col-1 text-center">
                            <mat-radio-button color="primary" class="example-radio-button" value="season"></mat-radio-button>
                          </div> -->
                          <div class="col-6">
                            <mat-form-field class="example-form-field">
                              <mat-label>Add Task Here</mat-label>
                              <textarea matInput formControlName="taskName" class="mat-add-input"></textarea>
                            </mat-form-field>
                          </div>
                          <div class="col-3">
                            <mat-form-field>
                              <mat-label>Status</mat-label>
                              <mat-select formControlName="status">
                              <mat-option *ngFor="let status of status" [value]="status.value">{{status.viewValue}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-3">
                            <mat-form-field>
                              <mat-label>Assignee</mat-label>
                              <mat-select formControlName="assignee">
                                <mat-option *ngFor="let people of allPeopleGroup" [value]="people.id">{{people.u_first_name}}</mat-option>
                            </mat-select>
                            </mat-form-field>
                            
                            
                          </div>
                          <div class="row mb-0 m">
                               
                            <div class="col-3">
                              <button mat-button color="primary" (click)="addTask()" class="add-button">Add</button>
                              <button mat-button (click)="removeTask(i)" class="cancel-button" >Remove</button>
                            </div>
                            <div class="col"></div>
                          </div>
                        </div>
                      </mat-card>
                    </div>
                  </div>
                </div>
              </form>
              <div class="row">
                <div class="col-sm-8"></div>                    
                <div class="col-sm-4">
                    <button mat-raised-button class="proceedbtn mat-btn-s" type="submit">Update</button>
                </div>    
            </div>
        </form>


       
    </div>
   
</div>
<div class="container-fluid mobileView">
    <div class="row mx-1 my-2">
        <div class="col-sm-12">
            <h1>
                <b><i  class="bi bi-arrow-left" (click)="goBack($event)
  
                    "></i>  Update  project</b> </h1>
        </div>
    </div>
    <div class="generic-form bg mx-1">
        <form [formGroup]='updateForm' (ngSubmit)='update()' >
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="row">
                        <div class="col-sm">
                            <h4>Project details</h4>
                        </div>
                        
                    </div>
                    
       
                <div class="row">
                    <div class="col-sm">
                        <p>Project name <span >*</span></p> 
                        <input type="text" class="form-control p-3 sizeinput" formControlName="p_name" placeholder="Enter project name" aria-describedby="emailHelp"  autocomplete="off">
                        <div *ngIf="f['p_name'].touched && f['p_name'].invalid" >
                            <div *ngIf="f['p_name'].errors && f['p_name'].errors['required']"><p class="error-msg">Project name is required</p></div>
                        </div>
                        <div *ngIf="f['p_name'].invalid && f['p_name'].hasError('pattern')" >
                            <p class="error-msg">Cannot start with a space.</p>
                        </div>
                    </div>
                </div>
                
            
                <div class="row">
                    <div class="col-sm">
                        <p>Client <span >*</span></p>
                        <select class="form-select" [(value)]='client' aria-label="Default select example" formControlName="c_ref_id">                       
                            <option value="" selected disabled>Select client</option>
                           
                            <option *ngFor="let item of allClientList" [value]="item.id">
                                {{item.c_name}}
                            </option>
                          </select>
                         <div *ngIf="f['c_ref_id'].touched && f['c_ref_id'].invalid">
                            <div *ngIf="f['c_ref_id'].errors && f['c_ref_id'].errors['required']" ><p class="error-msg">Project name is required</p></div>
                         </div>
                    </div>
                    
                </div>
                
           
            
                <div class="row">
                    <div class="col-sm">
                        <p>Description</p>
                        <div >
                            <textarea class="form-control" placeholder="Enter your description here." formControlName="p_description"  style="height: 100px"></textarea>  
                            <div *ngIf="f['p_description'].touched && f['p_description'].invalid" >
                                <div *ngIf="f['p_description'].errors && f['p_description'].errors['required'] " ><p class="error-msg">Description is required</p></div>
                            </div> 
                            <div *ngIf="f['p_description'].invalid && f['p_description'].hasError('pattern')" >
                                <p class="error-msg">Cannot start with a space.</p>
                            </div>                
                          </div>
                    </div>          
                </div>
               
                <div class="row">
                    <div class="col-sm">
                        <p>Start date<span >*</span></p>
                        <input class="form-control" id="date-input" formControlName="p_start_date" type="date" name="date-input" placeholder="date" (change)="onChange()">  
                        <div *ngIf="f['p_start_date'].touched && f['p_start_date'].invalid">
                            <div *ngIf="f['p_start_date'].errors && f['p_start_date'].errors['required']"><p class="error-msg">Start date is required</p></div>
                        </div>  
                    </div>        
                </div>
            
                <div class="row">
                    <div class="col-sm">
                        <p>End date<span >*</span></p>
                        <input class="form-control" id="date-input" [min]="updateForm.value.p_start_date" formControlName="p_closure_date" type="date" name="date-input" placeholder="date"
                        (change)="yearEndDateValidator()" >  
                        <div *ngIf="f['p_closure_date'].touched && f['p_closure_date'].invalid">
                            <div *ngIf="f['p_closure_date'].errors && f['p_closure_date'].errors['required'] " ><p class="error-msg">End date is required</p></div>
                        </div> 
                        <div *ngIf="invalidDate">
                            <p class="error-msg">End date should be greater than start date.</p>
                        </div>
                    </div>      
                </div>
    
               
               
                <div class="row">
                    <div class="col-sm">
                        <!-- <p *ngIf="isGroupShown"   id="divshow">People Group <span >*</span></p> -->
                        <p *ngIf="isListShown"   id="divshow">People List <span >*</span></p>
                        
                        <div *ngIf="isListShown" style="margin: 0;" class="row"  >
                            
                            <ng-multiselect-dropdown  [placeholder]="'Select people list'"  [settings]="peopleListSetting"
                            [data]="allPeopleGroup" (onSelect)="onPeopleGroupSelect($event)"  (onSelectAll)="onPeopleGroupSelectAll($event)" 
                             formControlName="people_ref_list">
                            </ng-multiselect-dropdown>
                            
                            <div *ngIf="f['people_ref_list'].touched && f['people_ref_list'].invalid" >
                                <div *ngIf="f['people_ref_list'].errors && f['people_ref_list'].errors['required']" ><p class="error-msg">People list is required</p></div>
                            </div> 
                        </div>
                    </div>         
                </div>

                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="row">
                        <div class="col-sm">
                            <h4>Estimation/Manager/Approver details</h4>
                        </div>
                    </div>
                   
             
                <div class="row">
                    <div class="col-sm">
                        <p>Estimated hours <span >*</span></p>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i style="color: gray;" class="bi bi-clock"></i></span>
                            <input type="number" appHypen onkeydown="return event.keyCode !== 69" onKeyPress="if(this.value.length==10) return false;" oninput="this.value = this.value.replace('.', '').replace(/[^\d]/g, '');" class="form-control" formControlName="p_estimated_hours" placeholder="Enter estimated hours" aria-label="Username" aria-describedby="basic-addon1" > 
                          </div>
                          <div *ngIf="f['p_estimated_hours'].touched && f['p_estimated_hours'].invalid" >
                            <div *ngIf="f['p_estimated_hours'].errors && f['p_estimated_hours'].errors['required']" ><p class="error-msg">Estimated hours is required</p></div>
                        </div>
                    </div>
                </div>
       
                <div class="row">
                    <div class="col-sm">
                        <p>Estimated billing <span >*</span></p>
                        <div class="input-group">    
                            <span class="input-group-text" id="basic-addon1"><i style="color: gray;" class="bi bi-currency-rupee"></i></span>
                            <input type="number" appHypen onkeydown="return event.keyCode !== 69" onKeyPress="if(this.value.length==10) return false;" oninput="this.value = this.value.replace('.', '').replace(/[^\d]/g, '');" class="form-control" formControlName="p_estimated_cost" placeholder="Enter estimated billing" aria-label="Username" aria-describedby="basic-addon1" >
                          
                          </div>
                          <div *ngIf="f['p_estimated_cost'].touched && f['p_estimated_cost'].invalid" >
                            <div *ngIf="f['p_estimated_cost'].errors && f['p_estimated_cost'].errors['required']" ><p class="error-msg">Estimated billing is required</p></div>
                        </div>
                    </div>
                </div>
                
              
                <div class="row">
                    <div class="col-sm">
                        <p>Reporting manager  <span >*</span></p>
                        <select class="form-select" [(value)]='reporting_manager' aria-label="Default select example" formControlName="reporting_manager_ref_id">                       
                           <option value="" disabled selected>Select reporting manager</option>
                            <option *ngFor="let item of allManager" [value]="item.id">
                                {{item.u_first_name +" "+ item.u_last_name}}
                            </option>
                          </select>
                          <div *ngIf="f['reporting_manager_ref_id'].touched && f['reporting_manager_ref_id'].invalid" >
                            <div *ngIf="f['reporting_manager_ref_id'].errors && f['reporting_manager_ref_id'].errors['required'] " ><p class="error-msg">Reporting manager is required</p></div>
                        </div>
                    </div>            
                </div>
             
                <div class="row">
                    <div class="col-sm">
                        <p>Approver  <span >*</span></p>
                        <select class="form-select" [(value)]='approver_manager' aria-label="Default select example" formControlName="approve_manager_ref_id">                       
                            <option value="" disabled selected>Select approver</option>
                            <option *ngFor="let item of allManager" [value]="item.id">
                                {{item.u_first_name +''+ item.u_last_name}}
                            </option>
                          </select>
                          <div *ngIf="f['approve_manager_ref_id'].touched && f['approve_manager_ref_id'].invalid" >
                            <div *ngIf="f['approve_manager_ref_id'].errors && f['approve_manager_ref_id'].errors['required']"><p class="error-msg">Approver is required</p></div>
                        </div>
                    </div>            
                </div>
            
                <div class="row">
                    <div class="col-sm">
                        
                            <div  class="row container-fluid"  id="divshow">
                                <p  id="divshow"> Add task & File templates <span >*</span></p>
                            <select class="form-select" (change)="getSubTask($event.target['value'],'NATIVE')"  aria-label="Default select example" formControlName="p_task_checklist_status">                       
                                <option value="" disabled selected>Select task category</option>
                                <option *ngFor="let item of taskCategories" [value]="item.id">
                                    {{item.tpc_name}}
                                </option>
                              </select>
                              <div *ngIf="f['p_task_checklist_status'].touched && f['p_task_checklist_status'].invalid" >
                                <div *ngIf="f['p_task_checklist_status'].errors && f['p_task_checklist_status'].errors['required']"><p class="error-msg">Task category is required</p></div>
                            </div>
                        </div>
                        
                    </div>         
                </div>
                <div class="row">
                    <div class="col-sm" >
                       
                            <div  class="row ">
                                <p> Sub task <span >*</span></p>
                           
                               <select class="form-select"   aria-label="Default select example" formControlName="project_related_task_list">                       
                                <option value="" disabled selected>Select sub task category</option>
                                <option *ngFor="let item of subTaskCategories" [value]="item.task_name">
                                    {{item.task_name}}
                                </option>
                              </select>
                             

                              <div *ngIf="f['project_related_task_list'].touched && f['project_related_task_list'].invalid" >
                                <div *ngIf="f['project_related_task_list'].errors && f['project_related_task_list'].errors['required']"><p class="error-msg">Sub task category is required</p></div>
                            </div>
                        </div>
                        
                    </div>         
                </div>
                <!-- <div class="row">
                    <div class="col-sm" >
                        <p>Project status  <span >*</span></p>
                       <select class="form-select"  aria-label="Default select example" formControlName="p_status">                       
                        <option value="" disabled selected>Select status</option>
                        <option value="Open">Open</option>
                        <option value="Pending" >Pending</option>
                      </select>
                    <div *ngIf="f['p_status'].touched && f['p_status'].invalid" >
                        <div *ngIf="f['p_status'].errors && f['p_status'].errors['required']"><p class="error-msg">Status is required</p></div>
                    </div>
                    </div>
                </div> -->
               
                <div class="row">
                    <div class="col-sm-10"></div>                    
                    <div class="col-sm-2">
                        <button mat-raised-button class="proceedbtn mat-btn-s" type="submit">Update</button>
                    </div>    
                </div>
                </div>
            </div>
        </form>
    </div>
   
</div>


