<mat-card class="standard-card">
  <div class="row">
    <div class="col"> <h2 class="plan-title standard-title p-r">Standard <img class="spakle-image" src="../../../../assets/images/sparkle-filled.svg"/></h2></div>
    <div class="col-2">
      <mat-icon (click)="close()">close</mat-icon>
    </div>
  </div>
   
    <p class="plan-description">
      Choose a flexible payment plan that charges per user. Opt for annual or monthly payments as per your convenience.
    </p>

    <!-- Highlighted Background for Monthly and Yearly -->
    <div class="payment-options">
      <mat-card class="payment-option"  (click)="setPaymentOption(true)" 
         [ngClass]="monthly ? 'active' : 'highlighted-option'" >
         <div class="option-title">Monthly</div>
        <span class="price pe-1">₹{{monthlyAmount}}</span>
        <small>per user / monthly</small>
      </mat-card>
      <mat-card class="payment-option yearly-option" 
      (click)="setPaymentOption(false)" 
      [ngClass]="!monthly ? 'active' : 'highlighted-option'">
      <div class="option-title">Yearly</div>
        <span class="price pe-1">₹{{roundAmount(yearlyAmount - roundAmount(discount)/100 * yearlyAmount ) }}</span>
        <small>per user / monthly</small>
        <div class="discount-badge"><i class="bi bi-x-circle"></i> {{roundAmount(discount)}}% </div>
      </mat-card>
    </div>

    <!-- List inside white background -->
    <div class="dark-background">
      <ul class="plan-features">
        <li>✓ Enterprise plan</li>
        <li>✓ Full access to all modules</li>
      </ul>
    </div>

    <div class="no-refund-note text-center">
      <div style="margin:3px auto;">
         <div style="background: #62606054;
         padding: 5px 20px;
         border-radius: 3px;"> <span  style="margin-right: 5px;">⚠</span> No refund on subscription cancellation </div> 
      </div>
    </div>
    <div class="text-center">
      <button mat-flat-button color="primary" class="cta-button" (click)="openDialogue()">
        Buy Standard Plan
      </button>
    </div>
</mat-card>
