
   
    <div style="padding: 30px;">
    <form [formGroup]="holidayListForm">
      <div class="row">
        <div class="col-md-4">
          <input type="file" accept=".xlsx, .xls" formControlName="file_attachment" #fileInput (change)="onFileSelected($event)" hidden>
          <div class="image-container w-100 d-flex justify-content-between align-items-center" style="padding: 3px 15px;"
          *ngIf="userRole ==='Employee' && accessPermissions[0]?.update || accessPermissions[0]?.create || userRole === 'Admin'">
             
              <mat-label >{{selectedFile ? selectedFile.name : 'Upload Holiday List'}} </mat-label>
              <button type="button" mat-icon-button (click)="triggerFileInput()">
                  <i matTooltip="{{selectedFile ? 'Edit' : 'Upload Excel'}}" class="{{selectedFile ? 'bi bi-pencil-fill' : 'bi bi-file-earmark-spreadsheet'}}" id="edit-or-upload-icon"></i>
                </button>
          </div>
          <div  *ngIf="f['file_attachment']?.touched && f['file_attachment']?.invalid" style="font-size: 11px;padding-left: 10px;color:red">
            <span *ngIf="f['file_attachment'].errors?.['required']">Upload holiday list is required</span>
            <span *ngIf="f['file_attachment'].errors?.['accept']">Invalid file format. Only .xlsx, .xls formats are allowed.</span>
        </div>
        </div>
        <div class="col-md-4">
          <button *ngIf="userRole ==='Employee' && accessPermissions[0]?.update || accessPermissions[0]?.create || userRole === 'Admin'"
             mat-raised-button type="button" style="float: left;margin-top: 5px;" class="proceed-btn"  (click)="submit()" ngbTooltip="Submit">
             Submit
          </button>
          <button *ngIf="userRole ==='Employee' && accessPermissions[0]?.update || accessPermissions[0]?.create || userRole === 'Admin'"
             mat-raised-button type="button" style="float: left;margin: 5px 10px 0;" class="proceed-btn"  (click)="downloadExcelSample()" ngbTooltip="Sample File">
             <a [href]="reference" style="text-decoration: none;color:white;"> <i class="bi bi-download" style="color:white"></i> Sample File</a>
          </button>
        </div>
        
      </div>
    
            
      </form>
    </div>
    <div class="bg p-30" >
    <mat-card *ngIf="holidays?.length">
        <mat-card-header>
          <mat-card-title>Holiday List</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let holiday of holidays" style="border:1px solid #ececec">
              <div mat-line>{{ holiday.name }}</div>
              <div mat-line>{{ holiday.date | date: 'MMMM d, yyyy' }}</div>
             
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    
        <div class="col-12" *ngIf="holidays.length === 0">
          <app-generic-norecards></app-generic-norecards>
         </div>
</div>
