ol{
    background-color: inherit;
}
a{
    color: #3F51B5;
    text-decoration: none;
}
li{
    
    list-style: none;
    color: grey;
}
ul{
    padding: 0px;
}
.bg{
    background-color: white;
    height: fit-content !important;
    width: 100% !important;
    padding: 10px 0;
   
    margin: 0;

}
.proceedbtn{
    background-color: #3F51B5;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100%;
    color: white;
    margin: 10px 0px;
}
.printbtn{
    background-color: #00BCD4;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100%;
    color: white;
    margin: 10px 0px;
}
.row{
    padding: 5px;
}
i{
    padding: 0px 5px 0px 0px;
}
.btnicon{
    display: none;
}
button:hover .btnicon{
    display: block;
}


select{
    width: 100% !important;
    height: 40px;
    margin: 2px 1px;
}
span{
    color: red;
}
p{
    color: grey;
}
html{
    position: relative;
}
// .createbtn{
//     background-color: #3F51B5;
//     border: none;
//     color: white;
//     padding: 20px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     font-size: 35px;
//     margin: 0px 2px;
//     border-radius: 50%;
//     position: fixed;
//     right: 5%;
//     bottom: 10%;

// }
.outer-card{
    border: none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 8%), 0 6px 20px 0 rgb(0 0 0 / 4%);
margin: 5px 15px ;
    border-radius: 10px;
    background: #FFFFFF99 !important;
    position: relative;
    i{
      color:red ;
      padding-right: 2px;
    }
}
.card-subtitle{
    color: #0a69b1 !important;
}
.inner-card{
    margin: 10px 20px 20px 20px;
    border-radius: 18px;
    border: 1px solid #FFAF13;
    padding: 10px 0;
    zoom: 90%;
    background:#FFFCF3;
    color: white;
    line-height: 15px !important;
    .row{
        padding: 3px !important;
    }
    
}
// .outer-card:hover{
//     background-color: #dfdfdf;
//     .inner-card{
//         background: linear-gradient(45deg, #354656, transparent);
//     }
// }
.rc-p{
    padding: 20px 20px 10px 20px;
}
.example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    width: 100%;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .font-s{
    font-size: 8px;
    width: 200px;
    word-break: break-all;
    color: black;
    margin: 0 !important;
  }
  .no-data{
    width: 60%;
    border-radius: 10px;
    background: #f6f6f6f6;
    margin-top: 3vh;
    //box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    margin: auto;
    margin-top: 3vh !important;
    // display: flex;
    .bg-color{
        background: #e9e9e9;
        font-size: small;  
    }
  }
 .val-r{
    color:#000;
font-weight: bold; 
margin-top:5px;
  }
  .r-1{
    color: #0c79e6;
  }
  #access-icon{
    color:white;
  }
  .status-text{
    font-size: 11px;
  }

  table th {
    position: sticky;
     position: -webkit-sticky;
   top: -15px;
    z-index: 1; // any positive value, layer order is global
}
.icon-image{
  cursor: pointer;
  height: 23px;
  margin: 0 2px;
}