<div class="container-fluid webView ">
  
  <div class="bg">
    <table class="table table-hover table-list">
      <thead>
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">Saved On</th>
          <th scope="col">Employee</th>
          <!-- <th scope="col">Time Sheets</th> -->
          <th scope="col">Time</th>
          <th scope="col">task</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>

        <ng-container *ngIf="(yetToApproveAll) as result">
          <tr *ngFor="let items of result|paginate:paginationConfig;let i=index">
            <td>{{getContinuousIndex(i)}}</td>
            <td>{{items.created_date_time | date :'dd-MM-yyyy'}}</td>
            <td>{{items.created_by_name?items.created_by_name:"NA"|titlecase}}</td>
            <!-- <td>{{items.id ? items.id :'NA'|titlecase}}</td> -->
            <td>{{items.time_spent|titlecase}}</td>
            <td>{{'NA'}}</td>
            <td>
              <ng-container *ngFor="let approval of accessConfig">
                <!-- <span *ngIf="approval == 'DELETE'">
                                <button  style="border: none;background-color: inherit;" (click)="open(items)"> <i class="fas fa-trash-alt" style="color: red;" container="body" ngbTooltip="Delete"></i></button>
                            </span> -->
                <!-- <span *ngIf="approval == 'ACCEPT'">
                  <button style="border: none;background-color: inherit;" (click)="open(items.id,'APPROVED')"><i
                      class="bi bi-check-circle" container="body" ngbTooltip="Approve"
                      style="color:green"></i></button>
                </span>
                <span *ngIf="approval == 'REJECT'">
                  <button style="border: none;background-color: inherit;" (click)="open(items.id,'DECLINED')"><i
                      class="bi bi-x-circle" container="body" ngbTooltip="Reject" style="color:red"></i></button>
                </span> -->


              <span *ngIf="approval == 'ACCEPT'">
                <img src="../../../../../assets/images/tick.svg" class="icon-image" container="body" ngbTooltip="Approve" (click)="open(items.id,'APPROVED')"/>
              </span>
              <span *ngIf="approval == 'REJECT'">
                <img src="../../../../../assets/images/Close.svg" class="icon-image"  container="body" ngbTooltip="Reject" (click)="open(items.id,'DECLINED')"/>
              </span>
              </ng-container>
            </td>
          </tr>
          <tr *ngIf="result.length === 0" class="nodata">
            <td> No records found!</td>
          </tr>

        </ng-container>
      </tbody>
    </table>
  </div> 
  <div class="row pe-3">

    <div class="pagination-container p-0 py-2 ">
      <!-- Pagination Controls (Center-Aligned) -->
      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    
      <!-- Items Per Page Selector (Right-Aligned) -->
      <div class="items-per-page-container">
        <div>Items per page</div>
        <mat-select  [(ngModel)]="tableSize" (selectionChange)="onTableSizeChange($event)" placeholder="10" class="page-size">
          <mat-option *ngFor="let size of tableSizes" [value]="size">{{size}}</mat-option>
        </mat-select>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mobileView">
  <div class="bg row mx-0 my-1">
    <ng-container *ngIf="(yetToApproveAll) as result">
      <div class="col-sm-12 col-md-6 p-0" *ngFor="let item of result|paginate:paginationConfig;">
        <div class="card outer-card">
          <div class="row rc-p">
            <div class="col-7">
              <div class="row">
                <div class="col-12">
                  <h6 class="card-subtitle">Status</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-12 status-text">
                  {{ item.approved_state ? item.approved_state : 'Yet to Approve'|titlecase }}
                </div>
              </div>
            </div>
            <div class="col-5">
              <ng-container *ngFor="let approval of accessConfig">
                <!-- <span *ngIf="approval == 'DELETE'" style="float: right;">
                          <button type="button" class="toolbar-btn "   (click)="open(item)"  ><i class="bi bi-trash" style="color: red; font-size: 24px;"></i></button>
                        
                        </span> -->
                <span *ngIf="approval == 'ACCEPT'" style="float: right;">
                  <button type="button" class="toolbar-btn " (click)="open(item.id,'APPROVED')"><i
                      class="bi bi-check-circle" container="body" ngbTooltip="Approve" style="color:green"></i></button>
                </span>
                <span *ngIf="approval == 'REJECT'" style="float: right;">
                  <button type="button" class="toolbar-btn " (click)="open(item.id,'DECLINED')"><i
                      class="bi bi-x-circle" container="body" ngbTooltip="Reject" style="color:red"></i></button>
                </span>
              </ng-container>
            </div>
          </div>
          <div class="card inner-card">
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <div class="col-12">
                      <h6 class="card-subtitle">Saved On</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 val-r">
                      {{item['created_date_time'] | date : 'dd-MM-yyyy'}}
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <div class="col-12">
                      <h6 class="card-subtitle">Employee</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 val-r">
                      {{ item.created_by_name ?item.created_by_name :'NA' |titlecase}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <div class="col-12">
                      <h6 class="card-subtitle">Timesheet Id</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 val-r">
                      {{ item.id ? item.id :'NA'|titlecase }}
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <div class="col-12">
                      <h6 class="card-subtitle">Time</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 val-r">
                      {{ item['time_spent']|titlecase }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="result.length === 0" class="mobileView col-12">
        <div class="card">
          <div class="card-body">
            <p>No records found
              !</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div *ngIf="yetToApproveAll.length !== 0">
    <div class="pagination-container p-0 pt-2">
      <!-- Pagination Controls (Center-Aligned) -->
      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
      </pagination-controls> 
    </div>
    <!-- Items Per Page Selector (Right-Aligned) -->
    <div class="pagination-container">
      <div class="mx-2">Items per page</div>
      <mat-select (selectionChange)="onTableSizeChange($event)" placeholder="10" class="page-size">
        <mat-option *ngFor="let size of tableSizes" [value]="size">{{size}}</mat-option>
      </mat-select>
    </div>
  </div>
</div>