::ng-deep .create-employees .mat-stepper-horizontal-line {
    margin: 0px !important;
}

::ng-deep .create-employees .mat-horizontal-stepper-header {
    display: flex;
    justify-content: center;
    height: 40px;
    max-width: 100%;
    width: 200px !important;
    overflow: hidden;
    align-items: center;
    padding: 0px;
    background: #ECECEC;
    box-shadow: 4px 4px 0px 0px #B4B4B4;
    border-radius: 6px;
}

::ng-deep .create-employees .mat-step-header[aria-selected="true"] {
    background-color: #E2F7FF;
    box-shadow: 4px 4px 0px 0px #126EB4;
}



::ng-deep .create-employees .mat-step-header .mat-step-icon {
    background: #FFFFFF;
    color: #000000;
}

::ng-deep .mat-horizontal-stepper-header:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

::ng-deep .create-employees .mat-horizontal-stepper-header-container {
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

::ng-deep .create-employees .mat-step-text-label {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 700;
}

::ng-deep .create-employees .mat-horizontal-content-container {
    padding: 0px;
    height: 70vh !important;
    overflow-y: auto !important;
    width: 100% !important;
    overflow-x: hidden;
}
.create-employees .edit-or-upload-icon {
    font-size: 17px;
    color: white;
    background: #1b64a0;
    border-radius: 12px;
}
::ng-deep .create-employees .mat-form-field-wrapper{
    padding-bottom: 0em;
}
.create-employees .back-button{
    // background-color: lightgray;
    margin-right: 15px;
}
.create-employees #eye-icon {
    position: absolute;
    top: 40px;
    right: 27px;
    color: #407bff;
    font-size: larger;
}

// ::ng-deep .mat-step-icon-state-edit {
//     background-color: white !important;
//     color: rgb(47, 199, 47) !important;
// }
// ::ng-deep .mat-step-header[ng-reflect-state="edit"]  {
//     background: #E2FFE5 !important;
//     box-shadow: 4px 4px 0px 0px #1BA104 !important;

// }

::ng-deep .preview .mat-form-field-wrapper {
    background-color: #f3f3f3 !important;
}

.preview .disable-pointer{
    pointer-events: none;
}
.preview .image-container{
    border: none;
}

::ng-deep .create-employees .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: .25em !important;
}