<div class="container-fluid">
    <div class="modal-body custom-modal-help">
        <!-- <h4 class="modal-title"><i class="bi bi-x-circle-fill text-danger fs-4 pr-2"></i>Transaction Failed!</h4> -->
          <h4 class="modal-title"><i class="bi bi-info-circle"></i>Note!</h4>
        <p class="text-start">Your new plan will begin only after your current plan expires.</p>
        <p class="text-start">The total number of users must align with your current plan. If you renew with fewer users than your existing count, any accounts created after the renewal will be deactivated once the current plan expires.</p>
    </div>
    <div class="modal-footer justify-content-center">
        <div class="row">
            <div class="col">
                <button mat-button type="button"  class="btn-cancel"  (click)="modalStatus('cancel')">Close</button>
                <button mat-button type="button" class="btn-yes" (click)="modalStatus('ok')">Proceed</button>
            </div>
        </div>

    </div>
</div>