<div class="container-wrapper webView">
  <div class="row pb-3">
    <div class="col-5 search-div">
      <input type="search" (input)="filterSearch($event)" class="form-control p-2 sizeinput" [(ngModel)]="term"
        placeholder="Search by department name" aria-describedby="emailHelp" autocomplete="off">
      <i class="bi bi-search" id="search-icon-tab"></i>
    </div>
    <div class="col-sm"></div>
    <div class="col-md-3 col-lg-3 p-1 text-end create-buttons">
      <button mat-raised-button class="proceedbtn mat-btn-s" routerLink="/department/create" type="button"
      *ngIf="userRole ==='Employee' && accessPermissions[0]?.create || userRole === 'Admin'">
        <mat-icon>add</mat-icon>Create Department</button>

    </div>
  </div>

  <div class="bg" *ngIf="userRole ==='Employee' && accessPermissions[0]?.view || userRole === 'Admin'">
    <div class="row">
      <div class="col px-0">

        <table class="table table table-hover table-list">
          <thead>
            <tr>
              <th scope="col"> S.No</th>
              <th scope="col">Department Name
                <i *ngIf="!arrowState['department_name']" (click)="sort('asc','department_name')"
                  class="bi bi-arrow-up"></i>
                <i (click)="sort('desc','department_name')" *ngIf="arrowState['department_name']"
                  class="bi bi-arrow-down"></i>
              </th>
              <th scope="col">Added Date
                <i *ngIf="!arrowState['created_datetime']" (click)="sort('asc','created_datetime')"
                  class="bi bi-arrow-up"></i>
                <i (click)="sort('desc','created_datetime')" *ngIf="arrowState['created_datetime']"
                  class="bi bi-arrow-down"></i>
              </th>
              <!-- <th scope="col">Status <i *ngIf="!arrow" (click)="sort('asc','od_status')" class="bi bi-arrow-up"></i><i
                  *ngIf="arrow" (click)="sort('desc','od_status')" class="bi bi-arrow-down"></i></th> -->
              <th scope="col">Action </th>
            </tr>
          </thead>
          <tbody>

            <ng-container *ngIf="(allDepartmentList) as result">
              <tr *ngFor='let item of result | customSort:directionValue:sortValue
                   |paginate : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                          }; let i=index'>
                <td>{{getContinuousIndex(i)}}</td>
                <td>{{item.department_name|titlecase }}</td>
                <td>{{item.created_datetime | date:'dd-MM-yyyy'}}</td>
                <!-- <td>{{item.od_status|titlecase}}</td> -->
                <td>
                  <ng-container>
                    <img src="../../../../assets/images/Edit.svg" class="icon-image"
                      *ngIf="userRole ==='Employee' && accessPermissions[0]?.update || userRole === 'Admin'"
                      routerLink="/department/update/{{item.id}}" container="body" ngbTooltip="Edit" />
                    <img src="../../../../assets/images/Delete.svg" class="icon-image" container="body"
                      *ngIf="userRole ==='Employee' && accessPermissions[0]?.delete || userRole === 'Admin'"
                      ngbTooltip="Delete" (click)="open(item.id)" />
                      <span  *ngIf="userRole ==='Employee' && !accessPermissions[0]?.update && !accessPermissions[0]?.delete">-</span>
                  </ng-container>
                </td>
                <!-- <td>
                          <ng-container *ngFor="let access of permissions">
                            <button mat-raised-button mat-mini-fab  routerLink="/department/update/{{item.id}}/{{page}}/{{tableSize}}" *ngIf="access === 'UPDATE'">
                              <i class="bi bi-pencil-square"  container="body" ngbTooltip="Edit" style="color: #000; font-size: 24px;"></i>
                            </button>
                            <button mat-raised-button mat-mini-fab  aria-label="Example icon button with a filter list icon" (click)="open(item.id)" *ngIf="access === 'DELETE'">
                              <i class="bi bi-trash" style="color: red;" container="body" ngbTooltip="Delete"></i>
                            </button>
                          </ng-container>
                         </td> -->

              </tr>
             
            </ng-container>
          </tbody>
        </table>
        <div class="col-12" *ngIf="allDepartmentList.length === 0">
          <app-generic-norecards></app-generic-norecards>
        </div>
      </div>
    </div>

  </div>
  <div class="pagination-container p-0 pt-2">
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
    </pagination-controls>
    <div class="items-per-page-container">
      <div>Items per page</div>
      <mat-select [(ngModel)]="tableSize" (selectionChange)="onTableSizeChange($event)" placeholder="10"
        class="page-size">
        <mat-option *ngFor="let size of tableSizes" [value]="size">{{size}}</mat-option>
      </mat-select>
    </div>
  </div>

</div>


<div class="mobileView">
  <div class="row mx-1 my-2">
    <div class="col-sm-6">
      <!-- <h1>Department List</h1> -->
    </div>
    <div class="col-sm-6 col-md-6 mb-1 search-div px-0">
      <input type="text" class="form-control py-3 px-4" (click)="filterSearch($event)" [(ngModel)]="term"
        placeholder="Search by department name/status" aria-describedby="emailHelp" autocomplete="off">
      <i class="bi bi-search" id="search-icon" ></i>
    </div>
  </div>
  <div class="bg row mx-0 my-1">
    <ng-container *ngIf="(allDepartmentList) as result">
      <div class="col-sm-12 col-md-6 main-col" *ngFor='let item of result|paginate : {
        itemsPerPage: tableSize,
        currentPage: page,
        totalItems: count
      } ;let i=index'>
        <div class="card outer-card" (click)="cardId(item)">
          <div class="row p-c">
            <div class="col-7">
              <div class="row">
                <div class="col-12">
                  <h6 class="card-subtitle"> Status</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  {{item.od_status|titlecase}}
                </div>
              </div>
            </div>

            <div class="col-5 p-0 text-end">
              <ng-container *ngFor="let access of permissions">
                <a *ngIf="access == 'UPDATE'"> <button type="button" class="toolbar-btn" (click)='editCard(item.id)'><i
                      class="bi bi-pencil-square" style="color: #000;" container="body"
                      ngbTooltip="Edit"></i></button></a>
                <a *ngIf="access == 'DELETE'"> <button type="button" class="toolbar-btn" (click)="open(item.id)"><i
                      class="bi bi-trash" style="color: red;"></i></button></a>
              </ng-container>
            </div>
          </div>
          <div class="card inner-card">
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <div class="col-12">
                      <h6 class="card-subtitle">Department Name</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 value-container">
                      {{item.department_name|titlecase }}
                    </div>
                  </div>
                </div>
                <div class="col-6">

                  <div class="row">
                    <div class="col-12 ">
                      <h6 class="card-subtitle">Added Date</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 value-container">
                      {{item.created_datetime | date:'dd-MM-yyyy'}}
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
      
    </ng-container>
    <div class="col-12" *ngIf="allDepartmentList.length === 0">
      <app-generic-norecards></app-generic-norecards>
    </div>
    <div class="pagination-container p-0 pt-2">
      <!-- Pagination Controls (Center-Aligned) -->
      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
      </pagination-controls>

      <!-- Items Per Page Selector (Right-Aligned) -->
      <div class="items-per-page-container">
        <div>Items per page</div>
        <mat-select [(ngModel)]="tableSize" (selectionChange)="onTableSizeChange($event)" placeholder="10"
          class="page-size">
          <mat-option *ngFor="let size of tableSizes" [value]="size">{{size}}</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="s-position">
      <ng-container>
        <button mat-fab type="button" routerLink="/department/create" class="createbtn-new" placement="top"
          container="body" ngbTooltip="Add">
          <i class="fa fa-plus"></i>
        </button>
      </ng-container>
    </div>

  </div>