<div class="container-wrapper webView">
  <div class="row ">
    <div class="col-sm-6">
        <h1>Role list</h1>
    </div>
    <div class="col-sm"></div>
    <div class="col-sm-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/dashboards">Home</a></li>
              <li class="breadcrumb-item">Role list</li>  
           </ol>
        </nav>
    </div>
  </div>

  <div class="row p-20">
      <div class="col-sm-2">
          <select (change)="onTableSizeChange($event)"  class="form-select ">
              <option *ngFor="let size of tableSizes" [value]="size">
                {{ size }}
              </option>
            </select>
      </div>
     
      <div class="col-sm"></div>
      <div class="col-md-6 col-lg-5 search-div">
          <input type="text" class="form-control p-2 sizeinput" [(ngModel)]="term" placeholder="Search by role name/description/status" aria-describedby="emailHelp"  autocomplete="off">
          <i class="bi bi-search" id="search-icon-tab" (click)="filterSearch()"></i> 
        </div>
  </div>
  <div class="bg">
  <div class="row">
      <div class="col">
          <div cdkDropList >
            <table class="table table-hover">
              <thead >
                  <tr>
                    <th scope="col">  Sl. No.</th>
                    
                    <th scope="col"> Role Name  <i  *ngIf="!arrow" (click)="sort('asc','user_role_name')" class="fa fa-sort-up"></i><i (click)="sort('desc','user_role_name')" *ngIf="arrow" class="fa fa-sort-down"></i></th>
                    <th scope="col"> Description <i  *ngIf="!arrow" (click)="sort('asc','description')" class="fa fa-sort-up"></i><i (click)="sort('desc','description')" *ngIf="arrow" class="fa fa-sort-down"></i></th>
                    <th scope="col"> Added Date <i  *ngIf="!arrow" (click)="sort('asc','created_time')" class="fa fa-sort-up"></i><i (click)="sort('desc','created_time')" *ngIf="arrow" class="fa fa-sort-down"></i></th>
                    <th scope="col"> Status <i  *ngIf="!arrow" (click)="sort('asc','role_status')" class="fa fa-sort-up"></i><i (click)="sort('desc','role_status')" *ngIf="arrow" class="fa fa-sort-down"></i></th>
                    <th scope="col" *ngIf="role == 'ADMIN'">Accessibilty</th>
                    <th scope="col" *ngIf="role == 'ADMIN'">Action</th>
                  </tr>
                </thead>
                
                <tbody>
                  <ng-container *ngIf="(allRoleList ) as result">
                  <tr *ngFor='let item of result|customSort:directionValue:sortValue|paginate:config;
                   let i=index' [class.active]="i == currentIndex">
                   <td>{{i + 1}}</td>
                  
                   <td>{{item.user_role_name}}</td>
                   <td>{{item.description}}</td>
                   <td>{{item.created_time | date : 'dd/MM/yyyy'}}</td>
                   <td>{{item.role_status}}</td>
                   <td  *ngIf="role == 'ADMIN'"><a routerLink="/role/roles-access/{{item.id}}/{{item.user_role_name}}"><i class="fa fa-cogs" aria-hidden="true" ></i></a></td>
                  
                 
                    <td  *ngIf="role == 'ADMIN'">
                     
                      <ng-container *ngFor="let access of permissions">
                        <button mat-mini-fab  routerLink="/role/update/{{item.id}}/{{page}}/{{tableSize}}" *ngIf="access === 'UPDATE'">
                          <i class="bi bi-pencil-square"  container="body" ngbTooltip="Edit"></i>
                        </button>
                        <button mat-mini-fab (click)="open(item.id)" *ngIf="access === 'DELETE'">
                          <i class="bi bi-trash-fill" style="color: red;" container="body" ngbTooltip="Delete"></i>
                        </button>
                      </ng-container>  
                    </td>
                  </tr>
                 <tr style="width: 100%;" *cdkDragPlaceholder  class="example-custom-placeholder">Drop here!</tr>
                 <tr *ngIf="result.length === 0" class="nodata">
                  <td> No records found!</td>  
                  </tr>
                </ng-container>
                </tbody>
            </table>
          </div>
            
      </div>
  </div>

</div>

<div class="row p-nav" >
           
  <div class="col-sm"></div>
  <div class="col-sm" >
      <div class="d-flex justify-content-end p-nav">
          <pagination-controls 
            previousLabel="Prev" 
            nextLabel="Next" 
            (pageChange)="onTableDataChange($event)">
          </pagination-controls>
        </div>
  </div>
</div>

<ng-container *ngFor="let access of permissions">
  <button mat-raised-button mat-fab color="primary" *ngIf="access == 'CREATE'" routerLink="/role/create" class="createbtn" placement="top" container="body" ngbTooltip="Add role">
    <i class="fa fa-plus"></i>
  
  </button>
</ng-container>
</div>

<div class="mobileView">
<div class="row">
  <div class="col-sm-6">
      <h1> Role List</h1>
  </div>
  <div class="col-sm-6 col-md-6 mb-1 search-div">
    <input type="text" class="form-control p-2" [(ngModel)]="term" placeholder="Search by role name/description/status" aria-describedby="emailHelp"  autocomplete="off">
    <i class="bi bi-search" id="search-icon" (click)="filterSearch()"></i>
  </div>
</div> 

  <div class="bg row">
    <ng-container *ngIf="(allRoleList ) as result">
    <div class="col-sm-12 col-md-6 p-0" *ngFor='let item of result|paginate:config;'>
      <div class="card outer-card" >
        <div class="row rc-p">
          <div class="col-7">
            <div class="row">
              <div class="col-12">
               <h6 class="card-subtitle" style="color:black">Role Name</h6> 
              </div>
            </div>
            <div class="row">
              <div class="col-12 val-r r-1">
                {{item.user_role_name}}
              </div>
            </div>
          </div>
          <div class="col-5 p-0 text-end" *ngIf="role == 'ADMIN'">
          <ng-container *ngFor="let access of permissions">
            <button *ngIf="access === 'UPDATE'" routerLink="/role/update/{{item.id}}/{{page}}/{{tableSize}}" type="button" class="toolbar-btn"  placement="top" container="body"   ngbTooltip="Edit"><i class="bi bi-pencil-square"  container="body" ngbTooltip="Edit"></i></button>
            <button  *ngIf="access === 'DELETE'" (click)="open(item.id)"  type="button" class="toolbar-btn"  placement="top" container="body"  ngbTooltip="Delete" ><i class="bi bi-trash-fill"></i></button>
          </ng-container>
        </div>
          
        </div>
        
        <div class="card inner-card">
          <div class="card-body">
          
          
           <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-12">
                  <h6 class="card-subtitle">Added Date</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-12 val-r">
                  {{item.created_time | date : 'dd/MM/yyyy'}}
                </div>
              </div>
            </div>
            <div class="col-6">
             
              <div class="row">
                <div class="col-12 ">
                  <h6 class="card-subtitle">Status</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-12 val-r">
                  
                  {{item.role_status}}
                </div>
              </div>
            </div>
           </div>
           <div class="row">
            <div class="col-6">
              
              <div class="row">
                <div class="col-sm-12">
                  <h6 class="card-subtitle">Description</h6>
                </div>      
              </div>
              <div class="row">
                <div class="col-12 val-r">
                  {{item.description}}
                </div>
               
              </div>
            </div>
            <div class="col-6">
              <div class="row">
               <div class="col-12"  *ngIf="role == 'ADMIN'">
                 <h6 class="card-subtitle" >Accessibilty</h6>
               </div>
              </div>
              <div class="row">
                <div class="col-12"  *ngIf="role == 'ADMIN'">
                  <a routerLink="/role/roles-access/{{item.id}}/{{item.user_role_name}}"><i class="fa fa-cogs" aria-hidden="true" id="access-icon"></i></a>
                </div>
              </div>
             </div>
             
           </div>
         
          </div>
        </div>
      </div>
  
    </div>
    <div *ngIf="result.length === 0" >
      <app-generic-norecards></app-generic-norecards>
      </div>
      <div class="row"  *ngIf="result.length !== 0" >
        <div class="col-sm">
            <div class="d-flex justify-content-center">
                <pagination-controls 
                  previousLabel="Prev" 
                  nextLabel="Next" 
                  (pageChange)="onTableDataChange($event)">
                </pagination-controls>
              </div>
        </div>
      </div>
     
    </ng-container>
    <div class="s-position">
      <ng-container *ngFor="let access of permissions">
        
      <button mat-raised-button mat-fab color="primary" *ngIf="access == 'CREATE'" routerLink="/role/create" class="createbtn-new" placement="top" container="body" ngbTooltip="Add role">
        <i class="fa fa-plus"></i>
      </button>
      
    </ng-container>
    </div>
   
  </div>

</div>

