<div class="subscription-container">
    <ng-container *ngFor="let subscription of subscriptionData">
    <!-- Free Trial Card -->
     
    <mat-card [ngClass]="{
      'disable-freeTrail': freeTrailDisable,
      'grayed': firstPlanStandard,
      'free-trial-card': !freeTrailDisable && !firstPlanStandard
       }" 
    *ngIf="subscription.name === 'Free Trial'" [attr.disabled]="firstPlanStandard" [title]="firstPlanStandard ? 'You are not eligible for free trial':''">
      <ng-container *ngFor="let details of subscription.plan_details">
      <h2 class="plan-title">Free Trial</h2>
      <p class="plan-description">
        Enjoy all features for {{details?.no_of_days }} days, limited to {{details?.users}} users. Explore everything unrestricted and risk-free.
      </p>
      <div class="plan-price">
        <span>₹{{roundAmount(details?.amount)}}</span>
        <span class="validity"> {{ freeTrailDisable ? 'Expired' : 'Valid for ' + details?.no_of_days + ' days' }}</span>
      </div>
  
      <!-- White Background for List -->
      <div class="white-background">
        <ul class="plan-features">
          <li>✓ {{details?.no_of_days}}-days trial plan</li>
          <li>✓ Max {{details?.users}} users allowed</li>
          <li>✓ Full access to all modules</li>
        </ul>
      </div>
      <div class="text-center">
        <button mat-flat-button color="primary" [disabled]="freeTrailDisable || firstPlanStandard" [title]="freeTrailDisable ? 'You have already used the free trial. Please upgrade to the Standard Plan.':firstPlanStandard ? 'You are not eligible for free trial' : ''"  
        [ngClass]="freeTrailDisable ? 'cta-disabled' : 'cta-button'" 
        [ngClass]="{
          'cta-disabled': freeTrailDisable,
          'grayed-disabled': firstPlanStandard,
          'cta-button': !freeTrailDisable && !firstPlanStandard
           }" 
            (click)="openDialogue(subscription.id,details.id)">
          {{freeTrailDisable ? 'Plan Expired' : 'Start your free trial now'}}
        </button>
      </div>
    </ng-container>
    </mat-card>
  
    <!-- Standard Plan Card -->
    <mat-card class="standard-card" *ngIf="subscription.name === 'Standard'">
      
      <h2 class="plan-title standard-title p-r">Standard <img class="spakle-image" src="../../../../assets/images/sparkle-filled.svg"/></h2>
      <p class="plan-description">
        Choose a flexible payment plan that charges per user. Opt for annual or monthly payments as per your convenience.
      </p>
  
      <!-- Highlighted Background for Monthly and Yearly -->
      <div class="payment-options">
        <mat-card class="payment-option" (click)="setPaymentOption(true)" 
           [ngClass]="monthly ? 'active' : 'highlighted-option'" >
           <ng-container *ngFor="let details of subscription.plan_details">
            <ng-container *ngIf="details?.yearly_or_monthly_name === 'Monthly'">
              <div class="option-title">Monthly</div>
          <span class="price pe-1" >₹{{roundAmount(details?.amount)}} </span>
          <small>per user / monthly</small>
          
        </ng-container>
        </ng-container>
        </mat-card>
        <mat-card class="payment-option yearly-option" 
        (click)="setPaymentOption(false)" 
        [ngClass]="!monthly ? 'active' : 'highlighted-option'">
        <ng-container *ngFor="let details of subscription.plan_details">
          <ng-container *ngIf="details?.yearly_or_monthly_name === 'Yearly'">
            <div class="option-title">Yearly</div>
          <span class="price pe-1" >₹{{roundAmount(details?.amount - roundAmount(details?.discount)/100 * details?.amount ) }}</span>
          
          <small>per user / monthly</small>
          
          <div class="discount-badge"><i class="bi bi-x-circle"></i> {{roundAmount(details?.discount)}}% </div>
        </ng-container>
        </ng-container>
        </mat-card>
      </div>
  
      <!-- List inside white background -->
      <div class="dark-background">
        <ul class="plan-features">
          <li>✓ Enterprise plan</li>
          <li>✓ Full access to all modules</li>
        </ul>
      </div>
  
      <div class="no-refund-note text-center">
        <div style="margin:3px auto;">
           <div style="background: #62606054;
           padding: 5px 20px;
           border-radius: 3px;"> <span  style="margin-right: 5px;">⚠</span> No refund on subscription cancellation </div> 
        </div>
      </div>
      <div class="text-center">
        <button mat-flat-button color="primary" class="cta-button" (click)="buyStandardPlan()">
          Buy Standard Plan
        </button>
      </div>
      
    </mat-card>
    
  </ng-container>
  </div>
  
  