.no-intenet{
    background:url('../../../../assets/images/no-internet.webp') no-repeat;
    height: 95vh;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    transform: scale(0.8);
}
.container-fluid{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ecf5fb;
}