<div class="container-fluid">
    <div class="modal-body custom-modal" >
        <h4 class="modal-title" *ngIf="message"><img src="../../../../assets/images/tick.png" style="vertical-align: middle;height: 30px;"/> {{message}}</h4>
        <p *ngIf="title" class="text-start text-wrap" >{{title}}</p>
    </div>
    <div class="modal-footer" [ngClass]="title ? 'justify-content-center':''">
        <button mat-button type="button" class="btn-yes" [style.backgroundColor]="message ? '' : '#B41212'" (click)="modalStatus('ok')" >{{'Close'}}</button>
    </div>
</div>


