<div class="container-fluid login-main-bg" style="margin: 0;padding: 5px 0px;">
    <div class="row login-content-bg">
        <div
            class="col-12 col-md-12 col-lg-6 col-xl-6 login-left-content order-2 order-sm-2 order-md-2 order-lg-1 order-xl-1 ">
            <img src="./../../../assets/images/login-left-content.png" class="left-content-img"
                alt="left-content-img" />
        </div>
        <div class="col-12 col-md-12 col-lg-6 col-xl-6 order-1 order-sm-1 order-md-1 order-lg-2 order-xl-2"
            style="position: relative; align-self: center;">
            <div class="login-right-content">
                <div class="row">
                    <div class="logo-section">
                        <img src="./../../../assets/images/logo.svg" alt="logo-img" width="170px" height="65px"
                            class="app-logo-content" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="login-text"><b>Forgot Password</b></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <form [formGroup]='forgotForm' (ngSubmit)='forgot()'>
                            <div class="row">
                                <div class="col custome-column">
                                    <!-- <fieldset class="input-fieldset">
                                <input type="text" class="form-control p-3  mb-3 accordion-header" formControlName='username' placeholder="Email Address" aria-describedby="emailHelp"  autocomplete="off" id="emailId">
                                <legend for="emailId">Email Address <span>*</span></legend>
                              </fieldset>
                              <span class="pass-visibility"><i class="bi bi-envelope"></i></span>
                              <div *ngIf="f['username'].touched && f['username'].invalid" class="p-r">
                                  <div *ngIf="f['username'].errors && f['username'].errors['required'] " class="error-msg" >Email Id is required.</div>
                                  <div *ngIf="f['username'].errors && f['username'].errors['email']" class="error-msg">Email Id is invalid.</div>
                              </div> -->
                                    <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                        <mat-label>Email Address<b class="r-star">*</b></mat-label>
                                        <input matInput formControlName='email' placeholder="Email Address"
                                            (keypress)="preventSpace($event)" aria-describedby="emailHelp"
                                            autocomplete="off" id="emailId">
                                        <mat-icon matSuffix>mail_outline</mat-icon>
                                        <mat-error *ngIf="f['email'].touched && f['email'].invalid">
                                            <span *ngIf="f['email'].errors && f['email'].errors['required']">Email
                                                Id is required.</span>
                                            <span *ngIf="f['email'].errors && f['email'].errors['email']">Email Id
                                                is invalid.</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="action-btn-link-content">
                                <a routerLink="../login" class="m-0">Go back to Login</a>
                                <button mat-button *ngIf="disableButton" class="proceedbtn" disabled>
                                    <div class="spinner-border forgot-button-spinner text-light " role="status">
                                        <span class="visually-hidden"></span>
                                      </div>
                                   </button>
                                <button *ngIf="!disableButton" mat-button class="proceedbtn" type="submit">Submit</button>
                                <!-- <button mat-raised-button class="proceedbtn" type="submit" [disabled]="disableButton">Submit</button> -->
                            </div>

                            <!-- <div class="row" style="text-align: center;">
                        <div class="col">
                            <p>Copyright Ⓒ <a href="https://www.ekfrazo.com/"  target="_blank" style="color: #3F51B5;text-decoration: none;">Ekfrazo Technologies Private Limited</a></p>
                        </div>
                    </div>
                    <div class="row" style="text-align: center;">
                        <div class="col">
                            <p>All rights reserved.</p>
                        </div>
                    </div>
                  -->
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>