<div class="container-fluid" style="padding: 0px;">
    <div class="background-content">
        <div class="row">
            <div class="col-md-12 p-h"> 
               <div class="box">
                    <form [formGroup]='forgotForm' (ngSubmit)='forgot()'>
                        <div class="row">
                            <div class="col">
                                <h1 class="text-center py-4">Forgot Password?</h1>
                                <label >Email Id <b style="color:red !important">*</b></label>
                                <input type="text" class="form-control p-3 sizeinput" formControlName='username' placeholder="Enter email Id" aria-describedby="emailHelp"  autocomplete="off">
                                 <div *ngIf="f['username'].touched && f['username'].invalid" class="s-c" >
                                    <p  *ngIf="f['username'].errors['required']" class='s-c'>Email Id is Required</p>
                                    <div *ngIf="f['username'].invalid && f['username'].errors['email']"><p class='s-c'>Invalid Email Id </p></div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="row" class="text-center p-2">
                            <div class="col">
                                <button mat-raised-button class="proceedbtn" type="submit">Submit</button>
                            </div>
                        </div>
                        
                        <div class="row" style="text-align: center;">
                            <div class="col">
                                <a routerLink="../login"  class="forgot-links">Go Back to Login</a>
                            </div>
                        </div>
                        <!-- <div class="row" style="text-align: center;">
                            <div class="col">
                                <p>Copyright Ⓒ <a href="https://www.ekfrazo.com/"  target="_blank" style="color: #3F51B5;text-decoration: none;">Ekfrazo Technologies Private Limited</a></p>
                            </div>
                        </div>
                        <div class="row" style="text-align: center;">
                            <div class="col">
                                <p>All rights reserved.</p>
                            </div>
                        </div>
                      -->
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
  
</div>