<div class="container-wrapper webView">
    <!-- <div class="row">
        <div class="col-sm-6">
            <h1>Organization list</h1>
        </div>
        <div class="col-sm"></div>
        <div class="col-sm-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/dashboards">Home</a></li>
                  <li class="breadcrumb-item">Organization list</li>
                </ol>
              </nav>
        </div>
        
    </div> -->

        <div class="row p-20">
           
           
            <div class="col-sm-4 search-div px-0">
                <input type="text" class="form-control p-2 sizeinput" [(ngModel)]="term" placeholder="Search by organization name" aria-describedby="emailHelp"  autocomplete="off">
                <i class="bi bi-search" id="search-icon-tab" (click)="filterSearch()"></i>       
              </div>
              <div class="col-sm"></div>
              <div class="col-md-4 col-lg-3 text-center align-self-center">
                <div class="d-flex justify-content-center pg-bg">
                  <button *ngFor="let size of tableSizes" class="page-size-btn" [value]="size" (click)="onTableSizeChange($event)" [ngClass]="{'active-size': tableSize === size}"
                >{{size}}</button>
                </div>
                        </div>
        </div>
        <div class="bg">
        <div class="row">
            <div class="col">
               
                <table class="table table table-hover">
                    <thead>
                        <tr>
                          <th scope="col"> S.No</th>
                          <th scope="col">Organization<i  *ngIf="!arrow" (click)="sort('asc','org_name')" class="bi bi-arrow-up"></i><i (click)="sort('desc','org_name')" *ngIf="arrow" class="bi bi-arrow-down"></i></th>
                          <th scope="col">Email <i  *ngIf="!arrow" (click)="sort('asc','org_email')" class="bi bi-arrow-up"></i><i (click)="sort('desc','org_email')" *ngIf="arrow" class="bi bi-arrow-down"></i></th>
                          <th scope="col" class="text-center">No.Of Users <i  *ngIf="!arrow" (click)="sort('asc','number_of_users_in_organization')" class="bi bi-arrow-up"></i><i (click)="sort('desc','number_of_users_in_organization')" *ngIf="arrow" class="bi bi-arrow-down"></i></th>
                          <th scope="col">Phone <i  *ngIf="!arrow" (click)="sort('asc','conctact_person_phone_number')" class="bi bi-arrow-up"></i><i (click)="sort('desc','conctact_person_phone_number')" *ngIf="arrow" class="bi bi-arrow-down"></i></th>
                          <th scope="col">Logo</th>
                          <th scope="col">Status <i  *ngIf="!arrow" (click)="sort('asc','org_status')" class="bi bi-arrow-up"></i><i  *ngIf="arrow" (click)="sort('desc','org_status')" class="bi bi-arrow-down"></i></th>
                          <th scope="col">Action </th>
                        </tr>
                      </thead>
                      <tbody>
                      
                        <ng-container *ngIf="(organizationData) as result">
                        <tr *ngFor='let item of result|customSort:directionValue:sortValue
                           |paginate : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                          };    let i=index' >
                       
                         <td>{{i + 1 }}</td>
                         <td>{{item.org_name ? item.org_name :'NA' }}</td>
                         <td>{{item.org_email ? item.org_email :'NA' }}</td>
                         <td class="text-center">{{item.number_of_users_in_organization}}</td>
                         <td>{{item.conctact_person_phone_number ? item.conctact_person_phone_number:'NA'}}</td>
                         <td class="p-r">   
                            <img src="{{item.org_logo_path}}" alt="" height="25px" width="50px">
                            <a href="{{item.org_logo_path}}" target="_blank">
                             <i class="bi bi-eye" id="eye-btn"></i>
                          </a>
                          </td>
                         <td>{{item.org_status ? item.org_status : 'NA'}}</td>
                        
                         <td>
                          <ng-container >
                            <button mat-raised-button mat-mini-fab  routerLink="/organization/updateOrg/{{item.id}}" >
                              <i class="bi bi-pencil-square"  container="body" ngbTooltip="Edit" style="color: #000; font-size: 24px;"></i>
                            </button>
                            <button mat-raised-button mat-mini-fab  aria-label="Example icon button with a filter list icon" (click)="open(item.id)" >
                              <i class="bi bi-trash" style="color: red;" container="body" ngbTooltip="Delete"></i>
                            </button>
                          </ng-container> 
                            <!-- <a routerLink="/organization/updateOrg/{{item.id}}"><i class="bi bi-pencil-square"  container="body" ngbTooltip="Edit" style="color: #000; font-size: 24px;"></i></a>
                            <button mat-raised-button style="border: none;background-color: inherit;" (click)="open(item.id)"><i class="bi bi-trash" style="color: red;" container="body" ngbTooltip="Delete"></i></button> -->
                         </td>
                        
                        </tr>
                        <tr *ngIf="result.length === 0" class="nodata">
                          <td> No records found! </td>  
                        </tr>
                        </ng-container>
                      </tbody>
                  </table>
                   
            </div>
        </div>
        <div class="row">
           
            <div class="col-sm"></div>
            <div class="col-sm-12" >
                <div class="d-flex justify-content-center p-nav">
                    <pagination-controls 
                      previousLabel="Prev" 
                      nextLabel="Next" 
                      (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                  </div>
            </div>
        </div>
    </div>
    <ng-container>
      <button mat-raised-button mat-fab color="primary"  routerLink="/organization/createOrg" class="createbtn" placement="top" container="body" ngbTooltip="Add organization">
        <i class="fa fa-plus"></i>
      </button>
    </ng-container>
        <!-- <a routerLink="/organization/createOrg"> <button mat-raised-button type="button"  class="createbtn" placement="top" container="body" ngbTooltip="Add Department"><i class="fa fa-plus"></i>
  </button></a> -->
    
</div>


<div class="mobileView">
    <div class="row mx-1 my-2">
      <div class="col-sm-6">
        <!-- <h1>Organization List</h1> -->
      </div>
      <div class="col-sm-6 col-md-6 mb-1 search-div px-0">
        <input type="text" class="form-control py-3 px-4" [(ngModel)]="term" placeholder="Search by organization name" aria-describedby="emailHelp"  autocomplete="off">
        <i class="bi bi-search" id="search-icon" (click)="filterSearch()"></i>
      </div>
    </div> 
      <div class="bg row mx-0 my-1">
        <ng-container *ngIf="(organizationData) as result">
        <div class="col-sm-12 col-md-6 main-col" *ngFor='let item of result|paginate : {
          itemsPerPage: tableSize,
          currentPage: page,
          totalItems: count
        } ;let i=index' >
          <div class="card outer-card" >
            <div class="row">
              <div class="col-6" >
                <a href="{{item.org_logo_path}}" target="_blank">
                <img src="{{item.org_logo_path}}" alt="" class="org-logo">
               </a>
              </div>
              <div class="col-5 p-0 text-end action-btn">
                <a> <button  type="button" class="toolbar-btn"   (click)='editCard(item.id)'  ><i class="bi bi-pencil-square"  container="body" ngbTooltip="Edit" style="color: #000; font-size: 24px;"></i></button></a>
                <a> <button  type="button" class="toolbar-btn"   (click)="open(item.id)"   ><i class="bi bi-trash" style="color: red; font-size: 24px;"></i></button></a>
            </div>
            </div>
            <div class="row p-c">
              <div class="col-6">
                <div class="row">
                    <div class="col-12">
                      <h6 class="card-subtitle text-start"> Organization</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 value-container text-start " >
                      {{item.org_name ? item.org_name :'NA' }}
                    </div>
                  </div>
              </div>
                <div class="col-6">
                 
                  <div class="row">
                    <div class="col-12">
                      <h6 class="card-subtitle text-start"> Status</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 value-container text-start">
                    {{item.org_status ? item.org_status : 'NA'}}
                    </div>
                  </div>
                </div>
             
              
               </div>
               <div class="card inner-card">
                <div class="card-body py-0">
                  <div class="row">
                    <div class="col-6">
                      
                  <div class="row">
                    <div class="col-12">
                      <h6 class="card-subtitle text-start"> Email</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 value-container text-start">
                      {{item.org_email ? item.org_email :'NA' }}
                    </div>
                  </div>
                    </div>
                    <div class="col-6">
                      
                  <div class="row">
                    <div class="col-12">
                      <h6 class="card-subtitle text-start"> Phone</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 value-container text-start">
                      <td>{{item.conctact_person_phone_number ? item.conctact_person_phone_number:'NA'}}</td>
                    </div>
                  </div>
                    </div>
                   </div>
                </div>
               </div>
               
            <!-- <div class="card inner-card">
              <div class="card-body">
               <div class="row">
                <div class="col-6">
                   <div class="row">
                    <div class="col-12">
                     <h6 class="card-subtitle">Department Name</h6> 
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                        {{item.od_name }}
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  
                  <div class="row">
                    <div class="col-12 ">
                      <h6 class="card-subtitle">Description</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                        {{item.od_c_date | date:'mediumDate'}}
                    </div>
                  </div>
                </div>
               </div>
              
              </div>
            </div> -->
          </div>
          
        </div>
        <div *ngIf="result.length === 0" >
          <app-generic-norecards></app-generic-norecards>
          </div>
        </ng-container>
       
          <!-- <div class="s-position">
            <a routerLink="/department/create"> <button mat-raised-button type="button"  class="createbtn-new" placement="top" container="body" ngbTooltip="Add"><i class="fa fa-plus"></i>
  </button></a>
          </div> -->      
      </div>
      <div class="row mobile-pagination" *ngIf="organizationData.length !== 0">
        <div class="col-sm-12" >
            <div class="mobile-pagination-content">
                <pagination-controls 
                  previousLabel="Prev" 
                  nextLabel="Next" 
                  (pageChange)="onTableDataChange($event)">
                </pagination-controls>
               <div><button *ngFor="let size of tableSizes" class="page-size-btn" [value]="size" (click)="onTableSizeChange($event)" [ngClass]="{'active-size': tableSize === size}"
                >{{size}}</button></div>
              </div>
        </div>
      </div>
      <div class="s-position">
        <ng-container> 
        <button  mat-fab routerLink="/organization/createOrg" class="createbtn-new" placement="top" container="body" ngbTooltip="Add"><i class="fa fa-plus"></i>
        </button>
        </ng-container>
       
      </div>
    </div>




