.create-department ::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0em;
}
.create-department .back-button{
    margin-right: 15px !important;
}
.bg {
    // background-color: white;
    height: 100%;
    width: 100%;
}

.mobileView{
    background: linear-gradient(to left, #e0f2fe, #ffffff);
}
.mobileView .bg{
    background: transparent !important;
}