<div class="container-fluid webView p-20">
    <div class="generic-form bg mx-2">
        <form [formGroup]='clientForm' (ngSubmit)='addClient()'>
            <div class="row create-client">
                <div class="col-12">
                    <div class="py-3">
                        <h5 class="py-1"><b>Client Details</b></h5>
                        <p>Enter the below details!</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Enter Client Name <b class="r-star">*</b></mat-label>
                                <input matInput placeholder="Enter client name" formControlName="c_name"
                                    autocomplete="off" pattern="^[a-zA-Z]+( [a-zA-Z]+)*$">
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['c_name']?.touched && f['c_name']?.invalid">
                                <span class="text-errors"
                                    *ngIf="f['c_name'].errors && f['c_name'].errors['required'] ">Client name is
                                    required</span>
                                <span class="text-errors"
                                    *ngIf="f['c_name'].invalid && f['c_name'].hasError('pattern')">
                                    Please remove extra space.
                                </span>
                            </div>
                        </div>
                        <div class="py-3">
                            <h5 class="py-1"><b>Contact Details</b></h5>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Contact Person Name <b class="r-star">*</b></mat-label>
                                <input matInput placeholder="Enter contact person name"
                                    formControlName="c_contact_person" autocomplete="off"
                                    pattern="^[a-zA-Z]+( [a-zA-Z]+)*$">
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['c_contact_person']?.touched && f['c_contact_person']?.invalid">
                                <span class="text-errors"
                                    *ngIf="f['c_contact_person'].errors && f['c_contact_person'].errors['required'] ">Contact
                                    person name is
                                    required</span>
                                <span class="text-errors"
                                    *ngIf="f['c_contact_person'].invalid && f['c_contact_person'].hasError('pattern')">
                                    Please remove extra space.
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Email Address<b class="r-star">*</b></mat-label>
                                <input matInput formControlName='c_contact_person_email_id' placeholder="Email Address"
                                    (keypress)="preventSpace($event)" aria-describedby="emailHelp" autocomplete="off"
                                    id="emailId">
                            </mat-form-field>
                            <div class="px-2"
                                *ngIf="f['c_contact_person_email_id'].touched && f['c_contact_person_email_id'].invalid">
                                <span class="text-errors"
                                    *ngIf="f['c_contact_person_email_id'].errors && f['c_contact_person_email_id'].errors['required']">Email
                                    Id is required.</span>
                                <span class="text-errors"
                                    *ngIf="f['c_contact_person_email_id'].errors && f['c_contact_person_email_id'].errors['email']">Email
                                    Id is invalid.</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Phone Nnumber <b class="r-star">*</b></mat-label>
                                <input matInput type="number" placeholder="Enter phone number"
                                    formControlName="c_contact_person_phone_no" autocomplete="off" maxlength="10"
                                    pattern="\d{10}" onKeyPress="if(this.value.length==10) return false;"
                                    (keypress)="validateKeyPress($event)">
                            </mat-form-field>
                            <div class="px-2"
                                *ngIf="f['c_contact_person_phone_no']?.touched && f['c_contact_person_phone_no']?.invalid">
                                <span class="text-errors"
                                    *ngIf="f['c_contact_person_phone_no'].errors?.['pattern']">Please enter 10 digits
                                    phone number.</span>
                                <span class="text-errors"
                                    *ngIf="f['c_contact_person_phone_no'].errors?.['required']">Phone number is
                                    required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Address <b class="r-star">*</b></mat-label>
                                <textarea matInput placeholder="Enter address"
                                    formControlName="c_contact_person_address" autocomplete="off"></textarea>
                            </mat-form-field>
                            <div class="px-2"
                                *ngIf="f['c_contact_person_address']?.touched && f['c_contact_person_address']?.invalid">
                                <span class="text-errors"
                                    *ngIf="f['c_contact_person_address'].invalid && f['c_contact_person_address'].hasError('pattern')">Address
                                    cannot
                                    start with a space.</span>
                                <span class="text-errors"
                                    *ngIf="f['c_contact_person_address'].errors?.['required']">Address is
                                    required.</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-2 billable-checkbox">
                            <input class="checkbox" type="checkbox" formControlName="c_type" checked>
                            <label for="" class="ps-3 fw-semibold">Billable?</label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div>
                                <button type="submit" mat-raised-button class="proceedbtn"
                                    color="primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

</div>


<div class="container-fluid mobileView">
    <div class="row mx-1 my-2">
        <div class="col-sm">
            <h1><i class="bi bi-arrow-left" (click)="goBack($event)"></i> Add client</h1>
        </div>
    </div>
    <div class="generic-form bg mx-2">
        <form [formGroup]='clientForm' (ngSubmit)='addClient()'>
            <div class="row mx-0 gx-0 create-client">
                <div class="col-12 ">
                    <div class="py-3">
                        <h5 class="py-1"><b>Client Details</b></h5>
                        <p>Enter the below details!</p>
                    </div>
                    <div class="row mx-0 gx-0">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Enter Client Name <b class="r-star">*</b></mat-label>
                                <input matInput placeholder="Enter client name" formControlName="c_name"
                                    autocomplete="off" pattern="^[a-zA-Z]+( [a-zA-Z]+)*$">
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['c_name']?.touched && f['c_name']?.invalid">
                                <span class="text-errors"
                                    *ngIf="f['c_name'].errors && f['c_name'].errors['required'] ">Client name is
                                    required</span>
                                <span class="text-errors"
                                    *ngIf="f['c_name'].invalid && f['c_name'].hasError('pattern')">
                                    Please remove extra space.
                                </span>
                            </div>
                        </div>
                        <div class="py-3">
                            <h5 class="py-1"><b>Contact Details</b></h5>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Contact Person Name <b class="r-star">*</b></mat-label>
                                <input matInput placeholder="Enter contact person name"
                                    formControlName="c_contact_person" autocomplete="off"
                                    pattern="^[a-zA-Z]+( [a-zA-Z]+)*$">
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['c_contact_person']?.touched && f['c_contact_person']?.invalid">
                                <span class="text-errors"
                                    *ngIf="f['c_contact_person'].errors && f['c_contact_person'].errors['required'] ">Contact
                                    person name is
                                    required</span>
                                <span class="text-errors"
                                    *ngIf="f['c_contact_person'].invalid && f['c_contact_person'].hasError('pattern')">
                                    Please remove extra space.
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Email Address<b class="r-star">*</b></mat-label>
                                <input matInput formControlName='c_contact_person_email_id' placeholder="Email Address"
                                    (keypress)="preventSpace($event)" aria-describedby="emailHelp" autocomplete="off"
                                    id="emailId">
                            </mat-form-field>
                            <div class="px-2"
                                *ngIf="f['c_contact_person_email_id'].touched && f['c_contact_person_email_id'].invalid">
                                <span class="text-errors"
                                    *ngIf="f['c_contact_person_email_id'].errors && f['c_contact_person_email_id'].errors['required']">Email
                                    Id is required.</span>
                                <span class="text-errors"
                                    *ngIf="f['c_contact_person_email_id'].errors && f['c_contact_person_email_id'].errors['email']">Email
                                    Id is invalid.</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Phone No <b class="r-star">*</b></mat-label>
                                <input matInput type="number" placeholder="Enter phone no"
                                    formControlName="c_contact_person_phone_no" autocomplete="off" maxlength="10"
                                    pattern="\d{10}" onKeyPress="if(this.value.length==10) return false;"
                                    (keypress)="validateKeyPress($event)">
                            </mat-form-field>
                            <div class="px-2"
                                *ngIf="f['c_contact_person_phone_no']?.touched && f['c_contact_person_phone_no']?.invalid">
                                <span class="text-errors"
                                    *ngIf="f['c_contact_person_phone_no'].errors?.['pattern']">Please enter 10 digits
                                    phone number.</span>
                                <span class="text-errors"
                                    *ngIf="f['c_contact_person_phone_no'].errors?.['required']">Phone number is
                                    required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Address</mat-label>
                                <textarea matInput placeholder="Enter address"
                                    formControlName="c_contact_person_address" autocomplete="off"></textarea>
                            </mat-form-field>
                            <div class="px-2"
                                *ngIf="f['c_contact_person_address']?.touched && f['c_contact_person_address']?.invalid">
                                <span class="text-errors"
                                    *ngIf="f['c_contact_person_address'].invalid && f['c_contact_person_address'].hasError('pattern')">Address
                                    cannot start with a space.</span>
                                <span class="text-errors"
                                    *ngIf="f['c_contact_person_address'].errors?.['required']">Address is
                                    required.</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 billable-checkbox">
                            <input class="checkbox" type="checkbox" checked formControlName="c_type">
                            <label for="" class="ps-3 fw-semibold">Billable?</label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div>
                                <button type="submit" mat-raised-button class="proceedbtn"
                                    color="primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

</div>