<div class="container-fluid webView p-20">
    <div class="generic-form bg mx-2">
        <form [formGroup]='clientForm'>
            <div class="row create-client">
                <div class="col-12">
                    <div class="py-3">
                        <h5 class="py-1"><b>Client Details</b></h5>
                        <p>Enter the below details!</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Enter Client Name <b class="r-star">*</b></mat-label>
                                <input matInput type="text" placeholder="Enter client name" formControlName="clint_name"
                                    autocomplete="off" pattern="^(?!\s)(.*\S)?$">
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['clint_name']?.touched && f['clint_name']?.invalid">
                                <span class="text-errors"
                                    *ngIf="f['clint_name'].errors && f['clint_name'].errors['required'] ">Client name is
                                    required</span>
                                <span class="text-errors"
                                    *ngIf="f['clint_name'].invalid && f['clint_name'].hasError('pattern')">
                                    Please remove extra space.
                                </span>
                                <span class="text-errors"
                                    *ngIf="!f['clint_name'].errors?.['required'] && f['clint_name'].errors?.['maxlength']">
                                    Client name cannot exceed more than 50 characters.
                                </span>
                            </div>
                        </div>
                        <div class="py-3">
                            <h5 class="py-1"><b>Contact Details</b></h5>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Contact Person Name <b class="r-star">*</b></mat-label>
                                <input matInput placeholder="Enter contact person name"
                                    formControlName="contact_person_name" autocomplete="off"
                                    pattern="^[a-zA-Z]+( [a-zA-Z]+)*$">
                            </mat-form-field>
                            <div class="px-2"
                                *ngIf="f['contact_person_name']?.touched && f['contact_person_name']?.invalid">
                                <span class="text-errors"
                                    *ngIf="f['contact_person_name'].errors && f['contact_person_name'].errors['required'] ">
                                    Contact person name is required</span>
                                <span class="text-errors"
                                    *ngIf="f['contact_person_name'].invalid && f['contact_person_name'].hasError('pattern')">
                                    Invalid Contact person name
                                </span>
                                <span class="text-errors"
                                    *ngIf="!f['contact_person_name'].errors?.['required'] && f['contact_person_name'].errors?.['maxlength']">
                                    Contact person name cannot exceed more than 50 characters.
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Email Address<b class="r-star">*</b></mat-label>
                                <input matInput formControlName='email' placeholder="Email Address" oninput="this.value = this.value.toLowerCase()"
                                    (keypress)="preventSpace($event)" aria-describedby="emailHelp" autocomplete="off"
                                    id="emailId">
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['email'].touched && f['email'].invalid">
                                <span class="text-errors"
                                    *ngIf="f['email'].errors && f['email'].errors['required']">Email
                                    Id is required.</span>
                                <span class="text-errors"
                                    *ngIf="f['email'].errors && f['email'].errors['pattern']">Email
                                    Id is invalid.</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Phone number <b class="r-star">*</b></mat-label>
                                <input matInput type="number" placeholder="Enter phone number"
                                    formControlName="phone_number" autocomplete="off" maxlength="10" pattern="\d{10}"
                                    onKeyPress="if(this.value.length==10) return false;"
                                    (keypress)="validateKeyPress($event)">
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['phone_number']?.touched && f['phone_number']?.invalid">
                                <span class="text-errors" *ngIf="f['phone_number'].errors?.['pattern']">Please enter 10
                                    digits
                                    phone number.</span>
                                <span class="text-errors" *ngIf="f['phone_number'].errors?.['required']">Phone number is
                                    required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>Address <b class="r-star">*</b></mat-label>
                                <textarea style="height: auto;" matInput placeholder="Enter address"
                                    formControlName="address" pattern="^(?!\s)(.*\S)?$" autocomplete="off"></textarea>

                            </mat-form-field>
                            <div class="text-end"><small>{{f['address'].value.length}}/200 characters</small></div>
                            <div class="px-2" *ngIf="f['address']?.touched && f['address']?.invalid">
                                <span class="text-errors"
                                    *ngIf="f['address'].invalid && f['address'].hasError('pattern')">
                                    Please remove extra space.</span>
                                <span class="text-errors" *ngIf="f['address'].errors?.['required']">Address is
                                    required.</span>
                                <span class="text-errors"
                                    *ngIf="!f['address'].errors?.['required'] && f['address'].errors?.['maxlength']">
                                    Address cannot exceed more than 200 characters.
                                </span>
                            </div>
                        </div>
                        <!-- <div class="col-sm-12 col-md-6 col-lg-3 col-xl-2 billable-checkbox">
                            <input class="checkbox" type="checkbox" formControlName="is_billable" checked>
                            <label for="" class="ps-3 fw-semibold">Billable?</label>
                        </div> -->
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div>
                                <button type="button" mat-raised-button class="proceedbtn" color="primary"
                                    (click)="addClient()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

</div>


<div class="container-fluid mobileView p-3">
    <div class="generic-form bg">
        <form [formGroup]='clientForm'>
            <div class="row mx-0 gx-0 create-client">
                <div class="col-12 ">
                    <div class="py-3">
                        <h5 class="py-1"><b>Client Details</b></h5>
                        <p>Enter the below details!</p>
                    </div>
                    <div class="row mx-0 gx-0">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Enter Client Name <b class="r-star">*</b></mat-label>
                                <input matInput placeholder="Enter client name" formControlName="clint_name"
                                    autocomplete="off" pattern="^(?!\s)(.*\S)?$">
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['clint_name']?.touched && f['clint_name']?.invalid">
                                <span class="text-errors"
                                    *ngIf="f['clint_name'].errors && f['clint_name'].errors['required'] ">Client name is
                                    required</span>
                                <span class="text-errors"
                                    *ngIf="f['clint_name'].invalid && f['clint_name'].hasError('pattern')">
                                    Please remove extra space.
                                </span>
                                <span class="text-errors"
                                    *ngIf="!f['clint_name'].errors?.['required'] && f['clint_name'].errors?.['maxlength']">
                                    Client name cannot exceed more than 50 characters.
                                </span>
                            </div>
                        </div>
                        <div class="py-3">
                            <h5 class="py-1"><b>Contact Details</b></h5>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Contact Person Name <b class="r-star">*</b></mat-label>
                                <input matInput placeholder="Enter contact person name"
                                    formControlName="contact_person_name" autocomplete="off"
                                    pattern="^[a-zA-Z]+( [a-zA-Z]+)*$">
                            </mat-form-field>
                            <div class="px-2"
                                *ngIf="f['contact_person_name']?.touched && f['contact_person_name']?.invalid">
                                <span class="text-errors"
                                    *ngIf="f['contact_person_name'].errors && f['contact_person_name'].errors['required'] ">Contact
                                    person name is
                                    required.</span>
                                <span class="text-errors"
                                    *ngIf="f['contact_person_name'].invalid && f['contact_person_name'].hasError('pattern')">
                                    Invalid Contact person name.
                                </span>
                                <span class="text-errors"
                                    *ngIf="!f['contact_person_name'].errors?.['required'] && f['contact_person_name'].errors?.['maxlength']">
                                    Contact person name cannot exceed more than 50 characters.
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Email Address<b class="r-star">*</b></mat-label>
                                <input matInput formControlName='email' placeholder="Email Address" oninput="this.value = this.value.toLowerCase()"
                                    (keypress)="preventSpace($event)" aria-describedby="emailHelp" autocomplete="off"
                                    id="emailId">
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['email'].touched && f['email'].invalid">
                                <span class="text-errors"
                                    *ngIf="f['email'].errors && f['email'].errors['required']">Email
                                    Id is required.</span>
                                <span class="text-errors" *ngIf="f['email'].errors && f['email'].errors['email']">Email
                                    Id is invalid.</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Phone No <b class="r-star">*</b></mat-label>
                                <input matInput type="number" placeholder="Enter phone no"
                                    formControlName="phone_number" autocomplete="off" maxlength="10" pattern="\d{10}"
                                    onKeyPress="if(this.value.length==10) return false;"
                                    (keypress)="validateKeyPress($event)">
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['phone_number']?.touched && f['phone_number']?.invalid">
                                <span class="text-errors" *ngIf="f['phone_number'].errors?.['pattern']">Please enter 10
                                    digits
                                    phone number.</span>
                                <span class="text-errors" *ngIf="f['phone_number'].errors?.['required']">Phone number is
                                    required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Address</mat-label>
                                <textarea matInput placeholder="Enter address" formControlName="address"
                                    style="height: auto;" pattern="^(?!\s)(.*\S)?$" autocomplete="off"></textarea>
                            </mat-form-field>
                            <div class="text-end"><small>{{f['address'].value.length}}/200 characters</small></div>
                            <div class="px-2" *ngIf="f['address']?.touched && f['address']?.invalid">
                                <span class="text-errors" *ngIf="f['address'].errors?.['required']">Address is
                                    required.</span>
                                <span class="text-errors"
                                    *ngIf="f['address'].invalid && f['address'].hasError('pattern')">
                                    Please remove extra space.</span>
                                <span class="text-errors"
                                    *ngIf="!f['address'].errors?.['required'] && f['address'].errors?.['maxlength']">
                                    Address cannot exceed more than 200 characters.
                                </span>
                            </div>
                        </div>
                        <!-- <div class="col-sm-12 col-md-6 col-lg-2 billable-checkbox">
                            <input class="checkbox" type="checkbox" checked formControlName="is_billable">
                            <label for="" class="ps-3 fw-semibold">Billable?</label>
                        </div> -->
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div>
                                <button type="button" mat-raised-button class="proceedbtn" color="primary"
                                    (click)="addClient()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

</div>