<!-- <ngx-ui-loader fgsColor="#1d2a6e" pbColor="#1d2a6e" text="Please wait..."></ngx-ui-loader> -->
<div class="container-fluid login-main-bg" style="margin: 0;padding: 5px 0px;">
    <div class="row login-content-bg">
        <div
            class="col-12 col-md-12 col-lg-6 col-xl-6 login-left-content order-2 order-sm-2 order-md-2 order-lg-1 order-xl-1 ">
            <img src="./../../../assets/images/login-left-content.png" class="left-content-img"
                alt="left-content-img" />
        </div>
        <div class="col-12 col-md-12 col-lg-6 col-xl-6 order-1 order-sm-1 order-md-1 order-lg-2 order-xl-2"
            style="position: relative; align-self: center;">
            <div class="login-right-content">
                <div class="row">
                    <div class="logo-section">
                        <img src="./../../../assets/images/logo.svg" alt="logo-img" width="170px" height="65px"
                            class="app-logo-content" />
                    </div>
                </div>
                <div class="row self-organization-register mt-2">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="!showSuccessMessage">
                        <mat-horizontal-stepper #stepper  [linear]="true">
                            <ng-template matStepperIcon="edit">
                                <mat-icon>done</mat-icon>
                              </ng-template>
                            <mat-step [stepControl]="firstFormGroup">
                                <form [formGroup]="firstFormGroup">
                                    <ng-template matStepLabel>Organization Details</ng-template>
                                    <div class="row mt-4">
                                        <!-- organization name -->
                                        <div class="col-md-12  mb-3">
                                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                                <mat-label>Organization Name <b class="r-star">*</b></mat-label>
                                                <input matInput placeholder="Enter organization name" formControlName="organization_name" autocomplete="off"
                                                pattern="^[a-zA-Z0-9]+( [a-zA-Z0-9]+)*$">
                                            </mat-form-field>
                                            <div class="px-2" *ngIf="firstFormGroup.get('organization_name')?.touched && firstFormGroup.get('organization_name')?.invalid">
                                                <span class="text-errors" *ngIf="firstFormGroup.get('organization_name').errors?.['required']">Organization name is required
                                                </span>
                                                <span class="text-errors" *ngIf="firstFormGroup.get('organization_name').errors?.['pattern']">
                                                    Invalid name. Extra space and special charaters are not allowed, 
                                                </span>
                                                <span class="text-errors"
                                                    *ngIf="firstFormGroup.get('organization_name').errors?.['maxlength']">
                                                    Organization name cannot exceed more than 50 characters.
                                                </span>
                                            </div>
                                        </div>
                                        <!-- org email -->
                                        <div class="col-md-12 email-input mb-3" *ngIf="sendOtpButtonOfOrg && !orngEmailVerified" >
                                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                                <mat-label>Organization Email Address<b class="r-star">*</b></mat-label>
                                                <input matInput formControlName='organization_email' placeholder="Enter organization email address"
                                                    (keypress)="preventSpace($event)" aria-describedby="emailHelp" autocomplete="off"
                                                      oninput="this.value = this.value.toLowerCase()">
                                                    <button *ngIf="orgSendCodeButton" class="btn btn-sm secondary-buttons" type="button" disabled>
                                                        <span class="spinner-border spinner-border-sm text-light">
                                                            <span class="visually-hidden"></span>
                                                        </span>
                                                    </button>
                                                    <button *ngIf="!orgSendCodeButton"  type="button" class="btn btn-sm secondary-buttons"
                                                     (click)="requestOtp(firstFormGroup.get('organization_email').value,'organization_email')">Send OTP</button>
                                            </mat-form-field>
                                            <div class="px-2" *ngIf="firstFormGroup.get('organization_email')?.touched && firstFormGroup.get('organization_email')?.invalid">
                                                <span class="text-errors"
                                                    *ngIf="firstFormGroup.get('organization_email').errors && firstFormGroup.get('organization_email').errors?.['required']">Organization email
                                                    address is required.</span>
                                                <span class="text-errors"
                                                    *ngIf="firstFormGroup.get('organization_email').errors && firstFormGroup.get('organization_email').errors?.['pattern']">Organization email
                                                    address is invalid.</span>
                                            </div>
                                        </div>
                                        <!-- org otp -->
                                        <div class="col-md-12 email-input mb-3" *ngIf="!sendOtpButtonOfOrg">
                                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                                <mat-label>OTP<b class="r-star">*</b></mat-label>
                                                <input matInput type="number" placeholder="Enter the otp" formControlName="organization_otp"
                                                    autocomplete="off" maxlength="6" pattern="\d{6}"
                                                    onKeyPress="if(this.value.length==6) return false;" (keypress)="validateKeyPress($event)">
                                                <button type="button" class="btn btn-sm secondary-buttons"
                                                (click)="verifyOtp(firstFormGroup.get('organization_otp').value,'organization_otp')">Verify</button>
                                            </mat-form-field>
                                            <div class="px-2" *ngIf="firstFormGroup.get('organization_otp')?.touched && firstFormGroup.get('organization_otp')?.invalid">
                                                <span class="text-errors" *ngIf="firstFormGroup.get('organization_otp').errors?.['pattern']">Please enter 6 digits
                                                    code.</span>
                                                <span class="text-errors" *ngIf="firstFormGroup.get('organization_otp').errors?.['required']">Otp is
                                                    required.</span>
                                            </div>
                                            <div class="px-2" *ngIf="!orngEmailVerified">
                                                <p class="resend-text" *ngIf="!orgResendOtp">resend otp in {{countDownOrg}} seconds</p>
                                                <button *ngIf="orgResendOtp" type="button" [disabled]="disableOrgResendBtn" class="btn btn-sm btn-link"  (click)="resendOtpButton(firstFormGroup.get('organization_email').value,'organization_email')">Resend OTP</button>
                                            </div>
                                        </div>
                                        <!-- org email verified -->
                                        <div class="col-md-12 email-input mb-3 disable-o-email" *ngIf="orngEmailVerified">
                                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                                <mat-label>Organization Email Address<b class="r-star">*</b></mat-label>
                                                <input matInput formControlName='organization_email' placeholder="Enter organization email ddress"
                                                    (keypress)="preventSpace($event)" aria-describedby="emailHelp" autocomplete="off"
                                                    oninput="this.value = this.value.toLowerCase()">
                                                    <button *ngIf="orngEmailVerified" [disabled]="orngEmailVerified" class="btn btn-sm success-button">Email Verified</button>
                                            </mat-form-field>
                                        </div>
                                        <!-- admin name -->
                                        <div class="col-md-12  mb-3">
                                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                                <mat-label>Admin Name <b class="r-star">*</b></mat-label>
                                                <input matInput placeholder="Enter admin name" formControlName="admin_name" autocomplete="off"
                                                pattern="^[a-zA-Z]+( [a-zA-Z]+)*$">
                                            </mat-form-field>
                                            <div class="px-2" *ngIf="firstFormGroup.get('admin_name')?.touched && firstFormGroup.get('admin_name')?.invalid">
                                                <span class="text-errors" *ngIf="firstFormGroup.get('admin_name').errors?.['required']">Admin name is required
                                                </span>
                                                <span class="text-errors" *ngIf="firstFormGroup.get('admin_name').errors?.['pattern']">
                                                    Invalid name. Only letters are allowed, and the name must start with a letter.
                                                </span>
                                                <span class="text-errors"
                                                    *ngIf="firstFormGroup.get('admin_name').errors?.['maxlength']">
                                                    Admin name cannot exceed more than 50 characters.
                                                </span>
                                            </div>
                                        </div>
                                        <!-- admin email -->
                                        <div class="col-md-12 email-input mb-3" *ngIf="sendOtpButtonOfAdmin && !adminEmailVerified" >
                                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                                <mat-label>Admin Email Address<b class="r-star">*</b></mat-label>
                                                <input matInput formControlName='admin_email' placeholder="Enter admin email address"
                                                    (keypress)="preventSpace($event)" aria-describedby="emailHelp" autocomplete="off" 
                                                        oninput="this.value = this.value.toLowerCase()">
                                                    <button *ngIf="!adminEmailVerified && adminSendCodeButton" class="btn btn-sm secondary-buttons" type="button" disabled>
                                                        <span class="spinner-border spinner-border-sm text-light">
                                                            <span class="visually-hidden"></span>
                                                        </span>
                                                    </button>
                                                    <button *ngIf="!adminEmailVerified && !adminSendCodeButton" type="button" class="btn btn-sm secondary-buttons"
                                                    (click)="requestOtp(firstFormGroup.get('admin_email').value,'admin_email')">Send OTP</button>
                                            </mat-form-field>
                                            <div class="px-2" *ngIf="firstFormGroup.get('admin_email')?.touched && firstFormGroup.get('admin_email')?.invalid">
                                                <span class="text-errors"
                                                    *ngIf="firstFormGroup.get('admin_email').errors && firstFormGroup.get('admin_email').errors?.['required']">Admin email
                                                    address is required.</span>
                                                <span class="text-errors"
                                                    *ngIf="firstFormGroup.get('admin_email').errors && firstFormGroup.get('admin_email').errors?.['pattern']">Admin email
                                                    address is invalid.</span>
                                                <span class="text-errors"
                                                *ngIf="firstFormGroup.get('admin_email')?.hasError('emailNotUnique')">
                                                Admin Email must be unique.
                                                </span>
                                            </div>
                                        </div>
                                        <!-- admin otp -->
                                        <div class="col-md-12 email-input mb-3" *ngIf="!sendOtpButtonOfAdmin">
                                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                                <mat-label>OTP<b class="r-star">*</b></mat-label>
                                                <input matInput type="number" placeholder="Enter the otp" formControlName="admin_otp"
                                                    autocomplete="off" maxlength="6" pattern="\d{6}"
                                                    onKeyPress="if(this.value.length==6) return false;" (keypress)="validateKeyPress($event)">
                                                <button type="button" class="btn btn-sm secondary-buttons"
                                                (click)="verifyOtp(firstFormGroup.get('admin_otp').value,'admin_otp')">Verify</button>
                                            </mat-form-field>
                                            <div class="px-2" *ngIf="firstFormGroup.get('admin_otp')?.touched && firstFormGroup.get('admin_otp')?.invalid">
                                                <span class="text-errors" *ngIf="firstFormGroup.get('admin_otp').errors?.['pattern']">Please enter 6 digits
                                                    code.</span>
                                                <span class="text-errors" *ngIf="firstFormGroup.get('admin_otp').errors?.['required']">Otp is
                                                    required.</span>
                                            </div>
                                            <div class="px-2" *ngIf="!adminEmailVerified">
                                                <p class="resend-text" *ngIf="!adminResendOtp">resend otp in {{countDownAdmin}} seconds</p>
                                                <button *ngIf="adminResendOtp" type="button" [disabled]="disableAdminResendBtn" class="btn btn-sm btn-link"  (click)="resendOtpButton(firstFormGroup.get('admin_email').value,'admin_email')">Resend OTP</button>
                                            </div>
                                        </div>
                                        <!-- admin email verified -->
                                        <div class="col-md-12 email-input mb-3 disable-admin-email" *ngIf="adminEmailVerified">
                                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                                <mat-label>Admin Email Address<b class="r-star">*</b></mat-label>
                                                <input matInput formControlName='admin_email' placeholder="Enter admin email address"
                                                    (keypress)="preventSpace($event)" aria-describedby="emailHelp" autocomplete="off"
                                                     oninput="this.value = this.value.toLowerCase()">
                                                    <button *ngIf="adminEmailVerified" [disabled]="adminEmailVerified" class="btn btn-sm success-button">Email Verified</button>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="action-btn-link-content">
                                        <p>
                                            Are you an existing user? 
                                            <a (click)="goBackPreviousPage()" class="login-links"> Login</a>
                                        </p>
                                        <button mat-button class="proceedbtn"
                                            (click)="checkValidation('step1')">Continue</button>

                                    </div>

                                </form>
                            </mat-step>
                            <mat-step [stepControl]="secondFormGroup">
                                <form [formGroup]="secondFormGroup">
                                    <ng-template matStepLabel>Contact Details</ng-template>
                                    <div class="row mt-4">
                                        <div class="col-sm-12 col-md-6 mb-3">
                                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field" >
                                                <mat-label>Country <b class="r-star">*</b></mat-label>
                                                <mat-select formControlName="country" placeholder="Select country" (selectionChange)="getState($event.value)" autocomplete="off"
                                                panelClass="custom-select-panel" [disableOptionCentering]="true">
                                                <mat-option *ngFor="let country of country" [value]="country.id">
                                                    {{country.country_name | titlecase}}
                                                </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <div class="px-2" *ngIf="secondFormGroup.get('country')?.touched && secondFormGroup.get('country')?.invalid">
                                                <span class="text-errors" *ngIf="secondFormGroup.get('country').errors?.['required']">Country is required</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6 mb-3">
                                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field" >
                                                <mat-label>Postal code <b class="r-star">*</b></mat-label>
                                                <input matInput type="number" maxlength="6" pattern="\d{6}"
                                                onKeyPress="if(this.value.length==6) return false;" (keypress)="validateKeyPress($event)" formControlName="postal_code" 
                                                placeholder="Enter postal code" autocomplete="off" (input)="getCountryStateCity($event)">
                                            </mat-form-field>
                                            <div class="px-2" *ngIf="secondFormGroup.get('postal_code')?.touched && secondFormGroup.get('postal_code')?.invalid">
                                                <span class="text-errors" *ngIf="secondFormGroup.get('postal_code').errors?.['pattern']">
                                                    Postal code must be 6 digits
                                                </span> 
                                                <span class="text-errors" *ngIf="secondFormGroup.get('postal_code').errors?.['required']">Postal code is required</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6 mb-3">
                                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                                <mat-label>State <b class="r-star">*</b></mat-label>
                                                <mat-select formControlName="state" placeholder="Select state" (selectionChange)="getCity($event.value)" autocomplete="off" 
                                                panelClass="custom-select-panel" [disableOptionCentering]="true">
                                                  <mat-option *ngFor="let state of state" [value]="state.id">
                                                    {{state.state_name | titlecase}}
                                                  </mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                              <div class="px-2" *ngIf="secondFormGroup.get('state')?.touched && secondFormGroup.get('state')?.invalid">
                                                <span class="text-errors" *ngIf="secondFormGroup.get('state').errors?.['required']">State is required</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6 mb-3">
                                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                                <mat-label>City <b class="r-star">*</b></mat-label>
                                                <mat-select formControlName="city" autocomplete="off" placeholder="Select city"  
                                                [attr.disabled]="!secondFormGroup.get('state')?.value" panelClass="custom-select-panel" [disableOptionCentering]="true">
                                                <mat-option *ngFor="let city of city" [value]="city.id">{{city.city_name | titlecase }}</mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                              <div class="px-2" *ngIf="secondFormGroup.get('city')?.touched && secondFormGroup.get('city')?.invalid">
                                                <span class="text-errors" *ngIf="secondFormGroup.get('city').errors?.['required']">City is required</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-12 mb-3">
                                            <mat-form-field appearance="outline" class="w-100 ">
                                                <mat-label>Address <b class="r-star">*</b></mat-label>
                                                <textarea style="height: auto;" matInput placeholder="Enter address"
                                                    formControlName="address" pattern="^(?!\s)(.*\S)?$" autocomplete="off"></textarea>
                
                                            </mat-form-field>
                                            <div class="text-end"><small>{{secondFormGroup.get('address').value.length}}/200 characters</small></div>
                                            <div class="px-2" *ngIf="secondFormGroup.get('address')?.touched && secondFormGroup.get('address')?.invalid">
                                                <span class="text-errors"
                                                    *ngIf="secondFormGroup.get('address').invalid && secondFormGroup.get('address').hasError('pattern')">
                                                    Please remove extra space.</span>
                                                <span class="text-errors" *ngIf="secondFormGroup.get('address').errors?.['required']">Address is
                                                    required.</span>
                                                <span class="text-errors"
                                                    *ngIf="!secondFormGroup.get('address').errors?.['required'] && secondFormGroup.get('address').errors?.['maxlength']">
                                                    Address cannot exceed more than 200 characters.
                                                </span>
                                            </div>
                                        </div>

                                    <div class="action-btn-link-content">
                                        <button mat-button matStepperPrevious class="back-button">Back</button>
                                        <div>
                                            <button mat-button *ngIf="disableRegisterButton" class="proceedbtn" disabled>
                                                <div class="spinner-border register-button-spinner text-light " role="status">
                                                    <span class="visually-hidden"></span>
                                                  </div>
                                               </button>
                                            <button *ngIf="!disableRegisterButton" mat-button class="proceedbtn" 
                                                (click)="checkValidation('step2')">Register Organization</button>
                                        </div>
                                    </div>
                                  </div>
                                </form>
                            </mat-step>
                            <!-- <mat-step [stepControl]="thirdFormGroup">
                                <form [formGroup]="thirdFormGroup">
                                    <ng-template matStepLabel>Success</ng-template>
                                    <div class="card success-card">
                                        <div class="card-body">
                                            <img class="mb-3" src="../../../../assets/images/tick.svg" alt="" height="30" width="30">
                                            <h5 class="card-title">Success! Your Registration is Complete</h5>
                                            <p class="card-text">Congratulations,<b>{{this.firstFormGroup.value['admin_name']}}</b> ! Your Admin account has been successfully created.
                                                You can now log in using the credentials sent to your registered email address.
                                            </p>
                                            <p class="card-text">If you encounter any issues, please contact our support team at xxx@gmail.com/9999999999.</p>
                                            <button mat-button class="proceedbtn" (click)="goBackPreviousPage()" >Login</button>
                                        </div>
                                    </div>
                                </form>
                            </mat-step> -->
                        </mat-horizontal-stepper>
                    </div>
                    <div class="col-12" *ngIf="showSuccessMessage">
                            <div class="success-msg">
                                <div class="d-flex justify-content-center mb-3">
                                    <mat-icon>check_circle</mat-icon>
                                    <h5 class="card-title-success ms-2">Success! </h5>
                                </div>
                                <!-- <img class="mb-3" src="../../../../assets/images/Check-mark.png" alt="" height="40" width="40"> -->
                                <h5 class="card-title">Your Registration is Complete</h5>
                                <p class="card-text">Congratulations <b>{{this.firstFormGroup.value['admin_name'] | titlecase}}</b>! Your Admin account has been successfully created.
                                    You can now log in using the credentials sent to your registered email address.
                                </p>
                                <button mat-button class="proceedbtn" (click)="goBackPreviousPage()" >Login</button>
                                <p class="card-text">If you encounter any issues, please contact our support team at xxx@gmail.com/9999999999.</p>
                            </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>