//.form-control{
// margin-bottom: 15px;
//}
a {
    text-decoration: none;
    color: #000 !important;
    align-self: center;
    font-size: 14px;
    cursor: pointer;
}

.error-msg {
    padding: 2px 0px;
    position: relative;
    font-size: 12px;
    color: red !important;
}

.required_symbol {
    color: red !important;
}

h1,
p {
    color: white;
}

.mobileView {
    background: radial-gradient(100% 60.3% at 0% 45.5%, #FFFFFF 0%, #D7EEFF 100%);

    p {
        color: #0362ad !important;
        font-weight: 400 !important;
        margin-bottom: 5px;
    }

    #eye-icon {
        position: absolute;
        top: 30px;
        right: 21px;
        color: #407bff;
        font-size: larger;
    }

    .sidebar-logo {
        transition: all 10s ease-out;
    }
}

.proceedbtn {
    background-color: #3F51B5;
    border-radius: 5px;
    border: none;
    height: 40px;
    color: white;
    margin: 10px 0px;
}

i {
    color: #000;
    font-size: 18px;
    padding: 5px;
}

.login-links {
    font-weight: 600;
    text-decoration: underline;
}

// @keyframes animate {
//     0% {
//         opacity: 0;
//     }

//     50% {
//         opacity: 0.7;
//     }

//     100% {
//         opacity: 0;
//     }
// }
a:hover {
    opacity: 0.8;
}

.head-txt {
    text-align: center;
    padding: 0;
    position: relative;
    top: -26px;
    margin-top: 5px !important;
}

span {
    color: red;
}

.feedback {
    color: red !important;
    font-size: small;
}

#eye-icon {
    position: absolute;
    top: 25px;
    right: 27px;
    color: #407bff;
    font-size: larger;
}

.p-relative {
    position: relative;
}

.login-main-bg {
    background: radial-gradient(100% 60.3% at 0% 45.5%, #FFFFFF 0%, #D7EEFF 100%);
    height: 100vh;
    overflow: scroll;
}

.login-content-bg {
    margin: 50px 100px;
    background: #FFFFFF33;
    box-shadow: 0px 0px 7px 0px #00000040;
    border-radius: 20px;
}

.login-left-content {
    background-image: url('./../../../../assets/images/login-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
}

.left-content-img {
    position: relative;
    width: 100%;
    max-width: 415px !important;
    height: auto;
    border-radius: 20px;
}

.login-right-content {
    position: relative;
    padding: 30px;
    align-self: center;
}

.login-text {
    margin-left: 20px;
    margin-top: 20px;
}

.app-logo-content {
    margin-left: 5px;
}

.login-form-content {
    width: 100% !important;
}



.action-btn-link-content {
    display: flex;
    justify-content: space-between;
    text-align: start;
    align-items: center;
}

.mat-stepper-horizontal,
.mat-stepper-vertical {
    background-color: transparent;
    border-radius: 10px;
}

@media all and (min-width: 280px) and (max-width: 767px) {
    .login-main-bg {
        background: #f8f8f8;
    }

    .login-content-bg {
        margin: 0px 0px;
        box-shadow: none;
    }

    .login-right-content {
        padding: 10px !important;
    }

    i {
        font-size: 24px;
    }

    .action-btn-link-content {
        display: block !important;
        text-align: center !important;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .proceedbtn {
        width: 100% !important;
        margin-bottom: 10px;
    }

    .login-left-content {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        text-align: center;
    }

    .left-content-img {
        width: 70% !important;
    }

    .mat-stepper-horizontal,
    .mat-stepper-vertical {
        background-color: transparent !important;
        border-radius: 10px;
    }

    ::ng-deep .mat-step-header {
        display: block !important;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .login-left-content {
        text-align: center;
    }

    .app-logo-content {
        margin-left: -10px !important;
    }

    ::ng-deep .mat-step-header {
        display: block !important;

    }

}

::ng-deep .login-content-bg .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: .25em !important;
}

::ng-deep .self-organization-register .mat-stepper-horizontal-line {
    margin: 0px !important;
}

::ng-deep .self-organization-register .mat-form-field-wrapper {
    padding-bottom: 0px;
}

::ng-deep .self-organization-register .email-input .mat-form-field-infix {
    display: flex;
    white-space: nowrap;
}

::ng-deep .self-organization-register .email-input .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 0.5em 0 !important;
}

::ng-deep .self-organization-register .email-input input.mat-input-element {
    margin-top: 0.5em !important;
}

.self-organization-register .secondary-buttons {
    background: #4E4E4E;
    color: #FFFFFF;
    font-weight: 500;
    border: none;
}

::ng-deep .self-organization-register .disable-o-email .mat-form-field {
    pointer-events: none !important;
}

::ng-deep .self-organization-register .disable-o-email .mat-form-field-wrapper {
    background-color: rgb(211, 211, 211) !important;
    border-radius: 8px;
}

.self-organization-register .disable-o-email .success-button {
    background: #128f0c;
    color: #FFFFFF;
    font-weight: 700;
    border: none;
}

::ng-deep .self-organization-register .disable-admin-email .mat-form-field {
    pointer-events: none !important;
}

::ng-deep .self-organization-register .disable-admin-email .mat-form-field-wrapper {
    background-color: rgb(211, 211, 211) !important;
    border-radius: 8px;
}

.self-organization-register .disable-admin-email .success-button {
    background: #128f0c;
    color: #FFFFFF;
    font-weight: 700;
    border: none;
}

::ng-deep .self-organization-register .mat-stepper-horizontal-line {
    margin: 0px !important;
}

::ng-deep .self-organization-register .mat-horizontal-stepper-header {
    display: flex !important;
    justify-content: center;
    height: 40px;
    max-width: 100%;
    width: 200px !important;
    overflow: hidden;
    align-items: center;
    padding: 0px;
    background: #ECECEC;
    box-shadow: 4px 4px 0px 0px #B4B4B4;
    border-radius: 6px;
    pointer-events: none !important;
}

::ng-deep .self-organization-register .mat-step-header[aria-selected="true"] {
    background-color: #E2F7FF;
    box-shadow: 4px 4px 0px 0px #126EB4;
}



::ng-deep .self-organization-register .mat-step-header .mat-step-icon {
    background: #FFFFFF;
    color: #000000;
}

::ng-deep .mat-horizontal-stepper-header:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

::ng-deep .self-organization-register .mat-horizontal-stepper-header-container {
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

::ng-deep .self-organization-register .mat-step-text-label {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 700;
    font-size: small;
}

::ng-deep .self-organization-register .mat-horizontal-content-container {
    padding: 0px;
    height: auto !important;
    overflow-y: auto !important;
    width: 100% !important;
    overflow-x: hidden;
}

::ng-deep .self-organization-register .mat-form-field-wrapper {
    padding-bottom: 0em;
}

// ::ng-deep .self-organization-register .mat-step-icon-state-edit {
//     background-color: white !important;
//     color: rgb(47, 199, 47) !important;
// }
// ::ng-deep .self-organization-register .mat-step-header[ng-reflect-state="edit"]  {
//     background: #E2FFE5 !important;
//     box-shadow: 4px 4px 0px 0px #1BA104 !important;

// }

.self-organization-register .success-msg {
    // background: white;
    border-radius: 20px;
    text-align: center;
    padding-top: 20px;
    // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.20);
}

.self-organization-register .success-msg .card-title-success{
    font-weight: 700 !important;
    padding: 10px 0px !important;
    font-size: 21px !important;
}
.self-organization-register .success-msg .card-title{
    font-weight: 700 !important;
    padding: 10px 0px !important;
    font-size: 16px !important;
}
.self-organization-register .success-msg .card-text{
    font-weight: 500 !important;
    padding: 10px 0px !important;
}
.self-organization-register .success-msg .resend-text{
    font-weight: 500 !important;
}
::ng-deep .self-organization-register .success-msg .mat-icon{
    color: green;
    height: auto;
    width: auto;
    font-size: 42px;
    cursor: auto
}
.self-organization-register .register-button-spinner {
    width: 1.5rem !important;
    height: 1.5rem !important;
}