<div class="bg">
  <form [formGroup]="pricingForm" class="pricing-form">
    <!-- Free Trial -->
    <h3>Free Trial</h3>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-3 mb-3">
        <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
          <mat-label>No Of Users <b class="r-star">*</b></mat-label>
          <input matInput formControlName="freeTrialUsers" placeholder="Enter no of users" autocomplete="off" />
          <mat-error *ngIf="f['freeTrialUsers']?.touched && f['freeTrialUsers']?.invalid">
            <span *ngIf="f['freeTrialUsers'].errors?.['required']">No of users is required.</span>
            <span *ngIf="f['freeTrialUsers'].errors?.['pattern']">Cannot start with a space; only numbers allowed.</span>
            <span *ngIf="f['freeTrialUsers'].errors?.['maxlength']">Maximum 3 digits allowed.</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-3 mb-3">
        <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
          <mat-label>Duration (Days) <b class="r-star">*</b></mat-label>
          <input matInput formControlName="freeTrialDuration" placeholder="Enter duration in days" autocomplete="off" />
          <mat-error *ngIf="f['freeTrialDuration']?.touched && f['freeTrialDuration']?.invalid">
            <span *ngIf="f['freeTrialDuration'].errors?.['required']">Duration is required.</span>
            <span *ngIf="f['freeTrialDuration'].errors?.['pattern']">Only numbers are allowed.</span>
            <span *ngIf="f['freeTrialDuration'].errors?.['maxlength']">Maximum 3 digits allowed.</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Standard Plan -->
    <h3>Standard Plan</h3>
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-1" style="padding: 17px 10px;">
        <strong>Monthly</strong>
      </div>
      <!-- <div class="col-sm-12 col-md-12 col-lg-3 mb-3">
        <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
          <mat-label>No Of Users (Monthly Plan) <b class="r-star">*</b></mat-label>
          <input matInput formControlName="monthlyUsers" placeholder="Enter no of users" autocomplete="off" />
          <mat-error *ngIf="f['monthlyUsers']?.touched && f['monthlyUsers']?.invalid">
            <span *ngIf="f['monthlyUsers'].errors?.['required']">No of users is required.</span>
            <span *ngIf="f['monthlyUsers'].errors?.['pattern']">Only numbers are allowed.</span>
            <span *ngIf="f['monthlyUsers'].errors?.['maxlength']">Maximum 10 digits allowed.</span>
          </mat-error>
        </mat-form-field>
      </div> -->
      <div class="col-sm-12 col-md-12 col-lg-3 mb-3">
        <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
          <mat-label>Amount Per User (Monthly Plan) <b class="r-star">*</b></mat-label>
          <input matInput formControlName="monthlyAmount" placeholder="Enter amount" autocomplete="off" />
          <mat-error *ngIf="f['monthlyAmount']?.touched && f['monthlyAmount']?.invalid">
            <span *ngIf="f['monthlyAmount'].errors?.['required']">Amount per user is required.</span>
            <span *ngIf="f['monthlyAmount'].errors?.['pattern']"> Monthly amount must be a valid number with up to 2 decimal places.</span>
            <span *ngIf="f['monthlyAmount'].errors?.['maxlength']">Maximum 10 digits allowed.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 mb-3">
        <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
          <mat-label>Duration (Days) <b class="r-star">*</b></mat-label>
          <input matInput formControlName="monthlyDuration" placeholder="Enter duration in days" autocomplete="off" />
          <mat-error *ngIf="f['monthlyDuration']?.touched && f['monthlyDuration']?.invalid">
            <span *ngIf="f['monthlyDuration'].errors?.['required']">Duration is required.</span>
            <span *ngIf="f['monthlyDuration'].errors?.['pattern']">Only numbers are allowed.</span>
            <span *ngIf="f['monthlyDuration'].errors?.['maxlength']">Maximum 3 digits allowed.</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-1" style="padding: 17px 10px;">
        <strong>Yearly</strong>
      </div>
      <!-- <div class="col-sm-12 col-md-12 col-lg-3 mb-3">
        <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
          <mat-label>No Of Users (Yearly Plan) <b class="r-star">*</b></mat-label>
          <input matInput formControlName="yearlyUsers" placeholder="Enter no of users" autocomplete="off" />
          <mat-error *ngIf="f['yearlyUsers']?.touched && f['yearlyUsers']?.invalid">
            <span *ngIf="f['yearlyUsers'].errors?.['required']">No of users is required.</span>
            <span *ngIf="f['yearlyUsers'].errors?.['pattern']">Only numbers are allowed.</span>
            <span *ngIf="f['yearlyUsers'].errors?.['maxlength']">Maximum 10 digits allowed.</span>
          </mat-error>
        </mat-form-field>
      </div> -->
  
      <div class="col-sm-12 col-md-12 col-lg-3 mb-3">
        <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
          <mat-label>Amount Per User (Yearly Plan) <b class="r-star">*</b></mat-label>
          <input matInput formControlName="yearlyAmount" placeholder="Enter amount" autocomplete="off" />
          <mat-error *ngIf="f['yearlyAmount']?.touched && f['yearlyAmount']?.invalid">
            <span *ngIf="f['yearlyAmount'].errors?.['required']">Amount per user is required.</span>
            <span *ngIf="f['yearlyAmount'].errors?.['pattern']"> Yearly amount must be a valid number with up to 2 decimal places.</span>
            <span *ngIf="f['yearlyAmount'].errors?.['maxlength']">Maximum 10 digits allowed.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 mb-3">
        <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
          <mat-label>Duration (Days) <b class="r-star">*</b></mat-label>
          <input matInput formControlName="yearlyDuration" placeholder="Enter duration in days" autocomplete="off" />
          <mat-error *ngIf="f['yearlyDuration']?.touched && f['yearlyDuration']?.invalid">
            <span *ngIf="f['yearlyDuration'].errors?.['required']">Duration is required.</span>
            <span *ngIf="f['yearlyDuration'].errors?.['pattern']">Only numbers are allowed.</span>
            <span *ngIf="f['yearlyDuration'].errors?.['maxlength']">Maximum 3 digits allowed.</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-2 mb-3">
        <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
          <mat-label>Discount (%) <b class="r-star">*</b></mat-label>
          <input matInput formControlName="yearlyDiscount" placeholder="Enter discount percentage" autocomplete="off" />
          <mat-error *ngIf="f['yearlyDiscount']?.touched && f['yearlyDiscount']?.invalid">
            <span *ngIf="f['yearlyDiscount'].errors?.['required']">Discount is required.</span>
            <span *ngIf="f['yearlyDiscount'].errors?.['pattern']">Discount percentage must be a valid number with up to 2 decimal places..</span>
            <span *ngIf="f['yearlyDiscount'].errors?.['maxlength']">Maximum 6 digits allowed.</span>
          </mat-error>
        </mat-form-field>
      </div>

      
      <div class="col-sm-12 col-md-12 col-lg-2 mb-3">
        <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
          <mat-label>Final Amount <b class="r-star">*</b></mat-label>
          <input matInput formControlName="discounted_amount"   autocomplete="off" readonly/>
        
        </mat-form-field>
      </div>
    </div>

    <!-- GST Details -->
    <h3>GST Details</h3>
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-1" style="padding:10px;">
        <strong>Karnataka State</strong>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 mb-3">
        <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
          <mat-label>CGST (%) (Karnataka) <b class="r-star">*</b></mat-label>
          <input matInput formControlName="cgstKarnataka" placeholder="Enter CGST percentage" autocomplete="off" />
          <mat-error *ngIf="f['cgstKarnataka']?.touched && f['cgstKarnataka']?.invalid">
            <span *ngIf="f['cgstKarnataka'].errors?.['required']">CGST is required.</span>
            <span *ngIf="f['cgstKarnataka'].errors?.['pattern']">Only numbers are allowed.</span>
            <span *ngIf="f['cgstKarnataka'].errors?.['maxlength']">Maximum 3 digits allowed.</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-3 mb-3">
        <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
          <mat-label>SGST (%) (Karnataka) <b class="r-star">*</b></mat-label>
          <input matInput formControlName="sgstKarnataka" placeholder="Enter SGST percentage" autocomplete="off" />
          <mat-error *ngIf="f['sgstKarnataka']?.touched && f['sgstKarnataka']?.invalid">
            <span *ngIf="f['sgstKarnataka'].errors?.['required']">SGST is required.</span>
            <span *ngIf="f['sgstKarnataka'].errors?.['pattern']">Only numbers are allowed.</span>
            <span *ngIf="f['sgstKarnataka'].errors?.['maxlength']">Maximum 3 digits allowed.</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-1" style="padding:10px;">
        <strong>Other State</strong>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 mb-3">
        <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
          <mat-label>IGST (%) (Other States) <b class="r-star">*</b></mat-label>
          <input matInput formControlName="igstOtherStates" placeholder="Enter IGST percentage" autocomplete="off" />
          <mat-error *ngIf="f['igstOtherStates']?.touched && f['igstOtherStates']?.invalid">
            <span *ngIf="f['igstOtherStates'].errors?.['required']">IGST is required.</span>
            <span *ngIf="f['igstOtherStates'].errors?.['pattern']">Only numbers are allowed.</span>
            <span *ngIf="f['igstOtherStates'].errors?.['maxlength']">Maximum 3 digits allowed.</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="submit-row">
      <button mat-raised-button class="update-btn" (click)="onSubmit()">Update</button>
    </div>
  </form>
</div>
