.bg {
    padding: 20px;
    height: 70vh !important;
    background-color: #f9f9f9;
  }
  
  .pricing-form {
    margin: auto;
    background: #ffffff;
    padding: 16px;
    
  }
  
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  
  .update-btn{
    background-color: #126EB4;
    color:white;
  }
  