$primay-color: #126EB4;
$secondary-color: #FFFFFF4D;

.s-w {
    width: 65px;
    padding: 5px;
}

.modal-footer {
    padding-bottom: 25px !important;
    border-top: 0 !important;
    justify-content: center !important;
}

i {
    margin-right: 6px;
    color: #4f5d73;

}

p {
    font-size: 15px !important;
    color: #262525 !important;
}

button {
    padding: 0px 30px;
    width: 100px;
}

button.btn-cancel {
    background-color: #d3d3d34f !important;

    margin-right: 10px;
}

button.btn-yes {
    background-color: $primay-color;
    // border: 1px;
    color: #fff;
    margin: 0;
}



.access-modal {

    // text-align: center;
    padding: 30px 18px 0px !important;

    .modal-title {
        font-weight: 600;
        font-size: 14px;

        i {
            font-size: 16px;
            color: #000;
        }
    }

    
    .modal-footer {
        padding-bottom: 20px !important;
        border-top: 0 !important;
        justify-content: center !important;
    }

    i{
        color: $primay-color;
    }
}

