
.create-role ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0em;
}

.create-role .back-button {
    margin-right: 15px !important;
}

.bg {
    background-color: white;
    height: 100%;
    width: 100%;
}