<div class="change-password-inside p-4">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <form [formGroup]='changePassword'>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-5 custome-column p-r mb-3">

                        <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                            <mat-label>Old Password<b class="r-star">*</b></mat-label>
                            <input matInput [type]="passwordType" formControlName='old_password'
                                placeholder="Old password" aria-describedby="emailHelp" autocomplete="off"
                                id="password">
                            <mat-icon matSuffix (click)="showPassword()">{{eyeIcon}}</mat-icon>
                        </mat-form-field>
                        <div class="px-2" *ngIf="f['old_password'].touched && f['old_password'].invalid">
                            <span class="text-errors"
                                *ngIf="f['old_password'].errors && f['old_password'].errors['required']">Old
                                password is required.</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-5 custome-column p-r mb-3">
                        <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                            <mat-label>New Password<b class="r-star">*</b></mat-label>
                            <input matInput [type]="passwordType2" formControlName='new_password'
                                placeholder="New Password" aria-describedby="emailHelp" autocomplete="off"
                                id="new_password">
                            <mat-icon matSuffix (click)="showPasswordtwo()">{{eyeIcon2}}</mat-icon>

                        </mat-form-field>
                        <div class="px-2" *ngIf="f['new_password'].touched && f['new_password'].invalid">
                            <span class="text-errors"
                                *ngIf="f['new_password'].errors && f['new_password'].errors['required']">New
                                password is required.</span>
                            <span class="text-errors"
                                *ngIf="f['new_password'].errors && f['new_password'].hasError('pattern')">
                                Password should
                                contain at least one special character,one number,one uppercase
                                and one
                                lowercase, and be at least 8 characters long</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-5 custome-column p-r mb-3">
                        <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                            <mat-label>Confirm Password<b class="r-star">*</b></mat-label>
                            <input matInput [type]="passwordType3" formControlName='confirm_new_password'
                                placeholder="Confirm Password" aria-describedby="emailHelp" autocomplete="off">
                            <mat-icon matSuffix (click)="showPasswordthree()">{{eyeIcon3}}</mat-icon>

                        </mat-form-field>
                        <div class="px-2" *ngIf="f['confirm_new_password'].touched && f['confirm_new_password'].invalid">
                            <span class="text-errors"
                                *ngIf="f['confirm_new_password'].errors && f['confirm_new_password'].errors['required']">Confirm
                                password is required.</span>

                            <span class="text-errors"
                                *ngIf="f['confirm_new_password'].errors && f['confirm_new_password'].hasError('pattern')">
                                Password should
                                contain at least one special character,one number,one uppercase and one
                                lowercase, and be at least 8 characters long</span>
                        </div>
                        <div class="px-2" *ngIf="f['confirm_new_password'].valid">
                            <span class="text-errors"
                                *ngIf="f['confirm_new_password'].valid && changePassword.hasError('passwordMismatch') && (changePassword.get('confirm_new_password').dirty || changePassword.get('confirm_new_password').touched)">
                                Confirm password is mismatched.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="action-btn-link-content">

                    <button mat-raised-button class="proceedbtn" type="button" (click)="sendChangePassword()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>