<div class="container-fluid">
    <div class="modal-body custom-modal">
        <!-- <h4 class="modal-title"><i class="bi bi-x-circle-fill text-danger fs-4 pr-2"></i>Transaction Failed!</h4> -->
          <h4 class="modal-title"><img src="../../../../assets/images/Cancel.svg"/>Transaction Failed!</h4>
        <p class="text-start text-wrap">Your transaction could not be completed</p>
    </div>
    <div class="modal-footer justify-content-center">
        <div class="row">
            <div class="col">
                <button mat-button type="button" class="btn-yes" (click)="modalStatus('ok')">Close</button>
            </div>
        </div>

    </div>
</div>