<div class="subscription-container">
  
    <!-- Free Trial Card -->
    <mat-card class="free-trial-card">
      <h2 class="plan-title">Free Trial</h2>
      <p class="plan-description">
        This plan is active for a duration of <strong>30 days</strong>. 
        It includes all features, but access is restricted to just 10 users.
      </p>
      <div class="plan-price">
        <span>₹0</span>
        <span class="validity">Valid for 30 days</span>
        
      </div>
  
      <!-- White Background for List -->
      <div class="white-background">
        <ul class="plan-features">
          <li>✓ Trial Plan</li>
          <li>✓ Restricted to 10 users</li>
          <li>✓ Access to All Modules</li>
        </ul>
      </div>
      <div class="text-center">
        <button mat-flat-button color="primary" class="cta-button" (click)="openDialogue()">
          Start your 30 days Free Trial
        </button>
      </div>
      
    </mat-card>
  
    <!-- Standard Plan Card -->
    <mat-card class="standard-card">
      <h2 class="plan-title standard-title p-r">Standard <img class="spakle-image" src="../../../../assets/images/sparkle-filled.svg"/></h2>
      <p class="plan-description">
        This flexibility enables you to choose a payment plan that charges per user. 
        You can choose to be charged either annually or monthly.
      </p>
  
      <!-- Highlighted Background for Monthly and Yearly -->
      <div class="payment-options">
        <mat-card class="payment-option"  (click)="setPaymentOption(true)" 
        [ngClass]="monthly ? 'active' : 'highlighted-option'">
          <span class="price">₹30</span>
          <small>/ per user / monthly</small>
          <div class="option-title">Monthly</div>
        </mat-card>
        <mat-card class="payment-option yearly-option" 
        (click)="setPaymentOption(false)" 
        [ngClass]="!monthly ? 'active' : 'highlighted-option'">
          <span class="price">₹25</span>
          <small>/ per user / yearly</small>
          <div class="option-title">Yearly</div>
          <div class="discount-badge"><i class="bi bi-x-circle"></i> 10% </div>
        </mat-card>
      </div>
  
      <!-- List inside white background -->
      <div class="dark-background">
        <ul class="plan-features">
          <li>✓ Enterprise Plan</li>
          <li>✓ Access to all modules</li>
        </ul>
      </div>
  
      <div class="no-refund-note text-center">
        <div style="margin: auto;">
            <span style="margin-right: 5px;">⚠</span> No Refund on cancellation
        </div>
      </div>
      <div class="text-center">
        <button mat-flat-button color="primary" class="cta-button" (click)="buyStandardPlan()">
          Buy Standard Plan
        </button>
      </div>
     
    </mat-card>
  
  </div>
  
  