
<div *ngIf="mySubscriptionData.length === 0 ">
  <app-plan-selection (trailPlanStaus)="onTrailPlanStatus($event)" [data]="subscriptionData"></app-plan-selection>
</div>
<div *ngIf="mySubscriptionData.length >0">
<div *ngFor="let subscription of mySubscriptionData">
  <div *ngIf="subscription.subscription_type_name === 'Free Trial' && subscription.is_active">
    <app-trail-plan-details  [data]="subscriptionData" [my_subscription]="mySubscriptionData"></app-trail-plan-details>
  </div>
  <div *ngIf="subscription.subscription_type_name === 'Standard' && subscription.is_active">
    <app-success-plan-details [data]="subscriptionData" [my_subscription]="mySubscriptionData" [selectedPlanDetails]="planDetails"></app-success-plan-details>
  </div>
 
</div>
</div>


