<div class="container-fluid">
    <!-- <div class="row">
        <div class="col-sm-6">
            <h1>Subscription plan</h1>
        </div>
        <div class="col-sm"></div>
        <div class="col-sm-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/dashboards">Home</a></li>
                  <li class="breadcrumb-item">Subscription plan</li>
                  
                </ol>
              </nav>
        </div>
        
    </div> -->
    <div>
    <div class="col-12 generic-form bg">
        <div class="row plan-Subscription-content">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 px-0">
                <h6><b><i class="bi bi-shop"></i>User</b></h6>
                <ul class="dk-ul-style">
                    <li>Org Id</li>
                    <li>Email</li>
                    <li>phone</li>
                    <li>Fax</li>
                    <li>Mobile No</li>
                    <li>Website</li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 px-0">
                <h6><b><i class="bi bi-map"></i>Address</b></h6>
                <ul class="mob-ul-style">
                    <li>Country</li>
                    <li>State</li>
                    <li>City</li>
                    <li>Postal</li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 px-0">
                <h6><b><i class="bi bi-exclamation-circle"></i>Subscription Plan</b></h6>
                <ul class="mob-ul-style">
                    <li>Plan</li>
                    <li>Type</li>
                    <li>No. of Users</li>
                    <li>Reg. User</li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 px-0">
                <h6><b><i class="bi bi-calendar2-event"></i>Plan Details</b></h6>
                <ul class="mob-ul-style">
                    <li>Amount per User</li>
                    <li>Total amount</li>
                    <li style="font-weight: 500;">Start Date</li>
                    <li style="font-weight: 500;">End Date</li>
                    <li style="font-weight: 500;">Days Left</li>
                    
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6 class="subscription-plan-history dk-content-view"><b><i class="bi bi-exclamation-circle"></i>Subscription plan history</b></h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table caption-top dk-content-view">
                    
                    <thead>
                      <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Plan</th>
                        <th scope="col">Type</th>
                        <th scope="col">No. of Subscribers</th>
                        <th scope="col">Amount per User</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>abc</td>
                            <td>abc</td>
                            <td>abc</td>
                            <td>abc</td>
                            <td>abc</td>
                            <td>abc</td>
                            <td>abc</td>
                            <td>abc</td>
                        </tr>
                    </tbody>
                  </table>
                  <div class="card mob-card-content mtb-content-view">
                    <div class="row">
                        <div class="col-12">
                            <h6><b><i class="bi bi-exclamation-circle"></i>Subscription plan history</b></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                        <h6 class="card-subtitle">
                            <!-- <i class="bi bi-calendar2-week"></i> -->
                            Plan</h6>
                        <div class="value-container">ABC</div>
                        </div>
                        <div class="col-6">
                            <h6 class="card-subtitle">
                                <!-- <i class="bi bi-calendar2-week"></i> -->
                                Type</h6>
                                <div class="value-container">ABC</div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-6">
                        <h6 class="card-subtitle">
                            <!-- <i class="bi bi-calendar2-week"></i> -->
                            No. of Subscribers</h6>
                        <div class="value-container">ABC</div>
                        </div>
                     </div>
                   
                     <div class="row">
                        <div class="col-6">
                            <h6 class="card-subtitle">
                                <!-- <i class="bi bi-calendar2-week"></i> -->
                                Amount per User</h6>
                                <div class="value-container">ABC</div>
                        </div>
                        <div class="col-6">
                            <h6 class="card-subtitle">
                                <!-- <i class="bi bi-calendar2-week"></i> -->
                                Total Amount</h6>
                                <div class="value-container">ABC</div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-6">
                        <h6 class="card-subtitle">
                            <!-- <i class="bi bi-calendar2-week"></i> -->
                            Start Date</h6>
                        <div class="value-container">ABC</div>
                        </div>
                        <div class="col-6">
                            <h6 class="card-subtitle">
                                <!-- <i class="bi bi-calendar2-week"></i> -->
                                End Date</h6>
                                <div class="value-container">ABC</div>
                        </div>
                     </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6 class="transaction-history dk-content-view"><b><i class="bi bi-currency-rupee"></i>Transaction history</b></h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table caption-top dk-content-view" style="border-bottom: solid grey;">
                    
                    <thead>
                      <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Plan</th>
                        <th scope="col">Type</th>
                        <th scope="col">No. of Subscribers</th>
                        <th scope="col">Amount per User</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>abc</td>
                            <td>abc</td>
                            <td>abc</td>
                            <td>abc</td>
                            <td>abc</td>
                            <td>abc</td>
                            <td>abc</td>
                            <td>abc</td>
                        </tr>
                    </tbody>
                  </table>
                  <div class="card mob-card-content mtb-content-view">
                    <div class="row">
                        <div class="col-12">
                            <h6><b><i class="bi bi-currency-rupee"></i>Transaction history</b></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                        <h6 class="card-subtitle">
                            <!-- <i class="bi bi-calendar2-week"></i> -->
                            Plan</h6>
                        <div class="value-container">ABC</div>
                        </div>
                        <div class="col-6">
                            <h6 class="card-subtitle">
                                <!-- <i class="bi bi-calendar2-week"></i> -->
                                Type</h6>
                                <div class="value-container">ABC</div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-6">
                        <h6 class="card-subtitle">
                            <!-- <i class="bi bi-calendar2-week"></i> -->
                            No. of Subscribers</h6>
                        <div class="value-container">ABC</div>
                        </div>
                      
                     </div>
                     <div class="row">
                        <div class="col-6">
                            <h6 class="card-subtitle">
                                <!-- <i class="bi bi-calendar2-week"></i> -->
                                Amount per User</h6>
                                <div class="value-container">ABC</div>
                        </div>
                        <div class="col-6">
                            <h6 class="card-subtitle">
                                <!-- <i class="bi bi-calendar2-week"></i> -->
                                Total Amount</h6>
                                <div class="value-container">ABC</div>
                        </div>
                     </div>
               
                     <div class="row">
                        <div class="col-6">
                        <h6 class="card-subtitle">
                            <!-- <i class="bi bi-calendar2-week"></i> -->
                            Start Date</h6>
                        <div class="value-container">ABC</div>
                        </div>
                        <div class="col-6">
                            <h6 class="card-subtitle">
                                <!-- <i class="bi bi-calendar2-week"></i> -->
                                End Date</h6>
                                <div class="value-container">ABC</div>
                        </div>
                     </div>
                  </div>
            </div>
        </div>
        <div class="row plan-Subscription-content" style="border-bottom: grey solid;">
            <div class="col-sm"></div>
            <div class="col-sm-3">
                <ul>
                    <li>Sub- total amount</li>
                    <li>VAT</li>
                    <li>Grand Total</li>
                </ul>
            </div>
        </div>
        <div class="row plan-Subscription-content">
            <div class="col-sm"></div>
            <div class="col-sm-3">
                <button mat-raised-button class="proceedbtn mat-btn-s">PAYMENT</button>
            </div>
            <div class="col-sm-2">
                <button mat-raised-button class="printbtn mat-btn-s">
                    PRINT
                </button>
            </div>
        </div>
    </div>
    
   
</div>
