<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true" class="header-content">
    <button 
      toggle="visible"
      cHeaderToggler
      [cSidebarToggle]="sidebarId"
      class="ps-1 desktop-hide-content"
    >
      <svg cIcon
        name="cilMenu"
        size="lg"
      ></svg>
    </button>
    <div class="row" >
      <div class="col-sm-12">
          <h1 class="breadcrumb-title" *ngIf="pageName === 'Create'">{{pageName |titlecase}} {{'Organization'}}</h1>
          <h1 class="breadcrumb-title" *ngIf="pageName !== 'Create'">{{pageName |titlecase}}</h1>
         <div class="mobile-hide-content" *ngIf="pageName!=''">
          <nav aria-label="breadcrumb ">
            <ol class="breadcrumb mb-2">
              <li class="breadcrumb-item" *ngIf="pageName !== 'Dashboard'"><a routerLink="/dashboards">Dashboard</a></li>
              <li class="breadcrumb-item" *ngIf="pageName === 'Create'"><a routerLink="getBack()">{{previousPage}}</a></li>
              <li class="breadcrumb-item sub-title" ><a>{{pageName |titlecase}}</a></li>
            </ol>
          </nav>
         </div>
      </div>
  </div>
   
    <c-header-nav class="p-r">
      <!-- <div class="notification-container">
        <i class="bi bi-bell"  [matBadge]="notes?.length"  matBadgeColor="warn" (click)="openNotification()"></i>
      </div> -->
      
     
      <div class="">
        <button mat-stroked-button class="settings-btn"  type="click" (click)="openDialogue()">
          <i class="bi bi-box-arrow-right"></i> Logout
        </button>
      </div>
    </c-header-nav>
   
  </c-container>
  
</ng-container>
<!--</c-header>-->



