.user-id{
    border: 1px solid #c1c0c0;
    padding: 2px 5px;
    background: #769df7;
}
.addOn-icon{
    position: absolute;
    right: 67px;
}
.user-name {
    position: absolute;
    right: 67px;
    /* border: 1px solid #3f51b5; */
    padding: 5px 10px;
    text-align: center;
    background: #ffeded !important;
    border-radius: 4px;
    // color: white;
    line-height: 16px;
    font-size: 12px;
    text-transform: capitalize;
}
.user-name:hover{
    opacity: 0.9;
}
.nonemployee{
    top: 12px;  
}
.employee{
    top: 19px;  
}
.role-name{
    font-size: 10px;
    font-weight: bold;
}
.bi-bell{
    color:gray;
    position: relative;
    top:10px;
    right: 20px;
    cursor: pointer;
    font-size: large;
}
.p-r{
    position: relative;
    margin-right: 16px;
}
h1.breadcrumb-title{
    margin: 0px !important;
    font-weight: 700;
    font-size: 24px !important;
    padding: 0px;
}
.breadcrumb-item a{
    text-decoration: none;
    color: #126EB4 !important;
}
.breadcrumb-item{
color: #000;
opacity: 0.7;
}
.header-content{
    justify-content: space-between;
    margin: 0px 5px;
}
.desktop-hide-content{
    display: none;
}

@media(max-width:767px){
    .p-r{
        right: 0px;
        margin-right: 0px;
    } 
    .header-content{
        justify-content: space-between;
    }
    .desktop-hide-content{
        display: block;
    }
}
@media(min-width:768px) and (max-width:1023px){
    
    .w-27{
        width:29% !important;
    } 
    .desktop-hide-content{
        display: block;
    }
}
@media(min-width:1024px) and (max-width:1033px){
    
    .w-27{
        width:52% !important;
    } 
}
@media(min-width:1034px){
    
    .w-27{
        width:64% !important;
    } 
}
mat-card{
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

@media(min-width:279px) and (max-width:767px){
.mobile-hide-content{
    display: none;
}
h1.breadcrumb-title{
    font-size: 18px !important;
} 
}