$primay-color: #126EB4;
$secondary-color:#FFFFFF4D;
.user-id{
    border: 1px solid #c1c0c0;
    padding: 2px 5px;
    background: #769df7;
}
.addOn-icon{
    position: absolute;
    right: 67px;
}
.user-name {
    position: absolute;
    right: 67px;
    /* border: 1px solid #3f51b5; */
    padding: 5px 10px;
    text-align: center;
    background: #ffeded !important;
    border-radius: 4px;
    // color: white;
    line-height: 16px;
    font-size: 12px;
    text-transform: capitalize;
}
.user-name:hover{
    opacity: 0.9;
}
.nonemployee{
    top: 12px;  
}
.employee{
    top: 19px;  
}
.role-name{
    font-size: 10px;
    font-weight: bold;
}

// .p-r{
//     position: relative;
//     margin-right: 16px;
// }
h1.breadcrumb-title{
    margin: 0px !important;
    font-weight: 700;
    font-size: 24px !important;
    padding: 0px;
}
.breadcrumb-item a{
    text-decoration: none;
    color: black !important;
    &:hover{
        color: #126EB4 !important;
        text-decoration:underline;
    }
}
.sub-title a{
    color: #126EB4 !important;
    text-decoration:underline;
}
.breadcrumb-item{
color: #000;
opacity: 0.7;
}
.header-content{
    justify-content: space-between;
    margin: 0px 5px;
}
.desktop-hide-content{
    display: none;
}

@media(max-width:767px){
    .p-r{
        right: 0px;
        margin-right: 0px;
    } 
    .header-content{
        justify-content: space-between;
    }
    .desktop-hide-content{
        display: block;
    }
}
@media(min-width:768px) and (max-width:1023px){
    
    .w-27{
        width:29% !important;
    } 
    .desktop-hide-content{
        display: block;
    }
}
@media(min-width:1024px) and (max-width:1033px){
    
    .w-27{
        width:52% !important;
    } 
}
@media(min-width:1034px){
    
    .w-27{
        width:64% !important;
    } 
}
mat-card{
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

@media(min-width:279px) and (max-width:1023px){
.mobile-hide-content{
    display: none;
}
h1.breadcrumb-title{
    font-size: 18px !important;
} 
}
.notification-container{
        /* height: 40px; */
    /* width: 42px; */
    border: 1px solid #efeeee;
    text-align: center;
    position: relative;
    top: 0.3rem;
    /* right: 0; */
    /* padding: 8px 0 0; */
    padding: 10px 12px;
    border-radius: 6px;
    font-size: 19px;
    cursor: pointer;
}
.settings-btn{
    padding: 3px 10px;
    &:hover{
        background-color: #126EB4 !important; 
        color:white;
        opacity: 1;
    }
   
}

.user-guide-btn{
    padding: 3px 10px;
    background: #fff1aa;
    white-space: nowrap;
    border-radius: 5px;
    color: black;
    font-weight: 500;
    margin-right: 15px;
    position: relative;
    border: 1px solid #000000;
    box-shadow: 0px 4px 0px 0px #0000004D;

}
.user-guide-btn.active {
    background: $primay-color; /* Highlighted border */
    color: white !important;
    padding: 3px 10px;
    white-space: nowrap;
    border-radius: 5px;
    color: black;
    font-weight: 500;
    margin-right: 15px;
    position: relative;
    border: 1px solid #000000;
    box-shadow: 0px 4px 0px 0px #0000004D;
  }
 

// .modal-title {
//     padding-bottom: 15px;
//     font-weight: 600;
//     font-size: 14px;
// }
// button.btn-cancel {  
//     background-color:  #d3d3d34f !important;
//     margin-right: 10px;
// }

// button.btn-yes {
//     background-color: $primay-color !important;
//     width: auto;
//     color: #fff !important;;
//     margin: 0;
//     border-radius: 4px;
// }
// .header-content .cdk-overlay-backdrop {
//     background-color: rgb(225, 222, 222);
// }