<div class="container-wrapper webView">
    <div class="row pb-3">
      <div class="col-sm-4 search-div">
        <input type="search" (input)="filterSearch($event)" class="form-control p-2 sizeinput" [(ngModel)]="term"
          placeholder="Search by employee name" aria-describedby="emailHelp" autocomplete="off">
        <i class="bi bi-search" id="search-icon-tab"></i>
      </div>
      <div class="col-sm"></div>
      <div class="col-md-3 col-lg-3 p-1 text-end create-buttons">
        <button mat-raised-button class="proceedbtn mat-btn-s"  type="submit" (click)="getSubscriptionDetails()"
           *ngIf="userRole ==='Employee' && accessPermissions[0]?.create || userRole === 'Admin'">
          <mat-icon>add</mat-icon>Create Employees</button>

      </div>
    </div>  
  
        <div class="bg" *ngIf="userRole ==='Employee' && accessPermissions[0]?.view || userRole === 'Admin'">
        <div class="row">
            <div class="col px-0">
                <table class="table table-hover table-list">
                    <thead>
                        <tr> 
                          <th scope="col">S.No</th>
                          <th scope="col">Photo  </th>
                          <th scope="col">Email
                            <i *ngIf="!arrowState['email']" (click)="sort('asc','email')" class="bi bi-arrow-up"></i>
                            <i (click)="sort('desc','email')" *ngIf="arrowState['email']" class="bi bi-arrow-down"></i>
                          </th>
                          <th scope="col">Employee Name 
                            <i *ngIf="!arrowState['first_name']" (click)="sort('asc','first_name')" class="bi bi-arrow-up"></i>
                            <i (click)="sort('desc','first_name')" *ngIf="arrowState['first_name']" class="bi bi-arrow-down"></i>
                          </th>
                          <th scope="col">designation Name 
                            <i *ngIf="!arrowState['designation_name']" (click)="sort('asc','designation_name')" class="bi bi-arrow-up"></i>
                            <i (click)="sort('desc','designation_name')" *ngIf="arrowState['designation_name']" class="bi bi-arrow-down"></i>
                          </th>
                          <!-- <th scope="col">DOJ <i  *ngIf="!arrow" (click)="sort('asc','u_date_of_joining')" class="bi bi-arrow-up"></i><i (click)="sort('desc','u_date_of_joining')" *ngIf="arrow" class="bi bi-arrow-down"></i></th> -->
                          <th scope="col">Status 
                            <i *ngIf="!arrowState['is_active']" (click)="sort('asc','is_active')" class="bi bi-arrow-up"></i>
                            <i (click)="sort('desc','is_active')" *ngIf="arrowState['is_active']" class="bi bi-arrow-down"></i>
                          </th>
                          <th scope="col">
                                Action
                           </th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngIf="(allPeople ) as result">
                        <tr *ngFor='let item of result | customSort:directionValue:sortValue
                        |paginate : {
                                 itemsPerPage: tableSize,
                                 currentPage: page,
                                 totalItems: count
                               }; let i=index'>
                            <td>{{getContinuousIndex(i)}}</td>
                            <td class="p-r">
                              <img  [src]="item.profile_image? item.profile_image : '../assets/images/no-profile-pic.png'" height="45px" width="45px" style="border-radius: 50%;">
                              <a *ngIf="item.profile_image" href="{{item.profile_image}}" target="_blank">
                                <i class="bi bi-eye-fill" id="eye-btn" container="body" ngbTooltip="View"></i>
                              </a>
                            </td>
                            <td>{{item?.email}}</td>
                            <td>{{item.first_name +" "+ item.last_name | titlecase}}</td>
                            <td>{{item?.designation_name?item.designation_name:"-" | titlecase}}</td>
                            <!-- <td *ngIf="isDate(item.u_date_of_joining)">{{item.u_date_of_joining | date:'YYYY-MM-dd'}}</td>  -->
                            <!-- <td *ngIf="!isDate(item.u_date_of_joining)">{{item.u_date_of_joining *1000 | date:'YYYY-MM-dd'}}</td>  -->
                            
                            <!-- <td style="padding-left: 15px !important;">{{item.center_name ? item.center_name :'NA' | titlecase}}</td> -->
                            <!-- <td class="p-r">
                              <img src="{{item.profile_image}}" alt="NAN" height="25px" width="50px">
                              <a *ngIf="item.profile_image" href="{{item.profile_image}}" target="_blank">
                                <i class="bi bi-eye" id="eye-btn"></i>
                            </a>
                            </td> -->
                            
                            
                            <td *ngIf="item.is_active==true">Active</td> 
                            <td *ngIf="item.is_active==false">Inactive</td>                                                        
                           <td>
                            <ng-container >
                              <img src="../../../../assets/images/Edit.svg" class="icon-image" (click)="openUpdatePeople(item.id)"  container="body" ngbTooltip="Edit" 
                              *ngIf="userRole ==='Employee' && accessPermissions[0]?.update || userRole === 'Admin'"/>
                              <img src="../../../../assets/images/Delete.svg" class="icon-image"  container="body" ngbTooltip="Delete" (click)="open(item.id)"
                              *ngIf="userRole ==='Employee' && accessPermissions[0]?.delete || userRole === 'Admin'"/>
                              <span  *ngIf="userRole ==='Employee' && !accessPermissions[0]?.update && !accessPermissions[0]?.delete">-</span>
                          </ng-container>
                            <!-- <ng-container *ngFor="let access of permissions">
                              <button mat-raised-button mat-mini-fab  routerLink="/people/updatePeople/{{item.id}}/{{page}}/{{tableSize}}" *ngIf="access === 'UPDATE'">
                                <i class="bi bi-pencil-square"  container="body" ngbTooltip="Edit" style="color: #000; font-size: 24px;"></i>
                              </button>
                              <button mat-raised-button mat-mini-fab   (click)="open(item.people_id)" *ngIf="access === 'DELETE'">
                                <i class="bi bi-trash" style="color: red;" container="body" ngbTooltip="Delete"></i>
                              </button>
                            </ng-container> -->
                            </td>
                        </tr>
                        
                        
                      </ng-container>

                      </tbody>
                  </table>
                  <div class="col-12" *ngIf="allPeople.length === 0">
                    <app-generic-norecards></app-generic-norecards>
                  </div>
            </div>
        </div>
       
    </div>
    <div class="pagination-container p-0 pt-2">
      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
      </pagination-controls>
      <div class="items-per-page-container">
        <div>Items per page</div>
        <mat-select [(ngModel)]="tableSize" (selectionChange)="onTableSizeChange($event)" placeholder="10"
          class="page-size">
          <mat-option *ngFor="let size of tableSizes" [value]="size">{{size}}</mat-option>
        </mat-select>
      </div>
    </div>
</div>




  <div class="mobileView">
    <div class="row mx-1 my-2">
      <div class="col-sm-6 px-0">
        <!-- <h1>People List</h1> -->
      </div>
      <div class="col-sm-6 col-md-6 mb-1 search-div px-0">
        <input type="text" class="form-control py-3 px-4" (input)="filterSearch($event)" [(ngModel)]="term" placeholder="Search by name/role/center" aria-describedby="emailHelp"  autocomplete="off">
        <i class="bi bi-search" id="search-icon"></i>
      </div>
    </div> 
    <div class="bg">
      <div class="row">
        <ng-container *ngIf="(allPeople) as result">
        <div class="col-sm-12 col-md-6 main-col" *ngFor='let item of allPeople;let i=index' >
            <div class="card inner-card" (click)="cardId(item)">
              <div class="row img-row">
                <div class="col-6 img-div">
                  <a href="{{item.u_profile_path}}" target="_blank">
                    <img src="{{item.u_profile_path}}" alt="" height="70px" width="27%">
                  </a>
                <div class="p-2 pt-4">{{item.first_name +" "+ item.last_name |titlecase}}</div> 
              </div>
                
                <div class="col-6 p-2 text-end">
                  <ng-container>
                  <a> <button  type="button" class="toolbar-btn" (click)='editCard(item.id)'  ngbTooltip="Edit" ><i class="bi bi-pencil-square" style="color: #000; font-size: 24px;" ></i></button></a>
                  <a> <button  type="button" class="toolbar-btn" (click)="open(item.id)" ngbTooltip="Delete"  ><i class="bi bi-trash" style="color: red; font-size: 24px;"></i></button></a>
                  </ng-container>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-12">
                      <h6 class="card-subtitle">Status</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 value-container">
                      {{item.is_active?item.is_active:'NA'|titlecase}}
                    </div>
                  </div>
                </div>
              </div>

                <div class="row">
                  <div class="col-6">
                  
                    <div class="row">
                      <div class="col-12 ">
                        <h6 class="card-subtitle">Role Name</h6>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 value-container">
                          {{item.role_name|titlecase}}
                      </div>
                    </div>
                  </div>
                    <div class="col-6">
                      <div class="row">
                        <div class="col-12">
                          <h6 class="card-subtitle">Center</h6>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 value-container">
                        {{item.center_name ? item.center_name :'NA'|titlecase}}
                        </div>
                      </div>
                    </div>
                 
                </div>
               <div class="row">
                <div class="col-6">
                  <div class="row">
                     <div class="col-12">
                      <h6 class="card-subtitle">designation_name</h6>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-12 value-container">
                     {{item.designation_name?item.designation_name:"NA"|titlecase}}
                     </div>
                   </div>
                 </div>
                 <div class="col-6">
                  <div class="row">
                   <div class="col-12">
                    <h6 class="card-subtitle">DOJ</h6> 
                   </div>
                 </div>
                 <div class="row">
                   <div *ngIf="isDate(item.u_date_of_joining)" class="value-container">{{item.u_date_of_joining | date:'dd-MM-yyyy'}}</div> 
                   <div *ngIf="!isDate(item.u_date_of_joining)" class="value-container">{{item.u_date_of_joining *1000 | date:'dd-MM-yyyy'}}</div> 
                 </div>
               </div>
               
               </div>
              
            </div>
          </div>
          <div *ngIf="result.length === 0 " >
            <app-generic-norecards></app-generic-norecards>
            </div>
        </ng-container>
        </div>
     
        <div class="pagination-container p-0 pt-2">
          <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
          </pagination-controls>
          <div class="items-per-page-container">
            <div>Items per page</div>
            <mat-select [(ngModel)]="tableSize" (selectionChange)="onTableSizeChange($event)" placeholder="10"
              class="page-size">
              <mat-option *ngFor="let size of tableSizes" [value]="size">{{size}}</mat-option>
            </mat-select>
          </div>
        </div>
        
        <div class="s-position">
          <ng-container>
           <button  type="button" mat-fab routerLink="/register" class="createbtn-new" placement="top" container="body" ngbTooltip="Add"><i class="fa fa-plus"></i>
         </button>
        </ng-container>
        </div>
      
      </div>
     
    </div>

