<div class="container-wrapper webView">
    <!-- <div class="row">
        <div class="col-sm-6">
            <h1>People list</h1>
        </div>
        <div class="col-sm"></div>
        <div class="col-sm-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a routerLink="/dashboards">Home</a></li>
                  <li class="breadcrumb-item">People list</li>
                  
                </ol>
              </nav>
        </div>
    </div> -->
   
        <div class="row p-20">
            <div class="col-md-7 col-lg-4 search-div px-0">
                <input type="text" class="form-control p-2 sizeinput" [(ngModel)]="term" placeholder="Search by name/role/center"aria-describedby="emailHelp"  autocomplete="off">
                <i class="bi bi-search" id="search-icon-tab" (click)="filterSearch()"></i> 
              </div>
              <div class="col-sm"></div>
              <div class="col-md-4 col-lg-3 text-center align-self-center">
                <div class="d-flex justify-content-center pg-bg">
                  <button *ngFor="let size of tableSizes" class="page-size-btn" [value]="size" (click)="onTableSizeChange($event)" [ngClass]="{'active-size': tableSize === size}"
                >{{size}}</button>
                </div>
                        </div>
              
        </div>
        <div class="bg">
        <div class="row">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                        <tr> 
                          <th scope="col">S.No</th>
                          <th scope="col">People Name <i  *ngIf="!arrow" (click)="sort('asc','u_first_name')" class="fa fa-sort-up"></i><i (click)="sort('desc','u_first_name')" *ngIf="arrow" class="fa fa-sort-down"></i></th>
                          <th scope="col">Designation <i  *ngIf="!arrow" (click)="sort('asc','u_designation')" class="fa fa-sort-up"></i><i (click)="sort('desc','u_designation')" *ngIf="arrow" class="fa fa-sort-down"></i></th>
                          <th scope="col">Tags <i  *ngIf="!arrow" (click)="sort('asc','tag_list_converted')" class="fa fa-sort-up"></i><i (click)="sort('desc','tag_list_converted')" *ngIf="arrow" class="fa fa-sort-down"></i></th>
                          <th scope="col">DOJ <i  *ngIf="!arrow" (click)="sort('asc','u_date_of_joining')" class="fa fa-sort-up"></i><i (click)="sort('desc','u_date_of_joining')" *ngIf="arrow" class="fa fa-sort-down"></i></th>
                          <th scope="col">Role <i  *ngIf="!arrow" (click)="sort('asc','user_role_name')" class="fa fa-sort-up"></i><i (click)="sort('desc','user_role_name')" *ngIf="arrow" class="fa fa-sort-down"></i></th>
                          <th scope="col" >Center <i  *ngIf="!arrow" (click)="sort('asc','cost_center_id')" class="fa fa-sort-up"></i><i (click)="sort('desc','cost_center_id')" *ngIf="arrow" class="fa fa-sort-down"></i></th>
                          <th scope="col">Photo  </th>
                          <th scope="col">Status <i  *ngIf="!arrow" (click)="sort('asc','u_status')" class="fa fa-sort-up"></i><i (click)="sort('desc','u_status')" *ngIf="arrow" class="fa fa-sort-down"></i></th>
                          <th scope="col">
                                Action
                           </th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngIf="(allPeople ) as result">
                        <tr *ngFor='let item of result|paginate : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                        }|customSort:directionValue:sortValue; let i=index' [class.active]="i == currentIndex">
                            <td>{{i + 1}}</td>
                            <td>{{item.u_first_name +" "+ item.u_last_name}}</td>
                            <td>{{item.u_designation?item.u_designation:"NA"}}</td>
                            
                            <td style="width: 10% !important;">
                              {{item.tag_list_converted ? item.tag_list_converted :'NA'}}  
                            </td>
                           
                            <!-- <td *ngIf="item.u_date_of_joining === null">{{'NA'}}</td> -->
                            <td *ngIf="isDate(item.u_date_of_joining)">{{item.u_date_of_joining | date:'YYYY-MM-dd'}}</td> 
                            <td *ngIf="!isDate(item.u_date_of_joining)">{{item.u_date_of_joining *1000 | date:'YYYY-MM-dd'}}</td> 
                            
                            <td>{{item.user_role_name}}</td>
                            <td style="padding-left: 15px !important;">{{item.center_name ? item.center_name :'NA'}}</td>
                            <td class="p-r">
                              
                              <img src="{{item.u_profile_path}}" alt="NAN" height="25px" width="50px">
                              <a *ngIf="item.u_profile_path" href="{{item.u_profile_path}}" target="_blank">
                                <i class="bi bi-eye" id="eye-btn"></i>
                            </a>
                            
                            </td>
                            
                            <td>{{item.u_status?item.u_status:'NA'}}</td>                                                      
                           <td>
                            <ng-container *ngFor="let access of permissions">
                              <button mat-raised-button mat-mini-fab  routerLink="/people/updatePeople/{{item.id}}/{{page}}/{{tableSize}}" *ngIf="access === 'UPDATE'">
                                <i class="bi bi-pencil-square"  container="body" ngbTooltip="Edit" style="color: #000; font-size: 24px;"></i>
                              </button>
                              <button mat-raised-button mat-mini-fab   (click)="open(item.people_id)" *ngIf="access === 'DELETE'">
                                <i class="bi bi-trash" style="color: red;" container="body" ngbTooltip="Delete"></i>
                              </button>
                            </ng-container>
                            </td>
                        </tr>
                        
                        <tr *ngIf="result.length === 0" class="nodata">
                          <td> No records found</td>  
                      </tr>
                      </ng-container>

                      </tbody>
                  </table>
                  
            </div>
        </div>
        <div class="row">
           
            <div class="col-sm"></div>
            <div class="col-sm" *ngIf="allPeople.length > 0">
                <div class="d-flex justify-content-end p-nav">
                    <pagination-controls 
                      previousLabel="Prev" 
                      nextLabel="Next" 
                      (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                  </div>
            </div>
        </div>
    </div>
    
  <ng-container *ngFor="let access of permissions">
    <button mat-fab color="primary" routerLink="/register" *ngIf="access == 'CREATE'"  class="createbtn" placement="top" container="body"  ngbTooltip="Add people">
      <i class="fa fa-plus"></i>
  
    </button>
</ng-container>
</div>




  <div class="mobileView">
    <div class="row mx-1 my-2">
      <div class="col-sm-6 px-0">
        <!-- <h1>People List</h1> -->
      </div>
      <div class="col-sm-6 col-md-6 mb-1 search-div px-0">
        <input type="text" class="form-control py-3 px-4" [(ngModel)]="term" placeholder="Search by name/role/center" aria-describedby="emailHelp"  autocomplete="off">
        <i class="bi bi-search" id="search-icon" (click)="filterSearch()"></i>
      </div>
    </div> 
    <div class="bg">
      <div class="row">
        <ng-container *ngIf="(allPeople) as result">
        <div class="col-sm-12 col-md-6 main-col" *ngFor='let item of allPeople;let i=index' >
            <div class="card inner-card" (click)="cardId(item)">
              <div class="row img-row">
                <div class="col-6 img-div">
                  <a href="{{item.u_profile_path}}" target="_blank">
                    <img src="{{item.u_profile_path}}" alt="" height="70px" width="27%">
                  </a>
                <div class="p-2 pt-4">{{item.u_first_name +" "+ item.u_last_name}}</div> 
              </div>
                
                <div class="col-6 p-2 text-end">
                  <ng-container *ngFor="let access of permissions">
                  <a> <button  type="button" class="toolbar-btn" *ngIf="access === 'UPDATE'"  (click)='editCard(item.id)'  ngbTooltip="Edit" ><i class="bi bi-pencil-square" style="color: #000; font-size: 24px;" ></i></button></a>
                  <a> <button  type="button" class="toolbar-btn" *ngIf="access === 'DELETE'"  (click)="open(item.id)" ngbTooltip="Delete"  ><i class="bi bi-trash" style="color: red; font-size: 24px;"></i></button></a>
                  </ng-container>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-12">
                      <h6 class="card-subtitle">Status</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 value-container">
                      {{item.u_status?item.u_status:'NA'}}
                    </div>
                  </div>
                </div>
              </div>

                <div class="row">
                  <div class="col-6">
                  
                    <div class="row">
                      <div class="col-12 ">
                        <h6 class="card-subtitle">Role Name</h6>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 value-container">
                          {{item.user_role_name}}
                      </div>
                    </div>
                  </div>
                    <div class="col-6">
                      <div class="row">
                        <div class="col-12">
                          <h6 class="card-subtitle">Center</h6>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 value-container">
                        {{item.center_name ? item.center_name :'NA'}}
                        </div>
                      </div>
                    </div>
                 
                </div>
               <div class="row">
                <div class="col-6">
                  <div class="row">
                     <div class="col-12">
                      <h6 class="card-subtitle">Designation</h6>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-12 value-container">
                     {{item.u_designation?item.u_designation:"NA"}}
                     </div>
                   </div>
                 </div>
                 <div class="col-6">
                  <div class="row">
                   <div class="col-12">
                    <h6 class="card-subtitle">DOJ</h6> 
                   </div>
                 </div>
                 <div class="row">
                   <div *ngIf="isDate(item.u_date_of_joining)" class="value-container">{{item.u_date_of_joining | date:'YYYY-MM-dd'}}</div> 
                   <div *ngIf="!isDate(item.u_date_of_joining)" class="value-container">{{item.u_date_of_joining *1000 | date:'YYYY-MM-dd'}}</div> 
                 </div>
               </div>
               
               </div>
              
            </div>
          </div>
          <div *ngIf="result.length === 0 " >
            <app-generic-norecards></app-generic-norecards>
            </div>
        </ng-container>
        </div>
     
        <div class="row mobile-pagination" *ngIf="allPeople.length !== 0">
          <div class="col-sm-12" >
              <div class="mobile-pagination-content">
                  <pagination-controls 
                    previousLabel="Prev" 
                    nextLabel="Next" 
                    (pageChange)="onTableDataChange($event)">
                  </pagination-controls>
                 <div><button *ngFor="let size of tableSizes" class="page-size-btn" [value]="size" (click)="onTableSizeChange($event)" [ngClass]="{'active-size': tableSize === size}"
                  >{{size}}</button></div>
                </div>
          </div>
        </div>
        
        <div class="s-position" *ngFor="let access of permissions">
          <ng-container *ngIf="access == 'CREATE'">
           <button  type="button" mat-fab routerLink="/register" class="createbtn-new" placement="top" container="body" ngbTooltip="Add"><i class="fa fa-plus"></i>
         </button>
        </ng-container>
        </div>
      
      </div>
     
    </div>

