
<div style="border: 1px solid #cdcdcd; padding: 20px 10px 26px; border-radius: 5px;">
    <div class="row">
      <div class="col-6">
        <h5><b>Create Admin</b></h5>
        <h6 class="mb-0">Create Multiple Admin</h6>
      </div>
      <div class="col-4"></div>
      <div class="col-2 text-center" *ngIf="!isAdminForm">
        <button type="button" mat-raised-button class="proceedbtn" color="primary" (click)="openAdminForm()">Add Admin</button>
      </div>
    </div>
<ng-container *ngFor="let admin of adminList; let i = index">
    <app-generic-add-admin
      [adminFormGroup]="getAdminFormGroup(i)"
      [isEditing]="admin.isEditing"
      [index]="i"
      (save)="saveAdmin($event)"
      (cancel)="toggleFormControlState($event, false)"
      (delete)="deleteAdmin($event)"
      (edit)="toggleFormControlState($event, true)"
    ></app-generic-add-admin>
  </ng-container>
</div>
  <!-- Submit Button -->
  <div class="row">
    <div class="col-12 py-4">
      <button type="button" mat-raised-button color="primary" (click)="organizationSubmit()">Submit</button>
    </div>
  </div>
  