<section class="section">
  <div class="container-fluid" >
    <div class="bg">
      <ng-container >
        <div class="row" *ngIf="user_role_name === 'SUPERADMIN'">
          <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
            <!-- <a routerLink="../role/list"> -->
            <div class="card dashboard-card">
              <div class="c-icon">
                <i class="bi bi-person-vcard"></i>
              </div>
              <div class="card-body p-3">
                <div class="h5 heading mb-0 mt-2">{{organizationCount || 0}}</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs"><strong> Organization</strong></div>
                <div class="recently-add-content">
                  <ul>
                    <li *ngFor="let organization of organizationlistData">{{organization?.organization_name|titlecase}}</li>
                  </ul>
                  <a routerLink="../organization/orgList">See Organizations</a>
                </div>
              </div>

            </div>
            <!-- </a> -->
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
            <!-- <a routerLink="../role/list"> -->
            <div class="card dashboard-card">
              <div class="c-icon" id="bi-microsoft">
                <i class="bi bi-microsoft"></i>
              </div>
              <div class="card-body p-3">
                <div class="h5 heading mb-0 mt-2">{{adminCount || 0}}</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs"><strong> Admins</strong></div>
                <div class="recently-add-content">
                  <ul>
                    <li *ngFor="let admin of adminlistData">{{admin?.first_name|titlecase }}</li>
                    <li style="margin-top: 15px;">Recently Added</li>
                  </ul>
                  
                </div>
              </div>
            </div>
            <!-- </a> -->
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 mt-2" >
            <!-- <a routerLink="../role/list"> -->
            <div class="card dashboard-card">
              <div class="c-icon">
                <i class="bi bi-list-task"></i>
              </div>
              <div class="card-body p-3">
                <div class="h5 heading mb-0 mt-2">{{userCount || 0}}</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs"><strong>Users</strong></div>
                <div class="recently-add-content">
                  <ul>
                    <li *ngFor="let user of userslistData">{{user?.first_name|titlecase}}</li>
                    <li style="margin-top: 15px;">Recently Added</li>
                  </ul>
                  
                  <!-- <a routerLink="../role/list">See Users</a> -->
                  
                </div>
              </div>
            </div>
            <!-- </a> -->
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="user_role_name !== 'SUPERADMIN'">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
            <!-- <ng-container *ngFor="let access of permissionRoles"> -->
              <ng-container>
              <!-- <a *ngIf="user_role_name !== 'EMPLOYEE'" > -->
              <div class="card dashboard-card">
                <div class="c-icon">
                  <i class="bi bi-person-vcard"></i>
                </div>
                <div class="card-body p-3">
                  <div class="h5 heading mb-0 mt-2">{{designationCount || 0}}</div>
                  <div class="text-muted text-uppercase font-weight-bold font-xs"><strong>Designation </strong></div>
                  <div class="recently-add-content">
                    <ul>
                      <li *ngFor="let roles of rolesListData">{{roles?.designation_name |titlecase}}</li>
                    </ul>
                    <!-- <a routerLink="../role/list" *ngIf="access === 'VIEW'">See Roles</a> -->
                    <a routerLink="../designation/list" *ngIf="user_role_name === 'ADMIN'">See Designation</a>
                  </div>
                </div>
              </div>
            </ng-container>
            <!-- </a> -->
            <!-- <div *ngIf="user_role_name === 'EMPLOYEE'" >
                <div class="card card-role">
                  <div class="c-icon">
                    <i class="bi bi-person-vcard"></i>
                  </div>
                    <div class="card-body p-3">
                      <div class="h5 heading mb-0 mt-2">{{role}}</div>
                      <div class="text-muted text-uppercase font-weight-bold font-xs"><strong> Roles</strong></div>
                    </div>        
                  </div>
            </div> -->
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
            <ng-container >
              <div class="card dashboard-card " >
                <div class="c-icon" id="bi-microsoft">
                  <i class="bi bi-microsoft"></i>
                </div>
                <div class="card-body p-3">
                  <div class="h5 heading mb-0 mt-2">{{departmentCount || 0 }}</div>
                  <div class="text-muted text-uppercase font-weight-bold font-xs"><strong>Departments</strong></div>
                  <div class="recently-add-content">
                    <ul>
                      <li *ngFor="let department of departmentsListData">{{department?.department_name|titlecase}}</li>
                    </ul>
                    <a routerLink="../department/list" *ngIf="user_role_name === 'ADMIN'">See Departments</a>
                    <!-- <a routerLink="../department/list" *ngIf="access === 'VIEW'">See Departments</a> -->
                  </div>
                </div>
                
  
              </div>


             

            </ng-container>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mt-2" >
            <!-- <a routerLink="../role/list"> -->
            <div class="card dashboard-card">
              <div class="c-icon">
                <i class="bi bi-list-task"></i>
              </div>
              <div class="card-body p-3">
                <div class="h5 heading mb-0 mt-2">{{organizationuserCount || 0}}</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs"><strong>Employees</strong></div>
                <div class="recently-add-content">
                  <ul>
                    <li *ngFor="let user of organizationuserslist">{{user?.first_name|titlecase}}</li>
                   
                  </ul>
                  <a  routerLink="../people/people-list" *ngIf="user_role_name === 'ADMIN'">See Employees</a>
                
                  
                </div>
              </div>
            </div>
            <!-- </a> -->
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>