.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .card-subtitle {
    color: #252525;
    font-size: 12px;
    margin: 1px 0px;
 }
  .card-col{
    // border: 1px solid #a7c1fd;
    font-size: 11px;
    font-weight: 600;
    padding: 2px 4px;
    border-radius: 5px;
    margin-bottom: 1px;
  }
  .emp-name{
    background: #ffa43d;
    width: fit-content;
    padding: 2px 6px;
    color: white !important;
    border-radius: 5px;
    margin: 5px 0;
  }
  .bg{
    height: 72vh !important;
    padding-bottom: 3rem !important;
  }

  .overflow-set{
    overflow-wrap: anywhere !important;
  }

  button{
    padding: 10px 8px;
    line-height: 0;
    font-size: 11px;
    margin: 5px;
    font-weight: 600;
    border-radius: unset;
  }
  mat-card{
    background: #f3f3f3;
  }
  .btn-approval {
    background: #01c674;
    color: #f6f6f6;
    box-shadow: none;
    padding: 8px 10px;
    border-radius: 3px;
    margin-right: 0;
  }
  .btn-reject {
    background: #f54342;
    color: #f6f6f6;
    box-shadow: none;
    padding: 8px 10px;
    border-radius: 3px;
  }