<div class="modal-header">
    <h4 class="modal-title pull-left">User Guide</h4>
    <button type="button" class="close pull-right" (click)="close()">&times;</button>
</div>
<div class="modal-body">
    <carousel [isAnimated]="true" [noWrap]="true"  class="custom-carousel" [interval]="0">
          <slide *ngFor="let slide of imageSlides">
            <img [src]="slide.image" alt="Slide" style="display: block; width: 100%;">
          </slide>
        <!-- <slide>
            <img src="../../../assets/images/Screenshots/1.png" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/2.png" alt="second slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/3.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/4.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/5.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/6.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/7.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/8.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/9.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/10.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/11.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/12.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/13.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/14.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/15.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/16.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/17.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/18.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/19.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/20.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/21.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/22.png" alt="third slide" style="display: block; width: 100%;">
        </slide> -->
    </carousel>
</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
</div> -->

<!-- <div>
    <carousel [isAnimated]="true" [showIndicators]="false">
        <slide>
            <img src="../../../assets/images/Screenshots/1.png" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/2.png" alt="second slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../assets/images/Screenshots/3.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
    </carousel>
</div> -->