.page{
    background: #fff;
    // height: 80vh;
    // overflow: auto;
}
.update-btn{
    float:right 
}
form input{
    height: auto !important;
}
.selectable-all{
    margin-right: 5px !important;
  }
