<div class="page px-2 pb-5 m-2">
    <div class="page-content">
        <div class="panel">
            <div class="panel-body">
                <div id="accessibilitydetailstable">
                    <!-- <span class="user-role">ROLE : {{userRole}}</span> -->
                    <span style="float:right">
                        <input class="selectable-all" type="checkbox" [(ngModel)]="checkAll"
                            (change)="checkAllOptions()">
                        <label>Select All</label>
                    </span>
                    <form>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Menu</th>
                                    <th>Create</th>
                                    <th>Update</th>
                                    <th>View</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let peoples of data">
                                    <td>{{peoples.names}}</td>
                                    <td *ngFor="let items of peoples.people">
                                        <div style="text-align: inherit;">
                                            <input type="checkbox" [name]="items.names" [value]="items.value"
                                                [(ngModel)]="items.checked" (change)="singleSelection()">
                                        </div>
                                    </td>
                                    <td *ngFor="let items of peoples.prefixSuffix">
                                        <div style="text-align: inherit;">
                                            <input type="checkbox" [name]="items.checkboxname" [value]="items.value"
                                                [(ngModel)]="items.checked" (change)="singleSelection()">
                                        </div>
                                    </td>
                                    <td *ngFor="let items of peoples.centers">
                                        <div style="text-align: inherit;">
                                            <input type="checkbox" [name]="items.checkboxname" [value]="items.value"
                                                [(ngModel)]="items.checked" (change)="singleSelection()">
                                        </div>
                                    </td>

                                    <td *ngFor="let items of peoples.tags">
                                        <div style="text-align: inherit;" *ngIf="items.value !== 'NA'">
                                            <input type="checkbox" [name]="items.checkboxname" [value]="items.value"
                                                [(ngModel)]="items.checked" (change)="singleSelection()">
                                        </div>
                                        <div *ngIf="items.value == 'NA'">NA</div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="update-btn">
                            <button mat-raised-button type="submit"
                                class="btn proceedbtn text-white waves-effect waves-classic" id="btnSubmit"
                                style="display:show" (click)="UPDATE()">Update</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>