<div class="container-fluid" style="padding: 0px;">
    <div class="background-content">
        <div class="row">
            <div class="col-md-12 p-h"> 
               <div class="box">
                    <form [formGroup]='changePassword' (ngSubmit)='sendChangePassword()'>
                        <div class="row">
                            <div class="col">
                                <h1 class="text-center py-4">New Password</h1>
                                
                                <label >New Password <b>*</b></label>
                                <input type="password" class="form-control p-3 sizeinput" formControlName='new_password' placeholder="New Password" aria-describedby="emailHelp"  autocomplete="off">
                                <div *ngIf="f['new_password'].touched && f['new_password'].invalid" class="s-f" >
                                   <p  *ngIf="f['new_password'].errors['required']" class='s-c'>New Password is Required</p>    
                               </div> 

                               <label >Confirm Password <b>*</b></label>
                                <input type="password" class="form-control p-3 sizeinput" formControlName='old_password' placeholder="Confirm Password" aria-describedby="emailHelp"  autocomplete="off">
                                 <div *ngIf="f['old_password'].touched && f['old_password'].invalid" class="s-f" >
                                    <p  *ngIf="f['old_password'].errors['required']" class='s-c'>Confirm Password is Required</p>
                                </div>
                                <div *ngIf="f['old_password'].valid && changePassword.hasError('passwordMismatch') && (changePassword.get('old_password').dirty || changePassword.get('old_password').touched)">
                                    <p class="s-c">Confirm Password is mismatched</p>
                                </div>

                                
                               
                                <label >User Id <b>*</b></label>
                                <input type="number" class="form-control p-3 sizeinput" formControlName='user_id' placeholder="User Id" aria-describedby="emailHelp"  autocomplete="off">
                                 <div *ngIf="f['user_id'].touched && f['user_id'].invalid" class="s-f" >
                                    <p  *ngIf="f['user_id'].errors['required']" class='s-c'>user Id is Required</p>    
                                </div>            
                            </div>
                        </div>
                        <div class="row" class="text-center p-2">
                            <div class="col">
                                <button mat-raised-button class="proceedbtn" type="submit">Submit</button>
                            </div>
                        </div>
                        
                        <div class="row" style="text-align: center;">
                            <div class="col">
                                <a routerLink="../login"  class="forgot-links">Go back to Login</a>
                            </div>
                        </div>
                        <div class="row" style="text-align: center;">
                            <div class="col">
                                <p>Copyright Ⓒ <a href="https://www.ekfrazo.com/"  target="_blank" style="color: #3F51B5;text-decoration: none;">Ekfrazo Technologies Private Limited</a></p>
                            </div>
                        </div>
                        <div class="row" style="text-align: center;">
                            <div class="col">
                                <p>All rights reserved.</p>
                            </div>
                        </div>
                     
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
  
</div>
