<div class="container-fluid login-main-bg" style="margin: 0;padding: 5px 0px;">
    <div class="row login-content-bg">
        <div
            class="col-12 col-md-12 col-lg-6 col-xl-6 login-left-content order-2 order-sm-2 order-md-2 order-lg-1 order-xl-1 ">
            <img src="./../../../assets/images/login-left-content.png" class="left-content-img"
                alt="left-content-img" />
        </div>
        <div class="col-12 col-md-12 col-lg-6 col-xl-6 order-1 order-sm-1 order-md-1 order-lg-2 order-xl-2"
            style="position: relative; align-self: center;">
            <div class="login-right-content">
                <div class="row">
                    <div class="logo-section">
                        <img src="./../../../assets/images/logo.svg" alt="logo-img" width="170px" height="65px"
                            class="app-logo-content" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="login-text"><b>Create New Password</b></h2>
                    </div>
                </div>
                <div class="row forgot-password">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <form [formGroup]='changePassword' (ngSubmit)='sendChangePassword()'>
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col custome-column p-r mb-3">
                                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field" >
                                                <mat-label>Password<b class="r-star">*</b></mat-label>
                                                <input matInput [type]="passwordType" formControlName='password' placeholder="Password"
                                                aria-describedby="emailHelp" autocomplete="off" id="password">
                                                <mat-icon matSuffix  (click)="showPassword()">{{eyeIcon}}</mat-icon>
                                            </mat-form-field>
                                            <div class="px-2" *ngIf="f['password'].touched && f['password'].invalid">
                                                <span class="text-errors" *ngIf="f['password'].errors && f['password'].errors['required']">Password is required.</span>
                                                <span class="text-errors" *ngIf="f['password'].errors && f['password'].hasError('pattern')"> Password should
                                                        contain at least one special character,one number,one uppercase and one
                                                        lowercase, and be at least 8 characters long</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col custome-column p-r">
                                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field" >
                                                <mat-label>Confirm Password<b class="r-star">*</b></mat-label>
                                                <input matInput [type]="passwordType2" formControlName='confirm_password' placeholder="Confirm Password"
                                                aria-describedby="emailHelp" autocomplete="off" id="confirm_password">
                                                <mat-icon matSuffix  (click)="showPasswordtwo()">{{eyeIcon2}}</mat-icon>
                                            </mat-form-field>
                                            <div class="px-2" *ngIf="f['confirm_password'].touched && f['confirm_password'].invalid">
                                                <span class="text-errors" *ngIf="f['confirm_password'].errors && f['confirm_password'].errors['required']">Confirm password is required.</span>
                                                <span class="text-errors" *ngIf="f['confirm_password'].errors && f['confirm_password'].hasError('pattern')"> Password should
                                                      contain at least one special character,one number,one uppercase and one
                                                      lowercase, and be at least 8 characters long</span>
                                            </div>
                                            <div class="px-2" *ngIf="f['confirm_password'].valid">
                                                <span class="text-errors" *ngIf="f['confirm_password'].valid && changePassword.hasError('passwordMismatch') && (changePassword.get('confirm_password').dirty || changePassword.get('confirm_password').touched)">
                                                 Confirm password is mismatched
                                                </span>
                                            </div>
                                            
                                        </div>
                                    </div>




                                </div>
                            </div>
                            <div class="action-btn-link-content">
                                <a routerLink="../login" class="m-0">Go back to Login</a>
                                <button mat-raised-button class="proceedbtn" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>