ol{
    background-color: inherit;
}
a{
    color: #3F51B5;
    text-decoration: none;
}
li{
    
    list-style: none;
    color: grey;
}
ul{
    padding: 0px;
}
.bg{
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 5px;

}
.proceedbtn{
    background-color: #3F51B5;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100%;
    color: white;
    margin: 10px 0px;
}
.printbtn{
    background-color: #00BCD4;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100%;
    color: white;
    margin: 10px 0px;
}
.row{
    padding: 5px;
}
i{
    padding: 2px 3px 0px 0px;
}
.btnicon{
    display: none;
}
button:hover .btnicon{
    display: block;
}

select{
    width: 100%;
    height: 40px;
    margin: 1px 0px 0px 1px;
}
span{
    color: red;
}
p{
    color: grey;
}
html{
    position: relative;
}

.card{
    border: none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 4%);
    padding: 0px 5px 7px 14px;
    margin: 5px 15px ;
    zoom: 90%;
    text-align: center;
    height: 100%;
    // border: 4px solid #0a69b1 !important ;
    .col-6{
        padding: 5px !important;
    }
}
p{
    margin-bottom: 0px;
    text-align: left;
    line-height: 1.5;
}
.r-c{
    // clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    // background-color: #0a69b1 !important ;
    color:white;
}

.c-r{
    // clip-path: polygon(100% 0%, 100% 49%, 100% 100%, 10% 100%, 0% 50%, 9% 0);
    // background-color: #aba69d;
    // width: 46%;
    color: white;
    
    
}

.c-m{
 padding: 5px;
}
.search-div{
    input{
        font-size: small;
    }
}
// .card-subtitle{
//     color: #ebedef !important;
// }

table th {
    position: sticky;
     position: -webkit-sticky;
   top: -15px;
    z-index: 1; // any positive value, layer order is global
}