<div class="container-fluid p-20" >
    <div class="row">
        <div class="col-md-12 mb-4">
            <!-- Nav tabs -->
            <!-- <tabset>
              <tab heading="Yet to be Approved">
                <app-yet-approve></app-yet-approve>
              </tab>
              <tab heading="Approved Leaves">
                <app-approved></app-approved>
              </tab>
              <tab heading="Declined Leaves">
                <app-declined></app-declined>
              </tab>
              <tab heading="Time Sheets">
                <app-time-sheet></app-time-sheet>
              </tab>
            </tabset> -->
          </div>
    </div>
</div>
