<div class="container-fluid webView p-20">
    <div class="generic-form bg mx-2">
        <form [formGroup]='projectForm'>
            <div class="row create-project">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="py-3">
                        <h5 class="py-1"><b>Project Details</b></h5>
                        <p>Lets dig into the project details!</p>
                    </div>
                    <div class="row">

                        <!-- client dropdown -->
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Select Client <b class="r-star">*</b></mat-label>
                                <mat-select formControlName="client_id" autocomplete="off" placeholder="Select"
                                    panelClass="custom-select-panel" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let item of allClientList" [value]="item.id">
                                        {{item.clint_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['client_id']?.touched && f['client_id']?.invalid">
                                <span class="text-errors" *ngIf="f['client_id'].errors?.['required']">Client name is
                                    required</span>
                            </div>
                        </div>
                        <!-- project name -->
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Enter Project Name <b class="r-star">*</b></mat-label>
                                <input matInput placeholder="Enter project name" formControlName="project_name"
                                    autocomplete="off" pattern="^(?!\s)(.*\S)?$">
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['project_name']?.touched && f['project_name']?.invalid">
                                <span class="text-errors"
                                    *ngIf="f['project_name'].errors && f['project_name'].errors['required'] ">Project
                                    name is
                                    required</span>
                                <span class="text-errors"
                                    *ngIf="f['project_name'].invalid && f['project_name'].hasError('pattern')">
                                    Please remove extra space.
                                </span>
                                <span class="text-errors"
                                    *ngIf="!f['project_name'].errors?.['required'] && f['project_name'].errors?.['maxlength']">
                                    Project name cannot exceed more than 50 characters.
                                </span>
                            </div>
                        </div>
                        <!-- start date -->
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <mat-form-field appearance="outline" class="w-100 p-0 custom-mat-form-field">
                                <mat-label>Start Date <b class="r-star">*</b></mat-label>
                                <input matInput [matDatepicker]="picker" placeholder="Enter start date"
                                    formControlName="start_date" autocomplete="off" (dateInput)="onChange($event)">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['start_date']?.touched && f['start_date']?.invalid">
                                <span class="text-errors" *ngIf="f['start_date'].errors?.['required']">Start date
                                    is required</span>
                            </div>
                        </div>
                        <!-- end date -->
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <mat-form-field appearance="outline" class="w-100 p-0 custom-mat-form-field">
                                <mat-label>End Date <b class="r-star">*</b></mat-label>
                                <input matInput [matDatepicker]="picker1" placeholder="Enter end date"
                                    formControlName="end_date" (dateInput)="yearEndDateValidator()"
                                    [min]="projectForm.value.start_date">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['end_date']?.touched && f['end_date']?.invalid">
                                <span class="text-errors" *ngIf="f['end_date'].errors?.['required']">End date is
                                    required</span>
                            </div>
                        </div>
                        <!-- project manager -->
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Project Manager <b class="r-star">*</b></mat-label>
                                <mat-select formControlName="project_manager_id" autocomplete="off"
                                    placeholder="Select manager" panelClass="custom-select-panel"
                                    [disableOptionCentering]="true" single>
                                    <mat-option *ngFor="let item of allManager" [value]="item.id">
                                        {{item.first_name +" "+ item.last_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="px-2"
                                *ngIf="f['project_manager_id']?.touched && f['project_manager_id']?.invalid">
                                <span class="text-errors" *ngIf="f['project_manager_id'].errors?.['required']">Manager
                                    is
                                    required</span>
                            </div>
                        </div>
                        <!-- estimated hours -->
                        <!-- <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Estimated Hours <b class="r-star">*</b></mat-label>
                                <input matInput type="number" onkeydown="return event.keyCode !== 69"
                                    oninput="this.value = this.value.replace('.', '').replace(/[^\d]/g, '');" appHypen
                                    formControlName="estimated_hour" placeholder="Enter estimated hours">
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['estimated_hour'].touched && f['estimated_hour'].invalid">
                                <span class="text-errors"
                                    *ngIf="f['estimated_hour'].errors && f['estimated_hour'].errors['required']">Estimated
                                    hours is required</span>
                            </div>
                        </div> -->
                        <!-- billing -->
                        <!-- <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Estimated Billing <b class="r-star">*</b></mat-label>
                                <input matInput placeholder="Enter billing amount"
                                    onkeydown="return event.keyCode !== 69 " formControlName="estimated_billing"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['estimated_billing'].touched && f['estimated_billing'].invalid">
                                <span class="text-errors"
                                    *ngIf="f['estimated_billing'].errors && f['estimated_billing'].errors['required']">Estimated
                                    billing is required</span>
                            </div>
                        </div> -->
                        <!-- project status -->
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Project Status <b class="r-star">*</b></mat-label>
                                <mat-select formControlName="status_id" autocomplete="off" placeholder="Select status"
                                    panelClass="custom-select-panel" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let item of status" [value]="item.id">
                                        {{item.status_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['status_id']?.touched && f['status_id']?.invalid">
                                <span class="text-errors" *ngIf="f['status_id'].errors?.['required']">Status is
                                    required</span>
                            </div>
                        </div>
                        <!-- select team -->
                        <div class="col-sm-12 col-md-6 col-lg-6 mb-3 multi-select">
                            <!-- <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Select Team <b class="r-star">*</b></mat-label>
                                <mat-select formControlName="team" autocomplete="off"
                                    placeholder="Select team" panelClass="custom-select-panel"
                                    [disableOptionCentering]="true" multiple (selectionChange)="matTeamSelect($event)">
                                    <mat-option *ngFor="let item of allPeopleGroup" [value]="item.id ">
                                        {{item.first_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Select Team</mat-label>
                                <mat-select formControlName="team" autocomplete="off" placeholder="Select team"
                                    panelClass="custom-select-panel" [disableOptionCentering]="true" multiple
                                    (selectionChange)="matTeamSelect()" [(ngModel)]="selectedTeamId">

                                    <!-- Search Input -->
                                    <div class="custom-search py-2 px-1">
                                        <input matInput (input)="filterOptions($event)" placeholder="Search..." />
                                    </div>

                                    <mat-option *ngFor="let item of filteredPeopleGroup" [value]="item.id">
                                        {{item.first_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            
                            <div class="px-2" *ngIf="f['team'].touched && f['team'].invalid">
                                <span class="text-errors" *ngIf="f['team'].errors && f['team'].errors['required']">Team
                                    list is required</span>
                            </div>
                        </div>
                        <div *ngIf="assigneePeoples.length!=0" class="col-sm-12 col-md-6  col-lg-6  mb-3">
                            <div class="team-border">
                                <div class="tag-container" [ngClass]="{ 'collapsed': isCollapsed }">
                                    <span *ngFor="let item of assigneePeoples" class="tag-item">
                                        {{item.first_name}}<i class="bi bi-x fs-5 fw-bold"
                                            (click)="teamDeselectedFromCard(item.id)"></i>
                                    </span>
                                </div>
                                <div class="controls mb-2">
                                    <button type="button" (click)="clearAll()" class="clear-btn">Clear all</button>
                                    <button type="button" (click)="toggleCollapse()" class="toggle-btn">
                                        {{ isCollapsed ? 'Expand' : 'Collapse' }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- project template -->
                    <div class="row px-3 gx-0 task-border">
                        <div class="col-6 ">
                            <div class="py-3">
                                <h5 class="py-1"><b>Add Tasks</b></h5>
                                <p>Create multiple tasks</p>
                            </div>
                        </div>
                        <div class="col-6 text-end align-content-center" *ngIf="projectForm.get('project_task').valid">
                            <div *ngIf="projectForm.get('project_task').valid">
                                <button mat-icon-button class="proceedbtn" type="button" color="primary"
                                    (click)="addTask()">
                                    <mat-icon>add</mat-icon>Add Task
                                </button>
                            </div>
                        </div>
                        <div class="col-6 text-end align-content-center invalid-button"
                            *ngIf="projectForm.get('project_task').invalid">
                            <div *ngIf="projectForm.get('project_task').invalid">
                                <button mat-icon-button type="button" class="proceedbtn" color="primary" disabled>
                                    <mat-icon>add</mat-icon>Add Task
                                </button>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-3 mb-3">
                                    <mat-form-field appearance="outline" class="w-100 p-0 custom-mat-form-field">
                                        <mat-label>Choose Template </mat-label>
                                        <mat-select formControlName="project_category" autocomplete="off"
                                            placeholder="Select template" panelClass="custom-select-panel"
                                            [disableOptionCentering]="true" (selectionChange)="getSubTask($event)">
                                            <mat-option *ngFor="let item of taskCategories" [value]="item.id">
                                                {{item.category_name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 px-2" formArrayName="project_task">
                            <div class="" *ngFor="let task of subTasks.controls; let i = index;">
                                <div [formGroupName]="i" class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-10 mb-3">
                                        <div class="row align-items-center border rounded"
                                            [ngStyle]="{'background-color': task.value.edit_icon ? '#F4F4F4' : 'white'}"
                                            style="border-color: #007bff;">
                                            <div class="col-auto border-end">
                                                <span class="font-weight-bold">{{i+1}}</span>
                                            </div>
                                            <div class="col mt-1 border-end">
                                                <div class="p-ab">
                                                    <mat-label class="task-labels">Task Name</mat-label><b
                                                        class="r-star">*</b>
                                                </div>
                                                <input matInput type="text" [formControlName]="'task_name'"
                                                    pattern="^(?!\s)(.*\S)?$" [ngClass]="{'auto-height': true}"
                                                    placeholder="Enter task name" [readonly]="task.value.edit_icon"
                                                    [ngStyle]="{'background-color': task.value.edit_icon ? '#F4F4F4' : 'white'}">
                                                <!-- </textarea> -->
                                            </div>
                                            <div class="col border-end">
                                                <div class="p-ab">
                                                    <mat-label class="task-labels">Status</mat-label><b
                                                        class="r-star">*</b>
                                                </div>
                                                <mat-select [formControlName]="'status'" autocomplete="off"
                                                    placeholder="Select status" panelClass="custom-select-panel"
                                                    [disableOptionCentering]="true">
                                                    <mat-option [disabled]="task.value.edit_icon"
                                                        *ngFor="let item of status" [value]="item.id">
                                                        {{item.status_name}}
                                                    </mat-option>
                                                </mat-select>
                                                <!-- <select [formControlName]="'status'" autocomplete="off"
                                                    placeholder="Select" class="form-select"
                                                    [ngStyle]="{'background-color': task.value.edit_icon ? '#F4F4F4' : 'white'}">
                                                    <option value="" selected hidden>Status</option>
                                                    <option [disabled]="task.value.edit_icon"
                                                        *ngFor="let status of status" [value]="status.value">
                                                        {{status.viewValue}}</option>
                                                </select> -->
                                            </div>
                                            <div class="col mt-1">
                                                <div class="p-ab">
                                                    <mat-label class="task-labels">Assignee</mat-label>
                                                </div>
                                                <mat-select [formControlName]="'assignee'" autocomplete="off"
                                                    placeholder="Select assignee" panelClass="custom-select-panel"
                                                    [disableOptionCentering]="true">
                                                    <mat-option [disabled]="task.value.edit_icon"
                                                        *ngFor="let item of assigneePeoples" [value]="item.id">
                                                        {{item.first_name}}
                                                    </mat-option>
                                                </mat-select>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-auto">

                                            </div>
                                            <div class="col">
                                                <div class="px-2"
                                                    *ngIf="task.get('task_name').invalid && (task.get('task_name').dirty || task.get('task_name').touched)">
                                                    <span class="text-errors"
                                                        *ngIf="subTasks.controls[i]?.get('task_name')?.errors?.['required']">
                                                        Task name is required.
                                                    </span>
                                                    <span class="text-errors"
                                                        *ngIf="task.get('task_name').invalid && task.get('task_name').hasError('pattern')">
                                                        Please remove extra space.
                                                    </span>
                                                    <span class="text-errors"
                                                        *ngIf="task.get('task_name').hasError('maxlength')">
                                                        Task name cannot exceed more than 150 characters.
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="px-2"
                                                    *ngIf="task.get('status').invalid && (task.get('status').dirty || task.get('status').touched)">
                                                    <span class="text-errors"
                                                        *ngIf="subTasks.controls[i]?.get('status')?.errors?.['required']">
                                                        Status is required.
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="px-2"
                                                    *ngIf="task.get('assignee').invalid && (task.get('assignee').dirty || task.get('assignee').touched)">
                                                    <span class="text-errors"
                                                        *ngIf="subTasks.controls[i]?.get('assignee')?.errors?.['required']">
                                                        Assignee is required.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-3 d-flex ps-4 align-items-center">
                                        <i class="bi bi-check-lg me-1 icon-bg" *ngIf="!task.value.is_saved"
                                            container="body" style="color:#50C20D;" (click)="save(i)"
                                            ngbTooltip="Save"></i>
                                        <i class="bi bi-x-circle icon-bg" container="body"
                                            *ngIf="!task.value.is_saved && task.value.is_cancelled"
                                            style="color:#126EB4;margin-right: 5px;" ngbTooltip="Cancel"
                                            (click)="cancelEdit(i)"></i>
                                        <i class="bi bi-pencil-square me-1 icon-bg" *ngIf="task.value.is_saved"
                                            container="body" style="color:#367ab7;" (click)="editTask(i)"
                                            ngbTooltip="Edit"></i>
                                        <i class="bi bi-trash icon-bg" *ngIf="!task.value.is_saved" container="body"
                                            style="color:red;" (click)="openDeleteConfirmation(i)"
                                            ngbTooltip="Delete"></i>
                                        <!-- && subTasks.length!=1 -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row mt-3">
                        <div>
                            <button type="button" mat-raised-button class="proceedbtn" color="primary"
                                (click)="addProject()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

</div>



<div class="container-fluid mobileView">
    <div class="generic-form bg mx-1">
        <form [formGroup]='projectForm'>
            <div class="row create-project">
                <div class="col-12">
                    <div class="row">
                        <div class="py-3">
                            <h5 class="p-2"><b>Project Details</b></h5>
                            <p class="px-2">Lets dig into the project details!</p>
                        </div>
                    </div>
                    <div class="row mt-3 px-1">
                        <!-- client dropdown -->
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-1">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Select Client <b class="r-star">*</b></mat-label>
                                <mat-select formControlName="client_id" autocomplete="off" placeholder="Select"
                                    panelClass="custom-select-panel" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let item of allClientList" [value]="item.id">
                                        {{item.clint_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['client_id']?.touched && f['client_id']?.invalid">
                                <span class="text-errors" *ngIf="f['client_id'].errors?.['required']">Client name is
                                    required</span>
                            </div>
                        </div>
                        <!-- project name -->
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-1">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Enter Project Name <b class="r-star">*</b></mat-label>
                                <input matInput placeholder="Enter project name" formControlName="project_name"
                                    autocomplete="off" pattern="^(?!\s)(.*\S)?$">
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['project_name']?.touched && f['project_name']?.invalid">
                                <span class="text-errors"
                                    *ngIf="f['project_name'].errors && f['project_name'].errors['required'] ">Project
                                    name is
                                    required</span>
                                <span class="text-errors"
                                    *ngIf="f['project_name'].invalid && f['project_name'].hasError('pattern')">
                                    Please remove extra space.
                                </span>
                                <span class="text-errors"
                                    *ngIf="!f['project_name'].errors?.['required'] && f['project_name'].errors?.['maxlength']">
                                    Project name cannot exceed more than 50 characters.
                                </span>
                            </div>
                        </div>
                        <!-- start date -->
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-1">
                            <mat-form-field appearance="outline" class="w-100 p-0 custom-mat-form-field">
                                <mat-label>Start Date <b class="r-star">*</b></mat-label>
                                <input matInput [matDatepicker]="picker3" placeholder="Enter start date"
                                    formControlName="start_date" autocomplete="off" (dateInput)="onChange($event)">
                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['start_date']?.touched && f['start_date']?.invalid">
                                <span class="text-errors" *ngIf="f['start_date'].errors?.['required']">Start date
                                    is required</span>
                            </div>
                        </div>
                        <!-- end date -->
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-1">
                            <mat-form-field appearance="outline" class="w-100 p-0 custom-mat-form-field">
                                <mat-label>End Date <b class="r-star">*</b></mat-label>
                                <input matInput [matDatepicker]="picker4" placeholder="Enter end date"
                                    formControlName="end_date" (dateInput)="yearEndDateValidator()"
                                    [min]="projectForm.value.start_date">
                                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                <mat-datepicker #picker4></mat-datepicker>
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['end_date']?.touched && f['end_date']?.invalid">
                                <span class="text-errors" *ngIf="f['end_date'].errors?.['required']">End date is
                                    required</span>
                            </div>
                        </div>
                        <!-- project manager -->
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-1">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Project Manager <b class="r-star">*</b></mat-label>
                                <mat-select formControlName="project_manager_id" autocomplete="off"
                                    placeholder="Select manager" panelClass="custom-select-panel"
                                    [disableOptionCentering]="true">
                                    <mat-option *ngFor="let item of allManager" [value]="item.id">
                                        {{item.first_name +" "+ item.last_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="px-2"
                                *ngIf="f['project_manager_id']?.touched && f['project_manager_id']?.invalid">
                                <span class="text-errors" *ngIf="f['project_manager_id'].errors?.['required']">Manager
                                    is
                                    required</span>
                            </div>
                        </div>
                        <!-- estimated hours -->
                        <!-- <div class="col-sm-12 col-md-6 col-lg-3 mb-1">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Estimated Hours <b class="r-star">*</b></mat-label>
                                <input matInput type="number" onkeydown="return event.keyCode !== 69"
                                    oninput="this.value = this.value.replace('.', '').replace(/[^\d]/g, '');" appHypen
                                    formControlName="estimated_hour" placeholder="Enter estimated hours">
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['estimated_hour'].touched && f['estimated_hour'].invalid">
                                <span class="text-errors"
                                    *ngIf="f['estimated_hour'].errors && f['estimated_hour'].errors['required']">Estimated
                                    hours is required</span>
                            </div>
                        </div> -->
                        <!-- billing -->
                        <!-- <div class="col-sm-12 col-md-6 col-lg-3 mb-1">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Estimated Billing <b class="r-star">*</b></mat-label>
                                <input matInput placeholder="Enter billing amount"
                                    onkeydown="return event.keyCode !== 69 " formControlName="estimated_billing"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['estimated_billing'].touched && f['estimated_billing'].invalid">
                                <span class="text-errors"
                                    *ngIf="f['estimated_billing'].errors && f['estimated_billing'].errors['required']">Estimated
                                    billing is required</span>
                            </div>
                        </div> -->
                        <!-- project status -->
                        <div class="col-sm-12 col-md-6 col-lg-3 mb-1">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Project Status <b class="r-star">*</b></mat-label>
                                <mat-select formControlName="status_id" autocomplete="off" placeholder="Select status"
                                    panelClass="custom-select-panel" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let item of status" [value]="item.id">
                                        {{item.status_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['status_id']?.touched && f['status_id']?.invalid">
                                <span class="text-errors" *ngIf="f['status_id'].errors?.['required']">Status is
                                    required</span>
                            </div>
                        </div>
                        <!-- team -->
                        <div class="col-sm-12 col-md-6 col-lg-6 mb-3 multi-select">
                            <mat-form-field appearance="outline" class="w-100 custom-mat-form-field">
                                <mat-label>Select Team </mat-label>
                                <mat-select formControlName="team" autocomplete="off" placeholder="Select team"
                                    panelClass="custom-select-panel" [disableOptionCentering]="true" multiple
                                    (selectionChange)="matTeamSelect()" [(ngModel)]="selectedTeamId">

                                    <!-- Search Input -->
                                    <div class="custom-search py-2 px-1">
                                        <input matInput (input)="filterOptions($event)" placeholder="Search..." />
                                    </div>

                                    <mat-option *ngFor="let item of filteredPeopleGroup" [value]="item.id">
                                        {{item.first_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="px-2" *ngIf="f['team'].touched && f['team'].invalid">
                                <span class="text-errors" *ngIf="f['team'].errors && f['team'].errors['required']">Team
                                    list is required</span>
                            </div>
                        </div>
                        <div *ngIf="assigneePeoples.length!=0" class="col-sm-12 col-md-6 mx-3 col-lg-6 mb-3">
                            <div class="team-border">
                                <div class="tag-container" [ngClass]="{ 'collapsed': isCollapsed }">
                                    <span *ngFor="let item of assigneePeoples" class="tag-item">
                                        {{item.first_name}}<i class="bi bi-x fs-5 fw-bold"
                                            (click)="teamDeselectedFromCard(item.id)"></i>
                                    </span>
                                </div>
                                <div class="controls mb-2">
                                    <button type="button" (click)="clearAll()" class="clear-btn">Clear all</button>
                                    <button type="button" (click)="toggleCollapse()" class="toggle-btn">
                                        {{ isCollapsed ? 'Expand' : 'Collapse' }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- project template -->
                    <div class="row mx-1 px-2 gx-0 task-border">
                        <div class="col-12 ">
                            <div class="py-3">
                                <h5 class="py-1"><b>Add Tasks</b></h5>
                                <p>Create multiple tasks</p>
                            </div>
                        </div>
                        <div class="col-12 text-end align-content-center" *ngIf="projectForm.get('project_task').valid">
                            <div *ngIf="projectForm.get('project_task').valid">
                                <button mat-icon-button class="proceedbtn" type="button" color="primary"
                                    (click)="addTask()">
                                    <mat-icon>add</mat-icon>Add Task
                                </button>
                            </div>
                        </div>
                        <div class="col-12 text-end align-content-center invalid-button"
                            *ngIf="projectForm.get('project_task').invalid">
                            <div *ngIf="projectForm.get('project_task').invalid">
                                <button mat-icon-button type="button" class="proceedbtn" color="primary" disabled>
                                    <mat-icon>add</mat-icon>Add Task
                                </button>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <mat-form-field appearance="outline" class="w-100 p-0 custom-mat-form-field">
                                        <mat-label>Choose Template </mat-label>
                                        <mat-select formControlName="project_category" autocomplete="off"
                                            placeholder="Select template" panelClass="custom-select-panel"
                                            [disableOptionCentering]="true" (selectionChange)="getSubTask($event)">
                                            <mat-option *ngFor="let item of taskCategories" [value]="item.id">
                                                {{item.category_name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 px-2" formArrayName="project_task">
                            <div class="" *ngFor="let task of subTasks.controls; let i = index;">
                                <div [formGroupName]="i" class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-10 mb-3">
                                        <div class="row align-items-center border rounded"
                                            [ngStyle]="{'background-color': task.value.edit_icon ? '#F4F4F4' : 'white'}"
                                            style="border-color: #007bff;">
                                            <div class="col-auto border-end">
                                                <span class="font-weight-bold">{{i+1}}</span>
                                            </div>
                                            <div class="col mt-1 border-end">
                                                <div class="p-ab">
                                                    <mat-label class="task-labels">Task Name</mat-label><b
                                                        class="r-star">*</b>
                                                </div>
                                                <input matInput type="text" [formControlName]="'task_name'"
                                                    pattern="^(?!\s)(.*\S)?$" [ngClass]="{'auto-height': true}"
                                                    placeholder="Enter task name" [readonly]="task.value.edit_icon"
                                                    [ngStyle]="{'background-color': task.value.edit_icon ? '#F4F4F4' : 'white'}">
                                                <!-- </textarea> -->
                                            </div>
                                            <div class="col border-end">
                                                <div class="p-ab">
                                                    <mat-label class="task-labels">Status</mat-label><b
                                                        class="r-star">*</b>
                                                </div>
                                                <mat-select [formControlName]="'status'" autocomplete="off"
                                                    placeholder="Select status" panelClass="custom-select-panel"
                                                    [disableOptionCentering]="true">
                                                    <mat-option [disabled]="task.value.edit_icon"
                                                        *ngFor="let status of status" [value]="status.id">
                                                        {{status.status_name}}
                                                    </mat-option>
                                                </mat-select>
                                            </div>
                                            <div class="col mt-1">
                                                <div class="p-ab">
                                                    <mat-label class="task-labels">Assignee</mat-label>
                                                </div>
                                                <mat-select [formControlName]="'assignee'" autocomplete="off"
                                                    placeholder="Select assignee" panelClass="custom-select-panel"
                                                    [disableOptionCentering]="true">
                                                    <mat-option [disabled]="task.value.edit_icon"
                                                        *ngFor="let item of assigneePeoples" [value]="item.id">
                                                        {{item.first_name}}
                                                    </mat-option>
                                                </mat-select>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-auto">

                                            </div>
                                            <div class="col">
                                                <div class="px-2"
                                                    *ngIf="task.get('task_name').invalid && (task.get('task_name').dirty || task.get('task_name').touched)">
                                                    <span class="text-errors"
                                                        *ngIf="subTasks.controls[i]?.get('task_name')?.errors?.['required']">
                                                        Task name is required.
                                                    </span>
                                                    <span class="text-errors"
                                                        *ngIf="task.get('task_name').invalid && task.get('task_name').hasError('pattern')">
                                                        Please remove extra space.
                                                    </span>
                                                    <span class="text-errors"
                                                        *ngIf="task.get('task_name').hasError('maxlength')">
                                                        Project name cannot exceed more than 150 characters.
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="px-2"
                                                    *ngIf="task.get('status').invalid && (task.get('status').dirty || task.get('status').touched)">
                                                    <span class="text-errors"
                                                        *ngIf="subTasks.controls[i]?.get('status')?.errors?.['required']">
                                                        Status is required.
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="px-2"
                                                    *ngIf="task.get('assignee').invalid && (task.get('assignee').dirty || task.get('assignee').touched)">
                                                    <span class="text-errors"
                                                        *ngIf="subTasks.controls[i]?.get('assignee')?.errors?.['required']">
                                                        Assignee is required.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-3 d-flex ps-4 align-items-center">
                                        <i class="bi bi-check-lg me-1 icon-bg" *ngIf="!task.value.is_saved"
                                            container="body" style="color:#50C20D;" (click)="save(i)"
                                            ngbTooltip="Save"></i>
                                        <i class="bi bi-x-circle icon-bg" container="body"
                                            *ngIf="!task.value.is_saved && task.value.is_cancelled"
                                            style="color:#126EB4;margin-right: 5px;" ngbTooltip="Cancel"
                                            (click)="cancelEdit(i)"></i>
                                        <i class="bi bi-pencil-square me-1 icon-bg" *ngIf="task.value.is_saved"
                                            container="body" style="color:#367ab7;" (click)="editTask(i)"
                                            ngbTooltip="Edit"></i>
                                        <i class="bi bi-trash icon-bg" *ngIf="!task.value.is_saved" container="body"
                                            style="color:red;" (click)="openDeleteConfirmation(i)"
                                            ngbTooltip="Delete"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row mt-3">
                        <div>
                            <button mat-raised-button class="proceedbtn mat-btn-s" type="button"
                                (click)="addProject()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

</div>