



::ng-deep .create-project .mat-form-field-wrapper {
    padding-bottom: 0em;
}

.create-project .proceedbtn {
    background-color: #126EB4 !important;
    border-radius: 5px !important;
    border: none !important;
    height: 35px !important;
    width: auto !important;
    color: white !important;
    font-size: small !important;
    padding: 0px 4px;

}

::ng-deep .create-project .mat-icon-button .mat-icon {
    line-height: 22px !important;
}

::ng-deep .create-project .mat-icon {
    font-size: medium !important;
}

::ng-deep .create-project .mat-icon-button {
    line-height: 0px !important;
}

.create-project .task-border {
    border: 1px solid #c1c0c0;
    border-radius: 5px;
}

.create-project .form-control,
.form-select {
    border: none !important;
    box-shadow: none !important;
    text-align: left;
    font-family: "Exo FT" !important;
    font-size: 14px;
    // background-color: #f8f9fa !important;
}

.create-project .row.border {
    border-width: 2px;
    background-color: #fff;
}

.create-project .icon-bg {
    background: #f4f4f4;
    padding: 5px 7px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;

    &:hover {
        opacity: 0.8;
    }
}

.create-project .invalid-button .proceedbtn {
    background-color: #5588af !important;
    border-radius: 5px !important;
    border: none !important;
    height: 35px !important;
    width: auto !important;
    color: white !important;
    font-size: small !important;
    padding: 0px 4px;
}

.create-project .star {
    color: red !important;
}

.create-project .p-ab {
    // position: absolute !important;
    top: -2px !important;
}
.create-project .task-labels{
    font-size: 10px;
    margin-right: 2px;
}
.auto-height {
    height: auto !important;
  }
::ng-deep  .mat-select-panel {
    margin-left: 20px !important;
}

.floating-label-container {
    position: relative;
    margin-top: 20px;
  
    label {
      position: absolute;
      top: 10px;
      left: 15px;
      color: #aaa;
      transition: 0.2s ease all;
      pointer-events: none;
    }
  
    .floating {
      top: -15px;
      font-size: 12px;
      color: #3f51b5;
    }
  
    ng-multiselect-dropdown {
      width: 100%;
      padding: 10px 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  
    ng-multiselect-dropdown:focus + label {
      top: -15px;
      font-size: 12px;
      color: #3f51b5;
    }
  }

  .create-project .custom-search {
    // padding: 8px;
}

.create-project .custom-search input {
    width: 100%;
    box-sizing: border-box; /* Ensure padding doesn't increase width */
}
.create-project .team-border{
    border: 1px solid rgb(231, 229, 229);
    border-radius: 5px;
}
.create-project .tag-item i{
    text-align: center;
    cursor: pointer !important;

}


.create-project .tag-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 150px; /* Adjust this height to set the maximum height */
    overflow-y: auto; /* Allow vertical scrolling when there is more data */
    padding: 10px;
  }
  
  .create-project .tag-container.collapsed {
    max-height: 100px; /* Adjust height for collapsed view */
    overflow-y: hidden; /* Hide scroll in collapsed view */
  }
  
  .create-project .tag-item {
    background-color: lightblue;
    margin: 4px;
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
  }
  
  .create-project .remove-btn {
    margin-left: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .create-project .controls {
    margin-top: 10px;
    text-align: end;
  }
  
  .create-project .toggle-btn {
    margin-right: 10px;
    background-color: #418BC3;
    color: white;
    border: none;
    font-family: "Exo FT" !important;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px;

  }
  .create-project .clear-btn {
    border: none;
    margin-right: 10px;
    background-color: #DEDEDE;
    color: black;
    border-radius: 5px;
    font-family: "Exo FT" !important;
    cursor: pointer;
    padding: 7px 10px;

  }
  