$primay-color: #126EB4;

.full-width{
    width: 100%;
  }
  .c-header{
    font-weight: bold;
    padding:10px;
}
.submit-button{
    background-color: $primay-color;
    color:white;
}
.row{
    padding:5px ;
}
.active-accruals{
 color: $primay-color;
 font-weight: 500;
}