<div class="container-fluid webView">
    <!-- <div class="row">
        <div class="col-sm-6">
            <h1>Add Employee</h1>
        </div>
        <div class="col-sm"></div>
        <div class="col-sm-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/dashboards">Home</a></li>
                  <li class="breadcrumb-item">Add Employee</li>     
                </ol>
              </nav>
        </div>
        
    </div> -->
    <div class="generic-form bg mx-1">
        <form [formGroup]='updateForm' (ngSubmit)='update()' >
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="row">
                        <div class="col-sm">
                            <h4>Employee details</h4>
                        </div>
                    </div>
                 
                    <!-- <div class="row">
                        <div class="col-sm">
                            <p>Prefix/suffix <span >*</span></p> 
                            <select class="form-select" [(value)]='prefix' aria-label="Default select example" formControlName="prefix_suffix_id">
                                <option value="" selected disabled>Select prefix/suffix</option>
                                <option *ngFor="let item of allPrefix" [value]="item.id">
                                    {{item.prefix}}
                                </option>
                              </select>
                              <div *ngIf="f['prefix_suffix_id'].touched && f['prefix_suffix_id'].invalid" >
                                <div *ngIf="f['prefix_suffix_id'].errors && f['prefix_suffix_id'].errors['required']"><p class="error-msg">Prefix/suffix is required</p></div>
                            </div>
                        </div>
                    </div> -->
               
                    <!-- <div class="row">
                        <div class="col-sm">
                            <p>Photo <span >*</span></p>
                            <input type="file" class="form-control p-4-0 sizeinput" formControlName="photo"  placeholder="Photo" aria-describedby="emailHelp"  autocomplete="off" (change)="uploadImageFile($event)">
                            <div *ngIf="f['photo'].touched && f['photo'].invalid" >
                                <div *ngIf="f['photo'].errors && f['photo'].errors['required'] " ><p class="error-msg">Photo is required</p></div>
                            </div>
                        </div>
                    </div> -->
                  
                    <div class="row">
                        <div class="col-sm">
                            <p>First name <span >*</span></p>
                            <input type="text" class="form-control p-3 sizeinput" formControlName="u_first_name" placeholder="Enter first name" aria-describedby="emailHelp"  autocomplete="off">
                            <div *ngIf="f['u_first_name'].touched && f['u_first_name'].invalid" >
                                <div *ngIf="f['u_first_name'].errors && f['u_first_name'].errors['required']"><p class="error-msg">First name is required</p></div>
                            </div>
                            <div *ngIf="f['u_first_name'].invalid && f['u_first_name'].hasError('pattern')" >
                                <p class="error-msg">First name cannot contain spaces,numbers and special characters.</p>
                             </div>
                        </div>        
                    </div>
                
                    <div class="row">
                        <div class="col-sm">
                            <p>Last name <span >*</span></p>
                            <input type="text" class="form-control p-3 sizeinput" formControlName="u_last_name" placeholder="Enter last name" aria-describedby="emailHelp"  autocomplete="off">
                            <div *ngIf="f['u_last_name'].touched && f['u_last_name'].invalid" >
                                <div *ngIf="f['u_last_name'].errors && f['u_last_name'].errors['required']" ><p class="error-msg">Last name is required</p></div>
                            </div>
                            <div *ngIf="f['u_last_name'].invalid && f['u_last_name'].hasError('pattern')">
                                <p class="error-msg">Last name cannot contain spaces,numbers and special characters.</p>
                             </div>
                        </div>         
                    </div>
                  
                    <div class="row">
                        <div class="col-sm">
                            <p>Gender <span >*</span></p>
                            <select class="form-select"  aria-label="Default select example" formControlName="u_gender">
                                <option value="" selected disabled>Select gender</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                              </select>
                              <div *ngIf="f['u_gender'].touched && f['u_gender'].invalid" >
                                <div *ngIf="f['u_gender'].errors && f['u_gender'].errors['required']" ><p class="error-msg">Gender is required</p></div>
                            </div>
                        </div>        
                    </div>
                  
                    <div class="row">
                        <div class="col-sm">
                            <p>Marital Status<span >*</span></p>
                            <select class="form-select" aria-label="Default select example" formControlName="u_marital_status" >
                                <option  value="" selected disabled>Select marital status</option>
                                <option value="single">Single</option>
                                <option value="married">Married</option>
                              </select>
                              <div *ngIf="f['u_marital_status'].touched && f['u_marital_status'].invalid" >
                                <div *ngIf="f['u_marital_status'].errors && f['u_marital_status'].errors['required']" ><p class="error-msg">Marital status is required</p></div>
                            </div>
                        </div>       
                    </div>
                   
                    <div class="row">
                        <div class="col-sm">
                            <p>Date of joining<span >*</span></p>
                            <input class="form-control" id="date-input" type="date" name="date-input" formControlName="u_date_of_joining"  placeholder="date" (change)="changeYearStartDate($event)" >  
                            <div *ngIf="f['u_date_of_joining'].touched && f['u_date_of_joining'].invalid" >
                                <div *ngIf="f['u_date_of_joining'].errors && f['u_date_of_joining'].errors['required']" ><p class="error-msg">Date of joining is required</p></div>
                            </div>
                        </div>         
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p>Photo <span >*</span></p>
                            <!-- <div class="col-sm">
                                <img [src]="url" alt=""  class="profile-img">
                            </div> -->
                            <ng-container *ngIf="type === 'url'; else fileInput">
                                <input 
                                  type="url"
                                  class="form-control p-4-0 sizeinput" 
                                  formControlName="profile_base64" 
                                  placeholder="profile_base64" 
                                  aria-describedby="emailHelp"  
                                  autocomplete="off" 
                                  (focus)="onFocus()">
                              </ng-container>
                              
                              <ng-template #fileInput>
                                <input 
                                  type="file"
                                  class="form-control p-4-0 sizeinput" 
                                  formControlName="profile_base64" 
                                   accept="image/*;capture=camera" 
                                  placeholder="profile_base64" 
                                  aria-describedby="emailHelp"  
                                  autocomplete="off" 
                                  (change)="uploadImageFile($event)">
                              </ng-template>
                            <!-- <input [type]="type"  class="form-control p-4-0 sizeinput" formControlName="profile_base64"  accept="image/*;capture=camera"placeholder="profile_base64" aria-describedby="emailHelp"  autocomplete="off" (focus)="onFocus()" (change)="uploadImageFile($event)"> -->
                            <div *ngIf="f['profile_base64'].touched && f['profile_base64'].invalid" >
                                <div *ngIf="f['profile_base64'].errors && f['profile_base64'].errors['required']" ><p class="error-msg">Photo is required</p></div>
                            </div>
                            <div class="error-msg" *ngIf="f['profile_base64'].errors && f['profile_base64'].errors['accept']">Invalid file format. Only .jpg, .jpeg, .png formats are allowed.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p>Status <span >*</span></p>
                            <select class="form-select" aria-label="Default select example" formControlName="u_status" >  
                                <option value="" selected disabled>Select status</option>        
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                              </select>
                              <div *ngIf="f['u_status'].touched && f['u_status'].invalid">
                                <div *ngIf="f['u_status'].errors && f['u_status'].errors['required']"><p class="error-msg">Status is required</p></div>
                            </div>
                        </div>            
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm">
                            <p><i class="bi bi-newspaper"></i>Note: <span>*</span>Mandatory fields</p>
                        </div>
                    </div> -->
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="row">
                        <div class="col-sm">
                            <h4>Role & responsibilities details</h4>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-sm">
                            <p>Email Id <span >*</span></p> 
                            <input type="text" readonly class="form-control p-3 sizeinput d-able" formControlName="u_email" placeholder="Enter email Id" aria-describedby="emailHelp"  autocomplete="off">
                            <div *ngIf="f['u_email'].touched && f['u_email'].invalid" >
                                <div *ngIf="f['u_email'].errors && f['u_email'].errors['required']" ><p class="error-msg">Email Id is required</p></div>
                                <div *ngIf="f['u_email'].errors['email']" ><p class="error-msg">Email Id is invalid</p></div>
                            </div>
                        </div>
                    </div>
               
                    <div class="row">
                        <div class="col-sm">
                            <span> </span>
                            <p>Department <span >*</span></p>
                            <select class="form-select" [(value)]='department' aria-label="Default select example" formControlName="department_id">
                                <option value="" selected disabled>Select department </option>
                                <option *ngFor="let item of allDepartment" [value]="item.id" >
                                    {{item.od_name}}
                                </option>
                              </select>
                              <div *ngIf="f['department_id'].touched && f['department_id'].invalid" >
                                <div *ngIf="f['department_id'].errors && f['department_id'].errors['required'] " ><p class="error-msg">Department is required</p></div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm">
                            <p>Organization <span >*</span></p>
                            <select class="form-select" [(value)]='role' aria-label="Default select example" formControlName="organization_id">
                                 <option value="" selected disabled>Select organization</option>
                                 <ng-container *ngFor="let item of organizationList">   
                                <option  [value]="item.id" >
                                    {{item.org_name}}
                                </option>
                            </ng-container>
                              </select>
                              <div *ngIf="f['organization_id'].touched && f['organization_id'].invalid" >
                                <div *ngIf="f['organization_id'].errors && f['organization_id'].errors['required'] " ><p class="error-msg">Organization is required</p></div>
                            </div>
                        </div>            
                    </div> -->
                    <div class="row">
                        <div class="col-sm">
                            <p>Role  <span >*</span></p>
                            <select class="form-select" [(value)]='role' aria-label="Default select example" formControlName="user_role_id">
                                 <option value="" selected disabled>Select role</option>
                                 <ng-container *ngFor="let item of allRole">   
                                <option  [value]="item.id" >
                                    {{item.user_role_name}}
                                </option>
                            </ng-container>
                              </select>
                              <div *ngIf="f['user_role_id'].touched && f['user_role_id'].invalid" >
                                <div *ngIf="f['user_role_id'].errors && f['user_role_id'].errors['required'] " ><p class="error-msg">Role is required</p></div>
                            </div>
                        </div>            
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p>Reporting Manager </p>
                            <select class="form-select" [(value)]='reportingManager' aria-label="Default select example" formControlName="user_reporting_manager_ref_id">
                                <option value="" selected disabled>Select reporting manager</option>      
                                <option *ngFor="let item of allReportingManager" [value]="item.id">
                                    {{item.u_first_name}}
                                </option>
                              </select>
                              <div *ngIf="f['user_reporting_manager_ref_id'].touched && f['user_reporting_manager_ref_id'].invalid" >
                                <div *ngIf="f['user_reporting_manager_ref_id'].errors && f['user_reporting_manager_ref_id'].errors['required'] " ><p class="error-msg">Reporting manager is required</p></div>
                            </div>
                        </div>            
                    </div>
                    
                    <div class="row">
                        <div class="col-sm">
                            <p>Cost center <span >*</span></p>
                            <select class="form-select"  aria-label="Default select example" formControlName="cost_center_id" >  
                                <option value="" selected disabled>Select cost center</option>        
                                <option *ngFor="let item of allCostCenter" [value]="item.id">
                                    {{item.occ_cost_center_name}}
                                </option>
                              </select>
                              <div *ngIf="f['cost_center_id'].touched && f['cost_center_id'].invalid" >
                                <div *ngIf="f['cost_center_id'].errors && f['cost_center_id'].errors['required'] " ><p class="error-msg">Cost center is required</p></div>
                            </div>
                        </div>            
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p>Center <span >*</span></p>
                            <select class="form-select"  aria-label="Default select example" formControlName="center_id" >  
                                <option value="" selected disabled>Select center</option>        
                                <option *ngFor="let item of allCenter" [value]="item.id">
                                    {{item.center_name}}
                                </option>
                              </select>
                              <div *ngIf="f['center_id'].touched && f['center_id'].invalid" >
                                <div *ngIf="f['center_id'].errors && f['center_id'].errors['required'] " ><p class="error-msg">center is required</p></div>
                            </div>
                        </div>            
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p>Designation <span >*</span></p>
                            <input type="text" class="form-control p-3 sizeinput" formControlName="u_designation" placeholder="Enter designation" aria-describedby="emailHelp"  autocomplete="off">
                            <div *ngIf="f['u_designation'].touched && f['u_designation'].invalid" >
                                <div *ngIf="f['u_designation'].errors && f['u_designation'].errors['required'] " ><p class="error-msg">Designation is required</p></div>
                            </div>
                            <div *ngIf="f['u_designation'].invalid && f['u_designation'].hasError('pattern')" class="error-text">
                                <span>Cannot start with a space.</span>
                            </div>
                        </div>            
                    </div>
               
                    
                    <!-- <div class="row">
                        <div class="col-sm">
                            <p>Tags <span >*</span></p>
                            <ng-multiselect-dropdown [placeholder]="'Select Tags'"  [settings]="tagSetting"
                            [data]="allTag" (onSelect)="onTagSelect($event)"  (onSelectAll)="onTagSelectAll($event)" 
                            (onDeSelect)="onItemDeSelect($event)" (onDeSelectAll)="onItemDeSelectAll($event)" formControlName="tags">
                            </ng-multiselect-dropdown> 
                            <div *ngIf="f['tags'].touched && f['tags'].invalid">
                                <div *ngIf="f['tags'].errors && f['tags'].errors['required']"><p class="error-msg">Tags is required</p></div>
                            </div>
                        </div>            
                    </div> -->
                   
                    <div class="row">
                        <div class="col-sm-8"></div>
                        <div class="col-sm-4">
                            <button mat-raised-button class="proceedbtn mat-btn-s" type="submit">Update</button>
                        </div>
                    </div>
                </div>
            </div>
           </form> 
       
    </div>
   
</div>
<div class="container-fluid mobileView">
    <div class="row mx-1 my-2">
        <div class="col-sm-6">
            <h1><i  class="bi bi-arrow-left" (click)="goBack($event)"></i> Employee Details</h1>
        </div>
    </div>
    <div class="generic-form bg mx-1">
        <form [formGroup]='updateForm' (ngSubmit)='update()' >
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="row">
                        <div class="col-sm">
                            <h4>People details</h4>
                        </div>
                    </div>
                 
                    <!-- <div class="row">
                        <div class="col-sm">
                            <p>Prefix/suffix <span >*</span></p> 
                            <select class="form-select" [(value)]='prefix' aria-label="Default select example" formControlName="prefix_suffix_id">
                                <option value="" selected disabled>Select prefix/suffix</option>
                                <option *ngFor="let item of allPrefix" [value]="item.id">
                                    {{item.prefix}}
                                </option>
                              </select>
                              <div *ngIf="f['prefix_suffix_id'].touched && f['prefix_suffix_id'].invalid" >
                                <div *ngIf="f['prefix_suffix_id'].errors && f['prefix_suffix_id'].errors['required']"><p class="error-msg">Prefix/suffix is required</p></div>
                            </div>
                        </div>
                    </div> -->
               
                    <!-- <div class="row">
                        <div class="col-sm">
                            <p>Photo <span >*</span></p>
                            <input type="file" class="form-control p-4-0 sizeinput" formControlName="photo"  placeholder="Photo" aria-describedby="emailHelp"  autocomplete="off" (change)="uploadImageFile($event)">
                            <div *ngIf="f['photo'].touched && f['photo'].invalid" >
                                <div *ngIf="f['photo'].errors && f['photo'].errors['required'] " ><p class="error-msg">Photo is required</p></div>
                            </div>
                        </div>
                    </div> -->
                  
                    <div class="row">
                        <div class="col-sm">
                            <p>First name <span >*</span></p>
                            <input type="text" class="form-control p-3 sizeinput" formControlName="u_first_name" placeholder="Enter first name" aria-describedby="emailHelp"  autocomplete="off">
                            <div *ngIf="f['u_first_name'].touched && f['u_first_name'].invalid" >
                                <div *ngIf="f['u_first_name'].errors && f['u_first_name'].errors['required']"><p class="error-msg">First name is required</p></div>
                            </div>
                            <div *ngIf="f['u_first_name'].invalid && f['u_first_name'].hasError('pattern')" >
                                <p class="error-msg">First name cannot contain spaces,numbers and special characters.</p>
                             </div>
                        </div>        
                    </div>
                
                    <div class="row">
                        <div class="col-sm">
                            <p>Last name <span >*</span></p>
                            <input type="text" class="form-control p-3 sizeinput" formControlName="u_last_name" placeholder="Enter last name" aria-describedby="emailHelp"  autocomplete="off">
                            <div *ngIf="f['u_last_name'].touched && f['u_last_name'].invalid" >
                                <div *ngIf="f['u_last_name'].errors && f['u_last_name'].errors['required']" ><p class="error-msg">Last name is required</p></div>
                            </div>
                            <div *ngIf="f['u_last_name'].invalid && f['u_last_name'].hasError('pattern')">
                                <p class="error-msg">Last name cannot contain spaces,numbers and special characters.</p>
                             </div>
                        </div>         
                    </div>
                  
                    <div class="row">
                        <div class="col-sm">
                            <p>Gender <span >*</span></p>
                            <select class="form-select"  aria-label="Default select example" formControlName="u_gender">
                                <option value="" selected disabled>Select gender</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                              </select>
                              <div *ngIf="f['u_gender'].touched && f['u_gender'].invalid" >
                                <div *ngIf="f['u_gender'].errors && f['u_gender'].errors['required']" ><p class="error-msg">Gender is required</p></div>
                            </div>
                        </div>        
                    </div>
                  
                    <div class="row">
                        <div class="col-sm">
                            <p>Marital Status<span >*</span></p>
                            <select class="form-select" aria-label="Default select example" formControlName="u_marital_status" >
                                <option  value="" selected disabled>Select marital status</option>
                                <option value="single">Single</option>
                                <option value="married">Married</option>
                              </select>
                              <div *ngIf="f['u_marital_status'].touched && f['u_marital_status'].invalid" >
                                <div *ngIf="f['u_marital_status'].errors && f['u_marital_status'].errors['required']" ><p class="error-msg">Marital status is required</p></div>
                            </div>
                        </div>       
                    </div>
                   
                    <div class="row">
                        <div class="col-sm">
                            <p>Date of joining<span >*</span></p>
                            <input class="form-control" id="date-input" type="date" name="date-input" formControlName="u_date_of_joining"  placeholder="date" (change)="changeYearStartDate($event)" >  
                            <div *ngIf="f['u_date_of_joining'].touched && f['u_date_of_joining'].invalid" >
                                <div *ngIf="f['u_date_of_joining'].errors && f['u_date_of_joining'].errors['required']" ><p class="error-msg">Date of joining is required</p></div>
                            </div>
                        </div>         
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p>Photo <span >*</span></p>
                            <!-- <div class="col-sm">
                                <img [src]="url" alt=""  class="profile-img">
                            </div> -->
                            <ng-container *ngIf="type === 'url'; else fileInput">
                                <input 
                                  type="url"
                                  class="form-control p-4-0 sizeinput" 
                                  formControlName="profile_base64" 
                                  placeholder="profile_base64" 
                                  aria-describedby="emailHelp"  
                                  autocomplete="off" 
                                  (focus)="onFocus()">
                              </ng-container>
                              
                              <ng-template #fileInput>
                                <input 
                                  type="file"
                                  class="form-control p-4-0 sizeinput" 
                                  formControlName="profile_base64" 
                                   accept="image/*;capture=camera" 
                                  placeholder="profile_base64" 
                                  aria-describedby="emailHelp"  
                                  autocomplete="off" 
                                  (change)="uploadImageFile($event)">
                              </ng-template> <div *ngIf="f['profile_base64'].touched && f['profile_base64'].invalid" >
                                <div *ngIf="f['profile_base64'].errors && f['profile_base64'].errors['required']" ><p class="error-msg">Photo is required</p></div>
                            </div>
                            <div class="error-msg" *ngIf="f['profile_base64'].errors && f['profile_base64'].errors['accept']">Invalid file format. Only .jpg, .jpeg, .png formats are allowed.</div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm">
                            <p><i class="bi bi-newspaper"></i>Note: <span>*</span>Mandatory fields</p>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-sm">
                            <p>Status <span >*</span></p>
                            <select class="form-select" aria-label="Default select example" formControlName="u_status" >  
                                <option value="" selected disabled>Select status</option>        
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                              </select>
                              <div *ngIf="f['u_status'].touched && f['u_status'].invalid">
                                <div *ngIf="f['u_status'].errors && f['u_status'].errors['required']"><p class="error-msg">Status is required</p></div>
                            </div>
                        </div>            
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="row">
                        <div class="col-sm">
                            <h4>Role & responsibilities details</h4>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-sm">
                            <p>Email Id <span >*</span></p> 
                            <input type="text" readonly class="form-control p-3 sizeinput d-able" formControlName="u_email" placeholder="Enter email Id" aria-describedby="emailHelp"  autocomplete="off">
                            <div *ngIf="f['u_email'].touched && f['u_email'].invalid" >
                                <div *ngIf="f['u_email'].errors && f['u_email'].errors['required']" ><p class="error-msg">Email Id is required</p></div>
                                <div *ngIf="f['u_email'].errors['email']" ><p class="error-msg">Email Id is invalid</p></div>
                            </div>
                        </div>
                    </div>
               
                    <div class="row">
                        <div class="col-sm">
                            <span> </span>
                            <p>Department <span >*</span></p>
                            <select class="form-select" [(value)]='department' aria-label="Default select example" formControlName="department_id">
                                <option value="" selected disabled>Select department </option>
                                <option *ngFor="let item of allDepartment" [value]="item.id" >
                                    {{item.od_name}}
                                </option>
                              </select>
                              <div *ngIf="f['department_id'].touched && f['department_id'].invalid" >
                                <div *ngIf="f['department_id'].errors && f['department_id'].errors['required'] " ><p class="error-msg">Department is required</p></div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm">
                            <p>Organization <span >*</span></p>
                            <select class="form-select" [(value)]='role' aria-label="Default select example" formControlName="organization_id">
                                 <option value="" selected disabled>Select organization</option>
                                 <ng-container *ngFor="let item of organizationList">   
                                <option  [value]="item.id" >
                                    {{item.org_name}}
                                </option>
                            </ng-container>
                              </select>
                              <div *ngIf="f['organization_id'].touched && f['organization_id'].invalid" >
                                <div *ngIf="f['organization_id'].errors && f['organization_id'].errors['required'] " ><p class="error-msg">Organization is required</p></div>
                            </div>
                        </div>            
                    </div> -->
                    <div class="row">
                        <div class="col-sm">
                            <p>Role  <span >*</span></p>
                            <select class="form-select" [(value)]='role' aria-label="Default select example" formControlName="user_role_id">
                                 <option value="" selected disabled>Select role</option>
                                 <ng-container *ngFor="let item of allRole">   
                                <option  [value]="item.id" >
                                    {{item.user_role_name}}
                                </option>
                            </ng-container>
                              </select>
                              <div *ngIf="f['user_role_id'].touched && f['user_role_id'].invalid" >
                                <div *ngIf="f['user_role_id'].errors && f['user_role_id'].errors['required'] " ><p class="error-msg">Role is required</p></div>
                            </div>
                        </div>            
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p>Reporting Manager  <span >*</span></p>
                            <select class="form-select" [(value)]='reportingManager' aria-label="Default select example" formControlName="user_reporting_manager_ref_id">
                                <option value="" selected disabled>Select reporting manager</option>      
                                <option *ngFor="let item of allReportingManager" [value]="item.id">
                                    {{item.u_first_name}}
                                </option>
                              </select>
                              <div *ngIf="f['user_reporting_manager_ref_id'].touched && f['user_reporting_manager_ref_id'].invalid" >
                                <div *ngIf="f['user_reporting_manager_ref_id'].errors && f['user_reporting_manager_ref_id'].errors['required'] " ><p class="error-msg">Reporting manager is required</p></div>
                            </div>
                        </div>            
                    </div>
                    
                    <div class="row">
                        <div class="col-sm">
                            <p>Cost center <span >*</span></p>
                            <select class="form-select"  aria-label="Default select example" formControlName="cost_center_id" >  
                                <option value="" selected disabled>Select cost center</option>        
                                <option *ngFor="let item of allCostCenter" [value]="item.id">
                                    {{item.occ_cost_center_name}}
                                </option>
                              </select>
                              <div *ngIf="f['cost_center_id'].touched && f['cost_center_id'].invalid" >
                                <div *ngIf="f['cost_center_id'].errors && f['cost_center_id'].errors['required'] " ><p class="error-msg">Cost center is required</p></div>
                            </div>
                        </div>            
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p>Center <span >*</span></p>
                            <select class="form-select"  aria-label="Default select example" formControlName="center_id" >  
                                <option value="" selected disabled>Select center</option>        
                                <option *ngFor="let item of allCenter" [value]="item.id">
                                    {{item.center_name}}
                                </option>
                              </select>
                              <div *ngIf="f['center_id'].touched && f['center_id'].invalid" >
                                <div *ngIf="f['center_id'].errors && f['center_id'].errors['required'] " ><p class="error-msg">center is required</p></div>
                            </div>
                        </div>            
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p>Designation <span >*</span></p>
                            <input type="text" class="form-control p-3 sizeinput" formControlName="u_designation" placeholder="Enter designation" aria-describedby="emailHelp"  autocomplete="off">
                            <div *ngIf="f['u_designation'].touched && f['u_designation'].invalid" >
                                <div *ngIf="f['u_designation'].errors && f['u_designation'].errors['required'] " ><p class="error-msg">Designation is required</p></div>
                            </div>
                            <div *ngIf="f['u_designation'].invalid && f['u_designation'].hasError('pattern')" class="error-text">
                                <span>Cannot start with a space.</span>
                            </div>
                        </div>            
                    </div>
               
                    
                    <!-- <div class="row">
                        <div class="col-sm">
                            <p>Tags <span >*</span></p>
                            <ng-multiselect-dropdown [placeholder]="'Select Tags'"  [settings]="tagSetting"
                            [data]="allTag" (onSelect)="onTagSelect($event)"  (onSelectAll)="onTagSelectAll($event)" 
                            (onDeSelect)="onItemDeSelect($event)" (onDeSelectAll)="onItemDeSelectAll($event)" formControlName="tags">
                            </ng-multiselect-dropdown> 
                            <div *ngIf="f['tags'].touched && f['tags'].invalid">
                                <div *ngIf="f['tags'].errors && f['tags'].errors['required']"><p class="error-msg">Tags is required</p></div>
                            </div>
                        </div>            
                    </div> -->
                    <div class="row">
                        <div class="col-sm-8"></div>
                        <div class="col-sm-4">
                            <button mat-raised-button class="proceedbtn mat-btn-s" type="submit">Update</button>
                        </div>
                    </div>
                </div>
            </div>
           </form> 
       
    </div>
   
</div>


