ol{
    background-color: inherit;
}
a{
    color: #3F51B5;
    text-decoration: none;
}
li{
    
    list-style: none;
    color: grey;
}
ul{
    padding: 0px;
}
.bg{
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 5px;

}
.proceedbtn{
    background-color: #3F51B5;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100%;
    color: white;
    margin: 10px 0px;
}
.printbtn{
    background-color: #00BCD4;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100%;
    color: white;
    margin: 10px 0px;
}
.row{
    padding: 5px;
}

.btnicon{
    display: none;
}
button:hover .btnicon{
    display: block;
}

select{
    width: 100%;
    height: 40px;
    margin: 1px 0px 0px 1px;
}
span{
    color: red;
}
// p{
//     color: grey;
// }
html{
    position: relative;
}
.card{
    border: none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 4%);
    margin: 10px 15px;
    border-radius: 10px;
    zoom: 90%;
    padding: 10px 0 0 10px;
    //background: #42a7f4;
    // background: #71aad6;
    color: white;
    border: 5px solid white;
}
p i{
    color: #191818 !important;
}

.main-col{
padding: 5px;
}


table th {
    position: sticky;
     position: -webkit-sticky;
   top: -15px;
    z-index: 1; // any positive value, layer order is global
}