.pagination-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .items-per-page-container {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
  }
  .page-size{
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    width: 67px;
    margin-left: 10px;
    padding: 7px;
}
::ng-deep .mat-select-placeholder {
    color: #222020;
}