ol{
    background-color: inherit;
}
a{
    color: #3F51B5;
    text-decoration: none;
}
li{
    
    list-style: none;
    color: grey;
}
ul{
    padding: 0px;
}
.bg{
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 5px;

}
.proceedbtn{
    background-color: #3F51B5;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100%;
    color: white;
    margin: 10px 0px;
}
.printbtn{
    background-color: #00BCD4;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100%;
    color: white;
    margin: 10px 0px;
}
.row{
    padding: 5px;
}

.btnicon{
    display: none;
}
button:hover .btnicon{
    display: block;
}

select{
    width: 100%;
    height: 40px;
    margin: 1px 0px 0px 1px;
}
span{
    color: red;
}

html{
    position: relative;
}
.card{
    border:0;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 4%);
    margin: 10px 15px;
    padding: 10px 0 0 10px;
    zoom: 90%;
    font-size: 14px;
    // border: 4px solid #0a69b1 !important ;
}
.card:hover{
    // background-color: #dfdfdf;
    opacity: 0.9;
}
.card p{
    margin-bottom: 5px;
    // color:white !important;
}
.card p i{
    padding: 2px;
}
.card-body{
    color: #000;
    
}
h6{
    font-weight: 700;
    color:#454545;

}
.value-container{
    color: gray;
    font-weight: 700;
    font-size: 16px;
    margin-top: 5px;
}
.card .value-container{
    color:black !important;  
}
.card-inner{
    margin: 0px 20px 15px 10px;
    background: #FFFFFFB2;
    border-radius: 10px;
    padding: 15px 0px;
    text-align: center;
    border: 1px solid #126EB4;
}
.top-row{
    padding:auto 15px;
}
.main-col{
    padding: 1px 5px;
}
@media(min-width:768px){
    .card{
        margin: 5px;
    }
}
.clr{
color:black !important;
}
.card-subtitle{
 color:white;
}
table th {
    position: sticky;
     position: -webkit-sticky;
   top: -15px;
    z-index: 1; // any positive value, layer order is global
}