<div class="container-wrapper webView">
  <div class="row pb-3">
    <div class="col-sm-3 search-div mb-3">
      <input type="search" (input)="filterSearch($event)" class="form-control p-2 sizeinput" [(ngModel)]="term"
        placeholder="Search by project/client" aria-describedby="emailHelp" autocomplete="off">
      <i class="bi bi-search" id="search-icon-tab"></i>
    </div>
    <div class="col-sm"></div>
    <div class="col-md-3 col-lg-3 p-1 text-end create-buttons">
      <button mat-raised-button class="proceedbtn mat-btn-s"  routerLink="/project/create" type="submit" 
        *ngIf="userRole ==='Employee' && accessPermissions[0]?.create || userRole === 'Admin'">
        <mat-icon>add</mat-icon> Create Project</button>

    <!-- </div>*ngIf="permissions[0]?.create" -->
    <!-- <div class="col-md-4 col-lg-3 text-center align-self-center">
                <div class="d-flex justify-content-center pg-bg">
                  <button *ngFor="let size of tableSizes" class="page-size-btn" [value]="size" (click)="onTableSizeChange($event)" [ngClass]="{'active-size': tableSize === size}"
                >{{size}}</button>
                </div>
                        </div> -->
  </div>
  <div class="bg" *ngIf="userRole ==='Employee' && accessPermissions[0]?.view || userRole === 'Admin'">
    <div class="row">
      <div class="col px-0">
        <table class="table table-hover table-list">
          <thead>
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">Project
                <i *ngIf="!arrowState['project_name']" (click)="sort('asc','project_name')" class="bi bi-arrow-up"></i>
                <i (click)="sort('desc','project_name')" *ngIf="arrowState['project_name']" class="bi bi-arrow-down"></i>
              </th>
              <th scope="col">Client 
                <i *ngIf="!arrowState['client_name']" (click)="sort('asc','client_name')" class="bi bi-arrow-up"></i>
                <i (click)="sort('desc','client_name')" *ngIf="arrowState['client_name']" class="bi bi-arrow-down"></i>
              </th>
              <th scope="col">Project Manager 
                <i *ngIf="!arrowState['project_manager_name']" (click)="sort('asc','project_manager_name')" class="bi bi-arrow-up"></i>
                <i (click)="sort('desc','project_manager_name')" *ngIf="arrowState['project_manager_name']" class="bi bi-arrow-down"></i>
              </th>
              <th scope="col">Start Date 
                <i *ngIf="!arrowState['start_date']" (click)="sort('asc','start_date')" class="bi bi-arrow-up"></i>
                <i (click)="sort('desc','start_date')" *ngIf="arrowState['start_date']" class="bi bi-arrow-down"></i>
              </th>
              <th scope="col">End Date 
                <i *ngIf="!arrowState['end_date']" (click)="sort('asc','end_date')" class="bi bi-arrow-up"></i>
                <i (click)="sort('desc','end_date')" *ngIf="arrowState['end_date']" class="bi bi-arrow-down"></i>
              </th>
              <th scope="col">Status 
                <i *ngIf="!arrowState['status_name']" (click)="sort('asc','status_name')" class="bi bi-arrow-up"></i>
                <i (click)="sort('desc','status_name')" *ngIf="arrowState['status_name']" class="bi bi-arrow-down"></i>
              </th>
              <th scope="col">Action</th>
              <!-- <th scope="col">Tasks <i  *ngIf="!arrow" (click)="sort('asc','project_related_task_list_converted')" class="bi bi-arrow-up"></i><i (click)="sort('desc','project_related_task_list_converted')" *ngIf="arrow" class="bi bi-arrow-down"></i></th> -->
              <!-- <th scope="col">Approver <i  *ngIf="!arrow" (click)="sort('asc','approver_manager_first_name')" class="bi bi-arrow-up"></i><i (click)="sort('desc','approver_manager_first_name')" *ngIf="arrow" class="bi bi-arrow-down"></i></th> -->
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="(allProjectList) as result">
              <tr *ngFor='let item of result | customSort:directionValue:sortValue
              |paginate : {
                       itemsPerPage: tableSize,
                       currentPage: page,
                       totalItems: count
                     }; let i=index'>
                <td>{{getContinuousIndex(i)}}</td>
                <td>{{item.project_name | titlecase}}</td>
                <!-- <td>{{item.project_related_task_list_converted | titlecase}}</td> -->
                <td>{{item.client_name| titlecase}}</td>
                <td>{{item.project_manager_name| titlecase}}</td>
                <!-- <td>{{item.approver_manager_first_name| titlecase}}</td> -->
                <td>{{item.start_date | date:'dd-MM-yyyy'}}</td>
                <td>{{item.end_date | date:'dd-MM-yyyy'}}</td>
                <td>{{item.status_name| titlecase}}</td>


                <td>
                  <ng-container>
                    <img src="../../../../assets/images/Edit.svg" class="icon-image"
                     *ngIf="userRole ==='Employee' && accessPermissions[0]?.update || userRole === 'Admin'"
                      routerLink="/project/update/{{item.id}}" container="body" ngbTooltip="Edit" />
                    <img src="../../../../assets/images/Delete.svg" class="icon-image" container="body"
                    *ngIf="userRole ==='Employee' && accessPermissions[0]?.delete || userRole === 'Admin'"
                      ngbTooltip="Delete" (click)="open(item.id)" />
                      <span  *ngIf="userRole ==='Employee' && !accessPermissions[0]?.update && !accessPermissions[0]?.delete">-</span>
                  </ng-container>
                </td>
              </tr>
              

            </ng-container>
            
          </tbody>
        </table>
        <div *ngIf="allProjectList.length === 0" >
          <app-generic-norecards></app-generic-norecards>
        </div>
      </div>
    </div>

  </div>
  <div class="pagination-container p-0 pt-2">
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
    </pagination-controls>
    <div class="items-per-page-container">
      <div>Items per page</div>
      <mat-select [(ngModel)]="tableSize" (selectionChange)="onTableSizeChange($event)" placeholder="10"
        class="page-size">
        <mat-option *ngFor="let size of tableSizes" [value]="size">{{size}}</mat-option>
      </mat-select>
    </div>
  </div>
  <!-- <div class="row">
           
        <div class="col-sm"></div>
        <div class="col-sm-12" *ngIf="allProjectList.length > 0">
            <div class="d-flex justify-content-center p-nav">
                <pagination-controls 
                  previousLabel="Prev" 
                  nextLabel="Next" 
                  (pageChange)="onTableDataChange($event)">
                </pagination-controls>
              </div>
        </div>
    </div> -->
  <!-- <ng-container *ngFor="let access of permissions">
        <button mat-raised-button mat-fab color="primary" *ngIf="access == 'CREATE'" routerLink="/project/create" class="createbtn" placement="top" container="body" ngbTooltip="Add project">
          <i class="fa fa-plus"></i>
  
        </button>
      </ng-container> -->
  <!-- <a routerLink="/project/create"> <button mat-raised-button type="button" placement="top" container="body" ngbTooltip="Add Project" class="createbtn"><i class="fa fa-plus"></i>
  </button></a> -->
</div>


<div class="mobileView">
  <div class="row mx-1 my-2">
    <div class="col-sm-3 search-div">
      <input type="search" (input)="filterSearch($event)" class="form-control p-2 sizeinput" [(ngModel)]="term"
        placeholder="Search by project/client" aria-describedby="emailHelp" autocomplete="off">
      <i class="bi bi-search" id="search-icon-tab"></i>
    </div>
  </div>
  <div class="bg row mx-0 my-1">
    <ng-container *ngIf="(allProjectList) as result">
      <div class="col-sm-12 col-md-6 main-col" *ngFor='let item of allProjectList| paginate : {
            itemsPerPage: tableSize,
            currentPage: page,
            totalItems: count
          }'>
          <mat-card class="outer-card">
        <div>
          <div class="row py-1">
            <div class="col-6">
              <h6 class="card-subtitle">
                <!-- <i class="bi bi-collection"></i> -->
                Project
              </h6>
              <div class="value-container">{{item.project_name}}</div>
            </div>
            <div class="col-5 p-0 text-end">
              <img src="../../../../assets/images/Edit.svg" class="icon-image" (click)='editCard(item.id
  )' container="body" ngbTooltip="Edit" />
              <img src="../../../../assets/images/Delete.svg" class="icon-image" container="body" ngbTooltip="Delete"
                (click)="open(item.id
  )" />
            </div>
          </div>
          
          <mat-card class="inner-card">
          <div class="row py-1">
            <div class="col-6">
              <h6 class="card-subtitle">
                Project Manager
              </h6>
              <div class="value-container">{{item.project_manager_name|titlecase}}</div>
            </div>
            <div class="col-6">
              <h6 class="card-subtitle">
                Client
              </h6>
              <div class="value-container">{{item.client_name|titlecase}}</div>
            </div>
          </div>
          <div class="row py-1">
            <div class="col-6">
              <h6 class="card-subtitle">
                <!-- <i class="bi bi-calendar2-week"></i> -->
                Start date
              </h6>
              <div class="value-container">{{item.start_date | date:'dd-MM-yyyy'}}</div>
            </div>
            <div class="col-6">
              <h6 class="card-subtitle">
                <!-- <i class="bi bi-calendar2-week"></i> -->
                End date
              </h6>
              <div class="value-container">{{item.end_date | date:'dd-MM-yyyy'}}</div>
            </div>
          </div>
          <div class="row py-1">
            <div class="col-6">
              <h6 class="card-subtitle">
                <!-- <i class="bi bi-radioactive"></i> -->
                Status
              </h6>
              <div class="value-container">{{item.status_name?item.status_name:"NA"|titlecase}}</div>
            </div>
          </div>
        </mat-card>
        </div>
      </mat-card>
      </div>
      <div *ngIf="result.length === 0">
        <app-generic-norecards></app-generic-norecards>
      </div>

    </ng-container>

    <div class="pagination-container p-0 pt-2">
      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
      </pagination-controls>
      <div class="items-per-page-container">
        <div>Items per page</div>
        <mat-select [(ngModel)]="tableSize" (selectionChange)="onTableSizeChange($event)" placeholder="10"
          class="page-size">
          <mat-option *ngFor="let size of tableSizes" [value]="size">{{size}}</mat-option>
        </mat-select>
      </div>
    </div>
  </div>
 
  <div class="s-position">
    <ng-container>
      <button mat-fab routerLink="/project/create" class="createbtn-new" placement="top" container="body"
        ngbTooltip="Add"><mat-icon class="plus-icon" aria-label="Add new">add</mat-icon>
      </button>
    </ng-container>

  </div>
</div>