ol {
    background-color: inherit;
}

a {
    color: #3F51B5;
    text-decoration: none;
}

li {

    list-style: none;
    color: grey;
}

ul {
    padding: 0px;
}

.bg {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 5px;

}

.proceedbtn {
    background-color: #3F51B5;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100%;
    color: white;
    margin: 10px 0px;
}

.printbtn {
    background-color: #00BCD4;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100%;
    color: white;
    margin: 10px 0px;
}

i {
    padding: 2px 3px 0px 0px;

}

.toolbar-btn i {
    font-size: 24px;
}

.btnicon {
    display: none;
}

button:hover .btnicon {
    display: block;
}

select {
    width: 100%;
    height: 40px;
    margin: 1px 0px 0px 1px;
}

span {
    color: red;
}

p {
    color: grey;
}

html {
    position: relative;
}

// .createbtn{
//     background-color: #3F51B5;
//     border: none;
//     color: white;
//     padding: 10px 13px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     font-size: 25px;
//     margin: 0px 2px;
//     border-radius: 50%;
//     position: fixed;
//     right: 5%;
//     bottom: 10%;
// }

.card {
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    padding: 0 16px;
    margin: 10px 20px;
    // zoom: 90%;
    font-size: 14px;
    // border: 4px solid white;
    background: #FFFFFF99 !important;
    border-radius: 10px;
}

.value-container {
    color: gray;
    font-weight: 700;
    font-size: 16px;
    margin-top: 5px;
}

.main-col {
    padding: 5px;
}

.card .col-6,
.col-12 {
    border: 1px solid white;
    padding: 8px 0px 3px 10px;
}

.card .value-container {
    color: black;

}

.card .bg-secondary .card-subtitle {
    i {
        font-size: 20px;
        color: black;
    }
}

.card:hover {
    opacity: 0.9;
}

.bg-secondary {
    background: transparent !important;
}

// .card-subtitle{
//     color: #f8f8f8 !important;
// }
table th {
    // position: -webkit-sticky;
    // position: sticky;
    // top: -15px;
    // z-index: 1; // any positive value, layer order is global
}


// Arpitha

.container-wrapper {
    transform: scale(0.95);
}

.search-div {
    .sizeinput {
        font-size: 15px;
        width: 81%;
    }

    #search-icon-tab {
        position: absolute;
        right: 5rem;
        top: 9px;
        font-size: 15px !important;
        color: grey;
    }
}

.proceedbtn.mat-btn-s {
    width: fit-content;
    margin: 0;
}

.pagination-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.items-per-page-container {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}



.page-size {
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    width: 67px;
    margin-left: 10px;
    padding: 7px;
}

.nodata {
    width: 200px;
    position: absolute;
    text-align: center;
}

::ng-deep .mat-select-placeholder {
    color: #222020;
}

.bi-arrow-up,
.bi-arrow-down {
    font-weight: 600;

    &:hover {
        opacity: 0.8;
    }
}
.bi-pencil-square,.bi-trash{
    padding: 4px 8px;
    font-size: 15px;
    margin: 2px;
    background: #f6f6f6;
    border-radius: 50%;
    cursor: pointer;
    &:hover{
        opacity: 0.7;
    }
}
i{
    padding: 2px 5px 0 0;  
}
.row {
    --bs-gutter-x: 0rem;
}
