<div class="container-fluid webView">
    <div class="row">
        <div class="col-sm-6">
          <h1>Todays approval timesheets</h1>
            <!-- <h1>Todays Approval Timesheets: {{allDetails[0]?.created_date_time | date :'mediumDate'}}</h1> -->
        </div>
        <div class="col-sm"></div>
        <div class="col-sm-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/dashboards">Home</a></li>
                  <li class="breadcrumb-item">
                    Todays approval timesheets</li>           
                </ol>
              </nav>
        </div>  
    </div>
    <div class="container-middle">
        <div class="row">
            <div class="col-sm-12">
                <tabset>
                    <tab heading="Yet to approved" (selectTab)="tabState($event)">
                      <app-yet-approve *ngIf="allDetails[0]?.approved_state === 'YET_TO_APPROVED'" [data]="allDetails" [totalCount]="totalCount" (buttonClick)="buttonClick($event)"></app-yet-approve>
                    </tab>
                    <tab heading="Approved timesheet" (selectTab)="tabState($event)">
                      <app-approved *ngIf="allDetails[0]?.approved_state === 'APPROVED'" [data]="allDetails" [totalCount]="totalCount" (buttonClick)="buttonClick($event)"></app-approved>
                    </tab>
                    <tab heading="Declined timesheet" (selectTab)="tabState($event)">
                      <app-declined *ngIf="allDetails[0]?.approved_state === 'DECLINED'"[data]="allDetails" [totalCount]="totalCount" (buttonClick)="buttonClick($event)"></app-declined>
                    </tab>
                    <!-- <tab heading="Time sheets" (selectTab)="tabState($event)">
                      <app-time-sheet *ngIf="allDetails[0]?.approved_state === 'TIMESHEET'" [data]="allDetails" [totalCount]="totalCount" (buttonClick)="buttonClick($event)"></app-time-sheet>    
                    </tab> -->
                    <div class="text-center text-muted no-data py-2" *ngIf="allDetails.length === 0">No records found
  </div>
                  </tabset>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mobileView">
  <div class="row">
      <div class="col-sm-12">
        <h1>Todays approval timesheets</h1>
          <!-- <h1>Todays Approval Timesheets: {{allDetails[0]?.created_date_time | date :'mediumDate'}}</h1> -->
      </div> 
  </div>
  <div class="container-middle">
      <div class="row">
          <div class="col-sm-12">
              <tabset>
                  <tab heading="Yet to approved" (selectTab)="tabState($event)">
                    <app-yet-approve *ngIf="allDetails[0]?.approved_state === 'YET_TO_APPROVED'" [data]="allDetails" [totalCount]="totalCount" (buttonClick)="buttonClick($event)"></app-yet-approve>
                  </tab>
                  <tab heading="Approved timesheet" (selectTab)="tabState($event)">
                    <app-approved *ngIf="allDetails[0]?.approved_state === 'APPROVED'" [data]="allDetails" [totalCount]="totalCount" (buttonClick)="buttonClick($event)"></app-approved>
                  </tab>
                  <tab heading="Declined timesheet" (selectTab)="tabState($event)">
                    <app-declined *ngIf="allDetails[0]?.approved_state === 'DECLINED'"[data]="allDetails" [totalCount]="totalCount" (buttonClick)="buttonClick($event)"></app-declined>
                  </tab>
                  <!-- <tab heading="Time sheets" (selectTab)="tabState($event)">
                    <app-time-sheet *ngIf="allDetails[0]?.approved_state === 'TIMESHEET'" [data]="allDetails" [totalCount]="totalCount" (buttonClick)="buttonClick($event)"></app-time-sheet>    
                  </tab> -->
                  <div class="text-center text-muted no-data py-2" *ngIf="allDetails.length === 0">No records found
  </div>
                </tabset>
          </div>
      </div>
  </div>
</div>





