ol {
    background-color: inherit;
}

a {
    color: #3F51B5 !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

li {

    list-style: none;
    color: grey;
}

ul {
    padding: 0px;
}

.bg {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    overflow-x: auto !important;
}

.proceedbtn {
    background-color: #3F51B5;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100%;
    color: white;
    margin: 10px 0px;
}

.printbtn {
    background-color: #00BCD4;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100%;
    color: white;
    margin: 10px 0px;
}

.row {
    padding: 5px;
}

i {
    padding: 0px 5px 0px 0px;
}

.btnicon {
    display: none;
}

button:hover .btnicon {
    display: block;
}


.no-data {
    font-style: italic;
    font-size: small;
    font-weight: 500;
}


.container-middle {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
   
    padding-bottom: 7rem !important;
}

@media(max-width:767px) {
    .custom-scroll {
        height: 60vh;
        overflow: scroll;
        overflow-x: hidden;
        padding: 0;
    }

    .s-padd {
        padding: 0 !important;
    }

    .date-label {
        margin: 10px 0px !important;
    }
}

@media(max-width:1023px) {
    .p-20 {
        padding: 5px 5px 0 !important;
    }
}

@media(min-width:1024px) {
    .p-20 {
        padding: 14px 12px 0 !important;
    }
}

table th {
    position: sticky;
    position: -webkit-sticky;
    top: -15px;
    z-index: 1; // any positive value, layer order is global
}
.no-records {
    height: 34vh; /* Takes most of the page height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stacks text and button vertically */
    font-size: 1rem; /* Optional: Adjust font size for better readability */
  }
  .webView .search-div{
    position: absolute;
    top:20px !important;
    right:10px;
    z-index: 10;
    padding: 0 20px;
}
.mobileView .search-div{
    position: relative !important;
    top:0px !important;
    right:0px;
    z-index: 10;
    padding: 0 20px;
}
.search-div{
  
    #search-icon-tab {
    position: absolute;
    right: 30px !important;
    top: 11px !important;
    font-size: 15px !important;
    color: grey;
    cursor: text !important;
    }
    .sizeinput{
        font-size: 14px;
    }
}
.close-icon{
    position: absolute;
    right: -10px;
    top: 9px;
    cursor: pointer;
}
.no-records {
    height: 34vh; /* Takes most of the page height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stacks text and button vertically */
    font-size: 1rem; /* Optional: Adjust font size for better readability */
  }
  .mat-icon-button{
    background-color: #f4f4f4;
    padding-left: 5px;
  }