<div class="container-fluid">

        <div class="row py-2">
            <div class="col-sm-1">
                <select class="form-select page-set" aria-label="Default select example">
                    <option selected>10</option>
                    <option value="2">25</option>
                    <option value="3">50</option>
                    <option value="3">100</option>
                  </select>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm-3 search-div px-0">
                <input type="text" class="form-control p-2 sizeinput" placeholder="Search"[(ngModel)]="term" aria-describedby="emailHelp"  autocomplete="off">
                <i class="bi bi-search" id="search-icon-tab"></i>  
            </div>
        </div>
        
    <div class="bg">
        <div class="row">
            <div class="col">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                          <th scope="col">S.No</th>
                          <th scope="col">Date </th>
                          <th scope="col">People</th>
                          <th scope="col">Time Sheets</th>
                          <th scope="col">Time</th>
                          <th scope="col">Saved On</th>
                          <th scope="col">Status</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- <tr *ngIf="timesheetDataAll.length > 0">
                            <td>
                                <input type="text" class="form-control p-1 sizeinput" [(ngModel)]="slno" placeholder="S.No" aria-describedby="emailHelp"   autocomplete="off">
                            </td>
                            <td>
                                <input type="text" class="form-control p-1 sizeinput" [(ngModel)]="date" placeholder="Date"  aria-describedby="emailHelp"  autocomplete="off">
                            </td>
                            <td>
                                <input type="text" class="form-control p-1 sizeinput" [(ngModel)]="people" placeholder="People" aria-describedby="emailHelp"  autocomplete="off">
                            </td>
                            <td>
                                <input type="text" class="form-control p-1 sizeinput" [(ngModel)]="timesheet" placeholder="Time Sheets"  aria-describedby="emailHelp"  autocomplete="off">
                            </td>
                            <td>
                                <input type="text" class="form-control p-1 sizeinput" [(ngModel)]="time" placeholder="Time" aria-describedby="emailHelp"  autocomplete="off">
                            </td>
                            <td>
                                <input type="text" class="form-control p-1 sizeinput" [(ngModel)]="savedon" placeholder="Saved On" aria-describedby="emailHelp"  autocomplete="off">
                            </td>
                            <td>
                                <input type="text" class="form-control p-1 sizeinput" [(ngModel)]="status" placeholder="Status" aria-describedby="emailHelp"  autocomplete="off">
                            </td>
                            <td>
                                <input type="text" class="form-control p-1 sizeinput" [(ngModel)]="action" placeholder="Action" aria-describedby="emailHelp"  autocomplete="off">
                            </td>
                        </tr> -->
                       
                      </tbody>
                  </table>
                   
                  <div *ngIf="timesheetDataAll.length < 1" class="nodata">
                    No records found
  !
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <p>Showing 1 of 1 entries</p>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm-3" *ngIf="timesheetDataAll.length > 0">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                      <li class="page-item" ><a class="page-link" style="background-color: #3F51B5;color: white;" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
   
</div>







