
  
    <ul class="notification-modal">
      <div class="notification-header">
          <h2 class="title">Notification </h2>
          <div class="close-btn"><i class="bi bi-x-lg" (click)="closeBtn()"></i> </div>
      </div>
  
   
      <div class="notification-content">
        <li *ngFor="let note of notes">
          <h5>{{note.project_data.project_name}}</h5>
          <div class="data-d">{{note.info.message}}</div>
          
          <div class="data-d" *ngIf="note.project_data.project_closure_date">Project end date : {{(note.project_data.project_closure_date*1000) | date}}</div>
          <div class="clr-state" [ngStyle]="note.notify ? {'background-color':note.notify}:{'background-color':''}">{{note.project_data.project_status}}</div>
          
        </li>
       
      </div>
      </ul>
  
  
 