
      <div class="notification-container">
        <div class="notification-modal">
        <div class="n-header">
          <h2 class="title">Notification </h2>
          <div class="close-btn"><i class="bi bi-x-lg" (click)="closeBtn()"></i> </div>
        </div>
      </div>
        <div class="notification-main-content">
       <ng-container *ngIf="notes?.length">
        <div *ngFor="let notification of notes" class="notification-item">
          <!-- Left Icon with Tree-Line View -->
          <div class="tree-line">
            <i [class]="notification.text.icon"></i>
          </div>
      
          <!-- Notification Content -->
          <div class="notification-content">
            <div class="notification-header">
              <strong>{{ notification.text.name }}</strong>
              <span class="plan-tag">Free Plan</span>
              <span class="date">{{ notification.created_datetime | date: 'dd/MM/yyyy' }}</span>
            </div>
            <div class="notification-message">
              <i class="px-2" [class]="notification.text.icon"></i> {{ notification.text.message }}
            </div>
          </div>
        </div>
      </ng-container>
      <div *ngIf="notes?.length === 0">No records found!</div>
       
        <!-- View More -->
        <div class="view-more" *ngIf="notes.length > 4" (click)="getNotification(5)">
          <a href="#">View More</a>
        </div>
      </div>
      </div>
  
  
 