<div class="container-fluid webView pt-2">
  <div class="row">
       
        <div class="bg">
        <div class="row">
            <div class="col">
                <table class="table table-list" *ngIf="data?.length">
                    <thead>
                        <tr>
                          <th scope="col">S.No</th>
                          <th scope="col" class="text-center">From Date</th>
                          <th scope="col" class="text-center">To Date</th>
                          <th scope="col" class="text-center">Applied Days</th>
                          <th scope="col" class="text-center">Leave Type</th>
                          <th scope="col" class="text-center">Applied On</th>
                          <th scope="col" class="text-center">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                          <ng-container *ngIf="(data) as result">
                            <tr *ngFor='let item of result |paginate:paginationConfig; let i=index'>
                        
                            <td>{{getContinuousIndex(i)}}</td>       
                            <td class="text-center">{{item.from_date | date }}</td>
                                <td>{{item.to_date | date }}</td>
                                <td class="text-center">{{item.number_of_leaves_applying_for}}</td>
                                <td class="text-center">{{item.leave_type_name}}</td>
                                <td class="text-center">{{item.created_datetime | date }}</td>
                             <td class="text-center">
                                <ng-container >
                                  <span>  
                                   
                                </span>
                                    <span>
                                       
                                        <img src="../../../../../assets/images/revoke.svg" class="icon-image" container="body"  ngbTooltip="Revoke" (click)="openRevokeDialogue(item,1)"
                                        *ngIf="userRole ==='Employee' && accessPermissions[0]?.update || userRole === 'Admin'"/>
                                        <img src="../../../../../assets/images/Delete.svg" class="icon-image" container="body" ngbTooltip="Delete" (click)="open(item)"
                                        *ngIf="userRole ==='Employee' && accessPermissions[0]?.delete || userRole === 'Admin'"/>
                                        <span  *ngIf="userRole ==='Employee' && !accessPermissions[0]?.update && !accessPermissions[0]?.delete">-</span>
                                      </span>
                                   
                                </ng-container>
                              
                             </td>
                          
                        </tr>
                        
                    </ng-container>
                      </tbody>
                  </table>
                 
                   <div class="col-12" *ngIf="data?.length === 0">
                    <app-generic-norecards></app-generic-norecards>
                   </div>
            </div>
        </div>
        
       
   
</div>
<div class="pagination-container p-0 pt-2">
  <!-- Pagination Controls (Center-Aligned) -->
  <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
  </pagination-controls>

  <!-- Items Per Page Selector (Right-Aligned) -->
  <div class="items-per-page-container pe-2">
    <div>Items per page</div>
    <mat-select [(ngModel)]="tableSize" (selectionChange)="onTableSizeChange($event)" placeholder="10" class="page-size">
      <mat-option *ngFor="let size of tableSizes" [value]="size">{{size}}</mat-option>
    </mat-select>
  </div>
</div>

</div> 
</div>
<div class="container-fluid mobileView">
    
    <div class="bg row mx-0 my-1">
      <ng-container *ngIf="(data) as result">
        <div class="col-sm-12 col-md-6 p-0" *ngFor="let item of result |paginate:paginationConfig;">
          <div class="card outer-card" >
            <div class="row rc-p">
              <div class="col-7">
                <div class="row">
                  <div class="col-12">
                    <h6 class="card-subtitle">Status</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 status-text">
                    {{ item.approved_state ? item.approved_state : 'Pending' |titlecase }}
                  </div>
                </div>
              </div>
              <div class="col-5">
                  <ng-container >
                      <span style="float: right;">
                        <button mat-icon-button class="revoke-btn"> <mat-icon class="revoke-icon" ngbTooltip="Revoke" (click)="openRevokeDialogue(item,1)">donut_large</mat-icon></button>
                                        
                          <button  type="button" class="toolbar-btn "   (click)="open(item)"  ><i class="bi bi-trash" style="color: red; font-size: 24px;vertical-align: middle;"></i></button>
                        </span>
                  </ng-container>  
              </div>
            </div>
            <div class="card inner-card">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <div class="row">
                      <div class="col-12">
                        <h6 class="card-subtitle">From date</h6>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 val-r">
                        {{ item.from_date | date}}
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="row">
                      <div class="col-12">
                        <h6 class="card-subtitle">To date</h6>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 val-r">
                        {{ item?.to_date | date  }}
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-6">
                    <div class="row">
                      <div class="col-12">
                        <h6 class="card-subtitle">Applied Days</h6>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 val-r">
                        {{ item?.number_of_leaves_applying_for || 'NA'}}
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="row">
                      <div class="col-12">
                        <h6 class="card-subtitle">Alloted</h6>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 val-r">
                        {{ item?.alloted_leaves || 'NA'}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <!-- <div class="col-6">
                      <div class="row">
                        <div class="col-12">
                          <h6 class="card-subtitle">Used Leaves</h6>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 val-r">
                          {{ item.used_leaves}}
                        </div>
                      </div>
                    </div> -->
                    <div class="col-6">
                      <div class="row">
                        <div class="col-12">
                          <h6 class="card-subtitle">Applied On</h6>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 val-r">
                          {{ item?.created_datetime | date  }}
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" *ngIf="data?.length === 0">
          <app-generic-norecards></app-generic-norecards>
         </div>
      </ng-container>
      <div class="pagination-container p-0 pt-2">
        <!-- Pagination Controls (Center-Aligned) -->
        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
        </pagination-controls>
       
      </div>
      <!-- Items Per Page Selector (Center-Aligned) -->
      <div class="d-flex justify-content-center align-items-center">
        <div>Items per page</div>
        <mat-select [(ngModel)]="tableSize" (selectionChange)="onTableSizeChange($event)" placeholder="10" class="page-size">
          <mat-option *ngFor="let size of tableSizes" [value]="size">{{size}}</mat-option>
        </mat-select>
      </div>
    </div>
   
   
  </div>




