<div class="container-fluid webView">
    <!-- <div class="row">
        <div class="col-sm-6">
            <h1>Update industry/sector</h1>
        </div>
        <div class="col-sm"></div>
        <div class="col-sm-4 text-end">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/dashboards">Home</a></li>
                  <li class="breadcrumb-item">Update industry/sector</li>
                  
                </ol>
              </nav>
        </div> 
    </div> -->
    <div class="generic-form bg mx-1">
       <form [formGroup]='updateForm' (ngSubmit)='update()' >
        <div class="row">
            <div class="col-sm-6">
                <h4>Industry/sector details</h4>
            </div>
        </div>
       
        <div class="row">
            <div class="col-sm-6">
                <p>Industry name <span >*</span></p> 
                <input type="text" class="form-control p-3 sizeinput" formControlName="toi_title" placeholder="Enter industry/sector name" aria-describedby="emailHelp"  autocomplete="off">
                <div *ngIf="f['toi_title'].touched && f['toi_title'].invalid" >
                    <div *ngIf="f['toi_title'].errors && f['toi_title'].errors['required'] " ><p class="error-msg">Industry/sector name is required</p></div>
                </div>
                <div *ngIf="f['toi_title'].touched && f['toi_title'].hasError('pattern')" >
                    <p class="error-msg">Cannot start with a space.</p>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-sm-6">
                <p>Description <span >*</span></p>
                    <textarea class="form-control" placeholder="Enter your description here" formControlName="toi_description" id="floatingTextarea2" style="height: 100px"></textarea>
                    <div *ngIf="f['toi_description'].touched && f['toi_description'].invalid" >
                        <div *ngIf="f['toi_description'].errors && f['toi_description'].errors['required'] " ><p class="error-msg">Description is required</p></div>
                    </div>
                    <div *ngIf="f['toi_description'].touched && f['toi_description'].hasError('pattern')" >
                        <p class="error-msg">Cannot start with a space.</p>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <p>Status <span >*</span></p>
                <select formControlName="toi_status" class="form-select p-3 sizeinput">
                    <option value="" selected disabled>Select status</option>
                    <option value="Active" >Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
                <div *ngIf="f['toi_status'].touched && f['toi_status'].invalid" >
                    <div *ngIf="f['toi_status'].errors && f['toi_status'].errors['required'] " ><p class="error-msg">Status is required</p></div>
                </div> 
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-sm-3">
                <p><i class="bi bi-newspaper"></i>Note: <span>*</span>Mandatory fields</p>
            </div>
            <div class="col-sm"></div> -->
            <div class="col-sm-12 col-md-6 col-lg-3">
                <button mat-raised-button class="proceedbtn mat-btn-s" type="submit">Update</button>
            </div>
        </div>
       </form>
       
    </div>
   
</div>
<div class="container-fluid mobileView">
    <div class="row mx-1 my-2">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h1><i  class="bi bi-arrow-left" (click)="goBack($event)
  
  "></i> Update industry/sector</h1>
        </div>
      
    </div>
    <div class="generic-form bg mx-1">
       <form [formGroup]='updateForm' (ngSubmit)='update()' >
        <div class="row">
            <div class="col-sm-6">
                <h4>Industry/sector details</h4>
            </div>
        </div>
       
        <div class="row">
            <div class="col-sm-6">
                <p>Industry name <span >*</span></p> 
                <input type="text" class="form-control p-3 sizeinput" formControlName="toi_title" placeholder="Enter industry/sector name" aria-describedby="emailHelp"  autocomplete="off">
                <div *ngIf="f['toi_title'].touched && f['toi_title'].invalid" >
                    <div *ngIf="f['toi_title'].errors && f['toi_title'].errors['required'] " ><p class="error-msg">Industry/sector name is required</p></div>
                </div>
                <div *ngIf="f['toi_title'].touched && f['toi_title'].hasError('pattern')" >
                    <p class="error-msg">Cannot start with a space.</p>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-sm-6">
                <p>Description <span >*</span></p>
                    <textarea class="form-control" placeholder="Enter your description here" formControlName="toi_description" id="floatingTextarea2" style="height: 100px"></textarea>
                    <div *ngIf="f['toi_description'].touched && f['toi_description'].invalid" >
                        <div *ngIf="f['toi_description'].errors && f['toi_description'].errors['required'] " ><p class="error-msg">Description is required</p></div>
                    </div>
                    <div *ngIf="f['toi_description'].touched && f['toi_description'].hasError('pattern')" >
                        <p class="error-msg">Cannot start with a space.</p>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <p>Status <span >*</span></p>
                <select formControlName="toi_status" class="form-select p-3 sizeinput">
                    <option value="" selected disabled>Select status</option>
                    <option value="Active" >Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
                <div *ngIf="f['toi_status'].touched && f['toi_status'].invalid" >
                    <div *ngIf="f['toi_status'].errors && f['toi_status'].errors['required'] " ><p class="error-msg">Status is required</p></div>
                </div> 
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-sm-3">
                <p><i class="bi bi-newspaper"></i>Note: <span>*</span>Mandatory fields</p>
            </div>
            <div class="col-sm"></div> -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <button mat-raised-button class="proceedbtn mat-btn-s" type="submit">Update</button>
            </div>
        </div>
       </form>
       
    </div>
   
</div>


