.mat-expansion-panel-body {
    background: #fff;
    padding: 0  !important;
    border-radius: 5px;

    .row,.col{
    padding: 0;
    margin: 0;
    // line-height: 12px;
    }
    .col-3{
        padding: 2px;
    }
   
}

.mat-expansion-panel-header{
    background: #FFF !important;
    padding: 10px !important;
    // margin:5px 0;
}
.mat-accordion>.mat-expansion-panel-spacing:last-child,
.mat-accordion>*:last-child:not(.mat-expansion-panel) 
.mat-expansion-panel-spacing {
    background: #FFF !important;
    //color:white;
    padding: 10px;
    // box-shadow: none;
}
.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    font-weight: 600;
}
.mat-accordion .mat-expansion-panel:first-of-type{
    margin: 10px 0px;
}