.card-subtitle{
    margin-bottom: 0 !important;
    color: #0a69b1 !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    margin-bottom: 5px;
}
.card{
    line-height: 15px !important;
}
.value-container{
    color: #000 !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    margin-top: 5px;
}