<div class="container-fluid">
  
  <div class="generic-form bg mx-1 p-20">
    <div class="container-fluid mt-5">
     
      <div class="row">
        <!-- Sidebar for days selection -->
        <div class="col-lg-3 col-md-5 mb-4">
          <mat-card>
            <mat-card-title>Working Hours</mat-card-title>
            <mat-checkbox color="primary" (change)="toggleSelectAll($event.checked)">Select All</mat-checkbox>
            
            <div *ngFor="let day of days; let i = index" style="line-height: 4;">
              <mat-checkbox [(ngModel)]="day.selected" color="primary" (change)="toggleDaySelection(i)">
                {{ day.name }}
              </mat-checkbox>
            </div>
          </mat-card>
        </div>
    
        <!-- Main content area for time selection -->
        <div class="col-lg-9 col-md-7">
          <div *ngFor="let day of days">
            <div *ngIf="day.selected" class="day-selection">
              
              <div class="d-flex align-items-center flex-wrap">
                <div style="width: 15%;"><h5>{{ day.name }}</h5>
                </div>
                <div>
                <!-- From time select -->
                <mat-form-field appearance="outline" class="px-2 time-field">
                  <mat-label>From</mat-label>
                  <mat-select [(ngModel)]="day.fromTime">
                    <mat-option *ngFor="let time of times" [value]="time">{{ time }}</mat-option>
                  </mat-select>
                </mat-form-field>
                </div>
               
                <h5>To</h5>
                <!-- To time select -->
                <mat-form-field appearance="outline" class="mr-2 time-field">
                  <mat-label>To</mat-label>
                  <mat-select [(ngModel)]="day.toTime">
                    <mat-option *ngFor="let time of times" [value]="time">{{ time }}</mat-option>
                  </mat-select>
                </mat-form-field>
    
                <!-- Total working hours display -->
                <div class="hours-display">
                  <p class="m-0">Total Working Hours</p>
                  <strong>{{ calculateHours(day.fromTime, day.toTime) }} hrs</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
 
</div>







