<div class="container-fluid webView">
    <!-- <div class="row">
        <div class="col-sm-6">
            <h1>Update prefix/suffix</h1>
        </div>
        <div class="col-sm"></div>
        <div class="col-sm-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/dashboards">Home</a></li>
                  <li class="breadcrumb-item">Update prefix/suffix</li>
                  
                </ol>
              </nav>
        </div>
        
    </div> -->
    <div class="generic-form bg mx-1">
        <form [formGroup]='updateForm' (ngSubmit)='update()' >
            <div class="row">
                <div class="col-sm-6">
                    <h4>Prefix/suffix details</h4>
                </div>
            </div>
         
            <div class="row">
                <div class="col-sm-6">
                    <p>Prefix  <span >*</span></p> 
                    <input type="text" class="form-control p-3 sizeinput" formControlName="prefix" placeholder="Enter prefix" aria-describedby="emailHelp"  autocomplete="off">
                    <div *ngIf="f['prefix'].touched && f['prefix'].invalid" >
                        <div *ngIf="f['prefix'].errors && f['prefix'].errors['required'] " ><p class="error-msg">Prefix is required</p></div>
                    </div>
                    <div *ngIf="f['prefix'].touched && f['prefix'].hasError('pattern')" >
                        <p class="error-msg">Prefix name cannot contain spaces,numbers and special characters.</p>
                    </div>
                </div>
            </div>
         
            <div class="row">
                <div class="col-sm-6">
                    <p>Suffix <span >*</span></p>
                    <input type="text" class="form-control p-3 sizeinput" formControlName="suffix" placeholder="Enter suffix" aria-describedby="emailHelp"  autocomplete="off">
                    <div *ngIf="f['suffix'].touched && f['suffix'].invalid" >
                        <div *ngIf="f['suffix'].errors && f['suffix'].errors['required'] " ><p class="error-msg">Suffix is required</p></div>
                    </div>
                    <div *ngIf="f['suffix'].touched && f['suffix'].hasError('pattern')" >
                        <p class="error-msg">Suffix name cannot contain spaces,numbers and special characters.</p>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <!-- <div class="col-sm-3">
                    <p><i class="bi bi-newspaper"></i>Note: <span>*</span>Mandatory fields</p>
                </div>
                <div class="col-sm"></div> -->
                <div class="col-sm-2">
                    <button mat-raised-button class="proceedbtn mat-btn-s" type="submit">Update</button>
                </div>
            </div>
        </form>
       
    </div>
   
</div>

<div class="container-fluid mobileView">
    <div class="row mx-1 my-2">
        <div class="col-sm-12">
            <h1> <i  class="bi bi-arrow-left" (click)="goBack($event)
  
  "></i>  Update prefix/suffix</h1>
        </div> 
    </div>
    <div class="generic-form bg mx-1">
        <form [formGroup]='updateForm' (ngSubmit)='update()' >
            <div class="row">
                <div class="col-sm-6">
                    <h4>Prefix/suffix details</h4>
                </div>
            </div>
         
            <div class="row">
                <div class="col-sm-6">
                    <p>Prefix  <span >*</span></p> 
                    <input type="text" class="form-control p-3 sizeinput" formControlName="prefix" placeholder="Enter prefix" aria-describedby="emailHelp"  autocomplete="off">
                    <div *ngIf="f['prefix'].touched && f['prefix'].invalid" >
                        <div *ngIf="f['prefix'].errors && f['prefix'].errors['required'] " ><p class="error-msg">Prefix is required</p></div>
                    </div>
                    <div *ngIf="f['prefix'].touched && f['prefix'].hasError('pattern')" >
                        <p class="error-msg">Prefix name cannot contain spaces,numbers and special characters.</p>
                    </div>
                </div>
            </div>
         
            <div class="row">
                <div class="col-sm-6">
                    <p>Suffix <span >*</span></p>
                    <input type="text" class="form-control p-3 sizeinput" formControlName="suffix" placeholder="Enter suffix" aria-describedby="emailHelp"  autocomplete="off">
                    <div *ngIf="f['suffix'].touched && f['suffix'].invalid" >
                        <div *ngIf="f['suffix'].errors && f['suffix'].errors['required'] " ><p class="error-msg">Suffix is required</p></div>
                    </div>
                    <div *ngIf="f['suffix'].touched && f['suffix'].hasError('pattern')" >
                        <p class="error-msg">Suffix name cannot contain spaces,numbers and special characters.</p>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <!-- <div class="col-sm-3">
                    <p><i class="bi bi-newspaper"></i>Note: <span>*</span>Mandatory fields</p>
                </div>
                <div class="col-sm"></div> -->
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <button mat-raised-button class="proceedbtn mat-btn-s" type="submit">Update</button>
                </div>
            </div>
        </form>
       
    </div>
   
</div>
