$primay-color: #126EB4;
// @media(min-width:1023px) {
    .card-container {
        height: 85vh !important;
        overflow-y: auto;
        padding: 20px 30px !important;
        zoom: 95%;
    }
//}

mat-card{
    font-family: "Exo FT" !important;
    border-radius: 10px !important;
    text-align: center;
    background-color: #fcfbfb;
    box-shadow: none !important;
    line-height: 2.5;
    margin: 10px 0px;
    border: 1px solid gainsboro;
    padding: 10px 20px 20px;
    mat-card-title{
        font-size: 16px;
        font-weight: bold;
    }
}
.used-leaves{
 background-color: $primay-color;
 
padding: 2px 6px;
color: white;
border-radius: 5px;
font-weight: 600;
}
.total{
   // background: #E4FFE3;
    background: #e1f2ff;
    
    // border: 1px solid #0F9508;
    line-height: 1.5;
    border-radius: 5px;
    padding: 5px;
}
.leave-counts{
    font-size: 16px;
    font-weight: bold;
}
.balance0{
    background: #FFE9E9;
  //  border: 1px solid #FE1A1A;
}
.balance3{
    background: #FFEDCE;
   // border: 1px solid #C88209;
}
