<div class="container-fluid ">
  <div class="row">
    <div class="col-sm-6">
      <h1>Leave details</h1>
    </div>
    <div class="col-sm"></div>
    <div class="col-sm-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboards">Home</a></li>
          <li class="breadcrumb-item">Leave details</li>
        </ol>
      </nav>
    </div>

  </div>
  <div class="generic-form bg leave-details-content"> 
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8">
        <h6 class="mb-3"> Leave Balance</h6>
        <mat-card>

        <div  *ngFor="let items of leaveBalence;let i = index">  
         <div class="leave-stats br-r">
          <div  class="leave-stat-box">
            <div class="inner-box">
              <div class="col-4 d-flex justify-content-center align-items-center" id="balance-count">
                {{items.leave_allotted }}
              </div>
              <div class="col-8">
                <div>
                  Leave type
                </div>
                <div>
                  {{items.leave_type }}
                </div>
              </div>
            </div>
           
          </div>
          <div  class="leave-stat-box">
            <div class="inner-box">
            <div class="col-4 d-flex justify-content-center align-items-center" id="balance-count">
              {{items.leaves_used }}
            </div>
            <div class="col-8">
              <div>
                Used
              </div>
              <div>
                {{items.leave_type }}
              </div>
            </div>
          </div>
          </div>
          <div  class="leave-stat-box">
            <div class="inner-box" style="border: none;">
            <div class="col-4 d-flex justify-content-center align-items-center" id="balance-count">
              {{items.leave_balance }}
            </div>
            <div class="col-8">
              <div>
                Balance
              </div>
              <div>
                {{items.leave_type }}
              </div>
            </div>
          </div>
          </div>
         </div>
          
        </div>
      </mat-card>


        <!-----------Leave details--------------->
        <h6 class="my-3">Leave details</h6>
        <mat-card >
          <div class="row">
            <div class="col-md-12 ">
                
                <table class="table" *ngIf="leaveDetails.length > 0">
                    <thead>
                        <tr>
                          
                          <th scope="col">From</th>
                          <th scope="col">To</th>
                          <th scope="col">Status</th>
                          <th scope="col">Days</th>
                        </tr>
                      </thead>
                      <tbody>
        
                        <tr *ngFor="let items of leaveDetails">
                         <td>{{items.from_date}}</td>
                         <td>{{items.to_date}}</td>
                         <td><span class="badge badge-info" style="color: white;background-color: blue;">{{items.approved_state}}</span></td>
                         <td>{{items.days}}</td>
                        </tr>
                       
                      </tbody>
                  </table>
                  <div *ngIf="leaveDetails.length == 0" class="text-center">
                    No records found !
                   </div>
            </div>
          </div>
        </mat-card>
        
      </div>
    
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="row">
          <div class="col-md-12">
            <h6>Holiday List</h6>
            <mat-card>
            <table class="table " *ngIf="holidayList">
                <thead>
                    <tr>
                      <th scope="col">Holiday</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let items of holidayList  | keyvalue">
                     <td>{{items.key}} - {{items?.value }}</td>
                    
                    </tr>
                    <!-- <tr>No records found</tr> -->
                  </tbody>
              </table>
              <div *ngIf="!holidayList">No records found</div>
            </mat-card>
        </div>
        </div>
      </div>
    </div>
    
  </div>
  
</div>

