 <table class="table table-hover table-list">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <!-- <th scope="col">Logo</th> -->
        <th scope="col">
          Admin Name
          <i *ngIf="!arrowState['first_name']" (click)="onSort('asc', 'first_name')" class="bi bi-arrow-up"></i>
          <i (click)="onSort('desc', 'first_name')" *ngIf="arrowState['first_name']" class="bi bi-arrow-down"></i>
        </th>
        <th scope="col">
          Email
          <i *ngIf="!arrowState['email']" (click)="onSort('asc', 'email')" class="bi bi-arrow-up"></i>
          <i (click)="onSort('desc', 'email')" *ngIf="arrowState['email']" class="bi bi-arrow-down"></i>
        </th>
        <th scope="col" class="text-center">Phone Number</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of adminData |paginate : {
        itemsPerPage: tableSize,
        currentPage: page,
        totalItems: count
      }; let i = index">
        <td>{{ i + 1 }}</td>
        <!-- <td>
          <img *ngIf="item.organization_image" [src]="item.organization_image" height="45" width="45" style="border-radius: 50%;" />
          <a *ngIf="item.organization_image" [href]="item.organization_image_url" target="_blank">
            <i class="bi bi-eye-fill" container="body" ngbTooltip="View"></i>
          </a>
        </td> -->
        <td>{{ (item.first_name | titlecase) || 'NA'}}</td>
        <td>{{ (item.email | titlecase) || 'NA' }}</td>
        <td class="text-center">{{ item?.phone_number || 'NA' }}</td>
        <td>
          <img src="assets/images/Edit.svg" class="icon-image" (click)="onEdit(item.id)" />
          <img src="assets/images/Delete.svg" class="icon-image" (click)="onDelete(item.id)" />
        </td>
      </tr>
      <tr *ngIf="data.length === 0">
        <td colspan="12" class="text-center">No records found!</td>
      </tr>
    </tbody>
  </table>
   