ol{
    background-color: inherit;
}
a{
    color: #3F51B5;
    text-decoration: none;
}
li{
    
    list-style: none;
    color: grey;
}
ul{
    padding: 0px;
}
.bg{
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 5px;

}
.proceedbtn{
    background-color: #3F51B5;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100%;
    color: white;
    margin: 10px 0px;
}
.printbtn{
    background-color: #00BCD4;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100%;
    color: white;
    margin: 10px 0px;
}
.row{
    padding: 5px;
}
i{
    padding: 2px 3px 0px 0px;
}
.btnicon{
    display: none;
}
button:hover .btnicon{
    display: block;
}

select{
    width: 100%;
    height: 40px;
    margin: 1px 0px 0px 1px;
}
span{
    color: red;
}
p{
    color: grey;
}
html{
    position: relative;
}

.card{
    border: none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 4%);
    padding: 14px 2px 10px;
    margin: 10px 15px;
    zoom: 95%;
    font-size: 14px;
    border: 3px solid #cfcfcf;
}

.column-2{
  text-align: center;
}
.color-column{
    border-radius: 10px;
    color: white;
    opacity: 0.8;
}
.card-subtitle{
    font-size: 14px;
    font-weight: 700;
    color: #545454;
}
.card:hover{
    background: #dfdfdf;
}
@media(max-width:1023px){
    .mobileView{
        h1{
            font-size: 28px;
        }
    }

}
.main-col{
    padding: 1px 5px;
}
.content-div{
    padding: 4px;
}