<div class="container-fluid webView">
    <!-- <div class="row">
        <div class="col-sm-6">
            <h1>Add main category</h1>
        </div>
        <div class="col-sm"></div>
        <div class="col-sm-3 text-end">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/dashboards">Home</a></li>
                  <li class="breadcrumb-item">Add main category</li>
                  
                </ol>
              </nav>
        </div>
        
    </div> -->
    <div class="generic-form bg mx-1">
       <form [formGroup]='mainCategoryForm' (ngSubmit)='addMainCategory()'>
        <div class="row">
            <div class="col-sm-6">
                <h4>Main category details</h4>
            </div>
        </div>

       
        <div class="row">
            <div class="col-sm-12 col-md-6"> 
                <p>Main category name <span >*</span></p>             
                    <input type="text" class="form-control p-3 sizeinput" formControlName="psmc_name" placeholder="Enter main category name" aria-describedby="emailHelp"  autocomplete="off">
                    <div *ngIf="f['psmc_name'].touched && f['psmc_name'].invalid" >
                        <div *ngIf="f['psmc_name'].errors && f['psmc_name'].errors['required'] " ><p class="error-msg">Main category name is required</p></div>
                    </div>  
                    <div *ngIf="f['psmc_name'].invalid && f['psmc_name'].hasError('pattern')" >
                        <p class="error-msg">Cannot start with a space.</p>
                    </div>                              
            </div>           
        </div>
        
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p>Color<span >*</span></p> 
                  <input type="color" style="padding: 0px;" class="form-control  sizeinput" formControlName="psmc_color_code" aria-describedby="emailHelp"  autocomplete="off">
                  <label >(Pick a color)</label>
                  <div *ngIf="f['psmc_color_code'].touched && f['psmc_color_code'].invalid" >
                    <div *ngIf="f['psmc_color_code'].errors && f['psmc_color_code'].errors['required'] " ><p class="error-msg">Color is required</p></div>
                </div>  
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-sm-3">
                <p><i class="bi bi-newspaper"></i>Note: <span>*</span>Mandatory fields</p>
            </div> -->
            <!-- <div class="col-sm"></div> -->
            <div class="col-sm-12 col-md-3 ">
                <button mat-raised-button class="mat-btn-s proceedbtn" type="submit">Submit</button>
            </div>
        </div>
       </form>
       
    </div>
   
</div>

<div class="container-fluid mobileView">
    <div class="row mx-1 my-2">
        <div class="col-sm-6">
            <h1><i  class="bi bi-arrow-left" (click)="goBack($event)
  
  "></i>  Add main category</h1>
        </div>
    </div>
    <div class="generic-form bg mx-1">
       <form [formGroup]='mainCategoryForm' (ngSubmit)='addMainCategory()'>
        <div class="row">
            <div class="col-sm-6">
                <h4>Main category details</h4>
            </div>
        </div>

       
        <div class="row">
            <div class="col-sm-12 col-md-6"> 
                <p>Main category name <span >*</span></p>             
                    <input type="text" class="form-control p-3 sizeinput" formControlName="psmc_name" placeholder="Enter main category name" aria-describedby="emailHelp"  autocomplete="off">
                    <div *ngIf="f['psmc_name'].touched && f['psmc_name'].invalid" >
                        <div *ngIf="f['psmc_name'].errors && f['psmc_name'].errors['required'] " ><p class="error-msg">Main category name is required</p></div>
                    </div>  
                    <div *ngIf="f['psmc_name'].invalid && f['psmc_name'].hasError('pattern')" >
                        <p class="error-msg">Cannot start with a space.</p>
                    </div>                              
            </div>           
        </div>
        
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p>Color<span >*</span></p> 
                  <input type="color" style="padding: 0px;" class="form-control  sizeinput" formControlName="psmc_color_code" aria-describedby="emailHelp"  autocomplete="off">
                  <label >(Pick a color)</label>
                  <div *ngIf="f['psmc_color_code'].touched && f['psmc_color_code'].invalid" >
                    <div *ngIf="f['psmc_color_code'].errors && f['psmc_color_code'].errors['required'] " ><p class="error-msg">Color is required</p></div>
                </div>  
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-sm-3">
                <p><i class="bi bi-newspaper"></i>Note: <span>*</span>Mandatory fields</p>
            </div> -->
            <!-- <div class="col-sm"></div> -->
            <div class="col-sm-12 col-md-6 ">
                <button mat-raised-button class="mat-btn-s proceedbtn" type="submit">Submit</button>
            </div>
        </div>
       </form>
       
    </div>
   
</div>

