<div class="container-fluid">
    <div class="modal-body custom-modal" >
        <h4 class="modal-title" *ngIf="message"><mat-icon style="color: red;">cancel</mat-icon> {{message}}</h4>
        <p *ngIf="title" >{{title}}</p>
        <p *ngIf="subtitle" >{{subtitle}}</p>
    </div>
    <div class="modal-footer" [ngClass]="title ? 'justify-content-center':''">
        <button mat-button type="button"  class="btn-cancel"  (click)="modalStatus('cancel')">No</button>
        <button mat-button type="button" class="btn-yes" [style.backgroundColor]="message ? '' : '#B41212'" (click)="modalStatus('ok')" >{{'Proceed'}}</button>
    </div>
</div>

