ol {
    background-color: inherit;
}

a {
    color: #3F51B5 !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

li {

    list-style: none;
    color: grey;
}

ul {
    padding: 0px;
}

.bg {
    background-color: white;
    height: 100%;
    width: 100% !important;
    padding: 20px;
    border-radius: 5px;
    overflow-x: auto !important;
}

.proceedbtn {
    background-color: #3F51B5;
    border-radius: 5px;
    border: none;
    height: 41px;
    // width: 100%;
    color: white;
    // margin: 23px 0px 19px;
}

.printbtn {
    background-color: #00BCD4;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100%;
    color: white;
    margin: 10px 0px;
}

.row {
    padding: 5px;
}

i {
    padding: 0px 5px 0px 0px;
}

.btnicon {
    display: none;
}

button:hover .btnicon {
    display: block;
}

select {
    width: 100%;
    height: 30px;
}

.align-items-lg-center {
    justify-content: end !important;
}

p {
    color: grey;
}

html {
    position: relative;
}




p {
    margin-bottom: 5px;
    color: black;
}

.date-input {
    font-size: 13px;
    border-radius: 2px;
    background: #f6f6f6;
}

.feedback {
    color: red !important;
}


.set-position {
    position: relative;
}

.myColor {
    background: lightgray;
}

.no-data {
    font-style: italic;
    font-size: small;
    font-weight: 500;
}

.star-color {
    color: red;
}

@media(max-width:768px) {
    .container-middle {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding:20px 20px 7rem !important;
    }
}

@media(min-width:769px) {
    .container-middle {
        height: 80vh;
        overflow-y: auto;
        overflow-x: hidden;
        padding:30px;
    }
}

.bi {
    cursor: pointer;
}

.drop-down-menu {
    box-shadow: 0 0px 6px 0px !important;
    border: 0;
    top: 7px !important;
    left: 6px !important;
}

.outer-card {
    border: none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 8%), 0 6px 20px 0 rgb(0 0 0 / 4%);
    margin: 5px 15px;
    border-radius: 10px;
    background: #FFFFFF99 !important;
    position: relative;

    i {
        color: red;
        padding-right: 2px;
    }
}

.card-subtitle {
    color: #0a69b1 !important;
}

.inner-card {
    margin: 10px 20px 20px 20px;
    border-radius: 18px;
    border: 1px solid #FFAF13;
    padding: 10px 0;
    zoom: 90%;
    background: #FFFCF3;
    color: white;
    line-height: 15px !important;

    .row {
        padding: 3px !important;
    }

}

// .outer-card:hover{
//     background-color: #dfdfdf;
//     .inner-card{
//         background: linear-gradient(45deg, #354656, transparent);
//     }
// }
.rc-p {
    padding: 20px 20px 10px 20px;
}

.example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    width: 100%;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.font-s {
    font-size: 8px;
    width: 200px;
    word-break: break-all;
    color: black;
    margin: 0 !important;
}

.no-data {
    width: 60%;
    border-radius: 10px;
    background: #f6f6f6f6;
    margin-top: 3vh;
    //box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    margin: auto;
    margin-top: 3vh !important;

    // display: flex;
    .bg-color {
        background: #e9e9e9;
        font-size: small;
    }
}

.val-r {
    color: #000;
    font-weight: bold;
    margin-top: 5px;
}

.r-1 {
    color: #0c79e6;
}

#access-icon {
    color: white;
}

.status-text {
    font-size: 11px;
}
.submit-btn{
    background: #f4f4f4;
    margin: 6px 5px 0px;
    padding-left: 5px;
    vertical-align: super; 
}
.search-button{
    background: #f4f4f4;
    padding-left: 5px;
}
.webView .search-div{
    position: absolute;
    top:-8px !important;
    right:10px;
    z-index: 10;
    padding: 0 20px;
  }
  .mobileView .search-div{
    position: relative !important;
    top:0px !important;
    right:0px;
    z-index: 10;
    padding: 0 20px;
  }
  .search-div{
  
    #search-icon-tab {
    position: absolute;
    right: 30px !important;
    top: 11px !important;
    font-size: 15px !important;
    color: grey;
    cursor: text !important;
    }
    .sizeinput{
        font-size: 14px;
    }
  }
  .close-icon{
    position: absolute;
    right: -10px;
    top: 9px;
    cursor: pointer;
  }
  .no-records {
    height: 34vh; /* Takes most of the page height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stacks text and button vertically */
    font-size: 1rem; /* Optional: Adjust font size for better readability */
  }
  .custom-tab-group{
    position: relative;
    top: -2em;
  }
  