<div class="container-fluid">
  
  <div class="container-middle">
   
     
            <form [formGroup]="monthForm" (ngSubmit)="submit()">
           
                  <mat-form-field appearance="outline" >
                    <mat-label>Select month</mat-label>
                    <mat-select formControlName="fromMonth" (change)="onChanges()">
                      <mat-option *ngFor="let month of monthNames" [value]="month">
                        {{month}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f['fromMonth'].touched && f['fromMonth'].invalid">
                      <span *ngIf="f['fromMonth'].errors['required']" >Month is required</span>
                    </mat-error>
                  </mat-form-field>
          
                  <button mat-icon-button type="submit" class="submit-btn"  ngbTooltip="Submit">
                      <i class="bi bi-arrow-up-right-square-fill"></i>
                  </button>
             
            </form>
    
      <!-- <div class="p-0"> -->
        <div class="row p-r webView">
            
            <div class="col-sm-4 search-div" >
                <button mat-icon-button  class="close-icon search-button" style="top:0" ngbTooltip="Search" *ngIf="!showSearch" (click)="showSearch=!showSearch">
                    <i class="bi bi-search"></i>
                </button>
               
                <input type="search" *ngIf="showSearch" (input)="searchFiter($event)" class="form-control p-2 sizeinput" [(ngModel)]="term"
                  placeholder="Search by employee" aria-describedby="emailHelp" autocomplete="off">
                <i class="bi bi-search" id="search-icon-tab" *ngIf="showSearch"></i>
              
                <i class="bi bi-x-circle close-icon" ngbTooltip="Close" *ngIf="showSearch" (click)="showSearch=!showSearch"></i>
            </div>
              
          </div>
         
        <div class="row">
            <div class="col-md-12 mb-4">
                <mat-tab-group class="custom-tab-group" (selectedTabChange)="tabState($event)">
                   
                    <!-- Pending Tab -->
                    <mat-tab label="Pending">
                       
                        <!-- <ng-container *ngIf="allDetails[0]?.approved_state === 'YET_TO_APPROVED';else noRecords"> -->
                            <div class="row p-r mobileView" style="padding: 1rem 0px 0px;margin: auto;">
                                <div class="col-sm-12 col-md-6 search-div">
                                    <input type="search" (input)="searchFiter($event)" class="form-control p-2 sizeinput" [(ngModel)]="term"
                                      placeholder="Search by employee" aria-describedby="emailHelp" autocomplete="off">
                                    <i class="bi bi-search" id="search-icon-tab" ></i>
                                  </div>
                               
                              </div>
                            <!-- <app-yet-to-approve [data]="allDetails" [totalCount]="totalCount"
                                (filter)="searchFiter($event)" (buttonClick)="buttonClick($event)">
                            </app-yet-to-approve> -->
                        <!-- </ng-container> -->
                        <app-deadline-yetto-approve [data]="allDetails" [totalCount]="totalCount" (filter)="searchFiter($event)"
                        (buttonClick)="buttonClick($event)"></app-deadline-yetto-approve>
                    </mat-tab>

                  
                </mat-tab-group>
                 <!-- No Records Template -->
                <ng-template #noRecords>
                    <div class="no-records text-center">
                    No records found !!
                        <button mat-button (click)="refershPage()" class="proceedbtn" style="width: fit-content;padding:0 10px;">Refresh <i class="fa fa-refresh" aria-hidden="true"></i></button>
                    </div>
                </ng-template>
            </div>
        </div>
    <!-- </div> -->
   
  </div>
</div>
<!-- <div class="container-fluid mobileView">
  <div class="row mx-1 my-2">
    <div class="col-sm-6">
      <!-- <h1>Dead line crossed timesheets </h1> --
    </div>
  </div>

  <div class="container-middle">
    <div class="p-20 pt-4">
      <div class="card">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-8">
            <form [formGroup]="monthForm" (ngSubmit)="submit()">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <mat-form-field>
                    <mat-label>Select month</mat-label>
                    <mat-select formControlName="fromMonth" (change)="onChanges()">
                      <mat-option *ngFor="let month of monthNames" [value]="month">
                        {{month}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="f['fromMonth'].touched && f['fromMonth'].invalid">
                    <p *ngIf="f['fromMonth'].errors['required']" class="feedback">Month is required</p>
                  </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-4">
                  <button mat-raised-button class="proceedbtn mat-btn-s">Submit</button>
                </div>
              </div>
            </form>
          </div>

        </div>

      </div>

    </div>
    <div>
      <div class="row  p-20">
        <div class="col-sm-12">
          <tabset #tabset>
            <tab heading="Yet to approved" (selectTab)="tabState($event)">
              <ng-container *ngIf="allDetails.length >=1">
                <app-deadline-yetto-approve [data]="allDetails" [totalCount]="totalCount"
                  (buttonClick)="buttonClick($event)"></app-deadline-yetto-approve>
              </ng-container>
            </tab>
            <div *ngIf="allDetails.length  === 0" class="nodata text-muted">
              <td> No records found
                !!<br><a (click)="refershPage()"><b>Refersh <i class="fa fa-refresh" aria-hidden="true"></i>
                  </b></a> </td>
            </div>
            <!-- <tab heading="Approved Timesheet" (selectTab)="tabState($event)">
                      <ng-container *ngFor="let items of allDetails">
                          <app-approved *ngIf="items.approved_state === 'APPROVED'" [data]="allDetails" [totalCount]="totalCount" (buttonClick)="buttonClick($event)"></app-approved>
                      </ng-container>
                    
                  </tab>
                  <tab heading="Declined Timesheet" (selectTab)="tabState($event)">
                      <ng-container *ngFor="let items of allDetails">
                          <app-declined *ngIf="items.approved_state  === 'DECLINED'"[data]="allDetails" [totalCount]="totalCount" (buttonClick)="buttonClick($event)"></app-declined>
                      </ng-container>
                    
                  </tab>
                  <tab heading="Time Sheets" (selectTab)="tabState($event)">
                      <ng-container *ngFor="let items of allDetails">
                          <app-time-sheet *ngIf="items.approved_state === 'TIMESHEET'" [data]="allDetails" [totalCount]="totalCount" (buttonClick)="buttonClick($event)"></app-time-sheet>    
                      </ng-container>
                    
                  </tab> --

          </tabset>
        </div>
      </div>
    </div>
  </div>
</div> -->