<div class="container-fluid">
    <div class="modal-body custom-modal" >
        <h4 class="modal-title" ><img src="../../../../assets/images/megaphone.svg"/>Limit Reached!</h4>
        <p>You have reached the maximum limit. To add additional user accounts,please subscribe to standard plan</p>
    </div>
    <div class="modal-footer justify-content-center">
        <div class="row">
           
            <div class="col">
                 <button mat-button type="button"  class="btn-cancel"  (click)="modalStatus('cancel')">Cancel</button>
        <button mat-button type="button" class="btn-yes"  (click)="modalStatus('ok')" >Continue</button>
            </div>
        </div>
        
    </div>
</div>

