<div class="container-fluid webView">
    <div class="row p-20">
        <div class="col-sm-8">
            <h1>Month timesheets <span *ngIf="submited">{{monthForm.value.to_date | date : 'mediumDate'}}</span> </h1>
        </div>

        <div class="col-sm-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/dashboards">Home</a></li>
                  <li class="breadcrumb-item">
                    Month timesheets <span *ngIf="submited">{{monthForm.value.to_date | date : 'mediumDate'}}</span></li>    
                </ol>
              </nav>
        </div>
        
    </div>
    <div class="container-middle">
      <div class="p-20 pt-4">
        <div class="card">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
              <form [formGroup]="monthForm" (ngSubmit)="submit()">
              <div class="row">
                     <div class="col-sm-12 col-md-12 col-lg-4">
                      <mat-form-field >
                        <mat-label>Select month</mat-label>
                        <mat-select formControlName="fromMonth" (change)="onChanges()" >
                          <mat-option *ngFor="let month of monthNames" [value]="month" >
                            {{month}}
                          </mat-option>
                        </mat-select>
                        
                      </mat-form-field>
                      <div *ngIf="f['fromMonth'].touched && f['fromMonth'].invalid">
                        <p *ngIf="f['fromMonth'].errors['required']" class="feedback">Month is required</p>
                      </div>
                     </div>
                     
                   <div class="col-sm-12 col-md-12 col-lg-4">
                       <button class="proceedbtn mat-btn-s">Submit</button>
                   </div>
               </div>
              </form>  
            </div>
          
            <div class="col-sm-12 col-md-12 col-lg-4 d-flex align-items-lg-center" >
                <div class="row">
                  <div class="col-12">
                    <div ngbDropdown class="d-inline-block" >
                      <ng-container>
                        <button type="button"  class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle  *ngIf="selectedTab === 'YET_TO_APPROVED' && allListDataids.length !== 0 && exebtn === true">
                          Execute timsheets
                        </button>
                      </ng-container>
                     
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="drop-down-menu">
                        <button [disabled]="!acceptOption"  ngbDropdownItem (click)="updateStatus('APPROVED')" ><i class="bi bi-check-circle" ></i> Approve</button>
                        <button [disabled]="!rejectOption" ngbDropdownItem (click)="updateStatus('DECLINED')" ><i class="bi bi-x-circle-fill" ></i> Decline</button>
                      </div>   
                    </div>
                  </div>
                 </div>
              </div>
            
            
          </div>
          
        </div>
           
       </div>
       <div >
           <div class="row">
               <div class="col-sm-12">
                   <div class="container-fluid p-20" >
                       <div class="row">
                           <div class="col-md-12 mb-4">
                               <!-- Nav tabs -->
                               <tabset #tabset >        
                                 <tab heading="Yet to approved" (selectTab)="tabState($event)">
                                   <app-month-yet-approve *ngIf="allDetails[0]?.approved_state === 'YET_TO_APPROVED'"  [data]="allDetails" [totalCount]="totalCount" (buttonClick)="buttonClick($event)"></app-month-yet-approve>
                                   <div class="text-center text-muted no-data py-2" *ngIf="allDetails[0]?.approved_state !== 'YET_TO_APPROVED' ">No records found
  </div> 
                                 </tab>
                                 <tab heading="Approved timesheets" (selectTab)="tabState($event)">
                                   <app-month-approve *ngIf="allDetails[0]?.approved_state === 'APPROVED'" [data]="allDetails" [totalCount]="totalCount" (buttonClick)="buttonClick($event)"></app-month-approve>
                                   <div class="text-center text-muted no-data py-2" *ngIf="allDetails[0]?.approved_state !== 'APPROVED' ">No records found
  </div> 
                                 </tab>
                                <tab heading="Declined timesheets" (selectTab)="tabState($event)">
                                   <app-month-declined *ngIf="allDetails[0]?.approved_state === 'DECLINED'" [data]="allDetails" [totalCount]="totalCount" (buttonClick)="buttonClick($event)"></app-month-declined>
                                   <div class="text-center text-muted no-data py-2" *ngIf="allDetails[0]?.approved_state !== 'DECLINED' ">No records found
  </div>  
                                 </tab>
                                 <!-- <tab heading="Time Sheets" (selectTab)="tabState($event)">
                                   <app-month-time-sheet *ngIf="allDetails[0]?.approved_state === 'TIMESHEET'" [data]="allDetails" [totalCount]="totalCount" (buttonClick)="buttonClick($event)"></app-month-time-sheet>
                                   <div class="text-center text-muted no-data py-2" *ngIf="allDetails[0]?.approved_state !== 'TIMESHEET' ">No records found
  </div>  
                                 </tab> -->
                               </tabset>                             
                             </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
    
   
</div>
<div class="container-fluid mobileView">
  <div class="row p-20">
      <div class="col-sm-8">
          <h1>Month timesheets <span *ngIf="submited">{{monthForm.value.to_date | date : 'mediumDate'}}</span> </h1>
      </div>
  </div>
  <div class="container-middle">
    <div class="p-20 pt-4">
      <div class="card">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-8">
            <form [formGroup]="monthForm" (ngSubmit)="submit()">
            <div class="row">
                   <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field >
                      <mat-label>Select month</mat-label>
                      <mat-select formControlName="fromMonth" (change)="onChanges()" >
                        <mat-option *ngFor="let month of monthNames" [value]="month" >
                          {{month}}
                        </mat-option>
                      </mat-select>
                      
                    </mat-form-field>
                    <div *ngIf="f['fromMonth'].touched && f['fromMonth'].invalid">
                      <p *ngIf="f['fromMonth'].errors['required']" class="feedback">Month is required</p>
                    </div>
                   </div>
                   
                 <div class="col-sm-12 col-md-12 col-lg-4">
                     <button class="proceedbtn mat-btn-s">Submit</button>
                 </div>
             </div>
            </form>  
          </div>
          

          <div class="col-sm-12 col-md-12 col-lg-4 d-flex align-items-lg-center" >
            <div class="row">
              <div class="col-12">
                <div ngbDropdown class="d-inline-block" >
                  <ng-container>
                    <button type="button"  class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle  *ngIf="selectedTab === 'YET_TO_APPROVED' && allListDataids.length !== 0 && exebtn === true">
                      Execute timsheets
                    </button>
                  </ng-container>
                 
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="drop-down-menu">
                    <button [disabled]="!acceptOption"  ngbDropdownItem (click)="updateStatus('APPROVED')" ><i class="bi bi-check-circle" ></i> Approve</button>
                    <button [disabled]="!rejectOption" ngbDropdownItem (click)="updateStatus('DECLINED')" ><i class="bi bi-x-circle-fill" ></i> Decline</button>
                  </div>   
                </div>
              </div>
             </div>
          </div>
        </div>
        
      </div>
         
     </div>
     <div >
         <div class="row">
             <div class="col-sm-12">
                 <div class="container-fluid p-20" >
                     <div class="row">
                         <div class="col-md-12 mb-4">
                             <!-- Nav tabs -->
                             <tabset #tabset >        
                               <tab heading="Yet to approved" (selectTab)="tabState($event)">
                                 <app-month-yet-approve *ngIf="allDetails[0]?.approved_state === 'YET_TO_APPROVED'"  [data]="allDetails" [totalCount]="totalCount" (buttonClick)="buttonClick($event)"></app-month-yet-approve>
                                 <div class="text-center text-muted no-data py-2" *ngIf="allDetails[0]?.approved_state !== 'YET_TO_APPROVED' ">No records found
  </div> 
                               </tab>
                               <tab heading="Approved timesheets" (selectTab)="tabState($event)">
                                 <app-month-approve *ngIf="allDetails[0]?.approved_state === 'APPROVED'" [data]="allDetails" [totalCount]="totalCount" (buttonClick)="buttonClick($event)"></app-month-approve>
                                 <div class="text-center text-muted no-data py-2" *ngIf="allDetails[0]?.approved_state !== 'APPROVED' ">No records found
  </div> 
                               </tab>
                              <tab heading="Declined timesheets" (selectTab)="tabState($event)">
                                 <app-month-declined *ngIf="allDetails[0]?.approved_state === 'DECLINED'" [data]="allDetails" [totalCount]="totalCount" (buttonClick)="buttonClick($event)"></app-month-declined>
                                 <div class="text-center text-muted no-data py-2" *ngIf="allDetails[0]?.approved_state !== 'DECLINED' ">No records found
  </div>  
                               </tab>
                               <!-- <tab heading="Time Sheets" (selectTab)="tabState($event)">
                                 <app-month-time-sheet *ngIf="allDetails[0]?.approved_state === 'TIMESHEET'" [data]="allDetails" [totalCount]="totalCount" (buttonClick)="buttonClick($event)"></app-month-time-sheet>
                                 <div class="text-center text-muted no-data py-2" *ngIf="allDetails[0]?.approved_state !== 'TIMESHEET' ">No records found
  </div>  
                               </tab> -->
                               <div class="text-center text-muted no-data py-2" *ngIf="allDetails.length === 0">No records found !
                              </div>
                             </tabset>                             
                           </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
  </div>
  
 
</div>
