<div class="container-fluid">
  
  <div class="container-middle">
            <form [formGroup]="monthForm" (ngSubmit)="submit()">
           
                  <mat-form-field appearance="outline" >
                    <mat-label>Select month</mat-label>
                    <mat-select formControlName="fromMonth" (change)="onChanges()">
                      <mat-option *ngFor="let month of monthNames" [value]="month">
                        {{month}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f['fromMonth'].touched && f['fromMonth'].invalid">
                      <span *ngIf="f['fromMonth'].errors['required']" >Month is required</span>
                    </mat-error>
                  </mat-form-field>
          
                  <button mat-icon-button type="submit" class="submit-btn"  ngbTooltip="Submit">
                      <i class="bi bi-arrow-up-right-square-fill"></i>
                  </button>
             
            </form>
    
            <div class="row">
              <div class="col-sm-12">
                <ng-container >
                  <div class="row p-r webView">
                                
                    <!-- <div class="col-sm-4 search-div" >
                        <button mat-icon-button  class="close-icon search-button" style="top:0" ngbTooltip="Search" *ngIf="!showSearch" (click)="showSearch=!showSearch">
                            <i class="bi bi-search"></i>
                        </button>
                       
                        <input type="search" *ngIf="showSearch" (input)="searchFiter($event)" class="form-control p-2 sizeinput" [(ngModel)]="term"
                          placeholder="Search by employee" aria-describedby="emailHelp" autocomplete="off">
                        <i class="bi bi-search" id="search-icon-tab" *ngIf="showSearch"></i>
                      
                        <i class="bi bi-x-circle close-icon" ngbTooltip="Close" *ngIf="showSearch" (click)="showSearch=!showSearch"></i>
                    </div> -->
                      <button mat-raised-button type="button" class="bulk-action-btn" style="background: #3CA300;"><i class="bi bi-check-circle"></i>APPROVE</button>
                      <button mat-raised-button type="button" class="bulk-action-btn" style="right: 12%;background: #B41212;"><i class="bi bi-x-circle"></i>REJECT</button>
                  </div>
                  <mat-tab-group class="custom-tab-group" (selectedTabChange)="tabState($event)">
                    <!-- Pending -->
                    <mat-tab label="Pending">
                      <div class="row p-r mobileView" style="padding: 1rem 0px 0px;margin: auto;">
                        <div class="col-sm-12 col-md-6 search-div">
                            <input type="search" (input)="searchFiter($event)" class="form-control p-2 sizeinput" [(ngModel)]="term"
                              placeholder="Search by employee" aria-describedby="emailHelp" autocomplete="off">
                            <i class="bi bi-search" id="search-icon-tab" ></i>
                          </div>
                       
                      </div>
                      <!-- <ng-container *ngIf="allDetails[0]?.approved_state === 'YET_TO_APPROVED'; else noRecords">
                        -->
                        <ng-container *ngIf="allDetails">
                       
                      <app-month-yet-approve 
                      [data]="allDetails" [totalCount]="totalCount" (filter)="searchFiter($event)"
                      (buttonClick)="buttonClick($event)"></app-month-yet-approve>
                      </ng-container>
                    </mat-tab>
        
                    <!-- Approved Timesheet Tab -->
                    <mat-tab label="Approved">
                      <div class="row p-r mobileView" style="padding: 1rem 0px 0px;margin: auto;">
                        <div class="col-sm-12 col-md-6 search-div">
                            <input type="search" (input)="searchFiter($event)" class="form-control p-2 sizeinput" [(ngModel)]="term"
                              placeholder="Search by employee" aria-describedby="emailHelp" autocomplete="off">
                            <i class="bi bi-search" id="search-icon-tab" ></i>
                          </div>
                       
                      </div>
                      <ng-container *ngIf="allDetails[0]?.approved_state === 'APPROVED'; else noRecords">
                       
                        <app-month-approve  [data]="allDetails"
                        [totalCount]="totalCount" (filter)="searchFiter($event)"
                        (buttonClick)="buttonClick($event)"></app-month-approve>
                      </ng-container>
                    </mat-tab>
        
                    <!-- Declined Timesheet Tab -->
                    <mat-tab label="Declined">
                      <div class="row p-r mobileView" style="padding: 1rem 0px 0px;margin: auto;">
                        <div class="col-sm-12 col-md-6 search-div">
                            <input type="search" (input)="searchFiter($event)" class="form-control p-2 sizeinput" [(ngModel)]="term"
                              placeholder="Search by employee" aria-describedby="emailHelp" autocomplete="off">
                            <i class="bi bi-search" id="search-icon-tab" ></i>
                          </div>
                       
                      </div>
                      <ng-container *ngIf="allDetails[0]?.approved_state === 'DECLINED'; else noRecords">
                       

                        <app-month-declined  [data]="allDetails"
                        [totalCount]="totalCount" (filter)="searchFiter($event)"
                        (buttonClick)="buttonClick($event)"></app-month-declined>
                      </ng-container>
                    </mat-tab>
                  </mat-tab-group>
                </ng-container>
        
                <!-- No Records Template -->
                <ng-template #noRecords>
                  <div class="no-records text-center">
                    No records found !!
                      <button mat-button (click)="refershPage()" class="proceedbtn" style="width: fit-content;">Refresh <i class="fa fa-refresh" aria-hidden="true"></i></button>
                  </div>
                </ng-template>
              </div>
            </div>
   
  </div>
</div>
