ol {
    background-color: inherit;
}

a {

    color: #3F51B5 !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

li {

    list-style: none;
    color: grey;
}

ul {
    padding: 0px;
}

.bg {
    background-color: white;
    height: 100%;
    width: 100% !important;
    padding: 20px;
    border-radius: 5px;
    overflow-x: auto !important;
}

.proceedbtn {
    background-color: #3F51B5;
    border-radius: 5px;
    border: none;
    height: 41px;
    width: 100%;
    color: white;
    margin: 23px 0px 19px;
}

.printbtn {
    background-color: #00BCD4;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100%;
    color: white;
    margin: 10px 0px;
}

.row {
    padding: 5px;
}

i {
    padding: 0px 5px 0px 0px;
}

.btnicon {
    display: none;
}

button:hover .btnicon {
    display: block;
}

::ng-deep .mat-form-field {
    height: 55px;
    border: none !important;
    border-bottom: 2px solid gray !important;
    border-radius: 0 !important;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

select {
    width: 100%;
    height: 30px;
}

.align-items-lg-center {
    justify-content: end !important;
}

p {
    color: grey;
}

html {
    position: relative;
}

// .createbtn{
//     background-color: #3F51B5;
//     border: none;
//     color: white;
//     padding: 20px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     font-size: 35px;
//     margin: 30px 0px 0px 2px;
//     border-radius: 50%;
//     position: fixed;
//     right: 5%;
//     bottom: 10%;

// }
.card {
    margin: 5px 1px;
    border: none;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    padding: 0 10px;
    font-size: 14px;
}

.p-c {
    padding: 5px 10px;
    height: 16vh;
    font-size: 13px;

}

p {
    margin-bottom: 5px;
    color: black;
}

.date-input {
    font-size: 13px;
    border-radius: 2px;
    background: #f6f6f6;
}

.feedback {
    color: red !important;
}

mat-card {
    width: 100%;
    position: absolute;
    top: 4.4rem;
    background-color: #fff;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    height: fit-content;
}

.set-position {
    position: relative;
}

.myColor {
    background: lightgray;
}

.no-data {
    font-style: italic;
    font-size: small;
    font-weight: 500;
}

.star-color {
    color: red;
}

// @media(max-width:768px){
//     .container-middle{
//         height: 40vh;
//         overflow-y: auto;
//         overflow-x: hidden;
//         background: #f8f8f8;
//     }
// }
// @media(min-width:769px){
//     .container-middle{
//         height: 60vh;
//         overflow-y: auto;
//         overflow-x: hidden;
//         padding-right: 15px;
//         background: #f8f8f8;
//     }
// }
.container-middle {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #f8f8f8;
    padding-bottom: 7rem !important;
}

.bi {
    cursor: pointer;
}

.drop-down-menu {
    box-shadow: 0 0px 6px 0px !important;
    border: 0;
    top: 7px !important;
    left: 6px !important;
}

@media(max-width:1023px) {
    .p-20 {
        padding: 5px 5px 0 !important;
    }
}

@media(min-width:1024px) {
    .p-20 {
        padding: 14px 12px 0 !important;
    }
}