.invoice-data{
    background-color: #fbfbfb;
    overflow-y: scroll;
    height: 70vh !important;
}
.invoice-data .logo-bg{
    background-color: #def1ff;
    padding: 8px 0px;
}
.invoice-data .card{
    background-color: #ffffff;
    border: 12px;
}
.invoice-data tr th{
    background: #F1F1F1;
}
.invoice-data th:first-child{
    border-radius: 10px 0px 0px 0px;
    width: auto !important;
}
.invoice-data th:last-child {
    border-radius: 0px 10px 0px 0px;
}
.invoice-data td:first-child {
    border-radius: 0px 0px 0px 10px !important;
    width: auto !important;
}
.invoice-data  td:last-child {
    border-radius: 0px 0px 10px 0px;
}
.invoice-data .border-right{
    border-right: 1px solid #d9d9d9;
    text-align: center;
    padding: 13px 0px;
}
.invoice-data .top-left{
    border-radius: 10px 0 0 0 !important;
}
.invoice-data .top-right{
    border-radius: 0 10px 0 0 !important;
}
.invoice-data .right-ceter{
    border-radius: 0 0 0 0 !important;
}
.invoice-data .left-ceter{
    border-radius: 0 0 0 0 !important;
}
.invoice-data .bottom-left{
    border-radius: 0 0 0 10px !important;
}
.invoice-data .bottom-right{
    border-radius: 0 0 10px 0 !important;
}
.summary-container {
    // max-width: 400px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    background: white;
  }
  
  .summary-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
  }
  
  .summary-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #e0e0e0;
  }
  
  .summary-table .amount {
    text-align: right;
    font-weight: bold;
  }
  
  .total-row td {
    font-weight: bold;
    font-size: 16px;
  }
  
  #invoiceTemplate {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
