.bg{
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
}
.error-text,.r-star{
    color: red !important;
    font-size: 14px;
}

.e-id{
 height: 7.7rem;
}
.proceedbtn{
    background-color: #126EB4 !important;
    border-radius: 5px;
    border: none;
    height: 40px;
    color: white;
    width: fit-content;
    padding: 0 10px;
    margin: 10px 0px;
}
.update-btn{
    float: right;
}
.form-select{
    height: 3.6rem;
}

.f-label{
    color:#545353;
    font-weight: 500;
}
.back-color{
    background: #dfdfdf;
}
.p-r{
    position: relative;
}
#eye-icon{
    position: absolute;
    top: 1.9rem;
    right: 27px;
    color: #407bff;
    font-size: larger;
}
a{
    color: #3F51B5;
    text-decoration: none;
}