<div class="container-fluid webView" style="padding: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-7 text-end" >
                <img src="../../../assets/images/change-password.svg" height="500px" width="500px" class="background-content"/>
            </div>
            <div class="col-5 p-h"> 
               <div class="box">
                    <form [formGroup]='changePassword' (ngSubmit)='sendChangePassword()'>
                        <div class="row">
                            <div class="col">
                                <h1 class="text-center py-4">Change password</h1>
                                <label >Old password <b>*</b></label>
                                <input type="password" class="form-control p-3 sizeinput" formControlName='old_password' placeholder="Enter old password" aria-describedby="emailHelp"  autocomplete="off">
                                 <div *ngIf="f['old_password'].touched && f['old_password'].invalid" class="s-f" >
                                    <p  *ngIf="f['old_password'].errors['required']" class='s-c'>Old password is required</p>
                                </div>
                                <label >New password <b>*</b></label>
                                <div class="p-r">
                                    <input [type]="passwordType" class="form-control p-3 sizeinput" formControlName='new_password' placeholder="Enter new password" aria-describedby="emailHelp"  autocomplete="off">
                                    <i [class]="eyeIcon" id="eye-icon" (click)="showPassword()"></i>
                                    <div *ngIf="f['new_password'].touched && f['new_password'].invalid" class="s-f" >
                                       <p  *ngIf="f['new_password'].errors['required']" class='s-c'>New password is required</p>    
                                       <p class='s-c' *ngIf="f['new_password'].errors && f['new_password'].errors['pattern']">Password should contain at least one special character,one number,one uppercase and one lowercase, and be at least 8 characters long</p>
                                    </div>

                                </div>
                                    
                               
                                <!-- <label >User Id <b>*</b></label>
                                <input type="number" class="form-control p-3 sizeinput" formControlName='user_id' placeholder="User Id" aria-describedby="emailHelp"  autocomplete="off">
                                 <div *ngIf="f['user_id'].touched && f['user_id'].invalid" class="s-f" >
                                    <p  *ngIf="f['user_id'].errors['required']" class='s-c'>user Id is Required</p>    
                                </div>             -->
                            </div>
                        </div>
                        <div class="row" class="text-center p-2">
                            <div class="col">
                                <button mat-raised-button class="proceedbtn" type="submit">Submit</button>
                            </div>
                        </div>
                        
                        <div class="row" style="text-align: center;">
                            <div class="col">
                                <a (click)="goBack($event)
  
  " class="forgot-links">Go back</a><br/>
                                <a routerLink="../login"  class="forgot-links">Login ?</a>
                            </div>
                        </div>
                        <!-- <div class="row" style="text-align: center;">
                            <div class="col">
                                <p>Copyright Ⓒ <a href="https://www.ekfrazo.com/"  target="_blank" style="color: #3F51B5;text-decoration: none;">Ekfrazo Technologies Private Limited</a></p>
                            </div>
                        </div>
                        <div class="row" style="text-align: center;">
                            <div class="col">
                                <p>All rights reserved.</p>
                            </div>
                        </div> -->
                     
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
  
</div>
<div class="container-fluid mobileView" style="padding: 0px;height: 100vh !important;">
    <div class="container">
        <div class="row">
            <div class="col-12 p-h"> 
               <div class="box">
                    <form [formGroup]='changePassword' (ngSubmit)='sendChangePassword()'>
                        
                        <div class="row">
                            <div class="col">
                                <div class="d-flex justify-content-center">
                                    <img src="../../../../assets/images/forgotpassword_mobi.png" height="140" width="180">
                                </div>
                                <h1 class="text-center">Change password</h1>
                                <label >Old password <b>*</b></label>
                                <input type="password" class="form-control p-3 sizeinput" formControlName='old_password' placeholder="Enter old password" aria-describedby="emailHelp"  autocomplete="off">
                                 <div *ngIf="f['old_password'].touched && f['old_password'].invalid" class="s-f" >
                                    <p  *ngIf="f['old_password'].errors['required']" class='s-c'>Old password is required</p>
                                </div>
                                <label >New password <b>*</b></label>
                                <div class="p-r">
                                    <input [type]="passwordType" class="form-control p-3 sizeinput" formControlName='new_password' placeholder="Enter new password" aria-describedby="emailHelp"  autocomplete="off">
                                    <i [class]="eyeIcon" id="eye-icon" (click)="showPassword()"></i>
                                    <div *ngIf="f['new_password'].touched && f['new_password'].invalid" class="s-f" >
                                       <p  *ngIf="f['new_password'].errors['required']" class='s-c'>New password is required</p>    
                                       <p class='s-c' *ngIf="f['new_password'].errors && f['new_password'].errors['pattern']">Password should contain at least one special character.<br/>One number,one uppercase and one lowercase.<br/> At least 8 characters long</p>
                                    </div>
                                </div>
                                    
                               
                                <!-- <label >User Id <b>*</b></label>
                                <input type="number" class="form-control p-3 sizeinput" formControlName='user_id' placeholder="User Id" aria-describedby="emailHelp"  autocomplete="off">
                                 <div *ngIf="f['user_id'].touched && f['user_id'].invalid" class="s-f" >
                                    <p  *ngIf="f['user_id'].errors['required']" class='s-c'>user Id is Required</p>    
                                </div>             -->
                            </div>
                        </div>
                        <div class="row" class="text-center p-2">
                            <div class="col">
                                <button mat-raised-button class="proceedbtn" type="submit">Submit</button>
                            </div>
                        </div>
                        
                        <div class="row" style="text-align: center;">
                            <div class="col">
                                <a (click)="goBack($event)
  
  " class="forgot-links">Go back</a><br/>
                                <a routerLink="../login"  class="forgot-links">Login ?</a>
                            </div>
                        </div>
                        <!-- <div class="row" style="text-align: center;">
                            <div class="col">
                                <p>Copyright Ⓒ <a href="https://www.ekfrazo.com/"  target="_blank" style="color: #3F51B5;text-decoration: none;">Ekfrazo Technologies Private Limited</a></p>
                            </div>
                        </div>
                        <div class="row" style="text-align: center;">
                            <div class="col">
                                <p>All rights reserved.</p>
                            </div>
                        </div> -->
                     
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
     
</div>