.background-content{
//     background: url(/../../../../assets/img/book.jpg);
//     background-size: cover;
//     position: absolute;
//     top: 0;
//     height: 100%;
//     bottom: 0;
//     width: 100%;
//     overflow: hidden;
//    background-repeat: no-repeat;
   overflow: hidden;
   background-repeat: no-repeat;
   border-radius: 10px 0 0 10px;
   margin-top: 7.7%;
  }
  
.box{
    padding:2rem;
    border: 1px solid #ebedef;
    background: #8db0ff;
    font-size: small !important;
    width: 71%;
    margin-top: 10%;

}
.p-h{
    height: 90vh;
    display: flex;
    // justify-content: center;
    align-items: center;
}
// .mobileView{
//     .box{
//         padding: 4.6rem 2rem;
//         border: 1px solid #ebedef;
//         background: #8db0ff;
//         font-size: small !important;
//         width: 100%;
//         margin-top: 0 !important;
//         overflow: hidden !important;
//     }
//     .p-h{
//         padding: 17px;
//     }
// }
.mobileView{
    .box{
        padding: 0;
        border: 0;
        background: none !important;
        font-size: small !important;
        width: 100%;
        margin-top: 0 !important;
        overflow: hidden !important;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100% !important;
    }
    // .img-container,.head-container{
    //     display: flex;
    //     justify-content: center;
    // }
    
    .p-h{
        padding: 17px;
    }
    input{
        outline: 0;
        border-width: 0 0 2px;
        border-color: rgb(174 174 174);
        border-radius: 0;
        background: #f2f3f7;
        font-size: small;
        width: 270px;
        box-shadow: none;
    }
    label, p {
        color: #0362ad !important;
        font-weight: 400 !important;
        margin-bottom: 5px;
    }
    #eye-icon{
        position: absolute;
        right: 15px;
    }
    .sidebar-logo{
        transition: all 10s ease-out;
    }
    h1{
        color: black;
        margin: 5px;
        h1,p,label{
            color: black;
        }   
    }
    .s-c{
        color: red !important;
        font-size: small;
    }
}
h1,p,label{
    color: white;
}
input{
    outline: 0;
    background-color: transparent;
  border-width: 0 0 2px;
  border-color: black;
  border-radius: 0;
}
.proceedbtn{
    background-color: #3F51B5;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100%;
    color: white;
    margin: 10px 0px;
}
i{
    color: white;
    padding: 5px;
}
.s-c{
    color: red !important;
    font-size: small;
}
.forgot-links{
    color:black;
    font-weight: 400;
    cursor: pointer;
}
label b{
    color: red;
}
.p-r{
    position: relative !important;
}
#eye-icon{
    position: absolute;
    top: 4px;
    right: 27px;
    color: #407bff;
    font-size: larger;
}
.form-control{
    background: white;
}