<div class="container-fluid bg mt-4 p-20">
    <!-- Subscription Plans -->
    <div class="row">
      <!-- Free Trial Card -->
      <div class="col-md-6 mb-3">
        <mat-card class="custom-card border-danger">
          <mat-card-content>
            <div class="card-header">
              <h5 class="card-title">Free Trial  <span class="badge trial-plan-staus">Active</span></h5>
             
            </div>
            <p class="card-text sub-header mb-2">Free Plan</p>
            <div class="row">
              <div class="col-12">
                <p class="card-text">No of users</p>
              </div>
              <div class="col-12">
                <strong>10</strong>
              </div>
            </div>
            <div>
              <div class="row d-flex align-items-center">
                <div class="col-1"><i class="bi bi-megaphone" style="font-size: 20px;"></i></div>
                <div class="col">
                  <p class="card-text">Free Plan</p>
                  <p class="days-left">0 days left</p>
                </div>
              </div>
             
              
            </div>
            
          </mat-card-content>
        </mat-card>
      </div>
    
      <!-- Standard Plan Card -->
      <div class="col-md-6 mb-3">
       
          <mat-card class="custom-card border-primary standard-card">
          <mat-card-content>
            <div class="card-header">
              <h5 class="plan-title standard-title p-r">Standard <img class="spakle-image" src="../../../../assets/images/sparkle-filled.svg"/></h5>
             <a style="font-style: italic;color:white;font-size: 11px;border-bottom: 1px solid white;cursor: pointer;">View More</a>
            </div>
           
           
           <!-- Highlighted Background for Monthly and Yearly -->
                <div class="payment-options">
                  <mat-card class="payment-option"  (click)="setPaymentOption(true)" 
                  [ngClass]="monthly ? 'active' : 'highlighted-option'">
                    <span class="price pe-1">₹30</span>
                    <small>per user / monthly</small>
                    <div class="option-title">Monthly</div>
                  </mat-card>
                  <mat-card class="payment-option yearly-option" 
                  (click)="setPaymentOption(false)" 
                  [ngClass]="!monthly ? 'active' : 'highlighted-option'">
                    <span class="price pe-1">₹25</span>
                    <small>per user / yearly</small>
                    <div class="option-title">Yearly</div>
                    <div class="discount-badge"><i class="bi bi-x-circle"></i> 10% </div>
                  </mat-card>
                </div>

                
              <div class="button-group mt-4">
                
                  <button mat-raised-button  class="action-button btn-buy" (click)="renewSubscription()">Buy Standard Plan</button>
                
              </div>
              
            
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    
    
  
    <!-- Transaction History -->
     <div class="mb-3">
      <strong >Transaction History</strong>
     </div>

    <div class="table-responsive d-none d-md-block ">
      <table class="table table-list table-bordered">
        <thead class="table-primary">
          <tr>
            <th>Sl No</th>
            <th>Plan</th>
            <!-- <th>Term</th>
            <th>Per User</th> -->
            <th>Users</th>
            <th>Total Amount</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2</td>
            <td>Standard Plan</td>
            <!-- <td>Monthly</td>
            <td>₹30.00</td> -->
            <td>5</td>
            <td>₹0.00</td>
            <td>13/12/2024</td>
            <td>13/12/2025</td>
            <td><button class="btn btn-outline-primary btn-sm"><i class="bi bi-download"></i></button></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Free Plan</td>
            <!-- <td>Free Plan</td>
            <td>₹0.00</td> -->
            <td>5</td>
            <td>₹0.00</td>
            <td>13/11/2024</td>
            <td>13/12/2024</td>
            <td><button class="btn btn-outline-primary btn-sm"><i class="bi bi-download"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Cards for Mobile View -->
    <div class="d-block d-md-none">
      <div class="card mb-3">
        <div class="card-body">
          <p><strong>Sl No:</strong> 2</p>
          <p><strong>Plan:</strong> Standard Plan</p>
          <p><strong>Term:</strong> Monthly</p>
          <p><strong>Per User:</strong> ₹30.00</p>
          <p><strong>Users:</strong> 5</p>
          <p><strong>Total Amount:</strong> ₹150.00</p>
          <p><strong>Start Date:</strong> 13/12/2024</p>
          <p><strong>End Date:</strong> 13/12/2025</p>
          <button class="btn btn-outline-primary btn-sm"><i class="bi bi-download"></i></button>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <p><strong>Sl No:</strong> 1</p>
          <p><strong>Plan:</strong> Free Plan</p>
          <p><strong>Term:</strong> Free Plan</p>
          <p><strong>Per User:</strong> ₹0.00</p>
          <p><strong>Users:</strong> 5</p>
          <p><strong>Total Amount:</strong> ₹0.00</p>
          <p><strong>Start Date:</strong> 13/11/2024</p>
          <p><strong>End Date:</strong> 13/12/2024</p>
          <button class="btn btn-outline-primary btn-sm"><i class="bi bi-download"></i></button>
        </div>
      </div>
    </div>
  </div>
  